---
import Layout from "../layouts/Layout.astro";
import "../styles.css";
import { Image, Picture } from "@astrojs/image/components";

import contact_insta from "../../public/Images/contact_insta.svg";
import contact_fb from "../../public/Images/contact_fb.svg";
import contact_link from "../../public/Images/contact_link.svg";
import contact_mail from "../../public/Images/contact_mail.svg";
import contact_phone from "../../public/Images/contact_phone.svg";
import contact_map from "../../public/Images/contact_map.svg";

// import banner_image from "../../public/Images/contact-us-banner.svg";
---

<Layout
  title="Contact Us | Sanskar Technolab"
  ,
  keyword=""
  ,
  description="Contact the team at Sanskar Technolab and we’ll get back to you."
  ,
  canonical_href="https://sanskartechnolab.com/contact-us"
>
  <section class="banner bg-cover bg-no-repeat banner-height flex items-center">
    <div
      class="md:max-w-7xl md:mx-auto md:px-24 lg:px-4 w-full lg:w-10/12 xl:w-7/12 px-5"
    >
      <div class="bg-white w-full lg:w-7/12 form-padding lg:p-7">
        <form
          id="contact_form"
          class="grid gap-3 md:gap-3 lg:gap-5"
          
        >
          <h1 class="text-[#3E96F4] text-2xl md:text-3xl lg:text-4xl">
            Get in Touch
          </h1>
          <div class="text-[#333333] grid gap-3 md:gap-3 lg:gap-5">
            <input
              class="rounded-[3px] border border-[#D9D9D9] text-[#333333] p-1"
              type="text"
              placeholder="Name *"
              name="full_name"
            />
            <input
              class="input-field rounded-[3px] border border-[#D9D9D9] text-[#333333] p-1"
              type="email"
              placeholder="Email *"
              name="emailaddress"
            />
            <input
              class="input-field w-full border border-[#D9D9D9] rounded-[3px] p-1"
              type="tel"
              name="phone"
              placeholder="Phone Number"
            />
            <textarea
              name="message"
              rows="4"
              cols="50"
              placeholder="Describe Your Requirements *"
              class="input-field rounded-[3px] pl-1 pt-1 border border-[#D9D9D9] text-[#333333]"
            ></textarea>
            <div
              class="grid sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-2 gap-3 md:gap-3 lg:gap-5"
            >
              <input
                class="input-file rounded-[4px] flex flex-wrap bg-[#F0F0F0]"
                type="file"
                name="file"
                id="fileInput"
              />
            </div>
            <p class="text-xs -mt-3">
              Allow Formats (.jpg |.pdf |.png |.docx |.txt)
            </p>
            <div>
              <p
                class="g-recaptcha"
                data-sitekey="6LcaYFkoAAAAALjdnrEgCky1D169PguZyJtPRC54"
              >
              </p>
              <p
                id="recaptcha-error"
                class="input-file input-file text-xs -mt-2 lg:-mt-4"
              >
                Please complete the reCAPTCHA verification.
              </p>
            </div>

            <button
              type="submit"
              class="w-24 bg-[#3E96F4] rounded text-white md:text-sm text-xs lg:text-base font-semibold p-2 px-5"
            >
              SUBMIT
            </button>
          </div>
        </form>
      </div>
    </div>
  </section>

  <section
    class="mx-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0 my-[4rem] md:my-[5rem] lg:my-[10rem]"
  >
    <div class="flex flex-wrap md:gap-10 lg:gap-0">
      <div class="w-full md:w-full lg:w-9/12">
        <h2
          class="text-2xl md:text-3xl lg:text-4xl text-[#3E96F4] font-semibold mb-5 md:mb-7 lg:mb-10"
        >
          Our Offices
        </h2>
        <div
          class="grid sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-2 gap-5 md:gap-0"
        >
          <div>
            <p
              class="text-lg md:text-xl lg:text-2xl text-[#31393C] mb-2 md:mb-3 lg:mb-4"
            >
              Ahmedabad
            </p>
            <!-- <div class="flex gap-3 items-start">
                <Image loading="eager"  src={contact_map} alt="map" class="mt-1"/>
                <p class="text-xs md:text-sm lg:text-base text-[#31393C]">
                  A-706, Privilon,<br>
                  Behind Iscon Temple,<br>
                  Iscon cross Road, SG Highway,<br>
                  Ahmedabad. (Gujarat-India)</p>
              </div> -->
            <!-- <div > -->
            <a
              class="flex gap-3 items-start"
              href="https://www.google.com/maps?sca_esv=566178271&output=search&q=B+-+305+-+308,+Shilp+Corporate+park,+Rajpath+Rangoli+Road,+Thaltej,+Ahmedabad.&source=lnms&entry=mc&sa=X&ved=2ahUKEwiW966Zr7OBAxWQwjgGHQHWAAsQ0pQJegQICBAB"
            >
              <Image loading="eager" src={contact_map} alt="map" class="mt-1" />
              <p class="text-xs md:text-sm lg:text-base text-[#31393C]">
                B - 305 - 308,<br />
                Shilp Corporate park,<br />
                Rajpath Rangoli Road,<br />
                Thaltej - 380054,<br />
                Ahmedabad, Gujarat, India.
              </p>
            </a>
            <!-- </div> -->
          </div>
          <div>
            <p
              class="text-lg md:text-xl lg:text-2xl text-[#31393C] mb-2 md:mb-3 lg:mb-4 mt-5 md:mt-0"
            >
              Junagadh
            </p>
            <a
              class="flex gap-3 items-start"
              href="https://www.google.com/maps?sca_esv=566178271&output=search&q=4th+Floor,+Milestone+Complex,+Deep+Nagar,+Zanzarda+Road,+Junagadh.+(Gujarat-India)&source=lnms&entry=mc&sa=X&ved=2ahUKEwi-jM_bsrOBAxV0-jgGHd-0AB4Q0pQJegQIDRAB"
            >
              <Image loading="eager" src={contact_map} alt="map" class="mt-1" />
              <p class="text-xs md:text-sm lg:text-base text-[#31393C]">
                4th Floor, Milestone Complex,<br />
                Deep Nagar, Zanzarda Road, <br />
                Junagadh - 362001, Gujarat, India.
              </p>
            </a>
          </div>
        </div>
        <hr class="my-5 margin-right" />
        <div class="flex flex-wrap justify-between">
          <div class="flex gap-2 md:gap-3 items-center"></div>
          <div class="flex margin-right gap-1 md:gap-3 lg:gap-5">
            <a href="https://in.linkedin.com/company/sanskar-technolab-pvt-ltd"
              ><Image
                loading="eager"
                class="transition ease-in-out delay-150 md:hover:-translate-y-1 md:hover:scale-110 duration-300"
                src={contact_link}
                alt="linkedin"
              /></a
            >
            <a href="https://www.facebook.com/SanskarTechnolab/"
              ><Image
                loading="eager"
                class="transition ease-in-out delay-150 md:hover:-translate-y-1 md:hover:scale-110 duration-300"
                src={contact_fb}
                alt="facebook"
              /></a
            >
            <a href="https://www.instagram.com/sanskartechnolab/"
              ><Image
                loading="eager"
                class="transition ease-in-out delay-150 md:hover:-translate-y-1 md:hover:scale-110 duration-300"
                src={contact_insta}
                alt="instagram"
              /></a
            >
          </div>
        </div>
      </div>

      <div class="w-full md:w-6/12 lg:w-3/12 mt-10 md:mt-0">
        <h2
          class="text-2xl md:text-3xl lg:text-4xl text-[#3E96F4] font-semibold mb-5 md:mb-7 lg:mb-10"
        >
          Contact Us
        </h2>
        <div>
          <p
            class="text-lg md:text-xl lg:text-2xl text-[#31393C] mb-2 md:mb-3 lg:mb-4"
          >
            Business
          </p>
          <div class="flex gap-3 items-start">
            <Image loading="eager" src={contact_mail} alt="mail" class="mt-2" />
            <p
              class="mb-4 md:mb-6 lg:mb-8 grid text-xs md:text-sm lg:text-base text-[#31393C] font-semibold"
            >
              <a href="mailto:info@sanskartechnolab.com"
                >info@sanskartechnolab.com</a
              >
            </p>
          </div>

          <div class="-mt-2 md:-mt-3 lg:-mt-5">
            <div class="flex gap-3 md:gap-3 items-center">
              <Image loading="eager" src={contact_phone} alt="phone" />
              <p
                class="text-xs md:text-sm lg:text-base text-[#31393C] font-semibold"
              >
                <a href="tel:+919909990875">(+91) 99099 90875</a>
              </p>
            </div>
          </div>

          <p
            class="text-lg md:text-xl lg:text-2xl text-[#31393C] mb-2 md:mb-3 lg:mb-4 mt-10"
          >
            Career
          </p>
          <div class="flex gap-3 items-center">
            <Image loading="eager" src={contact_mail} alt="mail" />
            <p
              class="text-xs md:text-sm lg:text-base text-[#31393C] font-semibold"
            >
              <a href="mailto:career@sanskartechnolab.com"
                >career@sanskartechnolab.com</a
              >
            </p>
          </div>

          <div class="flex gap-3 md:gap-3 items-center mt-2 md:mt-3 lg:mt-2">
            <Image loading="eager" src={contact_phone} alt="phone" />
            <p
              class="text-xs md:text-sm lg:text-base text-[#31393C] font-semibold"
            >
              <a href="tel:+919662443607">(+91) 96624 43607</a>
            </p>
          </div>
        </div>
      </div>
    </div>

    <p
      class="text-xs md:text-xs lg:text-sm text-[#31393C] mt-12 md:mt-14 lg:mt-16"
    >
      Disclaimer: All the names of third party Companies or third party software
      products mention in our website are only for information purpose and we do
      not say that we own or use or have tie up with this products or companies.
      If any company wishes to remove any name then contact us and we will
      surely comply with the authorise personals.
    </p>
  </section>

  <section
    class="bg-[#EBF5FF] p-5 grid sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-2 justify-items-center gap-5 h-[28.75rem]"
  >
    <!-- <div class="mapouter"><div class="gmap_canvas"><iframe width="100%" height="100%" id="gmap_canvas" src="https://maps.google.com/maps?q=sanskar technolab ahmedabad&t=&z=14&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://2yu.co">2yu</a><br><style>.mapouter{position:relative;text-align:right;height:100%;width:100%;}</style><a href="https://embedgooglemap.2yu.co/">html embed google map</a><style>.gmap_canvas {overflow:hidden;background:none!important;height:100%;width:100%;}</style></div></div> -->
    <div class="mapouter">
      <div class="gmap_canvas">
        <iframe
          width="100%"
          height="100%"
          id="gmap_canvas"
          src="https://maps.google.com/maps?q=B - 305 - 308, Shilp Corporate park, Rajpath Rangoli Road, Thaltej, Ahmedabad. &t=&z=13&ie=UTF8&iwloc=&output=embed"
          frameborder="0"
          scrolling="no"
          marginheight="0"
          marginwidth="0"></iframe><a href="https://2yu.co">2yu</a><br /><style>
          .mapouter {
            position: relative;
            text-align: right;
            height: 100%;
            width: 100%;
          }
        </style><a href="https://embedgooglemap.2yu.co/"
          >html embed google map</a
        ><style>
          .gmap_canvas {
            overflow: hidden;
            background: none !important;
            height: 100%;
            width: 100%;
          }
        </style>
      </div>
    </div>
    <div class="mapouter">
      <div class="gmap_canvas">
        <iframe
          width="100%"
          height="100%"
          id="gmap_canvas"
          src="https://maps.google.com/maps?q=sanskar technolab junagadh&t=&z=14&ie=UTF8&iwloc=&output=embed"
          frameborder="0"
          scrolling="no"
          marginheight="0"
          marginwidth="0"></iframe><a href="https://2yu.co">2yu</a><br /><style>
          .mapouter {
            position: relative;
            text-align: right;
            height: 100%;
            width: 100%;
          }
        </style><a href="https://embedgooglemap.2yu.co/"
          >html embed google map</a
        ><style>
          .gmap_canvas {
            overflow: hidden;
            background: none !important;
            height: 100%;
            width: 100%;
          }
        </style>
      </div>
    </div>
  </section>

  <style>
    #recaptcha-error {
      color: red;
      font-size: 14px; /* Adjust the font size to your preference */
      display: none;
    }

    .g-recaptcha {
      transform: scale(0.77);
      -webkit-transform: scale(0.77);
      transform-origin: 0 0;
      -webkit-transform-origin: 0 0;
      margin-bottom: -1rem;
    }
    @media screen and (max-width: 280px) {
      .g-recaptcha {
        transform: scale(0.6);
        -webkit-transform: scale(0.6);
        margin-bottom: -2rem;
        margin-right: -5rem;
      }
    }
    @media (min-width: 281px) and (max-width: 375px) {
      .g-recaptcha {
        transform: scale(0.6);
        -webkit-transform: scale(0.6);
        margin-bottom: -2rem;
        margin-right: -5rem;
      }
    }
    @media (max-width: 260px) {
      .input-field {
        width: 12.5rem;
      }
    }
    @media (min-width: 261px) and (max-width: 269px) {
      .input-field {
        width: 13rem;
      }
    }
    @media (min-width: 270px) and (max-width: 281px) {
      .input-field {
        width: 13.5rem;
      }
    }

    @media (min-width: 282px) and (max-width: 295px) {
      .input-field {
        width: 14rem;
      }
    }

    @media (max-width: 260px) {
      .input-file {
        width: 12.5rem !important;
      }
    }
    @media (min-width: 261px) and (max-width: 269px) {
      .input-file {
        width: 13rem;
      }
    }
    @media (min-width: 270px) and (max-width: 281px) {
      .input-file {
        width: 13.5rem;
      }
    }

    @media (min-width: 282px) and (max-width: 295px) {
      .input-file {
        width: 14.75rem;
      }
    }

    .banner {
      background-image: url("../../public/Images/contact-us-banner.png");
    }

    @media (max-width: 374px) {
      .input-file {
        width: 14rem;
      }
    }

    @media (max-width: 374px) {
      .form-padding {
        padding: 0.5rem;
      }
    }
    @media (min-width: 375px) and (max-width: 639px) {
      .form-padding {
        padding: 0.75rem;
      }
    }
    @media (min-width: 640px) {
      .form-padding {
        padding: 1.75rem;
      }
    }

    @media (max-width: 374px) {
      .margin-right {
        margin-right: 1rem;
      }
    }
    @media (min-width: 375px) and (max-width: 639px) {
      .margin-right {
        margin-right: 7rem;
      }
    }
    @media (min-width: 640px) and (max-width: 1279px) {
      .margin-right {
        margin-right: 4rem;
      }
    }
    @media (min-width: 1280px) {
      .margin-right {
        margin-right: 9rem;
      }
    }
    .banner-height {
      height: screen;
      padding-top: 3rem;
      padding-bottom: 3rem;
    }
    @media (min-width: 1580px) {
      .banner-height {
        height: calc(100vh - 10vh);
      }
    }
  </style>
  <script>
    

    // add event listner to file
    var fileInput_e = document.getElementById("fileInput");
    fileInput_e.addEventListener("change", (event) => {
      fileValidation();
    });

    // add event listner to form
    var form = document.getElementById("contact_form");
    form.addEventListener("submit", handleContactFormContact);

    // Add event listener to email input for real-time validation
    var emailInput = document.querySelector('input[name="emailaddress"]');
    emailInput.addEventListener("blur", validateEmailInput); // Changed event to "blur"

    function validateEmailInput() {
      const emailValue = emailInput.value.trim();
      const errorMessageElement = emailInput.nextElementSibling;

      if (emailValue === "") {
        hideErrorMessage(errorMessageElement); // Hide error message if email is empty
        emailInput.style.borderColor = ""; // Reset border color
        return;
      }

      if (!validateEmail(emailValue)) {
        blinkBorder(emailInput);
        displayErrorMessage(
          errorMessageElement,
          "Please enter a valid email address."
        );
      } else {
        hideErrorMessage(errorMessageElement); // Hide error message if email is valid
        emailInput.style.borderColor = ""; // Reset border color
      }
    }

    const apiKey = import.meta.env.PUBLIC_ApiKey as string;
    const secretKey = import.meta.env.PUBLIC_SecretKey as string;

    function blinkBorder(element) {
      // If the border color is not red, set it to red
      if (element.style.borderColor !== "red") {
        element.style.borderColor = "red";
      } else {
        // If the border color is already red, reset it to its original state
        element.style.borderColor = "";
      }
    }

    function resetBorderColorOnFocus(inputElement) {
      inputElement.addEventListener("focus", () => {
        inputElement.style.borderColor = ""; // Remove the border color (set it to null)
      });
    }

    // send data in frappe
    function handleContactFormContact(e) {
      e.preventDefault();

      var response = grecaptcha.getResponse();
      console.log("response",response);
      if (response.length === 0) {
        document.getElementById("recaptcha-error").style.display = "block";
        return;
      }
      document.getElementById("recaptcha-error").style.display = "none";

      // disableUserInteractions();

      const recaptchaResponse = grecaptcha.getResponse();
      // If the reCAPTCHA is filled out, clear any previous error message
      clearRecaptchaError();

      function clearRecaptchaError() {
      const recaptchaErrorElement = document.getElementById("recaptcha-error");
      recaptchaErrorElement.style.display = "none"; // Hide the error message
    }

      // const firstNameInput = document.querySelector('input[name="first_name"]');
      const lastNameInput = document.querySelector('input[name="full_name"]');
      const emailInput = document.querySelector('input[name="emailaddress"]');
      const messageInput = document.querySelector('textarea[name="message"]');
      const phoneInput = document.querySelector('input[name="phone"]');

      // const firstNameValue = firstNameInput.value.trim();
      const lastNameValue = lastNameInput.value.trim();
      const emailValue = emailInput.value.trim();
      const messageValue = messageInput.value.trim();
      const phoneValue = phoneInput.value.trim();

      // resetBorderColorOnFocus(firstNameInput);
      resetBorderColorOnFocus(lastNameInput);
      resetBorderColorOnFocus(emailInput);
      resetBorderColorOnFocus(messageInput);
      resetBorderColorOnFocus(phoneInput);

      if (lastNameValue === "") {
        blinkBorder(lastNameInput);
      }

      if (emailValue === "" || !validateEmail(emailValue)) {
        blinkBorder(emailInput);
        displayErrorMessage(
          emailInput.nextElementSibling,
          "Please enter a valid email address."
        );
      }

      // if (phoneValue === "") {
      //   blinkBorder(phoneInput);
      // }

      if (messageValue === "") {
        blinkBorder(messageInput);
      }

      if (lastNameValue === "" || emailValue === "" || messageValue === "") {
        return;
      }
      const fileInput = document.getElementById("fileInput");
      const file = fileInput.files[0];
      const urlParams = new URLSearchParams(window.location.search);

    //   // Get the value of the 'page' parameter
    //   const pageValue = urlParams.get("page");

    const demoForValue = pageValue || "";

    //   const queryTypeValue = pageValue ? "Demo" : "General";
    // console.log("queryTypeValue-----------",queryTypeValue);
      if (!file) {
        // alert('Please select a file to upload.');
        const formData = new FormData(e.target);
        const data = Object.fromEntries(formData.entries());
        formData.set("data", JSON.stringify(data));
        var full_name = data.full_name;
        var email = data.emailaddress;
        var phone = data.phone;
        var message = data.message;

        getUserIPAddress().then((ipAddress) => {
          let { browserName, device } = detectBrowser();

          fetch("https://sanskar.frappe.cloud/api/resource/Enquiry", {
            method: "POST",
            headers: {
              Accept: "application/json",
              "Content-Type": "application/json",
              Authorization: `token ${apiKey}:${secretKey}`,
            },
            body: JSON.stringify({
              first_name: full_name,
              email: email,
              phone: phone,
              message: message,
              enquiry_source: "Website Enquiry",
              demo_for: demoForValue,
              query_type: queryTypeValue,
              ip: ipAddress,
              browser_name: browserName,
              device: device,
            }),
          })
            .then((res) => {
              if (res.status === 200) {
                console.log(res);
                // alert("You have been registered successfully.")
                window.location.href = "/thank-you";
              } else {
                console.log("failed to post form", res);
                sendEmailNotification(
                  full_name,
                  email,
                  phone,
                  message,
                  "Website Enquiry",
                  demoForValue,
                  queryTypeValue,
                  ipAddress,
                  browserName,
                  device,
                  res
                );
                alert("Failed to submit data. Please try after some time.");
              }
            })
            .catch((error) => {
              console.log("error", error);
            });
        });

        // return;
      } else {
        const xhr = new XMLHttpRequest();
        const url = "https://sanskar.frappe.cloud/api/method/upload_file"; // Replace with your API endpoint URL

        xhr.open("POST", url, true);
        xhr.setRequestHeader("Accept", "application/json");

        // Set up event listeners for XHR
        xhr.onload = function () {
          if (xhr.status === 200) {
            var raw_data = JSON.parse(xhr.response);
            var file_url = raw_data.message.file_url;
            const formData = new FormData(e.target);
            const data = Object.fromEntries(formData.entries());
            formData.set("data", JSON.stringify(data));
            var full_name = data.full_name;
            var email = data.emailaddress;
            var phone = data.phone;
            var message = data.message;

            getUserIPAddress().then((ipAddress) => {
              let { browserName, device } = detectBrowser();

              fetch("https://sanskar.frappe.cloud/api/resource/Enquiry", {
                method: "POST",
                headers: {
                  Accept: "application/json",
                  "Content-Type": "application/json",
                  Authorization: `token ${apiKey}:${secretKey}`,
                },
                body: JSON.stringify({
                  first_name: full_name,
                  email: email,
                  phone: phone,
                  message: message,
                  document: file_url,
                  enquiry_source: "Website Enquiry",
                  demo_for: demoForValue,
                  query_type: queryTypeValue,
                  ip: ipAddress,
                  browser_name: browserName,
                  device: device,
                }),
              })
                .then((res) => {
                  if (res.status === 200) {
                    window.location.href = "/thank-you";
                  } else {
                    console.log("failed to post form", res);
                    sendEmailNotification(
                      full_name,
                      email,
                      phone,
                      message,
                      "Website Enquiry",
                      demoForValue,
                      queryTypeValue,
                      ipAddress,
                      browserName,
                      device,
                      res
                    );
                    alert("Failed to submit data. Please try after some time.");
                  }
                })
                .catch((error) => {
                  console.log(error);
                });
            });
          } else {
            alert("File upload failed. Please try again later.");
          }
        };

        xhr.onerror = function () {
          alert("An error occurred while uploading the file.");
        };

        const formData = new FormData();
        formData.append("file", file);

        xhr.send(formData);

        e.preventDefault();
      }
    }

    // Validation function for email
    function validateEmail(email) {
      const re =
        /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(String(email).toLowerCase());
    }

    function displayErrorMessage(errorMessageElement, message) {
      if (
        !errorMessageElement ||
        !errorMessageElement.classList.contains("error-message")
      ) {
        // If error message doesn't exist, create and insert it
        errorMessageElement = document.createElement("p");
        errorMessageElement.textContent = message;
        errorMessageElement.classList.add("error-message");
        errorMessageElement.style.color = "red"; // Adjust the color
        errorMessageElement.style.fontSize = "0.8rem"; // Adjust the font size
        errorMessageElement.style.marginTop = "0.2rem"; // Adjust the margin-top
        errorMessageElement.style.marginBottom = "0"; // Remove bottom margin

        // Insert the error message after the input field
        emailInput.parentNode.insertBefore(
          errorMessageElement,
          emailInput.nextSibling
        );
      } else {
        errorMessageElement.textContent = message; // Update existing error message
      }
    }

    function hideErrorMessage(errorMessageElement) {
      if (
        errorMessageElement &&
        errorMessageElement.classList.contains("error-message")
      ) {
        // If error message exists, remove it
        errorMessageElement.remove();
      }
    }

    function showRecaptchaError() {
      const recaptchaErrorElement = document.getElementById("recaptcha-error");
      recaptchaErrorElement.style.display = "block"; // Display the error message

      // Hide the error message after a specific duration (e.g., 5 seconds)
      setTimeout(function () {
        recaptchaErrorElement.style.display = "none";
      }, 3000);
    }

    // function clearRecaptchaError() {
    //   const recaptchaErrorElement = document.getElementById("recaptcha-error");
    //   recaptchaErrorElement.style.display = "none"; // Hide the error message
    // }

    // validate file foramte in fileupload
    function fileValidation() {
      var fileInput = document.getElementById("fileInput");

      var filePath = fileInput.value;

      // Allowing file type
      var allowedExtensions = /(\.jpg|\.pdf|\.png|\.docx|\.txt)$/i;

      if (!allowedExtensions.exec(filePath)) {
        alert("Invalid file type only allow .jpg | .pdf | .png | .docx | .txt");
        fileInput.value = "";
        return false;
      }
    }

    // get browser and device name
    function detectBrowser() {
      const userAgent = navigator.userAgent;
      var browserName = "Unknown";

      // Check for Chrome
      if (userAgent.indexOf("Chrome") !== -1) {
        browserName = "Google Chrome";
      }
      // Check for Firefox
      else if (userAgent.indexOf("Firefox") !== -1) {
        browserName = "Mozilla Firefox";
      }
      // Check for Safari
      else if (userAgent.indexOf("Safari") !== -1) {
        browserName = "Apple Safari";
      }
      // Check for Edge
      else if (userAgent.indexOf("Edg") !== -1) {
        browserName = "Microsoft Edge";
      }
      // Check for Internet Explorer
      else if (
        userAgent.indexOf("MSIE") !== -1 ||
        userAgent.indexOf("Trident") !== -1
      ) {
        browserName = "Internet Explorer";
      }

      // Log the detected browser to the console
      //   console.log(`Detected browser: ${browserName}`);

      // Detect the device type based on screen size
      const screenWidth = window.innerWidth;
      var device = "Unknown";
      if (screenWidth <= 576) {
        device = "Mobile";
      } else if (screenWidth <= 992) {
        device = "Tablet";
      } else if (screenWidth <= 1200) {
        device = "Laptop";
      } else {
        device = "Desktop";
      }

      return { browserName, device };
    }

    // Function to get the user's IP address using ipify
    function getUserIPAddress() {
      return fetch("https://api.ipify.org?format=json")
        .then((response) => response.json())
        .then((data) => data.ip)
        .catch((error) => {
          console.error("Error fetching IP address:", error);
          return null; // Handle the error gracefully
        });
    }

    function sendEmailNotification(
      full_name = "",
      email = "",
      phone = "",
      message = "",
      enquiry_source = "",
      demoForValue = "",
      queryTypeValue = "",
      ip = "",
      browser_name = "",
      device = "",
      response = ""
    ) {
      console.log("sending email notification...");
      // return
      fetch(
        "http://sanskar.com:8000/api/method/astro_sanskar.api.send_form_failed_notification",
        {
          method: "POST",
          headers: {
            Accept: "application/json",
            "Content-Type": "application/json",
            // Authorization: `token ${apiKey}:${secretKey}`,
          },
          body: JSON.stringify({
            full_name: full_name,
            email: email,
            phone: phone,
            message: message,
            enquiry_source: "Website Enquiry",
            demoForValue: demoForValue,
            queryTypeValue: queryTypeValue,
            ip: ip,
            browser_name: browser_name,
            device: device,
            response: response,
            page_name: "Contact Us",
          }),
        }
      )
        .then((res) => {
          if (res.status === 200) {
            // alert("You have been registered successfully.")
            console.log("email notification sent.");
          } else {
            console.log("failed to send email notification", res);
            alert(
              "We are unable to process your request. please send your requirements on info@sanskartechnolab.com"
            );
          }
        })
        .catch((error) => {
          console.log("error", error);
        });
    }
  </script>
</Layout>
