---
import Layout from "../layouts/Layout.astro";
import "../styles.css";
import { Image, Picture } from "@astrojs/image/components";

import right_arrow from "../../public/Images/right-arrow.svg";
import down_arrow from "../../public/Images/down_arrow.svg";
import up_arrow from "../../public/Images/up_arrow.svg";
import follow_up from "../../public/Images/follow_up.svg";
import customer_inquiry from "../../public/Images/01 Customer Inquiry Follow-up.jpg";
import quotation_inquiry from "../../public/Images/02 Quotation Follow-up.jpg";
import install_product from "../../public/Images/03 Install the product.jpg";
import Getting_Started from "../../public/Images/04 Getting Started.jpg";
import Flowchart from "../../public/Images/05 Flowchart.jpg";
import Workspace from "../../public/Images/06 Workspace.jpg";
import Lead from "../../public/Images/07 Lead.jpg";
import new_follow_up from "../../public/Images/08 Add New Follow-up.jpg";
import update_follow_up from "../../public/Images/09 Update Follow-up.jpg";
import update_follow_up_2 from "../../public/Images/10 Update Follow-up-02.jpg";
import delete_follow_up from "../../public/Images/11 Delete Follow-up.jpg";
import Quotation from "../../public/Images/12 Quotation.jpg";
import list_view from "../../public/Images/13 List View.jpg";
import calender_view from "../../public/Images/14 Calendar View.jpg";
import gantt_view from "../../public/Images/15 Gantt View.jpg";
import kanban_view from "../../public/Images/16 Kanban View.jpg";
import follow_up_screen from "../../public/Images/17 Follow Up Screen.jpg";
import automatic_status_update from "../../public/Images/18 Automatic status update.jpg";
import Dashboard from "../../public/Images/19 Dashboard.jpg";
import report from "../../public/Images/20 Report.jpg";
import Vector from "../../public/Images/vector.svg";
import Vector_blue from "../../public/Images/Vector_blue.svg";
import Inner_Vector from "../../public/Images/Inner_Vector.svg";
---

<Layout
  title="Sales Follow Up App | Sanskar Technolab"
  ,
  keyword="crm follow up,crm follow up system,follow up frappe crm,lead follow up system,followup crm,client follow up app,sales follow up app,customer follow up app,Follow up ERPNext,follow up crm,Create a Follow-Up Event with One Click"
  ,
  description="Sanskar Technolab delivers top-notch Followup CRM, Sales Follow Up App, and Customer Follow Up App solutions. Streamline your follow-ups and enhance sales performance."
  ,
  canonical_href="https://sanskartechnolab.com/crm_follow_up_app_for_erpnext"
>

<body>
  

  <!-- Follow-Up Management Start -->
  <section class="banner-bg">
    <div
      class="mx-5 md:max-w-7xl md:mx-auto md:px-24 py-[2rem] md:py-[2rem] lg:py-[4rem]"
    >
      <div
        class="max-w-[450px] flex flex-row items-center rounded-xl p-3 gap-2"
      >
        <Image loading="lazy" src={follow_up} alt="follow-up" />
        <div class="text-[#4D4C4D]">
          <p class="text-sm md:text-base">Frappe App</p>
          <h4 class="text-xl md:text-2xl lg:text-3xl font-semibold">
            Follow-Up Management
          </h4>
        </div>
      </div>
      <iframe
        class="w-full lg:h-[39rem] md:h-[25rem] h-60 mt-5"
        src="https://www.youtube.com/embed/OfXCC3xudjA?si=okYJiZOlY7EK_Iqc"
        title="YouTube Video"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        loading="lazy"
        allowfullscreen></iframe>
        <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/OfXCC3xudjA?si=okYJiZOlY7EK_Iqc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe> -->
    </div>
  </section>

  
  <div class="w-full toggle-menu fixed  top-0  z-[999] bg-[#92C9FF] md:hidden text-[#31393C]"  id="tablecontentmenu">
    <p class="text-center font-semibold p-5">Table of Contents</p>
      <ul id="mobile-menu" class="menu-hidden text-center">
        <li class="border-t-2 border-b-2 p-2"><a href="#introduction">Introduction</a></li>
        <li class="border-b-2 p-2"><a href="#keyfeatures">Key Features</a></li>
        <li class="border-b-2 p-2"><a href="#usecase">Use Case</a></li>
        <li class="border-b-2 p-2"><a href="#installation">Installation</a></li>
        <li class="border-b-2 p-2"><a href="#usermanual">User Manual</a></li>
        <li class="border-b-2 p-2"><a href="#support">Support</a></li>
        <li class="p-2"><a href="#faq">FAQ</a></li>
    </ul>
  
    
</div>

  <!-- Table of Contents Start -->
  <section
    class="grid grid-cols-12 md:max-w-7xl md:mx-auto  px-5 sm:px-12 md:px-24 py-[2rem] md:py-[2rem] lg:py-[4rem] w-full gap-5 lg:gap-10" id="tablecontent"
  >
    <div  class=" self-start sticky top-0 md:col-span-3  js-toc toc overflow-x-auto max-md:hidden"  >
      <h2 class="text-[#31393C] text-sm md:text-base lg:text-lg font-semibold border-b-2 px-5 py-2 " >
        Table of Contents
      </h2>
      <a class="flex gap-2 items-center border-b-2 border-dotted	 px-5 py-2 button " href="#keyfeatures" id="keyFeaturesLink">
       
      <svg width="10" height="11"  viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg"  id="vectorImage">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M5 9C6.933 9 8.5 7.433 8.5 5.5C8.5 3.567 6.933 2 5 2C3.067 2 1.5 3.567 1.5 5.5C1.5 7.433 3.067 9 5 9ZM5 10.5C7.76142 10.5 10 8.26142 10 5.5C10 2.73858 7.76142 0.5 5 0.5C2.23858 0.5 0 2.73858 0 5.5C0 8.26142 2.23858 10.5 5 10.5Z" fill="#727578"/>
        <path d="M7 5.5L4 7.23205V3.76794L7 5.5Z" fill="#727578"/>
        </svg>
      
        <h2 class="text-[#31393C] text-sm  font-semibold  "  id="keyFeaturesText">
          Key Features
        </h2>
      </a>
      <a class="flex gap-2 items-center border-b-2 border-dotted	 px-5 py-2 button " href="#usecase">
        <svg width="10" height="11"  viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg"  id="vectorImage">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M5 9C6.933 9 8.5 7.433 8.5 5.5C8.5 3.567 6.933 2 5 2C3.067 2 1.5 3.567 1.5 5.5C1.5 7.433 3.067 9 5 9ZM5 10.5C7.76142 10.5 10 8.26142 10 5.5C10 2.73858 7.76142 0.5 5 0.5C2.23858 0.5 0 2.73858 0 5.5C0 8.26142 2.23858 10.5 5 10.5Z" fill="#727578"/>
          <path d="M7 5.5L4 7.23205V3.76794L7 5.5Z" fill="#727578"/>
          </svg>
        <h2 class="text-[#31393C] text-sm  font-semibold  ">
          Use Case
        </h2>
      </a>
      <a class="flex gap-2 items-center border-b-2 border-dotted	 px-5 py-2 button " href="#installation">
        <svg width="10" height="11"  viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg"  id="vectorImage">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M5 9C6.933 9 8.5 7.433 8.5 5.5C8.5 3.567 6.933 2 5 2C3.067 2 1.5 3.567 1.5 5.5C1.5 7.433 3.067 9 5 9ZM5 10.5C7.76142 10.5 10 8.26142 10 5.5C10 2.73858 7.76142 0.5 5 0.5C2.23858 0.5 0 2.73858 0 5.5C0 8.26142 2.23858 10.5 5 10.5Z" fill="#727578"/>
          <path d="M7 5.5L4 7.23205V3.76794L7 5.5Z" fill="#727578"/>
          </svg>
        <h2 class="text-[#31393C] text-sm  font-semibold  ">
          Installation
        </h2>
      </a>
      <a class="flex gap-2 items-center border-b-2 border-dotted	 px-5 py-2 button " href="#usermanual" >
        <svg width="10" height="11"  viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg"  id="vectorImage">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M5 9C6.933 9 8.5 7.433 8.5 5.5C8.5 3.567 6.933 2 5 2C3.067 2 1.5 3.567 1.5 5.5C1.5 7.433 3.067 9 5 9ZM5 10.5C7.76142 10.5 10 8.26142 10 5.5C10 2.73858 7.76142 0.5 5 0.5C2.23858 0.5 0 2.73858 0 5.5C0 8.26142 2.23858 10.5 5 10.5Z" fill="#727578"/>
        <path d="M7 5.5L4 7.23205V3.76794L7 5.5Z" fill="#727578"/>
        </svg>
        <h2 class="text-[#31393C] text-sm  font-semibold  ">
          User Manual
        </h2>
      </a>
      <a class="flex gap-2 items-center	 pl-8 py-2 button" href="#flowchart">
     <svg width="6" height="7" viewBox="0 0 6 7" fill="none" xmlns="http://www.w3.org/2000/svg" id="InnerVectorImage">
<path d="M4.51924 2.63622C5.18074 3.0221 5.18074 3.9779 4.51924 4.36378L1.50387 6.12274C0.837213 6.51163 0 6.03075 0 5.25896V1.74104C0 0.969246 0.837214 0.488375 1.50387 0.877258L4.51924 2.63622Z" fill="#727578"/>
</svg>

        <h2 class="text-[#31393C] text-sm    ">
          Flowchart
        </h2>
      </a>
      <a class="flex gap-2 items-center	 pl-8 py-2 button " href="#Workspace">
        <svg width="6" height="7" viewBox="0 0 6 7" fill="none" xmlns="http://www.w3.org/2000/svg" id="InnerVectorImage">
          <path d="M4.51924 2.63622C5.18074 3.0221 5.18074 3.9779 4.51924 4.36378L1.50387 6.12274C0.837213 6.51163 0 6.03075 0 5.25896V1.74104C0 0.969246 0.837214 0.488375 1.50387 0.877258L4.51924 2.63622Z" fill="#727578"/>
          </svg>
        <h2 class="text-[#31393C] text-sm    ">
          Workspace
        </h2>
      </a>
      <a class="flex gap-2 items-center	 pl-8 py-2 button" href="#lead">
        <svg width="6" height="7" viewBox="0 0 6 7" fill="none" xmlns="http://www.w3.org/2000/svg" id="InnerVectorImage">
          <path d="M4.51924 2.63622C5.18074 3.0221 5.18074 3.9779 4.51924 4.36378L1.50387 6.12274C0.837213 6.51163 0 6.03075 0 5.25896V1.74104C0 0.969246 0.837214 0.488375 1.50387 0.877258L4.51924 2.63622Z" fill="#727578"/>
          </svg>
        <h2 class="text-[#31393C] text-sm   ">
          Lead
        </h2>
      </a>
      <div class="ml-16">
        <ul class="!list-disc  text-sm  text-[#31393C] activedot">
          
          <li >
            <a href="#addnewfollowup" class="button"> <h2 class="text-[#31393C] text-sm   ">  Add New Follow-up </h2> </a> 
          </li>
          <li class="mt-2">
            <a href="#updatenewfollowup" class="button"> <h2 class="text-[#31393C] text-sm   ">   Update Follow-up </h2> </a> 
           
          </li>
          <li class="mt-2">
            <a href="#deletenewfollowup" class="button"><h2 class="text-[#31393C] text-sm   ">   Delete Follow-up </h2> </a> 
          </li>
        </ul>
      </div>
    

    <a class="flex gap-2 items-center	 pl-8 py-2 button" href="#quotation">
      <svg width="6" height="7" viewBox="0 0 6 7" fill="none" xmlns="http://www.w3.org/2000/svg" id="InnerVectorImage">
        <path d="M4.51924 2.63622C5.18074 3.0221 5.18074 3.9779 4.51924 4.36378L1.50387 6.12274C0.837213 6.51163 0 6.03075 0 5.25896V1.74104C0 0.969246 0.837214 0.488375 1.50387 0.877258L4.51924 2.63622Z" fill="#727578"/>
        </svg>
        <h2 class="text-[#31393C] text-sm   ">
          Quotation
        </h2>
      </a>
    <a class="flex gap-2 items-center	 pl-8 py-2 button" href="#followup">
      <svg width="6" height="7" viewBox="0 0 6 7" fill="none" xmlns="http://www.w3.org/2000/svg" id="InnerVectorImage">
        <path d="M4.51924 2.63622C5.18074 3.0221 5.18074 3.9779 4.51924 4.36378L1.50387 6.12274C0.837213 6.51163 0 6.03075 0 5.25896V1.74104C0 0.969246 0.837214 0.488375 1.50387 0.877258L4.51924 2.63622Z" fill="#727578"/>
        </svg>
        <h2 class="text-[#31393C] text-sm   ">
          Follow Up
        </h2>
      </a>


      <div class="ml-16">
        <ul class="!list-disc  text-sm  text-[#31393C] activedot">
          <li >
            <a href="#listview" class="button">  <h2 class="text-[#31393C] text-sm   ">   List View </h2></a> 
           
          </li>
          <li class="mt-2">
            <a href="#calenderview" class="button"> <h2 class="text-[#31393C] text-sm   ">  Calendar View</h2></a> 
           
            
          </li>
          <li class="mt-2">
            <a href="#ganttview" class="button"> <h2 class="text-[#31393C] text-sm   "> Gantt View</h2> </a> 
            
          </li>
          <li class="mt-2">
            <a href="#kanbanview" class="button"> <h2 class="text-[#31393C] text-sm   ">  Kanban View</h2></a> 
            
          </li>
          <li class="mt-2">
            <a href="#followupscreen" class="button"> <h2 class="text-[#31393C] text-sm   ">    Follow Up Screen </h2></a> 
          
          </li>
          <li class="mt-2">
            <a href="#followupfields" class="button"> <h2 class="text-[#31393C] text-sm   ">  Follow-up Fields </h2></a> 
           
          </li>
          <li class="mt-2">
            <a href="#followupstatus" class="button"> <h2 class="text-[#31393C] text-sm   ">  Follow-up Status </h2> </a> 
            
          </li>
          <li class="mt-2">
            <a href="#followuppriority" class="button"> <h2 class="text-[#31393C] text-sm   ">  Follow-up Priority </h2> </a> 
            
          </li>
          <li class="mt-2">
            <a href="#communicationtype" class="button"> <h2 class="text-[#31393C] text-sm   ">  Communication Type </h2> </a> 
            
          </li>
          <li class="mt-2">
            <a href="#reminder" class="button"> <h2 class="text-[#31393C] text-sm   ">   Reminder </h2> </a> 
            
           
          </li>
          <li class="mt-2">
            <a href="#automaticupdate" class="button"> <h2 class="text-[#31393C] text-sm   ">   Automatic status update </h2> </a>  
            
          </li>
        </ul>
      </div>


      <a class="flex gap-2 items-center	 pl-8 py-2  border-b-2 border-dotted button" href="#dashboardreport">
        <svg width="6" height="7" viewBox="0 0 6 7" fill="none" xmlns="http://www.w3.org/2000/svg" id="InnerVectorImage">
          <path d="M4.51924 2.63622C5.18074 3.0221 5.18074 3.9779 4.51924 4.36378L1.50387 6.12274C0.837213 6.51163 0 6.03075 0 5.25896V1.74104C0 0.969246 0.837214 0.488375 1.50387 0.877258L4.51924 2.63622Z" fill="#727578"/>
          </svg>
        <h2 class="text-[#31393C] text-sm   ">
          Dashboard & Report
        </h2>
      </a>

      <a class="flex gap-2 items-center border-b-2 border-dotted	 px-5 py-2 button " href="#support">
        <svg width="10" height="11"  viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg"  id="vectorImage">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M5 9C6.933 9 8.5 7.433 8.5 5.5C8.5 3.567 6.933 2 5 2C3.067 2 1.5 3.567 1.5 5.5C1.5 7.433 3.067 9 5 9ZM5 10.5C7.76142 10.5 10 8.26142 10 5.5C10 2.73858 7.76142 0.5 5 0.5C2.23858 0.5 0 2.73858 0 5.5C0 8.26142 2.23858 10.5 5 10.5Z" fill="#727578"/>
          <path d="M7 5.5L4 7.23205V3.76794L7 5.5Z" fill="#727578"/>
          </svg>
        <h2 class="text-[#31393C] text-sm  font-semibold  ">
          Support
        </h2>
      </a>
      <a class="flex gap-2 items-center border-b-2 border-dotted	 px-5 py-2 button " href="#faq" >
        <svg width="10" height="11"  viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg"  id="vectorImage">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M5 9C6.933 9 8.5 7.433 8.5 5.5C8.5 3.567 6.933 2 5 2C3.067 2 1.5 3.567 1.5 5.5C1.5 7.433 3.067 9 5 9ZM5 10.5C7.76142 10.5 10 8.26142 10 5.5C10 2.73858 7.76142 0.5 5 0.5C2.23858 0.5 0 2.73858 0 5.5C0 8.26142 2.23858 10.5 5 10.5Z" fill="#727578"/>
          <path d="M7 5.5L4 7.23205V3.76794L7 5.5Z" fill="#727578"/>
          </svg>
        <h2 class="text-[#31393C] text-sm  font-semibold  ">
          FAQ
        </h2>
      </a>

    </div>
    <div class=" rounded-xl border p-8 shadow-box col-span-12 md:col-span-9 " >
      <div >
        <h1 class="text-[#3E96F4] text-lg md:text-xl lg:text-2xl font-semibold" id="introduction">
          Introduction
        </h1>
        <p class="mt-3 text-sm md:text-base text-[#31393C]">
          Follow-Up Management App for Frappe ERPNext – the ultimate solution
          for efficient follow-up management. With Lead and Quotation at its
          core, tracking follow-ups becomes effortless, providing a centralized
          hub for all your follow-up-related activities within a single screen.
          The app enables tracking of all follow-ups, organizing them based on
          status and priority, offering reminder functionality, and furnishing
          Detailed Reports, a Kanban Board, a Calendar View, a Dashboard, and a
          Dedicated Workspace.
        </p>
      </div>
      <div class="mt-5 lg:mt-10 " >
        <h2 class="text-[#3E96F4] text-lg md:text-xl lg:text-2xl font-semibold" id="keyfeatures" >
          Key Features
        </h2>
        <ul class="!list-disc ml-7 text-sm md:text-base text-[#31393C] dot">
          <li class="mt-5 ">Manage Follow-Ups of Sales Persons.</li>
          <li class="mt-2">Enhanced User Interface.</li>
          <li class="mt-2">
            Includes Calendar View, Gantt View, Custom Dashboard, Kanban
            Dashboard, and Custom Report for analytics purposes.
          </li>
          <li class="mt-2">Directly accessible for the Lead and Quotation.</li>
          <li class="mt-2">
            Email and System Notifications will be sent as a reminder 30 minutes
            before the scheduled time.
          </li>
          <li class="mt-2">Automatically update status.</li>
          <li class="mt-2">Easy to customize.</li>
        </ul>
      </div>

      <div class="mt-5 lg:mt-10 "  >
        <h2 class="text-[#3E96F4] text-lg md:text-xl lg:text-2xl font-semibold" id="usecase">
          Use Case
        </h2>
        <h3
          class="text-base md:text-lg lg:text-xl text-[#31393C] mt-3 font-semibold"
        >
          Customer Inquiry Follow-up
        </h3>
        <Image
          loading="lazy"
          src={customer_inquiry}
          alt="Customer Inquiry Follow-up"
          class="mt-3"
        />
        <p class="mt-5 text-sm md:text-base text-[#31393C]">
          When a customer sends an inquiry through email, website, or phone, it
          is managed as a Lead in ERPNext. The sales team logs the inquiry into
          the system and schedules follow-up actions for the Lead. Additionally,
          the system can:
        </p>
        <ul class="!list-disc ml-7 text-sm md:text-base text-[#31393C] ">
          <li class="mt-5">
            Assign inquiries to specific sales representatives based on
            predefined criteria.
          </li>
          <li class="mt-2">
            Automatically generate acknowledgment emails to inform customers
            their inquiry has been received.
          </li>
          <li class="mt-2">
            Set reminders for follow-up actions to ensure timely responses.
          </li>
          <li class="mt-2">Directly accessible for the Lead and Quotation.</li>
          <li class="mt-2">
            Track the status and history of each Lead, providing insights into
            customer interactions and follow-up effectiveness.
          </li>
          <li class="mt-2">
            Integrate with CRM to provide a holistic view of customer
            engagement.
          </li>
        </ul>
      </div>
      <div class="mt-5 lg:mt-10 " >
        <h3
          class="text-base md:text-lg lg:text-xl text-[#31393C] mt-3 font-semibold"
        >
          Quotation Follow-up
        </h3>
        <Image
          loading="lazy"
          src={quotation_inquiry}
          alt="Quotation Follow-up"
          class="mt-3"
        />
        <p class="mt-5 text-sm md:text-base text-[#31393C]">
          After sending a quotation to a customer, the sales team can check its
          status in the ERP system. They can also set up automated reminders to
          follow up with customers who haven't responded to quotes within a set
          time. Additionally, the system can:
        </p>
        <ul class="!list-disc ml-7 text-sm md:text-base text-[#31393C]">
          <li class="mt-5">
            Notify sales representatives when a customer views a quotation.
          </li>
          <li class="mt-2">
            Enable customers to accept or decline quotes directly through a
            self-service portal.
          </li>
          <li class="mt-2">
            Provide analytics on quotation acceptance rates and follow-up
            effectiveness.
          </li>
          <li class="mt-2">
            Schedule follow-up tasks and track progress within the sales
            pipeline.
          </li>
          <li class="mt-2">
            Customize follow-up messages based on customer segmentation and
            quotation value.
          </li>
          <li class="mt-2">
            Integrate with email and messaging platforms to streamline
            communication.
          </li>
        </ul>
      </div>
      <div class="mt-5 " >
        <h2 class="text-[#3E96F4] text-lg md:text-xl lg:text-2xl font-semibold" id="installation">
          Installation
        </h2>
        <div class="mt-5 w-full rounded-xl bg-gradient-to-br from-[#F5F5F5] to-[#FFFFFF] p-5 border">
          <h3
            class="text-base md:text-lg lg:text-xl text-[#31393C]  font-semibold"
          >
            Pre-requisites
          </h3>

          <ul class="!list-disc ml-7 text-sm md:text-base text-[#31393C] dot">
            <li class="mt-2">Install ERPNext</li>
            <li class="mt-2">Setup Default Email Account</li>
          </ul>
        </div>
      </div>
      <div class="mt-5 lg:mt-10 xl:ml-20">
        <div
          class="mt-5 flex gap-4 md:gap-5 lg:gap-6 border-l-2 border-dashed border-[#4D5F66] border-opacity-40 pb-[1.75rem] lg:pb-[1rem] xl:pb-[1.5rem] 2xl:pb-[1.75rem]"
        >
          <div class="">
            <div
              class="-ml-[0.55rem] xl:-ml-[0.60rem] w-4 lg:w-[1.125rem] h-4 lg:h-[1.125rem] bg-[#3E96F4] rounded-full flex items-center justify-center text-white border border-solid border-[#4D5F66]"
            >
            </div>
          </div>
          <p
            class="hidden xl:block text-[#31393C] text-sm md:text-sm lg:text-base font-semibold -ml-[7rem] -mt-1 lg:w-[76px] xl:w-[76px]"
          >
            Step 1:
          </p>
          <div class="md:-mt-[2px] lg:-mt-1 xl:ml-10">
            <p
              class="xl:hidden text-[#31393C] text-sm md:text-sm font-semibold max-w-[200px]"
            >
              Step 1:
            </p>
            <p
              class="text-[#31393C] font-semibold text-base md:text-lg lg:text-xl mt-1 mb-2 lg:mt-0"
            >
              Install the product:
            </p>
            <p
              class="text-[#31393C] text-sm md:text-sm lg:text-base lg:max-w-[45rem]"
            >
              You can access our Whatsapp product through Frappe marketplace. To
              install our product, you need to pay monthly fees of $10.
            </p>
            <Image
              loading="lazy"
              src={install_product}
              alt="Install the product"
              class="mt-3 lg:mt-5"
            />
          </div>
        </div>

        <div
          class="flex gap-4 md:gap-5 lg:gap-6 border-l-2 border-dashed border-[#4D5F66] border-opacity-40 pb-[1.75rem] lg:pb-[1rem] xl:pb-[1.5rem] 2xl:pb-[1.75rem]"
        >
          <div class="">
            <div
              class="-ml-[0.55rem] xl:-ml-[0.60rem] w-4 lg:w-[1.125rem] h-4 lg:h-[1.125rem] bg-[#3E96F4] rounded-full flex items-center justify-center text-white border border-solid border-[#4D5F66]"
            >
            </div>
          </div>
          <p
            class="hidden xl:block text-[#31393C] text-sm md:text-sm lg:text-base font-semibold -ml-[7rem] -mt-1 lg:w-[76px] xl:w-[76px]"
          >
            Step 2:
          </p>
          <div class="md:-mt-[2px] lg:-mt-1 xl:ml-10 lg:min-w-[551px]">
            <p
              class="xl:hidden text-[#31393C] text-sm md:text-sm font-semibold"
            >
              Step 2:
            </p>
            <p
              class="text-[#31393C] font-semibold text-base md:text-lg lg:text-xl mt-1 mb-2 lg:mt-0"
            >
              Getting Started:
            </p>
            <p
              class="text-[#31393C] text-sm md:text-sm lg:text-base lg:max-w-[45rem]"
            >
              After installing our integration product, to get started you have
              3 different scenarios.
            </p>
            <div class="getting_started p-2 mt-5 lg:min-w-[551px]">
              <ul class="list-disc ml-5 md:ml-7 marker:text-blue-500">
                <li
                  class="text-[#31393C] text-sm md:text-sm lg:text-base font-semibold"
                >
                  If you already have a site, you just need to install our
                  product.
                </li>
              </ul>
            </div>
            <Image
            loading="lazy"
            src={Getting_Started}
            alt="whatsapp_getting_started_2"
            class="mt-5"
          />
            <!-- <div class="getting_started p-2 mt-5 lg:min-w-[551px]">
              <ul class="list-disc ml-5 md:ml-7 marker:text-blue-500">
                <li
                  class="text-[#31393C] text-sm md:text-sm lg:text-base font-semibold"
                >
                  If you don't have a site you can create your own <a
                    href="https://frappecloud.com/docs/sites/creating-a-new-site"
                    class="text-[#3E96F4]">here</a
                  > and install on it.
                </li>
                <li
                  class="text-[#31393C] text-sm md:text-sm lg:text-base font-semibold"
                >
                  If you have a bench you can install our product on the bench
                  and then install it on site.
                </li>
              </ul>
            </div> -->
          
          </div>
        </div>
      </div>

      <div class="mt-5 lg:mt-10" >
        <div>
          <h2 class="text-[#3E96F4] text-lg md:text-xl lg:text-2xl font-semibold" id="usermanual">
            User Manual
          </h2>
          <h3
          class="text-base md:text-lg lg:text-xl text-[#31393C]  font-semibold mt-5" id="flowchart"
        >
        01. Flowchart
        </h3>
        <Image
        loading="lazy"
        src={Flowchart}
        alt="Flowchart"
        class="mt-5"
      />
        </div>

        <div class="mt-5 lg:mt-10">
         
          <h3
          class="text-base md:text-lg lg:text-xl text-[#31393C]  font-semibold mt-5" id="Workspace"
        >
        02. Workspace
        </h3>
        <Image
        loading="lazy"
        src={Workspace}
        alt="Workspace"
        class="mt-5"
      />
      <ul class="!list-disc ml-7 text-sm md:text-base text-[#31393C]">
        <li class="mt-5">
          In the Follow-Up workspace, you can access the lead, quotation, follow-up, follow-up calendar, Gantt, Kanban, dashboard, and report views.
        </li>
        <ul>
        </div>

        <div class="mt-5 lg:mt-10">
         
          <h3
          class="text-base md:text-lg lg:text-xl text-[#31393C]  font-semibold mt-5" id="lead"
        >
        03. Lead
        </h3>
        <Image
        loading="lazy"
        src={Lead}
        alt="Lead"
        class="mt-5"
      />
      <ul class="!list-disc ml-7 text-sm md:text-base text-[#31393C]">
        <li class="mt-5">
          In the Lead doctype, there's a section called "Follow Up" where you can create new follow-ups, remove existing ones, and make updates as necessary.
        </li>
        <ul>
        </div>


        <div class="mt-5 lg:mt-10 " >
         
          <h3
          class="text-sm md:text-base lg:text-lg text-[#31393C]  font-semibold mt-5" id="addnewfollowup"
        >
        03.01. Add New Follow-up
        </h3>
        <Image
        loading="lazy"
        src={new_follow_up}
        alt="Add New Follow-up"
        class="mt-5"
      />
      <ul class="!list-disc ml-7 text-sm md:text-base text-[#31393C]">
        <li class="mt-5">
          Click the "Create Follow-up" button to generate a new follow-up.
        </li>
        <li class="mt-2">
          After generating the follow-up, showcase it within the follow-up details section, with specific fields.
        </li>
        <ul>
        </div>


        <div class="mt-5 lg:mt-10" >
         
            <h3
            class="text-sm md:text-base lg:text-lg text-[#31393C]  font-semibold mt-5" id="updatenewfollowup"
          >
          03.02. Update Follow-up
          </h3>
          <Image
          loading="lazy"
          src={update_follow_up}
          alt="Update Follow-up"
          class="mt-5"
        />
        <ul class="!list-disc ml-7 text-sm md:text-base text-[#31393C]">
          <li class="mt-5">
            To update follow-up details, click the "Edit Details" button on the corresponding card
          </li>
          
        </ul>

          <Image
          loading="lazy"
          src={update_follow_up_2}
          alt="Update Follow-up "
          class="mt-5"
        />
        <ul class="!list-disc ml-7 text-sm md:text-base text-[#31393C]">
          <li class="mt-5">
            Which will redirect to the specific follow-up details form where you can make the necessary updates.
          </li>
          
      </ul>
      </div>


      <div class="mt-5 lg:mt-10" >

        <h3
        class="text-sm md:text-base lg:text-lg  text-[#31393C]  font-semibold mt-5" id="deletenewfollowup"
      >
      03.03. Delete Follow-up
      </h3>
        
          <Image
          loading="lazy"
          src={delete_follow_up}
          alt="Update Follow-up "
          class="mt-5"
        />
        <ul class="!list-disc ml-7 text-sm md:text-base text-[#31393C]">
          <li class="mt-5">
            To delete a follow-up, click the "Delete" button, and if you confirm by clicking "Yes," a confirmation message will appear before deleting the follow-up.
          </li>
          
        </ul>
      </div>

        



        <div class="mt-5 lg:mt-10" >
         
          <h3
          class="text-base md:text-lg lg:text-xl text-[#31393C]  font-semibold mt-5" id="quotation"
        >
        04. Quotation
        </h3>
        <Image
        loading="lazy"
        src={Quotation}
        alt="Quotation"
        class="mt-5"
      />
      <ul class="!list-disc ml-7 text-sm md:text-base text-[#31393C]">
        <li class="mt-5">
          In the Quotation doctype, there's a section "Follow Up" where you can create new follow-ups, remove existing ones, and make updates as necessary.
        </li>
        <li class="mt-2">
          The process for creating, updating, and deleting follow-ups in the quotation follow up the same steps as the lead.
        </li>
        <ul>
        </div>




        <div class="mt-5 lg:mt-10" >
         
          <h2
          class="text-base md:text-lg lg:text-xl text-[#31393C]  font-semibold mt-5" id="followup"
        >
        05. Follow Up
        </h2>
        <h3 class="text-sm md:text-base lg:text-lg  text-[#31393C]  font-semibold mt-5" id="listview">
          05.01. List View
        </h3>
        <Image
        loading="lazy"
        src={list_view}
        alt="List View"
        class="mt-3"
      />
      <ul class="!list-disc ml-7 text-sm md:text-base text-[#31393C]">
        <li class="mt-5">
          In the Quotation doctype, there's a section "Follow Up" where you can create new follow-ups, remove existing ones, and make updates as necessary.
        </li>
        <li class="mt-2">
          The second option involves accessing the follow-up from the follow-up list. To add a new follow-up, click "Add Follow-Up" and create a new document.
        </li>
        <ul>
        </div>



        <div class="mt-5 lg:mt-10" >
        
        <h3 class="text-sm md:text-base lg:text-lg  text-[#31393C]  font-semibold mt-5" id="calenderview">
          05.02. Calendar View
        </h3>
        <Image
        loading="lazy"
        src={calender_view}
        alt="Calendar View"
        class="mt-3"
      />
      <ul class="!list-disc ml-7 text-sm md:text-base text-[#31393C]">
        <li class="mt-5">
          The Calendar view provides a visual representation of all scheduled follow-ups. Users can easily reschedule follow-up events by dragging and dropping them. Additionally, follow-ups can be color-coded based on the color selected in the follow-up form.
        </li>
    
        <ul>
        </div>

        <div class="mt-5 lg:mt-10"  >
        
        <h3 class="text-sm md:text-base lg:text-lg  text-[#31393C]  font-semibold mt-5" id="ganttview">
          05.03. Gantt View
        </h3>
        <Image
        loading="lazy"
        src={gantt_view}
        alt="Gantt View"
        class="mt-3"
      />
      <ul class="!list-disc ml-7 text-sm md:text-base text-[#31393C]">
        <li class="mt-5">
          The Gantt View is a powerful tool for follow-up management. It provides a visual representation of scheduled follow-ups and their progress. Users can easily reschedule follow-up events by dragging and dropping them.
        </li>
    
        <ul>
        </div>


        <div class="mt-5 lg:mt-10" >
        
        <h3 class="text-sm md:text-base lg:text-lg  text-[#31393C]  font-semibold mt-5" id="kanbanview">
          05.04. Kanban View
        </h3>
        <Image
        loading="lazy"
        src={kanban_view}
        alt="Kanban View"
        class="mt-3"
      />
      <ul class="!list-disc ml-7 text-sm md:text-base text-[#31393C]">
        <li class="mt-5">
          The Kanban view is a visual and intuitive tool for managing follow-up tasks, ensuring that no tasks are missed and enhancing overall efficiency and productivity.
        </li>
    
        <ul>
        </div>


        <div class="mt-5 lg:mt-10" >
        
        <h3 class="text-sm md:text-base lg:text-lg  text-[#31393C]  font-semibold mt-5" id="followupscreen">
         05.05. Follow Up Screen
        </h3>
        <Image
        loading="lazy"
        src={follow_up_screen}
        alt="Follow Up Screen"
        class="mt-3"
      />
      <ul class="!list-disc ml-7 text-sm md:text-base text-[#31393C]">
        <li class="mt-5">
          This is the view of the follow-up form where you can create and showcase follow-up information.
        </li>
    
        <ul>
        </div>

        <div class="mt-5 lg:mt-10" >
        
          <h3 class="text-sm md:text-base lg:text-lg  text-[#31393C]  font-semibold mt-5" id="followupfields">
            05.06. Follow Up Fields
          </h3>
  
        <div class="overflow-x-auto mt-5">
          <table class="min-w-full bg-white border border-[#DDE6EE] rounded-lg">
            <thead>
              <tr>
                <th class="py-2 px-4  border-b border-r bg-[#F6FBFF] border-[#DDE6EE] text-left text-sm md:text-base font-semibold text-[#31393C]">Field Name</th>
                <th class="py-2 px-4  border-b border-r border-[#DDE6EE] bg-[#F6FBFF] text-left text-sm md:text-base font-semibold text-[#31393C]">Description</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="py-2 px-4 border-b border-r border-[#DDE6EE] text-sm md:text-base text-[#31393C]">Follow Up From</td>
                <td class="py-2 px-4 border-b border-r border-[#DDE6EE] text-sm md:text-base text-[#31393C]">Follow Up From. Like a from Lead or Quotation.</td>
              </tr>
              <tr>
                <td class="py-2 px-4 border-b border-r border-[#DDE6EE] text-sm md:text-base text-[#31393C]">Lead</td>
                <td class="py-2 px-4 border-b border-r border-[#DDE6EE] text-sm md:text-base text-[#31393C]">Link with lead doctype to create from lead doctype.</td>
              </tr>
              <tr>
                <td class="py-2 px-4 border-b border-r border-[#DDE6EE] text-sm md:text-base text-[#31393C]">Follow Up By</td>
                <td class="py-2 px-4 border-b border-r border-[#DDE6EE] text-sm md:text-base text-[#31393C]">Who is responsible for the follow-up? Please link the user here.</td>
              </tr>
              <tr>
                <td class="py-2 px-4 border-b border-r border-[#DDE6EE] text-sm md:text-base text-[#31393C]">Color</td>
                <td class="py-2 px-4 border-b border-r border-[#DDE6EE] text-sm md:text-base text-[#31393C]">Set the color for Gantt and Calendar view.</td>
              </tr>
              <tr>
                <td class="py-2 px-4 border-b border-r border-[#DDE6EE] text-sm md:text-base text-[#31393C]">User Name</td>
                <td class="py-2 px-4 border-b border-r border-[#DDE6EE] text-sm md:text-base text-[#31393C]">Fetch the name from the linked follow-up by the user</td>
              </tr>
              <tr>
                <td class="py-2 px-4 border-b border-r border-[#DDE6EE] text-sm md:text-base text-[#31393C]">Priority</td>
                <td class="py-2 px-4 border-b border-r border-[#DDE6EE] text-sm md:text-base text-[#31393C]">Set priority for follow-up. Hot/Cold/Warm</td>
              </tr>
              <tr>
                <td class="py-2 px-4 border-b border-r border-[#DDE6EE] text-sm md:text-base text-[#31393C]">Status</td>
                <td class="py-2 px-4 border-b border-r border-[#DDE6EE] text-sm md:text-base text-[#31393C]">Set the status as per requirement. Like follow-up is complete set status is Completed.</td>
              </tr>
              <tr>
                <td class="py-2 px-4 border-b border-r border-[#DDE6EE] text-sm md:text-base text-[#31393C]">Communication Type</td>
                <td class="py-2 px-4 border-b border-r border-[#DDE6EE] text-sm md:text-base text-[#31393C]">Set the type of communication.</td>
              </tr>
              <tr>
                <td class="py-2 px-4 border-b border-r border-[#DDE6EE] text-sm md:text-base text-[#31393C]">Follow Up Datetime</td>
                <td class="py-2 px-4 border-b border-r border-[#DDE6EE] text-sm md:text-base text-[#31393C]">Set a date & time for a reminder.</td>
              </tr>
              <tr>
                <td class="py-2 px-4 border-b border-r border-[#DDE6EE] text-sm md:text-base text-[#31393C]">Follow Up End Datetime</td>
                <td class="py-2 px-4 border-b border-r border-[#DDE6EE] text-sm md:text-base text-[#31393C]">The default end time is automatically set to 30 minutes after the start time.</td>
              </tr>
              <tr>
                <td class="py-2 px-4 border-b border-r border-[#DDE6EE] text-sm md:text-base text-[#31393C]">Sent Reminder</td>
                <td class="py-2 px-4 border-b border-r border-[#DDE6EE] text-sm md:text-base text-[#31393C]">If a reminder has been sent, this checkbox will be automatically ticked.</td>
              </tr>
              <tr>
                <td class="py-2 px-4 border-b border-r border-[#DDE6EE] text-sm md:text-base text-[#31393C]">Remarks</td>
                <td class="py-2 px-4 border-b border-r border-[#DDE6EE] text-sm md:text-base text-[#31393C]">Set notes for follow-up.</td>
              </tr>
            </tbody>
          </table>
        </div>
  
        </div>
        <div class="mt-5 lg:mt-10" >
        
          <h3 class="text-sm md:text-base lg:text-lg  text-[#31393C]  font-semibold mt-5" id="followupstatus">
            05.07. Follow Up Status
          </h3>
  
        <div class="overflow-x-auto mt-5">
          <table class="min-w-full bg-white border border-[#DDE6EE] rounded-lg">
            <thead>
              <tr>
                <th class="py-2 px-4  border-b border-r bg-[#F6FBFF] border-[#DDE6EE] text-left text-sm md:text-base font-semibold text-[#31393C]">Status Name</th>
                <th class="py-2 px-4  border-b border-r border-[#DDE6EE] bg-[#F6FBFF] text-left text-sm md:text-base font-semibold text-[#31393C]">Description</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="py-2 px-4 border-b border-r border-[#DDE6EE] text-sm md:text-base text-[#31393C]">Upcoming</td>
                <td class="py-2 px-4 border-b border-r border-[#DDE6EE] text-sm md:text-base text-[#31393C]">By default, the status is Upcoming to set for future follow-up</td>
              </tr>
              <tr>
                <td class="py-2 px-4 border-b border-r border-[#DDE6EE] text-sm md:text-base text-[#31393C]">Pending</td>
                <td class="py-2 px-4 border-b border-r border-[#DDE6EE] text-sm md:text-base text-[#31393C]">If the follow-up is not taken before the follow-up date & time, the status will automatically be set to Pending.</td>
              </tr>
              <tr>
                <td class="py-2 px-4 border-b border-r border-[#DDE6EE] text-sm md:text-base text-[#31393C] lg:w-[196px] xl:min-w-[226px]">Completed </td>
                <td class="py-2 px-4 border-b border-r border-[#DDE6EE] text-sm md:text-base text-[#31393C]">If follow-up is complete then the status is marked as completed.</td>
              </tr>
              <tr>
                <td class="py-2 px-4 border-b border-r border-[#DDE6EE] text-sm md:text-base text-[#31393C]">Cancelled</td>
                <td class="py-2 px-4 border-b border-r border-[#DDE6EE] text-sm md:text-base text-[#31393C]">If a follow-up is canceled, the status is set to "Cancelled."</td>
              </tr>
            
            </tbody>
          </table>
        </div>
      </div>


        <div class="mt-5 lg:mt-10" >
        
          <h3 class="text-sm md:text-base lg:text-lg  text-[#31393C]  font-semibold mt-5" id="followuppriority">
          05.08. Follow Up Priority
          </h3>
  
        <div class="overflow-x-auto mt-5">
          <table class="min-w-full bg-white border border-[#DDE6EE] rounded-lg">
            <thead>
              <tr>
                <th class="py-2 px-4  border-b border-r bg-[#F6FBFF] border-[#DDE6EE] text-left text-sm md:text-base font-semibold text-[#31393C]">Status Name</th>
                <th class="py-2 px-4  border-b border-r border-[#DDE6EE] bg-[#F6FBFF] text-left text-sm md:text-base font-semibold text-[#31393C]">Description</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="py-2 px-4 border-b border-r border-[#DDE6EE] text-sm md:text-base text-[#31393C]">Cold</td>
                <td class="py-2 px-4 border-b border-r border-[#DDE6EE] text-sm md:text-base text-[#31393C]">If the follow-up priority is low, it is set as "Cold".</td>
              </tr>
              <tr>
                <td class="py-2 px-4 border-b border-r border-[#DDE6EE] text-sm md:text-base text-[#31393C]">Hot</td>
                <td class="py-2 px-4 border-b border-r border-[#DDE6EE] text-sm md:text-base text-[#31393C]">If the follow-up priority is high, it is set as "Hot".</td>
              </tr>
              <tr>
                <td class="py-2 px-4 border-b border-r border-[#DDE6EE] text-sm md:text-base text-[#31393C] lg:w-[196px] xl:w-[226px]">Warm </td>
                <td class="py-2 px-4 border-b border-r border-[#DDE6EE] text-sm md:text-base text-[#31393C]">If the follow-up priority is medium, it is set as "Warm".</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

        <div class="mt-5 lg:mt-10" >
        
          <h3 class="text-sm md:text-base lg:text-lg  text-[#31393C]  font-semibold mt-5" id="communicationtype">
            05.09. Communication Type
          </h3>
  
        <div class="overflow-x-auto mt-5">
          <table class="min-w-full bg-white border border-[#DDE6EE] rounded-lg">
            <thead>
              <tr>
                <th class="py-2 px-4  border-b border-r bg-[#F6FBFF] border-[#DDE6EE] text-left text-sm md:text-base font-semibold text-[#31393C]">Type</th>
                <th class="py-2 px-4  border-b border-r border-[#DDE6EE] bg-[#F6FBFF] text-left text-sm md:text-base font-semibold text-[#31393C]">Description</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="py-2 px-4 border-b border-r border-[#DDE6EE] text-sm md:text-base text-[#31393C]">Call</td>
                <td class="py-2 px-4 border-b border-r border-[#DDE6EE] text-sm md:text-base text-[#31393C]">If a call is taken, the communication type is called "Call."</td>
              </tr>
              <tr>
                <td class="py-2 px-4 border-b border-r border-[#DDE6EE] text-sm md:text-base text-[#31393C]">Email</td>
                <td class="py-2 px-4 border-b border-r border-[#DDE6EE] text-sm md:text-base text-[#31393C]">If the follow-up is conducted via email, the type is "Email."</td>
              </tr>
              <tr>
                <td class="py-2 px-4 border-b border-r border-[#DDE6EE] text-sm md:text-base text-[#31393C]  lg:min-w-[196px] xl:w-[226px]">SMS </td>
                <td class="py-2 px-4 border-b border-r border-[#DDE6EE] text-sm md:text-base text-[#31393C]">If the follow-up is conducted via SMS, the type is "SMS."</td>
              </tr>
              <tr>
                <td class="py-2 px-4 border-b border-r border-[#DDE6EE] text-sm md:text-base text-[#31393C]">Whatsapp </td>
                <td class="py-2 px-4 border-b border-r border-[#DDE6EE] text-sm md:text-base text-[#31393C]">If the follow-up is conducted via Whatsapp, the type is "Whatsapp."</td>
              </tr>
              <tr>
                <td class="py-2 px-4 border-b border-r border-[#DDE6EE] text-sm md:text-base text-[#31393C] ">Visit </td>
                <td class="py-2 px-4 border-b border-r border-[#DDE6EE] text-sm md:text-base text-[#31393C]">If the follow-up is conducted via Field Visit, the type is "Visit."</td>
              </tr>
            </tbody>
          </table>
        </div>
  
        </div>


        <div class="mt-5 lg:mt-10" >
        
        <h3 class="text-sm md:text-base lg:text-lg  text-[#31393C]  font-semibold mt-5" id="reminder">
       05.10. Reminder
        </h3>
      
      <ul class="!list-disc ml-7 text-sm md:text-base text-[#31393C]">
        <li class="mt-5">
          If the status is 'Upcoming,' email reminders and system notifications will be dispatched 30 minutes before the scheduled time specified in the follow-up date-time field.
        </li>
        <li class="mt-3">
          For the email reminder, we have to set the default email account.
        </li>
    
        <ul>
        </div>





        <div class="mt-5 lg:mt-10" >
        
          <h3 class="text-sm md:text-base lg:text-lg  text-[#31393C]  font-semibold mt-5" id="automaticupdate">
            05.11. Automatic status update
          </h3>
          <Image
          loading="lazy"
          src={automatic_status_update}
          alt="Automatic status update"
          class="mt-3"
        />
        <ul class="!list-disc ml-7 text-sm md:text-base text-[#31393C]">
          <li class="mt-5">
            If the follow-up is not taken before the follow-up date & time, the status will automatically be set to Pending.
          </li>
      
          <ul>
          </div>



          <div class="mt-5 lg:mt-10" >
         
            <h2
            class="text-lg md:text-xl lg:text-2xl text-[#31393C]  font-semibold mt-5" id="dashboardreport"
          >
          06. Dashboard & Report
          </h2>
         
          <Image
          loading="lazy"
          src={Dashboard}
          alt="List View"
          class="mt-3"
        />
          <Image
          loading="lazy"
          src={report}
          alt="report"
          class="mt-5"
        />
        <ul class="!list-disc ml-7 text-sm md:text-base text-[#31393C]">
          <li class="mt-5">
            The follow-up dashboard provides a centralized view of all follow-up and their statuses across different forms. Dashboards use visual elements such as charts, and graphs to present data in an easily digestible format, making it simpler to understand trends and patterns.
          </li>
         
          <ul>
          </div>
      </div>


      <div class="mt-5 lg:mt-10" >
        <h2
        class="text-[1.25rem] md:text-[1.50rem] lg:text-[1.75rem] font-semibold  leading-9 text-[#3D96F5]" id="support"
      >
      Support 
      </h2>
      <form class="p-6" id="support_form">
        <!-- Name Field -->
        <div class="mb-4 flex flex-col lg:flex-row gap-5">
          <input
            placeholder="Name *"
            type="text"
            id="support_name"
            name="support_name"
            required
            class="mt-1 p-2 w-full border border-gray-300 rounded focus:outline-none focus:ring focus:ring-blue-300 "
          />
          <input
            placeholder="Email *"
            type="email"
            id="support_email"
            name="support_email"
            required
            class="mt-1 p-2 w-full border border-gray-300 rounded focus:outline-none focus:ring focus:ring-blue-300 "
          />
        </div>

    

        <!-- Phone Number Field -->
        <!-- <div class="mb-4">
          <select
            id="support_issue"
            name="support_issue"
            class="mt-1 p-2 w-full border border-gray-300 rounded focus:outline-none focus:ring focus:ring-blue-300 "
          />
          <option value="What’s the issue?" >What’s the issue?/ Feedback</option>
          <option value="x">x</option>
          <option value="y">y</option>
          <option value="z">y</option>
        </select>
        </div> -->

        <!-- Description Field -->
        <div class="mb-4">
          <textarea
            placeholder="What’s the issue? / Feedback "
            id="support_requirements"
            name="support_requirements"
            required
            class="mt-1 p-2 w-full border border-gray-300 rounded focus:outline-none focus:ring focus:ring-blue-300 "
            rows="4"></textarea>
        </div>

        
       

          <!-- Submit Button -->
          <div>
            <button
              type="submit"
              class="mt-3  flex gap-5 items-center bg-[#3E96F4] rounded-lg px-3 md:px-3 lg:px-5 py-2 md:py-2 lg:py-3 max-w-[180px]"
            >
           <p class="text-white font-semibold  text-sm md:text-base">
            Send
          </p>
          <Image
            loading="eager"
            src={right_arrow}
            width={6}
            height={12}
            alt="right arrow "
          />

            </button>
          </div>


      </form>
      </div>


      




      <div
      x-data="{ accordion: 0 }"
      class="grid gap-5  rounded-[20px] text-[#31393C] p-3 md:p-4 lg:p-5 "
     
    >
      <h2
        class="text-[1.25rem] md:text-[1.50rem] lg:text-[1.75rem] font-semibold  leading-9 text-[#3D96F5]"  id="faq"
      >
      FAQ
      </h2>
      <div class="bg-white rounded-xl border">
        <div
          class="flex justify-between p-4 cursor-pointer"
          @click="accordion = accordion == 0 ? 1 : 0"
        >
          <p class="font-semibold text-sm md:text-sm lg:text-base">
            How can sales teams use the app to manage their leads?

          </p>
          <Image
            loading="lazy"
            :class="accordion === 1 ? 'block' : 'hidden'"
            src={down_arrow}
            alt="down-arrow"
          />
          <Image
            loading="lazy"
            :class="accordion !== 1 ? 'block' : 'hidden'"
            src={up_arrow}
            alt="up-arrow"
          />
        </div>
        <div
          class="overflow-hidden bg-white rounded-b-[10px]"
          :class="accordion !== 0 ? 'h-0' : 'border-t-2'"
        >
          <p class="text-xs md:text-sm lg:text-base p-5">
            Sales teams can use the "Lead" section to create new follow-ups, update existing ones, and delete follow-ups as needed. This helps keep track of potential clients and ensure timely follow-ups.

          </p>
        </div>
      </div>

      <div class="bg-white rounded-xl border">
        <div
          class="flex justify-between p-4 cursor-pointer"
          @click="accordion = accordion == 2 ? 0 : 2"
        >
          <p class="font-semibold text-sm md:text-sm lg:text-base">
            How can marketing teams benefit from the calendar view for follow-up activities?

          </p>
          <Image
            loading="lazy"
            :class="accordion !== 2 ? 'block' : 'hidden'"
            src={down_arrow}
            alt="down-arrow"
          />
          <Image
            loading="lazy"
            :class="accordion === 2 ? 'block' : 'hidden'"
            src={up_arrow}
            alt="up-arrow"
          />
        </div>
        <div
          class="overflow-hidden bg-white rounded-b-[10px]"
          :class="accordion !== 2 ? 'h-0' : 'border-t-2'"
        >
          <p class="text-xs md:text-sm lg:text-base p-5">
            Marketing teams can use the Calendar View to see a visual representation of all scheduled follow-ups. They can reschedule follow-up events and colour-code follow-ups for better organisation.
          </p>
        </div>
      </div>

      <div class="bg-white rounded-xl border">
        <div
          class="flex justify-between p-4 cursor-pointer"
          @click="accordion = accordion == 3 ? 0 : 3"
        >
          <p class="font-semibold text-sm md:text-sm lg:text-base">
            On which form can I use follow-ups?

          </p>
          <Image
            loading="lazy"
            :class="accordion !== 3 ? 'block' : 'hidden'"
            src={down_arrow}
            alt="down-arrow"
          />
          <Image
            loading="lazy"
            :class="accordion === 3 ? 'block' : 'hidden'"
            src={up_arrow}
            alt="up-arrow"
          />
        </div>
        <div
          class="overflow-hidden bg-white rounded-b-[10px]"
          :class="accordion !== 3 ? 'h-0' : 'border-t-2'"
        >
          <p class="text-xs md:text-sm lg:text-base p-5">
            Follow-ups can be applied on the Lead form. You can create, update, and delete follow-ups within the Lead section to ensure timely communication with potential clients.

          </p>
        </div>
      </div>

      <div class="bg-white rounded-xl border">
        <div
          class="flex justify-between p-4 cursor-pointer"
          @click="accordion = accordion == 4 ? 0: 4"
        >
          <p class="font-semibold text-sm md:text-sm lg:text-base">
            Can I  use follow-ups on quotations?

          </p>
          <Image
            loading="lazy"
            :class="accordion !== 4 ? 'block' : 'hidden'"
            src={down_arrow}
            alt="down-arrow"
          />
          <Image
            loading="lazy"
            :class="accordion === 4 ? 'block' : 'hidden'"
            src={up_arrow}
            alt="up-arrow"
          />
        </div>
        <div
          class="overflow-hidden bg-white rounded-b-[10px]"
          :class="accordion !== 4 ? 'h-0' : 'border-t-2'"
        >
          <p class="text-xs md:text-sm lg:text-base p-5">
            Yes, follow-ups can be applied to the Quotation form. You can manage follow-ups in the Quotation section using the same steps as for leads, ensuring that all quotations are followed up effectively.

          </p>
        </div>
      </div>

      <div class="bg-white rounded-xl border">
        <div
          class="flex justify-between p-4 cursor-pointer"
          @click="accordion = accordion == 5 ? 0: 5"
        >
          <p class="font-semibold text-sm md:text-sm lg:text-base">
            How can executives use the dashboard and reports to track follow-up performance?

          </p>
          <Image
            loading="lazy"
            :class="accordion !== 5 ? 'block' : 'hidden'"
            src={down_arrow}
            alt="down-arrow"
          />
          <Image
            loading="lazy"
            :class="accordion === 5 ? 'block' : 'hidden'"
            src={up_arrow}
            alt="up-arrow"
          />
        </div>
        <div
          class="overflow-hidden bg-white rounded-b-[10px]"
          :class="accordion !== 5 ? 'h-0' : 'border-t-2'"
        >
          <p class="text-xs md:text-sm lg:text-base p-5">
            Executives can use the dashboard to get a centralized view of all follow-ups and their statuses. The dashboard uses visual elements like charts and graphs to present data, making it easier to understand trends and performance metrics.

          </p>
        </div>
      </div>

    
    </div>
    </div>
    </div>
    </div>
   
  </section>
  
</body>
  <style>
   li::marker {
      color: #727578;
    }

    .dot li::marker {
    color: #92C9FF;
}


.is-active {
  svg path {
    fill: #3E96F4; /* Change to desired active color */
  }

  .activedot li::marker {
    color: #3E96F4; 
  }

  h2 {
    color: #3E96F4; /* Change to desired active color */
  }
}


    .shadow-box {
      box-shadow: 0px 0px 5px 5px #0000001c;
    }

    .getting_started {
      border-radius: 10px;
      border: 1px solid #dadada;
      background: linear-gradient(135deg, #ecf5ff 0%, #fff 100%);
    }



    .menu-hidden {
    display: none;
}

.menu-visible {
    display: block;
}

.container {
    cursor: pointer;
    /* Add additional styling as needed */
}



    #tablecontentmenu {
      display: none;
     
      
    }

  </style>



<script>

document.addEventListener('DOMContentLoaded', function() {
    document.querySelector('.toggle-menu').addEventListener('click', function() {
        toggleMenu();
    });
});

function toggleMenu() {
    const menu = document.getElementById('mobile-menu');
    if (menu.classList.contains('menu-hidden')) {
        menu.classList.remove('menu-hidden');
        menu.classList.add('menu-visible');
    } else {
        menu.classList.remove('menu-visible');
        menu.classList.add('menu-hidden');
    }
}


  document.addEventListener('DOMContentLoaded', function() {
    const buttons = document.querySelectorAll('.button');
    let activeButton = null;

    buttons.forEach(button => {
      button.addEventListener('click', function(event) {
        // Prevent the default action if needed
        event.preventDefault();

        const href = this.getAttribute('href'); // Get the href attribute value
        window.location.href = href; // Redirect to the URL
        
        // Remove active class from previous button
        if (activeButton) {
          activeButton.classList.remove('active');
        }

        // Add active class to clicked button
        button.classList.add('active');

        // Update the active button reference
        activeButton = button;
      });
    });
  });


  function ready(fn) {
  document.addEventListener('DOMContentLoaded', fn, false)
}

ready(() => {
  const motionQuery = window.matchMedia('(prefers-reduced-motion)')

  const TableOfContents = {
    container: document.querySelector('.js-toc'),
    links: null,
    headings: null,
    intersectionOptions: {
      rootMargin: '0px',
      threshold: 1
    },
    previousSection: null,
    observer: null,

    init() {
      this.handleObserver = this.handleObserver.bind(this)

      this.setUpObserver()
      this.findLinksAndHeadings()
      this.observeSections()


      this.links.forEach(link => {
        link.addEventListener('click', this.handleLinkClick.bind(this))
      })
    },
    

    handleLinkClick(evt) {
      evt.preventDefault()
      let id = evt.target.getAttribute('href').replace('#', '')

      let section = this.headings.find(heading => {
        return heading.getAttribute('id') === id
      })

      section.setAttribute('tabindex', -1)
      section.focus()

      window.scroll({
        behavior: motionQuery.matches ? 'instant' : 'smooth',
        top: section.offsetTop - 15,
        block: 'start'
      })

      if (this.container.classList.contains('is-active')) {
        this.container.classList.remove('is-active')
      }
    },

    handleObserver(entries, observer) {
      entries.forEach(entry => {
        let href = `#${entry.target.getAttribute('id')}`,
          link = this.links.find(l => l.getAttribute('href') === href)
        

        if (entry.isIntersecting && entry.intersectionRatio >= 1) {
          link.classList.add('is-visible')
          this.previousSection = entry.target.getAttribute('id')
        } else {
          link.classList.remove('is-visible')
        }

        this.highlightFirstActive()
      })
    },

    highlightFirstActive() {
      let firstVisibleLink = this.container.querySelector('.is-visible')

      this.links.forEach(link => {
        link.classList.remove('is-active')
      })

      if (firstVisibleLink) {
        firstVisibleLink.classList.add('is-active')
      }

      if (!firstVisibleLink && this.previousSection) {
        this.container.querySelector(
          `a[href="#${this.previousSection}"]`
        ).classList.add('is-active')
      }
    },

    observeSections() {
      this.headings.forEach(heading => {
        this.observer.observe(heading)
      })
    },

    setUpObserver() {
      this.observer = new IntersectionObserver(
        this.handleObserver,
        this.intersectionOptions
      )
    },

    findLinksAndHeadings() {
      this.links = [...this.container.querySelectorAll('a')]
      this.headings = this.links.map(link => {
        let id = link.getAttribute('href')
        return document.querySelector(id)
      })
    }
  }


  TableOfContents.init()
});
// -------------------------------------------------------------------------------------------------


    // Smooth scrolling function
    document.querySelectorAll('a[href^="#"]').forEach((anchor) => {
      anchor.addEventListener("click", function (e) {
        e.preventDefault();

        document.querySelector(this.getAttribute("href")).scrollIntoView({
          behavior: "smooth",
        });
      });
    });

    var talk_form = document.getElementById("support_form");
    talk_form.addEventListener("submit", handleContactForm);

    // Add event listener to email input for real-time validation
    var emailInput = document.querySelector('input[name="support_email"]');
    emailInput.addEventListener("blur", validateEmailInput); // Changed event to "blur"

    function validateEmailInput() {
      const emailValue = emailInput.value.trim();
      const errorMessageElement = emailInput.nextElementSibling;

      if (emailValue === "") {
        hideErrorMessage(errorMessageElement); // Hide error message if email is empty
        emailInput.style.borderColor = ""; // Reset border color
        return;
      }

      if (!validateEmail(emailValue)) {
        blinkBorder(emailInput);
        displayErrorMessage(
          errorMessageElement,
          "Please enter a valid email address."
        );
      } else {
        hideErrorMessage(errorMessageElement); // Hide error message if email is valid
        emailInput.style.borderColor = ""; // Reset border color
      }
    }

    // Validation function for email
    function validateEmail(email) {
      const re =
        /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(String(email).toLowerCase());
    }

    function displayErrorMessage(errorMessageElement, message) {
      if (
        !errorMessageElement ||
        !errorMessageElement.classList.contains("error-message")
      ) {
        // If error message doesn't exist, create and insert it
        errorMessageElement = document.createElement("p");
        errorMessageElement.textContent = message;
        errorMessageElement.classList.add("error-message");
        errorMessageElement.style.color = "red"; // Adjust the color
        errorMessageElement.style.fontSize = "0.8rem"; // Adjust the font size
        errorMessageElement.style.marginTop = "0.2rem"; // Adjust the margin-top
        errorMessageElement.style.marginBottom = "0"; // Remove bottom margin

        // Insert the error message after the input field
        emailInput.parentNode.insertBefore(
          errorMessageElement,
          emailInput.nextSibling
        );
      } else {
        errorMessageElement.textContent = message; // Update existing error message
      }
    }

    function hideErrorMessage(errorMessageElement) {
      if (
        errorMessageElement &&
        errorMessageElement.classList.contains("error-message")
      ) {
        // If error message exists, remove it
        errorMessageElement.remove();
      }
    }

    const apiKey = import.meta.env.PUBLIC_ApiKey as string;
    const secretKey = import.meta.env.PUBLIC_SecretKey as string;
    

    function blinkBorder(element) {
      // If the border color is not red, set it to red
      if (element.style.borderColor !== "red") {
        element.style.borderColor = "red";
      } else {
        // If the border color is already red, reset it to its original state
        element.style.borderColor = "";
      }
    }

    function resetBorderColorOnFocus(inputElement) {
      inputElement.addEventListener("focus", () => {
        inputElement.style.borderColor = ""; // Remove the border color (set it to null)
      });
    }

    // send data in frappe
    function handleContactForm(e) {
      e.preventDefault();
      const form = e.target; // Get the form that triggered the submission

      const nameInput = form.querySelector('input[name="support_name"]');
      const emailInput = form.querySelector('input[name="support_email"]');
      const messageInput = document.querySelector(
        'textarea[name="support_requirements"]'
      );
      // const isuueInput = document.querySelector('select[name="support_issue"]');

      const nameValue = nameInput.value.trim();
      const emailValue = emailInput.value.trim();
      const messageValue = messageInput.value.trim();
      // const phoneValue = isuueInput.value.trim();

      resetBorderColorOnFocus(nameInput);
      resetBorderColorOnFocus(emailInput);
      resetBorderColorOnFocus(messageInput);
      // resetBorderColorOnFocus(isuueInput);

      if (nameValue === "") {
        blinkBorder(nameInput);
      }

      if (emailValue === "") {
        blinkBorder(emailInput);
      }

      if (messageValue === "") {
        blinkBorder(messageInput);
      }

      if (nameValue === "" || emailValue === "" || messageValue === "") {
        return;
      }

      const urlParams = new URLSearchParams(window.location.search);

      // Get the value of the 'page' parameter
      const pageValue = urlParams.get("page");

      const queryTypeValue = pageValue ? "Demo" : "General";

      // alert('Please select a file to upload.');
      const formData = new FormData(e.target);
      const data = Object.fromEntries(formData.entries());
      console.log(data);
    
      formData.set("data", JSON.stringify(data));
      var name = data.support_name;
      var email = data.support_email;
      var message = data.support_requirements;
    

      // // Function to get the user's IP address using ipify
      // function getUserIPAddress() {
      //   return fetch("https://api.ipify.org?format=json")
      //     .then((response) => response.json())
      //     .then((data) => data.ip)
      //     .catch((error) => {
      //       console.error("Error fetching IP address:", error);
      //       return null; // Handle the error gracefully
      //     });
      // }

      // getUserIPAddress().then((ipAddress) => {
      //   let { browserName, device } = detectBrowser();
      

        fetch("https://sanskar.frappe.cloud/api/resource/Issue", {
          method: "POST",
          headers: {
            Accept: "application/json",
            "Content-Type": "application/json",
            Authorization: `token ${apiKey}:${secretKey}`,
          },
          body: JSON.stringify({
            custom_full_name: name,
            raised_by: email,
            subject: message,
            customer: "Website Support",
            project:"Website Support",
           
            
          }),
        })
          .then((res) => {
          
            if (res.status === 200) {
              // alert("You have been registered successfully.")
              window.location.href = "/thank-you";
            } else {
              sendEmailNotification(
                name,
                email,
                message,
                "Website Support",
                "Website Support",
               
                res
              );
              alert("Failed to submit data. Please try after some time.");
            }
          })
          .catch((error) => {
            console.log(error);
          });
      // });
    }

    get_ip()
      .then((ipAddress) => {
        console.log("Received IP Address:", ipAddress);
      })
      .catch((error) => {
        console.error("Error:", error);
      });

    function get_ip() {
      // Return a Promise that resolves with the IP address
      return new Promise((resolve, reject) => {
        fetch("https://api.ipify.org?format=json")
          .then((response) => response.json())
          .then((data) => {
            const ipAddress = data.ip;
            // console.log("Public IP Address:", ipAddress);
            resolve(ipAddress); // Resolve the Promise with the IP address
          })
          .catch((error) => {
            console.error("Error fetching IP address:", error);
            reject(error); // Reject the Promise with the error
          });
      });
    }

    
    function detectBrowser() {
      const userAgent = navigator.userAgent;
      var browserName = "Unknown";

      // Check for Chrome
      if (userAgent.indexOf("Chrome") !== -1) {
        browserName = "Google Chrome";
      }
      // Check for Firefox
      else if (userAgent.indexOf("Firefox") !== -1) {
        browserName = "Mozilla Firefox";
      }
      // Check for Safari
      else if (userAgent.indexOf("Safari") !== -1) {
        browserName = "Apple Safari";
      }
      // Check for Edge
      else if (userAgent.indexOf("Edg") !== -1) {
        browserName = "Microsoft Edge";
      }
      // Check for Internet Explorer
      else if (
        userAgent.indexOf("MSIE") !== -1 ||
        userAgent.indexOf("Trident") !== -1
      ) {
        browserName = "Internet Explorer";
      }

      // Log the detected browser to the console
      //   console.log(`Detected browser: ${browserName}`);

      // Detect the device type based on screen size
      const screenWidth = window.innerWidth;
      var device = "Unknown";
      if (screenWidth <= 576) {
        device = "Mobile";
      } else if (screenWidth <= 992) {
        device = "Tablet";
      } else if (screenWidth <= 1200) {
        device = "Laptop";
      } else {
        device = "Desktop";
      }

      return { browserName, device };
    }

    function sendEmailNotification(
      name = "",
      email = "",
      message = "",
      customer="",
      project = "",
      // page_name=""
    
      
    ) {
      console.log("sending email notification...");
      // return
      fetch(
        "https://sanskartechnolab.com/api/method/astro_sanskar.api.send_form_failed_notification",
        {
          method: "POST",
          headers: {
            Accept: "application/json",
            "Content-Type": "application/json",
            // Authorization: `token ${apiKey}:${secretKey}`,
          },
          body: JSON.stringify({
            custom_full_name: name,
            raised_by: email,
            subject: message,
            customer: "Website Support",
            project:"Website Support",
            page_name: "Follow Up App",
          }),
        }
      )
        .then((res) => {
          if (res.status === 200) {
            // alert("You have been registered successfully.")
            console.log("email notification sent.");
          } else {
            console.log("failed to send email notification", res);
            alert(
              "We are unable to process your request. please send your requirements on info@sanskartechnolab.com"
            );
          }
        })
        .catch((error) => {
          console.log("error", error);
        });
    }

    function checkScrollPosition() {
  var scrollToTopButton = document.getElementById("tablecontentmenu");

  if (window.scrollY > 400) {
    scrollToTopButton.style.display = "block";
  } else {
    scrollToTopButton.style.display = "none";
  }
}

// Function to add or remove the scroll event listener based on screen width
function handleResize() {
  if (window.innerWidth <= 768) { // Mobile screen width threshold
    window.addEventListener("scroll", checkScrollPosition);
  } else {
    window.removeEventListener("scroll", checkScrollPosition);
    var scrollToTopButton = document.getElementById("tablecontentmenu");
    scrollToTopButton.style.display = "none"; // Ensure button is hidden on larger screens
  }
}

// Attach the resize event listener to the window
window.addEventListener("resize", handleResize);

// Initial check when the page loads
document.addEventListener("DOMContentLoaded", function() {
  handleResize();
});




        document.addEventListener("DOMContentLoaded", function() {
  var links = document.querySelectorAll('a[href^="#"]');
  
  links.forEach(function(link) {
    link.addEventListener("click", function(e) {
      e.preventDefault();
      var target = this.hash;
      var targetElement = document.querySelector(target);
      
      window.scrollTo({
        top: targetElement.offsetTop - 75, // Adjusted to include 100px offset
        behavior: 'smooth'
      });

      // Uncomment the next line if you want to update the URL hash
      // window.location.hash = target;
    });
  });
});





</script>


</Layout>
