---
import Layout from "../layouts/Layout.astro";
import "../styles.css";
import { Image, Picture } from "@astrojs/image/components";

import facebook_logo from "../../public/Images/facebook_logo.svg";
import meta_intro from "../../public/Images/meta_intro.svg";
import create_app from "../../public/Images/create_app.svg";
import create_app_overview from "../../public/Images/create_app_overview.svg";
import bussiness_api_access from "../../public/Images/bussiness_api_access.svg";
import account_select from "../../public/Images/account_select.svg";
import setup_api from "../../public/Images/setup_api.svg";
import token_generate from "../../public/Images/token_generate.svg";
import api_explorer from "../../public/Images/api_explorer.svg";
import generate_access_token from "../../public/Images/generate_access_token.svg";
import right_sign from "../../public/Images/right_sign.svg";
import workspace from "../../public/Images/workspace.svg";
import facebook_dashboard from "../../public/Images/facebook_dashboard.svg";
import facebook_settings from "../../public/Images/facebook_settings.svg";
import facebook_ads_template from "../../public/Images/facebook_ads_template.svg";
import fb_templates from "../../public/Images/fb_templates.svg";
import facebook_post from "../../public/Images/facebook_post.svg";
import facebook_post_1 from "../../public/Images/facebook_post_1.svg";
import facebook_post_2 from "../../public/Images/facebook_post_2.svg";
import facebook_post_3 from "../../public/Images/facebook_post_3.svg";
import facebook_inquiry from "../../public/Images/facebook_inquiry.svg";
import facebook_inquiry_1 from "../../public/Images/facebook_inquiry_1.svg";
import facebook_inquiry_report from "../../public/Images/facebook_inquiry_report.svg";

import right_arrow from "../../public/Images/right-arrow.svg";
import down_arrow from "../../public/Images/down_arrow.svg";
import up_arrow from "../../public/Images/up_arrow.svg";
---

<Layout
  title="Facebook App | Sanskar Technolab"
  ,
  keyword="Facebook App,Facebook Integration,Facebook CRM Integration,Facebook Lead Follow Up,Facebook Sales App,Facebook Client Management"
  ,
  description="Sanskar Technolab offers comprehensive Facebook app solutions, including seamless integration with CRM systems to enhance lead management and follow-up processes. Improve your sales performance and client interactions with our innovative Facebook integration tools."
  ,
  canonical_href="https://sanskartechnolab.com/crm_follow_up_app_for_erpnext"
>
  <body>
    <!-- Follow-Up Management Start -->
    <section class="banner-bg">
      <div
        class="mx-5 md:max-w-7xl md:mx-auto md:px-24 py-[2rem] md:py-[2rem] lg:py-[4rem]"
      >
        <!-- <div
          class="max-w-[230px] flex flex-row items-center rounded-xl p-3 gap-2 lg:ml-auto"
             
        >
          <Image loading="lazy" src={facebook_logo} alt="facebook_logo" />
          <div class="text-[#4D4C4D]">
            <p class="text-sm md:text-base">Frappe App</p>
            <h4 class="text-xl md:text-2xl lg:text-3xl font-semibold">
              Facebook
            </h4>
          </div>
        </div> -->
        <div class="grid lg:grid-cols-10 grid-cols-1">
          <div class="lg:col-span-7 col-span-1 flex items-center">
            <h1 class="lg:text-4xl md:text-3xl text-xl font-bold text-[#31393C]">Facebook ERPNext Integration</h1>
          </div>
          <div class="lg:col-span-3 flex flex-row items-center lg:justify-end rounded-xl gap-2 lg:mt-0 md:mt-8 mt-4 ">
            <Image loading="lazy" src={facebook_logo} alt="facebook_logo" />
            <div class="text-[#4D4C4D] ">
              <p class="text-sm md:text-base">Frappe App</p>
              <h2 class="text-xl md:text-2xl lg:text-3xl font-semibold">Facebook</h2>
            </div>
          </div>
        </div>
        
        <iframe
          class="w-full lg:h-[39rem] md:h-[25rem] h-60 mt-5"
          src="https://www.youtube.com/embed/oRUEMuaW9BU"
          title="YouTube Video"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          loading="lazy"
          allowfullscreen></iframe>
        <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/OfXCC3xudjA?si=okYJiZOlY7EK_Iqc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe> -->
      </div>
    </section>

    <div
      class="w-full toggle-menu fixed top-24 z-10 settop bg-[#92C9FF] !md:hidden text-[#31393C]"
      id="tablecontentmenu"
    >
      <p class="text-center font-semibold p-5">Table of Contents</p>
      <ul id="mobile-menu" class="menu-hidden text-center">
        <li class="border-b-2 p-2"><a href="#introduction">Introduction</a></li>
        <li class="border-b-2 p-2"><a href="#key_features">Key Features</a></li>
        
        <li class="border-b-2 p-2">
          <a href="#setup_meta_developer_account"
            >Setup Meta Developer Account</a>
        </li>
        <li class="border-b-2 p-2"><a href="#workspace">Workspace</a></li>
        <li class="border-b-2 p-2">
          <a href="#facebook_dashboard">Facebook Dashboard</a>
        </li>
        <li class="border-b-2 p-2">
          <a href="#facebook_settings">Facebook Settings</a>
        </li>
        <li class="border-b-2 p-2">
          <a href="#facebook_ads_templates">Facebook Ads Templates</a>
        </li>
        <li class="border-b-2 p-2">
          <a href="#facebook_post">Facebook Post</a>
        </li>
        <li class="border-b-2 p-2">
          <a href="#facebook_enquiry">Facebook Enquiry</a>
        </li>
        <li class="border-b-2 p-2">
          <a href="#facebook_enquiry_report">Facebook Enquiry Report</a>
        </li>
        <li class="border-b-2 p-2"><a href="#support">Support</a></li>
        <li class="p-2"><a href="#faq">FAQ</a></li>
      </ul>
    </div>
    

    <!-- Table of Contents Start -->
    <section
      class="grid grid-cols-12 md:max-w-7xl md:mx-auto px-5 sm:px-12 md:px-24 py-[2rem] md:py-[2rem] lg:py-[4rem] w-full gap-5 lg:gap-10"
      id="tablecontent"
    >
      <div
        class="self-start sticky top-24 md:col-span-3 js-toc toc overflow-x-auto max-md:hidden"
      >
        <h2
          class="text-[#31393C] text-sm md:text-base lg:text-lg font-semibold border-b-2 px-5 py-2"
        >
          Table of Contents
        </h2>
        <a
          class="flex gap-2 items-center border-b-2 border-dotted px-5 py-2 button"
          href="#introduction"
        >
          <svg
            width="10"
            height="11"
            viewBox="0 0 10 11"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            id="vectorImage"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M5 9C6.933 9 8.5 7.433 8.5 5.5C8.5 3.567 6.933 2 5 2C3.067 2 1.5 3.567 1.5 5.5C1.5 7.433 3.067 9 5 9ZM5 10.5C7.76142 10.5 10 8.26142 10 5.5C10 2.73858 7.76142 0.5 5 0.5C2.23858 0.5 0 2.73858 0 5.5C0 8.26142 2.23858 10.5 5 10.5Z"
              fill="#727578"></path>
            <path d="M7 5.5L4 7.23205V3.76794L7 5.5Z" fill="#727578"></path>
          </svg>
          <h2 class="text-[#31393C] text-sm font-semibold">Inroduction</h2>
        </a>

        <a
          class="flex gap-2 items-center border-b-2 border-dotted px-5 py-2 button"
          href="#key_features"
        >
          <svg
            width="10"
            height="11"
            viewBox="0 0 10 11"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            id="vectorImage"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M5 9C6.933 9 8.5 7.433 8.5 5.5C8.5 3.567 6.933 2 5 2C3.067 2 1.5 3.567 1.5 5.5C1.5 7.433 3.067 9 5 9ZM5 10.5C7.76142 10.5 10 8.26142 10 5.5C10 2.73858 7.76142 0.5 5 0.5C2.23858 0.5 0 2.73858 0 5.5C0 8.26142 2.23858 10.5 5 10.5Z"
              fill="#727578"></path>
            <path d="M7 5.5L4 7.23205V3.76794L7 5.5Z" fill="#727578"></path>
          </svg>
          <h2 class="text-[#31393C] text-sm font-semibold">Key Features</h2>
        </a>

        <a
          class="flex gap-2 items-center border-b-2 border-dotted px-5 py-2 button"
          href="#setup_meta_developer_account"
        >
          <svg
            width="10"
            height="11"
            viewBox="0 0 10 11"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            id="vectorImage"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M5 9C6.933 9 8.5 7.433 8.5 5.5C8.5 3.567 6.933 2 5 2C3.067 2 1.5 3.567 1.5 5.5C1.5 7.433 3.067 9 5 9ZM5 10.5C7.76142 10.5 10 8.26142 10 5.5C10 2.73858 7.76142 0.5 5 0.5C2.23858 0.5 0 2.73858 0 5.5C0 8.26142 2.23858 10.5 5 10.5Z"
              fill="#727578"></path>
            <path d="M7 5.5L4 7.23205V3.76794L7 5.5Z" fill="#727578"></path>
          </svg>
          <h2 class="text-[#31393C] text-sm font-semibold">
            Setup Meta Developer Account
          </h2>
        </a>
        <a
          class="flex gap-2 items-center border-b-2 border-dotted px-5 py-2 button"
          href="#workspace"
        >
          <svg
            width="10"
            height="11"
            viewBox="0 0 10 11"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            id="vectorImage"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M5 9C6.933 9 8.5 7.433 8.5 5.5C8.5 3.567 6.933 2 5 2C3.067 2 1.5 3.567 1.5 5.5C1.5 7.433 3.067 9 5 9ZM5 10.5C7.76142 10.5 10 8.26142 10 5.5C10 2.73858 7.76142 0.5 5 0.5C2.23858 0.5 0 2.73858 0 5.5C0 8.26142 2.23858 10.5 5 10.5Z"
              fill="#727578"></path>
            <path d="M7 5.5L4 7.23205V3.76794L7 5.5Z" fill="#727578"></path>
          </svg>
          <h2 class="text-[#31393C] text-sm font-semibold">Workspace</h2>
        </a>

        <a
          class="flex gap-2 items-center border-b-2 border-dotted px-5 py-2 button"
          href="#facebook_dashboard"
        >
          <svg
            width="10"
            height="11"
            viewBox="0 0 10 11"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            id="vectorImage"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M5 9C6.933 9 8.5 7.433 8.5 5.5C8.5 3.567 6.933 2 5 2C3.067 2 1.5 3.567 1.5 5.5C1.5 7.433 3.067 9 5 9ZM5 10.5C7.76142 10.5 10 8.26142 10 5.5C10 2.73858 7.76142 0.5 5 0.5C2.23858 0.5 0 2.73858 0 5.5C0 8.26142 2.23858 10.5 5 10.5Z"
              fill="#727578"></path>
            <path d="M7 5.5L4 7.23205V3.76794L7 5.5Z" fill="#727578"></path>
          </svg>
          <h2 class="text-[#31393C] text-sm font-semibold">
            Facebook Dashboard
          </h2>
        </a>

        <a
          class="flex gap-2 items-center border-b-2 border-dotted px-5 py-2 button"
          href="#facebook_settings"
        >
          <svg
            width="10"
            height="11"
            viewBox="0 0 10 11"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            id="vectorImage"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M5 9C6.933 9 8.5 7.433 8.5 5.5C8.5 3.567 6.933 2 5 2C3.067 2 1.5 3.567 1.5 5.5C1.5 7.433 3.067 9 5 9ZM5 10.5C7.76142 10.5 10 8.26142 10 5.5C10 2.73858 7.76142 0.5 5 0.5C2.23858 0.5 0 2.73858 0 5.5C0 8.26142 2.23858 10.5 5 10.5Z"
              fill="#727578"></path>
            <path d="M7 5.5L4 7.23205V3.76794L7 5.5Z" fill="#727578"></path>
          </svg>
          <h2 class="text-[#31393C] text-sm font-semibold">
            Facebook Settings
          </h2>
        </a>

        <a
          class="flex gap-2 items-center border-b-2 border-dotted px-5 py-2 button"
          href="#facebook_ads_templates"
        >
          <svg
            width="10"
            height="11"
            viewBox="0 0 10 11"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            id="vectorImage"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M5 9C6.933 9 8.5 7.433 8.5 5.5C8.5 3.567 6.933 2 5 2C3.067 2 1.5 3.567 1.5 5.5C1.5 7.433 3.067 9 5 9ZM5 10.5C7.76142 10.5 10 8.26142 10 5.5C10 2.73858 7.76142 0.5 5 0.5C2.23858 0.5 0 2.73858 0 5.5C0 8.26142 2.23858 10.5 5 10.5Z"
              fill="#727578"></path>
            <path d="M7 5.5L4 7.23205V3.76794L7 5.5Z" fill="#727578"></path>
          </svg>
          <h2 class="text-[#31393C] text-sm font-semibold">
            Facebook Ads Templates
          </h2>
        </a>

        <a
          class="flex gap-2 items-center border-b-2 border-dotted px-5 py-2 button"
          href="#facebook_post"
        >
          <svg
            width="10"
            height="11"
            viewBox="0 0 10 11"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            id="vectorImage"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M5 9C6.933 9 8.5 7.433 8.5 5.5C8.5 3.567 6.933 2 5 2C3.067 2 1.5 3.567 1.5 5.5C1.5 7.433 3.067 9 5 9ZM5 10.5C7.76142 10.5 10 8.26142 10 5.5C10 2.73858 7.76142 0.5 5 0.5C2.23858 0.5 0 2.73858 0 5.5C0 8.26142 2.23858 10.5 5 10.5Z"
              fill="#727578"></path>
            <path d="M7 5.5L4 7.23205V3.76794L7 5.5Z" fill="#727578"></path>
          </svg>
          <h2 class="text-[#31393C] text-sm font-semibold">Facebook Post</h2>
        </a>

        <a
          class="flex gap-2 items-center border-b-2 border-dotted px-5 py-2 button"
          href="#facebook_enquiry"
        >
          <svg
            width="10"
            height="11"
            viewBox="0 0 10 11"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            id="vectorImage"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M5 9C6.933 9 8.5 7.433 8.5 5.5C8.5 3.567 6.933 2 5 2C3.067 2 1.5 3.567 1.5 5.5C1.5 7.433 3.067 9 5 9ZM5 10.5C7.76142 10.5 10 8.26142 10 5.5C10 2.73858 7.76142 0.5 5 0.5C2.23858 0.5 0 2.73858 0 5.5C0 8.26142 2.23858 10.5 5 10.5Z"
              fill="#727578"></path>
            <path d="M7 5.5L4 7.23205V3.76794L7 5.5Z" fill="#727578"></path>
          </svg>
          <h2 class="text-[#31393C] text-sm font-semibold">Facebook Enquiry</h2>
        </a>

        <a
          class="flex gap-2 items-center border-b-2 border-dotted px-5 py-2 button"
          href="#facebook_enquiry_report"
        >
          <svg
            width="10"
            height="11"
            viewBox="0 0 10 11"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            id="vectorImage"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M5 9C6.933 9 8.5 7.433 8.5 5.5C8.5 3.567 6.933 2 5 2C3.067 2 1.5 3.567 1.5 5.5C1.5 7.433 3.067 9 5 9ZM5 10.5C7.76142 10.5 10 8.26142 10 5.5C10 2.73858 7.76142 0.5 5 0.5C2.23858 0.5 0 2.73858 0 5.5C0 8.26142 2.23858 10.5 5 10.5Z"
              fill="#727578"></path>
            <path d="M7 5.5L4 7.23205V3.76794L7 5.5Z" fill="#727578"></path>
          </svg>
          <h2 class="text-[#31393C] text-sm font-semibold">
            Facebook Enquiry Report
          </h2>
        </a>

        <a
          class="flex gap-2 items-center border-b-2 border-dotted px-5 py-2 button"
          href="#support"
        >
          <svg
            width="10"
            height="11"
            viewBox="0 0 10 11"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            id="vectorImage"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M5 9C6.933 9 8.5 7.433 8.5 5.5C8.5 3.567 6.933 2 5 2C3.067 2 1.5 3.567 1.5 5.5C1.5 7.433 3.067 9 5 9ZM5 10.5C7.76142 10.5 10 8.26142 10 5.5C10 2.73858 7.76142 0.5 5 0.5C2.23858 0.5 0 2.73858 0 5.5C0 8.26142 2.23858 10.5 5 10.5Z"
              fill="#727578"></path>
            <path d="M7 5.5L4 7.23205V3.76794L7 5.5Z" fill="#727578"></path>
          </svg>
          <h2 class="text-[#31393C] text-sm font-semibold">Support</h2>
        </a>
        <a
          class="flex gap-2 items-center border-b-2 border-dotted px-5 py-2 button"
          href="#faq"
        >
          <svg
            width="10"
            height="11"
            viewBox="0 0 10 11"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            id="vectorImage"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M5 9C6.933 9 8.5 7.433 8.5 5.5C8.5 3.567 6.933 2 5 2C3.067 2 1.5 3.567 1.5 5.5C1.5 7.433 3.067 9 5 9ZM5 10.5C7.76142 10.5 10 8.26142 10 5.5C10 2.73858 7.76142 0.5 5 0.5C2.23858 0.5 0 2.73858 0 5.5C0 8.26142 2.23858 10.5 5 10.5Z"
              fill="#727578"></path>
            <path d="M7 5.5L4 7.23205V3.76794L7 5.5Z" fill="#727578"></path>
          </svg>
          <h2 class="text-[#31393C] text-sm font-semibold">FAQ</h2>
        </a>
      </div>

      <div
        class="rounded-xl border p-4 lg:p-8 shadow-box col-span-12 md:col-span-9"
      >
        <div>
          <h2
            class="text-[#3E96F4] text-lg md:text-xl lg:text-2xl font-semibold"
            id="introduction"
          >
            Introduction
          </h2>
          <p class="mt-3 text-sm md:text-base text-[#31393C]">
            This application seamlessly integrates Facebook with ERPNext,
            allowing users to post, upload, and delete content directly from the
            ERPNext system.
          </p>
        </div>

        <div class="mt-5 lg:mt-10">
          <h2
            class="text-[#3E96F4] text-lg md:text-xl lg:text-2xl font-semibold"
            id="key_features"
          >
            Key Features
          </h2>
          <ul class="!list-disc ml-7 text-sm md:text-base text-[#31393C] dot">
            <li class="mt-5">Upload and Delete posts from the system.</li>
            <li class="mt-2">
              Getting all leads from the Facebook business account.
            </li>
          </ul>
        </div>

        <!-- Setup Meta Developer Account Start  -->

        <div class="mt-5 lg:mt-10">
          <h2
            class="text-[#3E96F4] text-lg md:text-xl lg:text-2xl font-semibold"
            id="setup_meta_developer_account"
          >
            Setup Meta Developer Account
          </h2>

          <ul class="list-disc ml-7 text-sm md:text-base mt-6 text-[#31393C]">
            <li>Upload and Delete posts from the system.</li>
          </ul>

          <Image
            loading="lazy"
            src={meta_intro}
            alt="meta_intro"
            class="mt-6"
          />

          <ul class="!list-disc ml-7 text-sm md:text-base text-[#31393C]">
            <li class="mt-5">
              Generate a new application to obtain the necessary credentials for
              uploading posts.
            </li>
          </ul>
        </div>
        <div class="mt-5">
          <Image
            loading="lazy"
            src={create_app}
            alt="create_app"
            class="mt-3"
          />
          <ul class="!list-disc ml-7 text-sm md:text-base text-[#31393C]">
            <li class="lg:mt-6 mt-4">
              Click on “Create App” to display the steps for creating an
              application.
            </li>

            <li class="lg:mt-5 mt-4">
              Choose the "Other" option to upload posts and get leads from
              Facebook.
            </li>
          </ul>
        </div>

        <div class="mt-5">
          <Image
            loading="lazy"
            src={create_app_overview}
            alt="create_app_overview"
            class="mt-3"
          />
          <ul class="!list-disc ml-7 text-sm md:text-base text-[#31393C]">
            <li class="lg:mt-6 mt-4">
              After clicking "Next," showcase the options for selecting the type
              of application.
            </li>

            <li class="lg:mt-5 mt-4">
              Choose "Business" to access the API for posting images and getting
              the leads.
            </li>
          </ul>
        </div>

        <div class="mt-5">
          <Image
            loading="lazy"
            src={bussiness_api_access}
            alt="bussiness_api_access"
            class="mt-3"
          />
          <ul class="!list-disc ml-7 text-sm md:text-base text-[#31393C]">
            <li class="lg:mt-6 mt-4">
              The next step is to provide the app name and email address. If you
              have a Facebook business account, select the appropriate account.
            </li>
          </ul>
        </div>

        <div class="mt-5">
          <Image
            loading="lazy"
            src={account_select}
            alt="account_select"
            class="mt-3"
          />
          <ul class="!list-disc ml-7 text-sm md:text-base text-[#31393C]">
            <li class="lg:mt-6 mt-4">Setup the marketing API</li>
          </ul>
        </div>

        <div class="mt-5">
          <Image loading="lazy" src={setup_api} alt="setup_api" class="mt-3" />
          <ul class="!list-disc ml-7 text-sm md:text-base text-[#31393C]">
            <li class="lg:mt-6 mt-4">
              Once you've set up the Marketing API, navigate to the "Graph API
              Explorer" by clicking on the "Tools" menu in the navbar. From
              there, you can configure permissions and generate a token.
            </li>
          </ul>
        </div>

        <div class="mt-5">
          <Image
            loading="lazy"
            src={token_generate}
            alt="token_generate"
            class="mt-3"
          />
          <ul class="!list-disc ml-7 text-sm md:text-base text-[#31393C]">
            <li class="lg:mt-6 mt-4">
              Select all the below-listed permissions as shown in the image
              below.
            </li>
          </ul>
        </div>

        <div class="grid xl:grid-cols-3 grid-cols-1 lg:gap-4 gap-2 mt-7">
          <!-- First Column -->
          <div>
            <label class="flex items-center">
              <Image loading="lazy" src={right_sign} alt="right_sign" />
              <span class="ml-2 text-sm text-[#31393C]">read_insights</span>
            </label>
            <label class="flex items-center lg:mt-4 mt-2">
              <Image loading="lazy" src={right_sign} alt="right_sign" />
              <span class="ml-2 text-sm text-[#31393C]">pages_manage_cta</span>
            </label>
            <label class="flex items-center lg:mt-4 mt-2">
              <Image loading="lazy" src={right_sign} alt="right_sign" />
              <span class="ml-2 text-sm text-[#31393C]">ads_read</span>
            </label>
            <label class="flex items-center lg:mt-4 mt-2">
              <Image loading="lazy" src={right_sign} alt="right_sign" />
              <span class="ml-2 text-sm text-[#31393C]"
                >instagram_manage_comments</span
              >
            </label>
            <label class="flex items-center lg:mt-4 mt-2">
              <Image loading="lazy" src={right_sign} alt="right_sign" />
              <span class="ml-2 text-sm text-[#31393C]">leads_retrieval</span>
            </label>
            <label class="flex items-center lg:mt-4 mt-2">
              <Image loading="lazy" src={right_sign} alt="right_sign" />
              <span class="ml-2 text-sm e text-[#31393C]"
                >pages_manage_metadata</span
              >
            </label>
            <label class="flex items-center lg:mt-4 mt-2">
              <Image loading="lazy" src={right_sign} alt="right_sign" />
              <span class="ml-2 text-sm text-[#31393C]">pages_manage_posts</span
              >
            </label>
            <label class="flex items-center lg:mt-4 mt-2">
              <Image loading="lazy" src={right_sign} alt="right_sign" />
              <span class="ml-2 text-sm text-[#31393C]"
                >instagram_branded_content_br<br
                  class="hidden lg:block"
                />and</span
              >
            </label>
            <label class="flex items-start lg:mt-4 mt-2">
              <Image
                loading="lazy"
                src={right_sign}
                alt="right_sign"
                class="mr-2 mt-1"
              />
              <span class="text-sm text-[#31393C]"
                >Configure these permissions to enable uploading posts on
                Facebook and getting the leads.</span
              >
            </label>
          </div>
          <!-- Second Column -->
          <div>
            <label class="flex items-center">
              <Image loading="lazy" src={right_sign} alt="right_sign" />
              <span class="ml-2 text-sm text-[#31393C]">publish_video</span>
            </label>

            <label class="flex items-center lg:mt-4 mt-2">
              <Image loading="lazy" src={right_sign} alt="right_sign" />
              <span class="ml-2 text-sm text-[#31393C]">pages_show_list</span>
            </label>

            <label class="flex items-center lg:mt-4 mt-2">
              <Image loading="lazy" src={right_sign} alt="right_sign" />
              <span class="ml-2 text-sm text-[#31393C]"
                >business_management</span
              >
            </label>

            <label class="flex items-center lg:mt-4 mt-2">
              <Image loading="lazy" src={right_sign} alt="right_sign" />
              <span class="ml-2 text-sm text-[#31393C]"
                >instagram_manage_insights</span
              >
            </label>

            <label class="flex items-center lg:mt-4 mt-2">
              <Image loading="lazy" src={right_sign} alt="right_sign" />
              <span class="ml-2 text-sm text-[#31393C]"
                >instagram_manage_messages</span
              >
            </label>

            <label class="flex items-center lg:mt-4 mt-2">
              <Image loading="lazy" src={right_sign} alt="right_sign" />
              <span class="ml-2 text-sm text-[#31393C]"
                >pages_read_user_content</span
              >
            </label>

            <label class="flex items-center lg:mt-4 mt-2">
              <Image loading="lazy" src={right_sign} alt="right_sign" />
              <span class="ml-2 text-sm text-[#31393C]"
                >pages_manage_engagement</span
              >
            </label>

            <label class="flex items-start lg:mt-4 mt-2">
              <Image
                loading="lazy"
                src={right_sign}
                alt="right_sign"
                class="mt-1"
              />
              <span class="ml-2 text-sm text-[#31393C]"
                >instagram_branded_content_crea<br
                  class="hidden lg:block"
                />tor</span
              >
            </label>

            <!-- Add more checkboxes -->
          </div>
          <!-- Third Column -->
          <div>
            <label class="flex items-center">
              <Image loading="lazy" src={right_sign} alt="right_sign" />
              <span class="ml-2 text-sm text-[#31393C]">catalog_management</span
              >
            </label>

            <label class="flex items-center lg:mt-4 mt-2">
              <Image loading="lazy" src={right_sign} alt="right_sign" />
              <span class="ml-2 text-sm text-[#31393C]">ads_management</span>
            </label>

            <label class="flex items-center lg:mt-4 mt-2">
              <Image loading="lazy" src={right_sign} alt="right_sign" />
              <span class="ml-2 text-sm text-[#31393C]">instagram_basic</span>
            </label>

            <label class="flex items-center lg:mt-4 mt-2">
              <Image loading="lazy" src={right_sign} alt="right_sign" />
              <span class="ml-2 text-sm text-[#31393C]"
                >instagram_content_publish</span
              >
            </label>

            <label class="flex items-center lg:mt-4 mt-2">
              <Image loading="lazy" src={right_sign} alt="right_sign" />
              <span class="ml-2 text-sm text-[#31393C]"
                >pages_read_engagement</span
              >
            </label>

            <label class="flex items-center lg:mt-4 mt-2">
              <Image loading="lazy" src={right_sign} alt="right_sign" />
              <span class="ml-2 text-sm text-[#31393C]">pages_manage_ads</span>
            </label>

            <label class="flex items-start lg:mt-4 mt-2">
              <Image
                loading="lazy"
                src={right_sign}
                alt="right_sign"
                class="mt-1"
              />
              <span class="ml-2 text-sm text-[#31393C]"
                >instagram_shopping_tag_produ<br
                  class="hidden lg:block"
                />cts</span
              >
            </label>

            <label class="flex items-center lg:mt-4 mt-2">
              <Image loading="lazy" src={right_sign} alt="right_sign" />
              <span class="ml-2 text-sm text-[#31393C]"
                >Instagram_manage_events</span
              >
            </label>

            <!-- Add more checkboxes -->
          </div>
        </div>

        <div class="mt-7">
          <Image
            loading="lazy"
            src={api_explorer}
            alt="api_explorer"
            class="mt-3"
          />
          <ul class="!list-disc ml-7 text-sm md:text-base text-[#31393C]">
            <li class="lg:mt-6 mt-4">
              Select the user or page where you are to post, then generate an
              access token by clicking on "Generate Access Token."
            </li>
          </ul>
        </div>

        <div class="mt-5">
          <Image
            loading="lazy"
            src={generate_access_token}
            alt="generate_access_token"
            class="mt-3"
          />
        </div>

        <!-- Setup Meta Developer Account END  -->

        <!-- Workspace Start -->
        <div class="mt-5 lg:mt-10">
          <h2
            class="text-[#3E96F4] text-lg md:text-xl lg:text-2xl font-semibold"
            id="workspace"
          >
            Workspace
          </h2>

          <ul class="list-disc ml-7 text-sm md:text-base mt-6 text-[#31393C]">
            <li>
              In the Facebook workspace, you can access the Facebook Enquiry,
              Facebook Post, FaceBook Calender View, FaceBook Enquiry Report,
              FaceBook Enquiry Report, Facebook Dashboard, Facebook Ads
              Template, Facebook Dashboard, Facebook Settings, as well as view
              Cart Views and Line Chart Views.
            </li>
          </ul>

          <Image loading="lazy" src={workspace} alt="workspace" class="mt-6" />
        </div>

        <!-- Workspace End -->

        <!-- Facebook Dashboard Start -->
        <div class="mt-5 lg:mt-10">
          <h2
            class="text-[#3E96F4] text-lg md:text-xl lg:text-2xl font-semibold"
            id="facebook_dashboard"
          >
            Facebook Dashboard
          </h2>

          <ul class="list-disc ml-7 text-sm md:text-base mt-6 text-[#31393C]">
            <li>
              The dashboard displays a variety of data visualizations, including
              number cards, line charts, and bar charts, providing a clear and
              insightful representation of key metrics.
            </li>
          </ul>

          <Image
            loading="lazy"
            src={facebook_dashboard}
            alt="facebook_dashboard"
            class="mt-6"
          />
        </div>

        <!-- Facebook Dashboard End -->

        <!-- Facebook Setting Start -->
        <div class="mt-5 lg:mt-10">
          <h2
            class="text-[#3E96F4] text-lg md:text-xl lg:text-2xl font-semibold"
            id="facebook_settings"
          >
            Facebook Settings
          </h2>

          <ul class="list-disc ml-7 text-sm md:text-base mt-6 text-[#31393C]">
            <li>
              Enabling the setting grants users access to features for uploading
              and deleting posts and retrieving leads from Facebook.
            </li>
            <li class="mt-3">
              Obtain the client ID and client secret from the Facebook app
              settings and set them up here. Fill in all the details here from
              the generated Graph API explorer.
            </li>
            <li class="mt-3">
              By default, the page access token time limit is set to one hour.
              To extend this limit, adjust the time limit in the page access
              token field and click "generate" to extend the access token's
              duration to 60 days. After generating, this process automatically
              repeats every 20 days.
            </li>
          </ul>

          <Image
            loading="lazy"
            src={facebook_dashboard}
            alt="facebook_dashboard"
            class="mt-6"
          />
        </div>

        <!-- Facebook Setting End -->

        <!-- Facebook Ads Templates Start -->
        <div class="mt-5 lg:mt-10">
          <h2
            class="text-[#3E96F4] text-lg md:text-xl lg:text-2xl font-semibold"
            id="facebook_ads_templates"
          >
            Facebook Ads Templates
          </h2>

          <ul class="list-disc ml-7 text-sm md:text-base mt-6 text-[#31393C]">
            <li>
              To access Facebook Lead Ads, navigate to the "Facebook Ads
              Template.
            </li>
            <li class="mt-3">
              To synchronize Lead Ads from Facebook, click on the "Sync Lead
              Ads" button to retrieve all Lead Ads from Facebook.
            </li>
          </ul>

          <Image
            loading="lazy"
            src={facebook_ads_template}
            alt="facebook_ads_template"
            class="mt-6"
          />
          <ul class="list-disc ml-7 text-sm md:text-base mt-6 text-[#31393C]">
            <li>
              Click on a specific ID to display the form view. Here, you'll find
              the Lead Ads Template ID, Name, Status, and Language obtained from
              Facebook.
            </li>
          </ul>

          <Image
            loading="lazy"
            src={fb_templates}
            alt="fb_templates"
            class="mt-6"
          />
        </div>

        <!-- Facebook Ads Templates End -->

        <!-- Facebook Post Start  -->

        <div class="mt-5 lg:mt-10">
          <h2
            class="text-[#3E96F4] text-lg md:text-xl lg:text-2xl font-semibold"
            id="facebook_post"
          >
            Facebook Post
          </h2>

          <ul class="list-disc ml-7 text-sm md:text-base mt-6 text-[#31393C]">
            <li>
              To access Facebook posts, navigate to the Facebook Post List.
              Users can upload and delete posts from the system to Facebook.
            </li>
            <li class="mt-3">
              Click on “Add Facebook Post” to create a new post.
            </li>
            <li class="mt-3">
              Here post has two types:
              <ul class="list-disc ml-7 font-bold">
                <li class="mt-3">Photo</li>
                <li class="mt-3">Feed</li>
              </ul>
            </li>
          </ul>

          <Image
            loading="lazy"
            src={facebook_post}
            alt="facebook_post  "
            class="mt-6"
          />
          <ul class="list-disc ml-7 text-sm md:text-base mt-6 text-[#31393C]">
            <li>Post Status:</li>
            <ul class="list-disc md:ml-7 ml-4">
              <li class="mt-3">
                <strong>Open:-</strong> The default post status is set to "open"
                when a user creates a new post.
              </li>
              <li class="mt-3">
                <strong>Published:-</strong>If the post is published on
                Facebook, then the status is automatically set to "Published".
              </li>
              <li class="mt-3">
                <strong>Deleted:-</strong>If a post is deleted, its status is
                automatically set to "Deleted".
              </li>
              <li class="mt-3">
                <strong>On Hold:-</strong>If the system encounters any errors,
                the status is automatically set to "On Hold".
              </li>
            </ul>
            <li class="mt-3">
              If the post type is "feed," content is uploaded exclusively to
              Facebook.
            </li>
          </ul>

          <Image
            loading="lazy"
            src={facebook_post_1}
            alt="facebook_post_1"
            class="mt-6"
          />

          <ul class="list-disc ml-7 text-sm md:text-base mt-6 text-[#31393C]">
            <li>
              If the post type is set to "Photo," it provides two options: a
              message and the ability to attach an image.
            </li>
            <li class="mt-3">
              Users can publish posts on Facebook by clicking the "Publish"
              button. Once published, the post ID is set in the respective form,
              and the status is automatically set to “Published”.
            </li>
          </ul>

          <Image
            loading="lazy"
            src={facebook_post_2}
            alt="facebook_post_2"
            class="mt-6"
          />

          <ul class="list-disc ml-7 text-sm md:text-base mt-6 text-[#31393C]">
            <li>
              If a user deletes a post by clicking on the "Delete Post" button,
              the post is removed from Facebook, and the status is set to
              "Deleted."
            </li>
          </ul>

          <Image
            loading="lazy"
            src={facebook_post_3}
            alt="facebook_post_3"
            class="mt-6"
          />
        </div>
        <!-- Facebook Post End  -->

        <!-- Facebook Inquiry Start -->
        <div class="mt-5 lg:mt-10">
          <h2
            class="text-[#3E96F4] text-lg md:text-xl lg:text-2xl font-semibold"
            id="facebook_enquiry"
          >
            Facebook Enquiry
          </h2>

          <ul class="list-disc ml-7 text-sm md:text-base mt-6 text-[#31393C]">
            <li>
              To access "Facebook Enquiry" navigate to the Facebook Enquiry
              List.
            </li>
          </ul>

          <Image
            loading="lazy"
            src={facebook_inquiry}
            alt="facebook_inquiry"
            class="mt-6"
          />
          <ul class="list-disc ml-7 text-sm md:text-base mt-6 text-[#31393C]">
            <li>
              Click on the specific ID to display the form view and lead
              details, which are automatically synchronized from Facebook every
              5 minutes using a scheduler.
            </li>
            <li class="mt-3">
              You'll display the basic details filled out by the user on
              Facebook, such as name, email, mobile number, address, and more.
            </li>
          </ul>

          <Image
            loading="lazy"
            src={facebook_inquiry_1}
            alt="facebook_inquiry_1"
            class="mt-6"
          />
        </div>
        <!-- Facebook Inquiry End -->

        <!-- Facebook Inquiry Report Start -->
        <div class="mt-5 lg:mt-10">
          <h2
            class="text-[#3E96F4] text-lg md:text-xl lg:text-2xl font-semibold"
            id="facebook_enquiry_report"
          >
            Facebook Enquiry Report
          </h2>

          <Image
            loading="lazy"
            src={facebook_inquiry_report}
            alt="facebook_inquiry_report"
            class="mt-6"
          />
          <ul class="list-disc ml-7 text-sm md:text-base mt-6 text-[#31393C]">
            <li>
              This report provides a comprehensive overview of all Facebook
              inquiries.
            </li>
          </ul>
        </div>
        <!-- Facebook Inquiry Report End -->

        <!-- Support Start -->
        <div class="mt-5 lg:mt-10">
          <h2
            class="text-[1.25rem] md:text-[1.50rem] lg:text-[1.75rem] font-semibold leading-9 text-[#3D96F5] max-lg:mb-5"
            id="support"
          >
            Support
          </h2>
          <form class="mt-7 max-lg:mb-5" id="facebook_support_form">
            <!-- Name Field -->
            <div class="mb-4 flex flex-col lg:flex-row gap-5">
              <div class="w-full lg:w-1/2">
                <input
                  placeholder="Name *"
                  type="text"
                  id="facebook_support_name"
                  name="facebook_support_name"
                  required
                  class="mt-1 p-2 w-full border border-gray-300 rounded focus:outline-none focus:ring focus:ring-blue-300"
                />
              </div>
              <div class="w-full lg:w-1/2">
                <input
                  placeholder="Email *"
                  type="email"
                  id="facebook_support_email"
                  name="facebook_support_email"
                  required
                  class="mt-1 p-2 w-full border border-gray-300 rounded focus:outline-none focus:ring focus:ring-blue-300"
                />
              </div>
            </div>

            <!-- Phone Number Field -->
            <!-- <div class="mb-4">
<select
id="support_issue"
name="support_issue"
class="mt-1 p-2 w-full border border-gray-300 rounded focus:outline-none focus:ring focus:ring-blue-300 "
/>
<option value="What’s the issue?" >What’s the issue?/ Feedback</option>
<option value="x">x</option>
<option value="y">y</option>
<option value="z">y</option>
</select>
</div> -->

            <!-- Description Field -->
            <div class="mb-4">
              <textarea
                placeholder="What’s the issue? / Feedback "
                id="facebook_support_requirements"
                name="facebook_support_requirements"
                required
                class="mt-1 p-2 w-full border border-gray-300 rounded focus:outline-none focus:ring focus:ring-blue-300"
                rows="4"></textarea>
            </div>

            <!-- Submit Button -->
            <div>
              <button
                type="submit"
                class="mt-3 flex gap-5 items-center bg-[#3E96F4] rounded-lg px-3 md:px-3 lg:px-5 py-2 md:py-2 lg:py-3 max-w-[180px]"
              >
                <p class="text-white font-semibold text-sm md:text-base">
                  Send
                </p>
                <Image
                  loading="eager"
                  src={right_arrow}
                  width={6}
                  height={12}
                  alt="right arrow "
                />
              </button>
            </div>
          </form>
        </div>

        <!-- Support Start -->

        <!-- faq start  -->
        <div
          x-data="{ accordion: 0 }"
          class="grid gap-5 rounded-[20px] text-[#31393C] lg:mt-10 mt-7"
        >
          <h2
            class="text-[1.25rem] md:text-[1.50rem] lg:text-[1.75rem] font-semibold leading-9 text-[#3D96F5]"
            id="faq"
          >
            FAQ
          </h2>
          <div class="bg-white rounded-xl border">
            <div
              class="flex justify-between p-4 cursor-pointer"
              @click="accordion = accordion == 0 ? 1 : 0"
            >
              <p class="font-semibold text-sm md:text-sm lg:text-base">
                What is Facebook ERPNext Integration?
              </p>
              <Image
                loading="lazy"
                :class="accordion === 1 ? 'block' : 'hidden'"
                src={down_arrow}
                alt="down-arrow"
              />
              <Image
                loading="lazy"
                :class="accordion !== 1 ? 'block' : 'hidden'"
                src={up_arrow}
                alt="up-arrow"
              />
            </div>
            <div
              class="overflow-hidden bg-white rounded-b-[10px]"
              :class="accordion !== 0 ? 'h-0' : 'border-t-2'"
            >
              <p class="text-xs md:text-sm lg:text-base p-5">
                Facebook ERPNext Integration allows you to connect your ERPNext system with Facebook, enabling
                seamless management of your Facebook pages, ads, and customer interactions directly from
                ERPNext. This integration helps businesses improve social media engagement and streamline
                marketing efforts by managing everything from one platform.
              </p>
            </div>
          </div>

          <div class="bg-white rounded-xl border">
            <div
              class="flex justify-between p-4 cursor-pointer"
              @click="accordion = accordion == 2 ? 0 : 2"
            >
              <p class="font-semibold text-sm md:text-sm lg:text-base">
                How does Facebook ERPNext Integration help my business?
              </p>
              <Image
                loading="lazy"
                :class="accordion !== 2 ? 'block' : 'hidden'"
                src={down_arrow}
                alt="down-arrow"
              />
              <Image
                loading="lazy"
                :class="accordion === 2 ? 'block' : 'hidden'"
                src={up_arrow}
                alt="up-arrow"
              />
            </div>
            <div
              class="overflow-hidden bg-white rounded-b-[10px]"
              :class="accordion !== 2 ? 'h-0' : 'border-t-2'"
            >
              <p class="text-xs md:text-sm lg:text-base p-5">
                This integration allows you to manage your Facebook page, run ads, and track interactions with
                customers directly within ERPNext. You can automate responses, gather insights from customer
                interactions, and link social media activities with CRM, making your social media management more
                efficient and aligned with your business processes.
              </p>
            </div>
          </div>

          <div class="bg-white rounded-xl border">
            <div
              class="flex justify-between p-4 cursor-pointer"
              @click="accordion = accordion == 3 ? 0 : 3"
            >
              <p class="font-semibold text-sm md:text-sm lg:text-base">
                What features are included in the Facebook ERPNext Integration?
              </p>
              <Image
                loading="lazy"
                :class="accordion !== 3 ? 'block' : 'hidden'"
                src={down_arrow}
                alt="down-arrow"
              />
              <Image
                loading="lazy"
                :class="accordion === 3 ? 'block' : 'hidden'"
                src={up_arrow}
                alt="up-arrow"
              />
            </div>
            <div
              class="overflow-hidden bg-white rounded-b-[10px]"
              :class="accordion !== 3 ? 'h-0' : 'border-t-2'"
            >
              <p class="text-xs md:text-sm lg:text-base p-5">
                Key features include:
                <ul class="list-disc lg:ml-14 ml-10 text-xs md:text-sm lg:text-base mr-5">
                  <li class="mb-3">Managing Facebook page posts, comments, and messages directly within ERPNext.</li>
                  <li class="mb-3">Running and tracking Facebook ad campaigns from ERPNext.</li>
                  <li class="mb-3">Linking Facebook interactions with ERPNext CRM to manage leads and customer
                    relationships.</li>
                  <li class="mb-3">Analyzing engagement metrics like likes, shares, and comments.</li>
                  <li class="mb-3">Automating customer service responses and handling inquiries from Facebook Messenger.</li>
                </ul>
              </p>
            </div>
          </div>

          <div class="bg-white rounded-xl border">
            <div
              class="flex justify-between p-4 cursor-pointer"
              @click="accordion = accordion == 4 ? 0: 4"
            >
              <p class="font-semibold text-sm md:text-sm lg:text-base">
                Do I need technical expertise to use Facebook ERPNext Integration?
              </p>
              <Image
                loading="lazy"
                :class="accordion !== 4 ? 'block' : 'hidden'"
                src={down_arrow}
                alt="down-arrow"
              />
              <Image
                loading="lazy"
                :class="accordion === 4 ? 'block' : 'hidden'"
                src={up_arrow}
                alt="up-arrow"
              />
            </div>
            <div
              class="overflow-hidden bg-white rounded-b-[10px]"
              :class="accordion !== 4 ? 'h-0' : 'border-t-2'"
            >
              <p class="text-xs md:text-sm lg:text-base p-5">
                No technical expertise is needed to use this integration. Our team will set it up for you, and the
interface is intuitive, making it easy for anyone familiar with ERPNext or Facebook to manage.
              </p>
            </div>
          </div>

          <div class="bg-white rounded-xl border">
            <div
              class="flex justify-between p-4 cursor-pointer"
              @click="accordion = accordion == 5 ? 0: 5"
            >
              <p class="font-semibold text-sm md:text-sm lg:text-base">
                Can I manage Facebook ads through ERPNext with this integration?
              </p>
              <Image
                loading="lazy"
                :class="accordion !== 5 ? 'block' : 'hidden'"
                src={down_arrow}
                alt="down-arrow"
              />
              <Image
                loading="lazy"
                :class="accordion === 5 ? 'block' : 'hidden'"
                src={up_arrow}
                alt="up-arrow"
              />
            </div>
            <div
              class="overflow-hidden bg-white rounded-b-[10px]"
              :class="accordion !== 5 ? 'h-0' : 'border-t-2'"
            >
              <p class="text-xs md:text-sm lg:text-base p-5">
                Yes, you can create, run, and track Facebook ads directly from ERPNext. This allows you to align your
                advertising strategy with your business operations, track the effectiveness of your campaigns, and
                make data-driven decisions.
              </p>
            </div>
          </div>

          <div class="bg-white rounded-xl border">
            <div
              class="flex justify-between p-4 cursor-pointer"
              @click="accordion = accordion == 6 ? 0: 6"
            >
              <p class="font-semibold text-sm md:text-sm lg:text-base">
                Can I manage Facebook messages and comments within ERPNext?
              </p>
              <Image
                loading="lazy"
                :class="accordion !== 6 ? 'block' : 'hidden'"
                src={down_arrow}
                alt="down-arrow"
              />
              <Image
                loading="lazy"
                :class="accordion === 6 ? 'block' : 'hidden'"
                src={up_arrow}
                alt="up-arrow"
              />
            </div>
            <div
              class="overflow-hidden bg-white rounded-b-[10px]"
              :class="accordion !== 6 ? 'h-0' : 'border-t-2'"
            >
              <p class="text-xs md:text-sm lg:text-base p-5">
                Yes, the integration allows you to manage customer messages, comments, and interactions from
                Facebook directly within ERPNext, streamlining your social media management and ensuring all
                customer touchpoints are tracked in one place.
              </p>
            </div>
          </div>
  
          <div class="bg-white rounded-xl border">
            <div
              class="flex justify-between p-4 cursor-pointer"
              @click="accordion = accordion == 7 ? 0: 7"
            >
              <p class="font-semibold text-sm md:text-sm lg:text-base">
                Is the Facebook ERPNext Integration secure?
              </p>
              <Image
                loading="lazy"
                :class="accordion !== 7 ? 'block' : 'hidden'"
                src={down_arrow}
                alt="down-arrow"
              />
              <Image
                loading="lazy"
                :class="accordion === 7 ? 'block' : 'hidden'"
                src={up_arrow}
                alt="up-arrow"
              />
            </div>
            <div
              class="overflow-hidden bg-white rounded-b-[10px]"
              :class="accordion !== 7 ? 'h-0' : 'border-t-2'"
            >
              <p class="text-xs md:text-sm lg:text-base p-5">
                Yes, the integration follows Facebook’s API security guidelines and is built to ensure data privacy and
protection. ERPNext’s built-in security features also add an extra layer of protection, ensuring your
data is secure at all times.
              </p>
            </div>
          </div>
  
          <div class="bg-white rounded-xl border">
            <div
              class="flex justify-between p-4 cursor-pointer"
              @click="accordion = accordion == 8 ? 0: 8"
            >
              <p class="font-semibold text-sm md:text-sm lg:text-base">
                Can I link Facebook interactions with ERPNext CRM?
              </p>
              <Image
                loading="lazy"
                :class="accordion !== 8 ? 'block' : 'hidden'"
                src={down_arrow}
                alt="down-arrow"
              />
              <Image
                loading="lazy"
                :class="accordion === 8 ? 'block' : 'hidden'"
                src={up_arrow}
                alt="up-arrow"
              />
            </div>
            <div
              class="overflow-hidden bg-white rounded-b-[10px]"
              :class="accordion !== 8 ? 'h-0' : 'border-t-2'"
            >
              <p class="text-xs md:text-sm lg:text-base p-5">
                Absolutely. One of the key benefits of this integration is that it links customer interactions on
                Facebook with ERPNext CRM, allowing you to manage leads, track customer conversations, and offer
                better customer service.
              </p>
            </div>
          </div>
  
          <div class="bg-white rounded-xl border">
            <div
              class="flex justify-between p-4 cursor-pointer"
              @click="accordion = accordion == 9 ? 0: 9"
            >
              <p class="font-semibold text-sm md:text-sm lg:text-base">
                Is there a limit to the number of Facebook pages I can manage with this integration?
              </p>
              <Image
                loading="lazy"
                :class="accordion !== 9 ? 'block' : 'hidden'"
                src={down_arrow}
                alt="down-arrow"
              />
              <Image
                loading="lazy"
                :class="accordion === 9 ? 'block' : 'hidden'"
                src={up_arrow}
                alt="up-arrow"
              />
            </div>
            <div
              class="overflow-hidden bg-white rounded-b-[10px]"
              :class="accordion !== 9 ? 'h-0' : 'border-t-2'"
            >
              <p class="text-xs md:text-sm lg:text-base p-5">
                You can manage multiple Facebook pages through ERPNext, making it ideal for businesses that
                manage different brands or branches. There may be certain limits depending on your Facebook
                account setup, but ERPNext can handle multiple integrations seamlessly.
            </div>
          </div>
  
          <div class="bg-white rounded-xl border">
            <div
              class="flex justify-between p-4 cursor-pointer"
              @click="accordion = accordion == 10 ? 0: 10"
            >
              <p class="font-semibold text-sm md:text-sm lg:text-base">
                How can I get started with Facebook ERPNext Integration?
              </p>
              <Image
                loading="lazy"
                :class="accordion !== 10 ? 'block' : 'hidden'"
                src={down_arrow}
                alt="down-arrow"
              />
              <Image
                loading="lazy"
                :class="accordion === 10 ? 'block' : 'hidden'"
                src={up_arrow}
                alt="up-arrow"
              />
            </div>
            <div
              class="overflow-hidden bg-white rounded-b-[10px]"
              :class="accordion !== 10 ? 'h-0' : 'border-t-2'"
            >
              <p class="text-xs md:text-sm lg:text-base p-5">
                To get started, contact our team at Sanskar Technolab. We will guide you through the process of
setting up the Facebook integration with ERPNext, ensuring you can efficiently manage your
Facebook presence from within your ERP system.
              </p>
            </div>
          </div>
        </div>

        <!-- faq end  -->

        <style>
          li::marker {
            color: #727578;
          }

          .dot li::marker {
            color: #92c9ff;
          }

          .is-active {
            svg path {
              fill: #3e96f4; /* Change to desired active color */
            }

            .activedot li::marker {
              color: #3e96f4;
            }

            h2 {
              color: #3e96f4; /* Change to desired active color */
            }
          }

          .shadow-box {
            box-shadow: 0px 0px 5px 5px #0000001c;
          }

          .getting_started {
            border-radius: 10px;
            border: 1px solid #dadada;
            background: linear-gradient(135deg, #ecf5ff 0%, #fff 100%);
          }

          .menu-hidden {
            display: none;
          }

          .menu-visible {
            display: block;
          }

          .container {
            cursor: pointer;
            /* Add additional styling as needed */
          }

          #tablecontentmenu {
            display: none;
          }

          @media (min-width: 280px) and (max-width: 400px) {
            .settop {
              top: 5.5rem !important;
            }
          }
        </style>

        <script>
          window.onload = function () {
            var myDiv = document.getElementById("tablecontentmenu");
            var footer = document.getElementById("section");
            var introduction = document.getElementById("introduction");

            function checkVisibility() {
              if (!myDiv || !footer || !introduction) {
                console.error(
                  "Element not found:",
                  !myDiv
                    ? "tablecontentmenu"
                    : !footer
                    ? "footer"
                    : "introduction"
                );
                return;
              }

              var footerPosition = footer.getBoundingClientRect();
              var introductionPosition = introduction.getBoundingClientRect();
              var windowHeight = window.innerHeight;

              if (
                footerPosition.top <= windowHeight ||
                (introductionPosition.top <= windowHeight &&
                  introductionPosition.bottom >= 0)
              ) {
                myDiv.style.display = "none";
              } else {
                myDiv.style.display = "block";
              }
            }

            function handleResize() {
              if (window.innerWidth <= 767) {
                window.addEventListener("scroll", checkVisibility);
                checkVisibility(); // Ensure the correct state on load
              } else {
                window.removeEventListener("scroll", checkVisibility);
                if (myDiv) {
                  myDiv.style.display = "none";
                }
              }
            }

            // Initial check and event listeners
            handleResize();
            window.addEventListener("resize", handleResize);
          };

          document.addEventListener("DOMContentLoaded", function () {
            document
              .querySelector(".toggle-menu")
              .addEventListener("click", function () {
                toggleMenu();
              });
          });

          function toggleMenu() {
            const menu = document.getElementById("mobile-menu");
            if (menu.classList.contains("menu-hidden")) {
              menu.classList.remove("menu-hidden");
              menu.classList.add("menu-visible");
            } else {
              menu.classList.remove("menu-visible");
              menu.classList.add("menu-hidden");
            }
          }

          document.addEventListener("DOMContentLoaded", function () {
            const buttons = document.querySelectorAll(".button");
            let activeButton = null;

            buttons.forEach((button) => {
              button.addEventListener("click", function (event) {
                // Prevent the default action if needed
                event.preventDefault();

                const href = this.getAttribute("href"); // Get the href attribute value
                window.location.href = href; // Redirect to the URL

                // Remove active class from previous button
                if (activeButton) {
                  activeButton.classList.remove("active");
                }

                // Add active class to clicked button
                button.classList.add("active");

                // Update the active button reference
                activeButton = button;
              });
            });
          });

          function ready(fn) {
            document.addEventListener("DOMContentLoaded", fn, false);
          }

          ready(() => {
            const motionQuery = window.matchMedia("(prefers-reduced-motion)");

            const TableOfContents = {
              container: document.querySelector(".js-toc"),
              links: null,
              headings: null,
              intersectionOptions: {
                rootMargin: "0px",
                threshold: 1,
              },
              previousSection: null,
              observer: null,

              init() {
                this.handleObserver = this.handleObserver.bind(this);

                this.setUpObserver();
                this.findLinksAndHeadings();
                this.observeSections();

                this.links.forEach((link) => {
                  link.addEventListener(
                    "click",
                    this.handleLinkClick.bind(this)
                  );
                });
              },

              handleLinkClick(evt) {
                evt.preventDefault();
                let id = evt.target.getAttribute("href").replace("#", "");

                let section = this.headings.find((heading) => {
                  return heading.getAttribute("id") === id;
                });

                section.setAttribute("tabindex", -1);
                section.focus();

                window.scroll({
                  behavior: motionQuery.matches ? "instant" : "smooth",
                  top: section.offsetTop - 15,
                  block: "start",
                });

                if (this.container.classList.contains("is-active")) {
                  this.container.classList.remove("is-active");
                }
              },

              handleObserver(entries, observer) {
                entries.forEach((entry) => {
                  let href = `#${entry.target.getAttribute("id")}`,
                    link = this.links.find(
                      (l) => l.getAttribute("href") === href
                    );

                  if (entry.isIntersecting && entry.intersectionRatio >= 1) {
                    link.classList.add("is-visible");
                    this.previousSection = entry.target.getAttribute("id");
                  } else {
                    link.classList.remove("is-visible");
                  }

                  this.highlightFirstActive();
                });
              },

              highlightFirstActive() {
                let firstVisibleLink =
                  this.container.querySelector(".is-visible");

                this.links.forEach((link) => {
                  link.classList.remove("is-active");
                });

                if (firstVisibleLink) {
                  firstVisibleLink.classList.add("is-active");
                }

                if (!firstVisibleLink && this.previousSection) {
                  this.container
                    .querySelector(`a[href="#${this.previousSection}"]`)
                    .classList.add("is-active");
                }
              },

              observeSections() {
                this.headings.forEach((heading) => {
                  this.observer.observe(heading);
                });
              },

              setUpObserver() {
                this.observer = new IntersectionObserver(
                  this.handleObserver,
                  this.intersectionOptions
                );
              },

              findLinksAndHeadings() {
                this.links = [...this.container.querySelectorAll("a")];
                this.headings = this.links.map((link) => {
                  let id = link.getAttribute("href");
                  return document.querySelector(id);
                });
              },
            };

            TableOfContents.init();
          });

          // Smooth scrolling function
          document.querySelectorAll('a[href^="#"]').forEach((anchor) => {
            anchor.addEventListener("click", function (e) {
              e.preventDefault();

              document.querySelector(this.getAttribute("href")).scrollIntoView({
                behavior: "smooth",
              });
            });
          });

          // -------------------------------------------------------------------------------------------------
          var talk_form = document.getElementById("facebook_support_form");
          talk_form.addEventListener("submit", handleContactForm);

          // Add event listener to email input for real-time validation
          var emailInput = document.querySelector(
            'input[name="facebook_support_email"]'
          );
          emailInput.addEventListener("blur", validateEmailInput); // Changed event to "blur"

          function validateEmailInput() {
            const emailValue = emailInput.value.trim();

            const errorMessageElement = emailInput.nextElementSibling;

            if (emailValue === "") {
              hideErrorMessage(errorMessageElement); // Hide error message if email is empty
              emailInput.style.borderColor = ""; // Reset border color
              return;
            }

            if (!validateEmail(emailValue)) {
              blinkBorder(emailInput);
              displayErrorMessage(
                errorMessageElement,
                "Please enter a valid email address.",
                emailInput
              );
            } else {
              hideErrorMessage(errorMessageElement); // Hide error message if email is valid
              emailInput.style.borderColor = ""; // Reset border color
            }
          }

          var nameInput = document.querySelector('input[name="facebook_support_name"]');
          nameInput.addEventListener("blur", validateNameInput);

          function validateNameInput() {
            const nameValue = nameInput.value.trim();

            const errorMessageElement = nameInput.nextElementSibling;

            if (nameValue === "") {
              hideErrorMessage(errorMessageElement); // Hide error message if email is empty
              nameInput.style.borderColor = ""; // Reset border color
              return;
            }

            if (!validateName(nameValue)) {
              blinkBorder(nameInput);
              displayErrorMessage(
                errorMessageElement,
                "Please enter a valid name.",
                nameInput
              );
            } else {
              hideErrorMessage(errorMessageElement); // Hide error message if email is valid
              nameInput.style.borderColor = ""; // Reset border color
            }
          }

          // Validation function for email
          function validateEmail(email) {
            const re =
              /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            return re.test(String(email).toLowerCase());
          }

          function validateName(name) {
            const re =
              /^(?=(?:[^A-Za-z]*[A-Za-z]){2})(?![^\d~`?!^*¨ˆ;@=$%{}\[\]|\\\/<>#“.,]*[\d~`?!^*¨ˆ;@=$%{}\[\]|\\\/<>#“.,])\S+(?: \S+){0,2}$/;

            return re.test(String(name).toLowerCase());
          }

          function displayErrorMessage(
            errorMessageElement,
            message,
            inputField
          ) {
            if (
              !errorMessageElement ||
              !errorMessageElement.classList.contains("error-message")
            ) {
              // If error message doesn't exist, create and insert it
              errorMessageElement = document.createElement("p");
              errorMessageElement.textContent = message;
              errorMessageElement.classList.add("error-message");
              errorMessageElement.style.color = "red"; // Adjust the color
              errorMessageElement.style.fontSize = "0.8rem"; // Adjust the font size
              errorMessageElement.style.marginTop = "0.2rem"; // Adjust the margin-top
              errorMessageElement.style.marginBottom = "0"; // Remove bottom margin

              // Insert the error message after the input field
              inputField.parentNode.insertBefore(
                errorMessageElement,
                inputField.nextSibling
              );
            } else {
              errorMessageElement.textContent = message; // Update existing error message
            }
          }

          function hideErrorMessage(errorMessageElement) {
            if (
              errorMessageElement &&
              errorMessageElement.classList.contains("error-message")
            ) {
              // If error message exists, remove it
              errorMessageElement.remove();
            }
          }

          const apiKey = import.meta.env.PUBLIC_ApiKey as string;
          const secretKey = import.meta.env.PUBLIC_SecretKey as string;

          function blinkBorder(element) {
            // If the border color is not red, set it to red
            if (element.style.borderColor !== "red") {
              element.style.borderColor = "red";
            } else {
              // If the border color is already red, reset it to its original state
              element.style.borderColor = "";
            }
          }

          function resetBorderColorOnFocus(inputElement) {
            inputElement.addEventListener("focus", () => {
              inputElement.style.borderColor = ""; // Remove the border color (set it to null)
            });
          }

          // send data in frappe
          function handleContactForm(e) {
            e.preventDefault();
            const form = e.target; // Get the form that triggered the submission

            const nameInput = form.querySelector('input[name="facebook_support_name"]');
            const emailInput = form.querySelector(
              'input[name="facebook_support_email"]'
            );
            const messageInput = document.querySelector(
              'textarea[name="facebook_support_requirements"]'
            );
            // const isuueInput = document.querySelector('select[name="support_issue"]');

            const nameValue = nameInput.value.trim();
            const emailValue = emailInput.value.trim();
            const messageValue = messageInput.value.trim();
            // const phoneValue = isuueInput.value.trim();

            resetBorderColorOnFocus(nameInput);
            resetBorderColorOnFocus(emailInput);
            resetBorderColorOnFocus(messageInput);
            // resetBorderColorOnFocus(isuueInput);

            if (nameValue === "") {
              blinkBorder(nameInput);
            }

            if (emailValue === "") {
              blinkBorder(emailInput);
            }

            if (messageValue === "") {
              blinkBorder(messageInput);
            }

            if (nameValue === "" || emailValue === "" || messageValue === "") {
              return;
            }

            const urlParams = new URLSearchParams(window.location.search);

            // Get the value of the 'page' parameter
            const pageValue = urlParams.get("page");

            const queryTypeValue = pageValue ? "Demo" : "General";

            // alert('Please select a file to upload.');
            const formData = new FormData(e.target);
            const data = Object.fromEntries(formData.entries());

            formData.set("data", JSON.stringify(data));
            var name = data.facebook_support_name;
            var email = data.facebook_support_email;
            var message = data.facebook_support_requirements;

            // // Function to get the user's IP address using ipify
            // function getUserIPAddress() {
            //   return fetch("https://api.ipify.org?format=json")
            //     .then((response) => response.json())
            //     .then((data) => data.ip)
            //     .catch((error) => {
            //       console.error("Error fetching IP address:", error);
            //       return null; // Handle the error gracefully
            //     });
            // }

            // getUserIPAddress().then((ipAddress) => {
            //   let { browserName, device } = detectBrowser();

            if (validateEmail(emailValue) && validateName(nameValue)) {
              fetch("https://sanskar.frappe.cloud/api/resource/Issue", {
                method: "POST",
                headers: {
                  Accept: "application/json",
                  "Content-Type": "application/json",
                  Authorization: `token ${apiKey}:${secretKey}`,
                },
                body: JSON.stringify({
                  custom_full_name: name,
                  raised_by: email,
                  subject: message,
                  customer: "Website Support",
                  project: "Website Support",
                }),
              })
                .then((res) => {
                  if (res.status === 200) {
                    // alert("You have been registered successfully.")
                    window.location.href = "/thank-you";
                  } else {
                    sendEmailNotification(
                      name,
                      email,
                      message,
                      "Website Support",
                      "Website Support",

                      res
                    );
                    alert("Failed to submit data. Please try after some time.");
                  }
                })
                .catch((error) => {
                  console.error(error);
                });
            }
            // });
          }

          // .then((ipAddress) => {
          //   console.log("Received IP Address:", ipAddress);
          // })
          // .catch((error) => {
          //   console.error("Error:", error);
          // });

          function get_ip() {
            // Return a Promise that resolves with the IP address
            return new Promise((resolve, reject) => {
              fetch("https://api.ipify.org?format=json")
                .then((response) => response.json())
                .then((data) => {
                  const ipAddress = data.ip;
                  // console.log("Public IP Address:", ipAddress);
                  resolve(ipAddress); // Resolve the Promise with the IP address
                })
                .catch((error) => {
                  console.error("Error fetching IP address:", error);
                  reject(error); // Reject the Promise with the error
                });
            });
          }

          get_ip();

          function detectBrowser() {
            const userAgent = navigator.userAgent;
            var browserName = "Unknown";

            // Check for Chrome
            if (userAgent.indexOf("Chrome") !== -1) {
              browserName = "Google Chrome";
            }
            // Check for Firefox
            else if (userAgent.indexOf("Firefox") !== -1) {
              browserName = "Mozilla Firefox";
            }
            // Check for Safari
            else if (userAgent.indexOf("Safari") !== -1) {
              browserName = "Apple Safari";
            }
            // Check for Edge
            else if (userAgent.indexOf("Edg") !== -1) {
              browserName = "Microsoft Edge";
            }
            // Check for Internet Explorer
            else if (
              userAgent.indexOf("MSIE") !== -1 ||
              userAgent.indexOf("Trident") !== -1
            ) {
              browserName = "Internet Explorer";
            }

            // Log the detected browser to the console
            //   console.log(`Detected browser: ${browserName}`);

            // Detect the device type based on screen size
            const screenWidth = window.innerWidth;
            var device = "Unknown";
            if (screenWidth <= 576) {
              device = "Mobile";
            } else if (screenWidth <= 992) {
              device = "Tablet";
            } else if (screenWidth <= 1200) {
              device = "Laptop";
            } else {
              device = "Desktop";
            }

            return {
              browserName,
              device,
            };
          }

          function sendEmailNotification(
            name = "",
            email = "",
            message = "",
            customer = "",
            project = ""
            // page_name=""
          ) {
            // console.log("sending email notification...");
            // return
            fetch(
              "https://sanskartechnolab.com/api/method/astro_sanskar.api.send_form_failed_notification",
              {
                method: "POST",
                headers: {
                  Accept: "application/json",
                  "Content-Type": "application/json",
                  // Authorization: `token ${apiKey}:${secretKey}`,
                },
                body: JSON.stringify({
                  custom_full_name: name,
                  raised_by: email,
                  subject: message,
                  customer: "Website Support",
                  project: "Website Support",
                  page_name: "Follow Up App",
                }),
              }
            )
              .then((res) => {
                if (res.status === 200) {
                  alert("email notification sent.");
                  // console.log("email notification sent.");
                } else {
                  // console.log("failed to send email notification", res);
                  alert(
                    "We are unable to process your request. please send your requirements on info@sanskartechnolab.com"
                  );
                }
              })
              .catch((error) => {
                console.error("error", error);
              });
          }

          // Function to show/hide the button based on scroll position
          // function checkScrollPosition() {
          //   var scrollToTopButton = document.getElementById("tablecontentmenu");

          //   if (window.scrollY > 400) {
          //     scrollToTopButton.style.display = "block";
          //   } else {
          //     scrollToTopButton.style.display = "none";
          //   }
          // }

          // // Function to add or remove the scroll event listener based on screen width
          // function handleResize() {
          //   var scrollToTopButton = document.getElementById("tablecontentmenu");

          //   if (window.innerWidth < 768) { // Mobile screen width threshold
          //     window.addEventListener("scroll", checkScrollPosition);
          //     checkScrollPosition(); // Initial check in case the user has already scrolled
          //   } else {
          //     window.removeEventListener("scroll", checkScrollPosition);
          //     scrollToTopButton.style.display = "none"; // Ensure button is hidden on larger screens
          //   }
          // }

          // // Attach the resize event listener to the window
          // window.addEventListener("resize", handleResize);

          // // Initial check when the page loads
          // document.addEventListener("DOMContentLoaded", function() {
          //   handleResize();
          // });

          document.addEventListener("DOMContentLoaded", function () {
            var links = document.querySelectorAll('a[href^="#"]');

            links.forEach(function (link) {
              link.addEventListener("click", function (e) {
                e.preventDefault();
                var target = this.hash;
                var targetElement = document.querySelector(target);

                window.scrollTo({
                  top: targetElement.offsetTop - 170, // Adjusted to include 100px offset
                  behavior: "smooth",
                });

                // Uncomment the next line if you want to update the URL hash
                // window.location.hash = target;
              });
            });
          });
        </script>
      </div>
    </section>
  </body>
</Layout>
