---
import Layout from "../layouts/Layout.astro";
import "../styles.css";
import { Image, Picture } from "@astrojs/image/components";



import right_arrow from "../../public/Images/right-arrow.svg";
import facebook_icon_event from "../../public/Images/facebook_icon_event.svg";
import caledar from "../../public/Images/caledar.svg";
import Rushabh_Mehta from "../../public/Images/Rushabh_Mehta.svg";
import Parth_Garachh from "../../public/Images/Parth_Garachh.svg";
import Faraz_Khatri from "../../public/Images/Faraz_Khatri.svg";
import Maharshi_Patel from "../../public/Images/Maharshi_Patel.svg";
import vijay from "../../public/Images/vijay.svg";
import Dipen_Gala from "../../public/Images/Dipen_Gala.svg";
import migoo from "../../public/Images/migoo.svg";
import mera_pata from "../../public/Images/mera_pata.svg";
import Rxbb from "../../public/Images/Rxbb.svg";
import mantra from "../../public/Images/mantra.svg";
import twitter_event from "../../public/Images/twitter_event.svg";
import linkedin_event from "../../public/Images/linkedin_event.svg";
import Vijay_patel from "../../public/Images/Vijay_patel.png";
import Arjun_Pachani from "../../public/Images/Arjun_Pachani.png";
import Parth_Parikh from "../../public/Images/Parth_Parikh.png";
import Ashish_Gargi from "../../public/Images/Ashish_Gargi.png";
import Abhishek_Jain from "../../public/Images/Abhishek_Jain.png";
import Frappe_Local_2024 from "../../public/Images/Frappe_Local_2024.png";
import Republic_Day_Celebration from "../../public/Images/Republic_Day_Celebration.png";
import Welcome_Rushabh_Mehta from "../../public/Images/Welcome_Rushabh_Mehta.png";
import Frappe_Local_Ahemdabad_2024 from "../../public/Images/Frappe_Local_Ahemdabad_2024.png";
import Ashish_sanskar_team from "../../public/Images/Ashish_sanskar_team.png";
import foram_harsh_sahil_vijay from "../../public/Images/foram_harsh_sahil_vijay.png";
import parth_Faraz from "../../public/Images/parth_Faraz.png";
import Explore_now from "../../public/Images/Explore_now.svg";
import Frappeverse_2024 from "../../public/Images/Frappeverse_2024.png";
import Ananad_Resubh from "../../public/Images/Ananad_Resubh.png";
import Ananad_Thakker from "../../public/Images/Ananad_Thakker.png";
import Arjun_Pachani_Slider from "../../public/Images/Arjun_Pachani_Slider.png";
import Ashish_Gargi_slider from "../../public/Images/Ashish_Gargi_slider.png";
import Faraz_Khatri_Slider from "../../public/Images/Faraz_Khatri_Slider.png";
import Foram_Shah from "../../public/Images/Foram_Shah.png";
import Harsh_Sanchaniya from "../../public/Images/Harsh_Sanchaniya.png";
import Kamal_Patel from "../../public/Images/Kamal_Patel.png";
import Parth_Parikh_Slider from "../../public/Images/Parth_Parikh_Slider.png";
import Vijay_patel_Slider from "../../public/Images/Vijay_patel_Slider.png";
import Rushabh_Mehta_Slider from "../../public/Images/Rushabh_Mehta_Slider.png";
import Sahil_Patel from "../../public/Images/Sahil_Patel.png";
import Sanskar_Team from "../../public/Images/Sanskar_Team.png";
import Ananad_Resubh_min from "../../public/Images/Ananad_Resubh_min.png";
import Ananad_Thakker_min from "../../public/Images/Ananad_Thakker_min.png";
import Arjun_Pachani_min from "../../public/Images/Arjun_Pachani_min.png";
import Ashish_sanskar_team_min from "../../public/Images/Ashish_sanskar_team_min.png";
import foram_harsh_sahil_vijay_min from "../../public/Images/foram_harsh_sahil_vijay_min.png";
import Kamal_Patel_min from "../../public/Images/Kamal_Patel_min.png";
import parth_Faraz_min from "../../public/Images/parth_Faraz_min.png";
import Rushabh_Mehta_min from "../../public/Images/Rushabh_Mehta_min.png";

---

<Layout title="Frappe Local - Ahmedabad Tech Events by Sanskar Technolab" , keyword="Frappe Local - Ahmedabad,Tech Events in Ahmedabad,Local Events Ahmedabad" , description="Frappe Local - Ahmedabad brings you the best tech events in Ahmedabad, hosted by Sanskar Technolab." , canonical_href="https://sanskartechnolab.com/frappe-local">
  <!-- Explore Our Events Start -->
  <section class="lg:flex section-bg items-center banner-bg">
    <div
      class="flex items-center md:max-w-7xl md:mx-auto p-5 sm:p-10 md:p-24 2xl:px-0 relative"
    >
      <div
        class="flex lg:flex-row flex-col items-center gap-5 lg:gap-10 2xl:gap-20"
      >
        <div class="lg:basis-[50%] flex flex-col justify-center">
          <p
            class="mt-3 md:mt-5 text-[#3E96F4] text-sm md:text-base font-semibold"
          >
          <a href="/events">Events  <span class="text-[#99A8B5]">/</span></a>
            
          </p>
          <h1
            class="text-[1.75rem] md:text-[3rem] leading-9 md:leading-[3.5rem] text-[#31393C] font-bold"
          >
            Frappe Local - Ahmedabad 2024
          </h1>
          <p
            class="mt-3 md:mt-5 text-[#31393C] text-sm md:text-base lg:text-lg leading-5 md:leading-6 font-semibold"
          >
            We at Sanskar Technolab are thrilled to have hosted the Frappe Local
            event in Ahmedabad this year. It was a pleasure connecting with all
            the enthusiastic participants and industry experts.
          </p>
        </div>
        <Image
          loading="eager"
          src={Frappe_Local_Ahemdabad_2024}
          alt="Frappe Local - Ahmedabad 2024 "
        class="w-full lg:w-[50%]"
        />
      </div>
    </div>
  </section>
  <!-- Explore Our Events End-->

<!--Thank You for Joining Us at Frappe Local - Ahmedabad 2024! Start  -->

  <section >
<div class="mx-5 md:max-w-6xl md:mx-auto md:px-24 lg:px-40 2xl:px-48 pt-[2rem] md:pt-[2rem] lg:pt-[4rem]">
    <div class="flex gap-2">
        <Image src={caledar}></Image>
        <p class="text-sm">06 July, 2024</p>
    </div>
    <h2 class="text-2xl md:text-3xl lg:text-4xl text-[#3E96F4] font-bold mt-5">
        Thank You for Joining Us at Frappe Local - Ahmedabad 2024!
    </h2>
    <p class="font-semibold text-sm md:text-base lg:text-lg  mt-5 text-[#31393C]  ">
        Your participation at Frappe Local - Ahmedabad 2024 was a testament to the
        strength and dynamism of the Frappe and ERPNext community. As proud host,
        Sanskar Technolab was thrilled about the opportunities that lay ahead and
        enjoyed a day filled with learning, sharing, and collaboration.
    </p>
    <h2 class="text-lg md:text-xl lg:text-2xl mt-6 font-bold text-[#3E96F4]">
        Event Highlights
    </h2>
    <h3 class="text-[#31393C] text-sm md:text-base lg:text-lg  font-semibold mt-5 ">
        Insights from Team Frappe:
    </h3>
    <p class="text-sm md:text-base mt-3 text-[#31393C]">
        Frappe team for visiting Ahmedabad and providing valuable insights into ERPNext and Frappe Apps. We were privileged to have the following experts share their knowledge:
    </p>
    <div class="flex flex-row flex-wrap gap-6	 mt-5 text-[#31393C]">
        <div class="flex flex-col  gap-2">
            <Image src={Rushabh_Mehta} alt=" Rushabh Mehta"></Image>
            <h4 class="text-sm md:text-base lg:w-[4rem]">
                Rushabh Mehta
            </h4>
        </div>
        <div class="flex flex-col  gap-2">
            <Image src={Parth_Garachh} alt="Parth Garachh"></Image>
            <h4 class="text-sm md:text-base lg:w-[4rem]">
                Parth Garachh
            </h4>
        </div>
        <div class="flex flex-col  gap-2">
            <Image src={Faraz_Khatri} alt="Faraz Khatri"></Image>
            <h4 class="text-sm md:text-base lg:w-[4rem]">
                Faraz Khatri
            </h4>
        </div>
        <div class="flex flex-col  gap-2">
            <Image src={Maharshi_Patel} alt="Maharshi Patel"></Image>
            <h4 class="text-sm md:text-base lg:w-[4rem]">
                Maharshi Patel
            </h4>
        </div>
        <div class="flex flex-col  gap-2">
            <Image src={Dipen_Gala} alt="Dipen Gala"></Image>
            <h4 class="text-sm md:text-base lg:w-[4rem]">
                Dipen Gala
            </h4>
        </div>
    </div>
    <h3 class="text-[#31393C] text-sm md:text-base lg:text-lg  font-semibold mt-5  ">
        Industry Engagement:
    </h3>
    <p class="text-sm md:text-base mt-3 text-[#31393C]">
        We extend our heartfelt gratitude to our clients from the healthcare, manufacturing, logistics, and other sectors who joined us. Your presence and insights significantly contributed to the vibrant discussions and knowledge sharing.
    </p>

    <div class="flex flex-col mt-4 lg:mt-8 text-[#31393C] gap-6 lg:gap-8 ">
        <div class="flex flex-col sm:flex-row  gap-4 lg:gap-8 md:items-center ">
            <Image src={Vijay_patel} alt="Vijay Patel"></Image>
            <div>
                <h4 class="font-semibold text-sm md:text-base lg:text-lg">
                    Journey from SAP to ERPNext
                </h4>
                <p class="text-sm md:text-base mt-2">An exciting journey as we transition from SAP to ERPNext. This shift
                  represents not only a change in software but a strategic move
                  towards a more agile, user-friendly, and cost-effective ERP solution.</p>
                <div class="flex flex-row gap-3  logo lg:gap-3 mt-2 lg:mt-4 sm:items-center ">
                    <Image src={vijay} alt="Vijay Mamra"></Image>
                    <div>
                        <h5 class="font-semibold text-sm md:text-base">Vijay patel</h5>
                        <p class="mt-2 text-sm">Director, Vijay Mamra Pvt.Ltd</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex flex-col sm:flex-row gap-4 lg:gap-8 md:items-center ">
            <Image src={Arjun_Pachani} alt="Arjun Pachani"></Image>
            <div>
                <h4 class="font-semibold text-sm md:text-base lg:text-lg">
                    ERPNext for Equipment-as-a-Service Portal
                </h4>
                <p class="text-sm md:text-base mt-2">It gives me great pleasure as we use ERPNext for our Equipment
                  portal.This implementation a step forward in our commitment to
                  enhancing operational and providing service to our clients.</p>
                <div class="flex flex-row gap-3 logo lg:gap-3 mt-2 lg:mt-4 sm:items-center ">
                    <Image src={migoo} alt="migoo"></Image>
                    <div>
                        <h5 class="font-semibold text-sm md:text-base">Arjun Pachani</h5>
                        <p class="mt-2 text-sm">Founder, Migoo Equipment</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex flex-col sm:flex-row gap-4 lg:gap-8 md:items-center ">
            <Image src={Parth_Parikh} alt="Parth Parikh"></Image>
            <div>
                <h4 class="font-semibold text-sm md:text-base lg:text-lg">
                    ERPNext for Healthcare in the United States
                </h4>
                <p class="text-sm md:text-base mt-2">Adopting ERPNext is a significant step towards enhancing our
                  efficiency, improving patient care, and positioning ourselves for
                  future growth.</p>
                <div class="flex flex-row gap-3 logo lg:gap-3 mt-2 lg:mt-4 sm:items-center ">
                    <Image src={Rxbb} alt="Rxbb"></Image>
                    <div>
                        <h5 class="font-semibold text-sm md:text-base">Parth Parikh</h5>
                        <p class="mt-2 text-sm">Director, RxBB</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex flex-col sm:flex-row gap-4 lg:gap-8 md:items-center ">
            <Image src={Ashish_Gargi} alt="Ashish Gargi"></Image>
            <div>
                <h4 class="font-semibold text-sm md:text-base lg:text-lg">
                  CRM for Real Estate 
                </h4>
                <p class="text-sm md:text-base mt-2">The implementation of a new CRM system tailored specifically for
                  our real estate operations. This move is a step towards enhancing
                  our client relationships, and driving business growth.</p>
                <div class="flex flex-row  logo gap-3 lg:gap-3 mt-2 lg:mt-4 sm:items-center ">
                    <Image src={mera_pata} alt="merapata"></Image>
                    <div>
                        <h5 class="font-semibold text-sm md:text-base">Ashish Gargi</h5>
                        <p class="mt-2 text-sm">Founder, Mera Pata</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex flex-col sm:flex-row gap-4 lg:gap-8 md:items-center ">
            <Image src={Abhishek_Jain} alt="Abhishek Jain"></Image>
            <div>
                <h4 class="font-semibold text-sm md:text-base lg:text-lg">
                Journey from Odoo to  ERPNext
                </h4>
                <p class="text-sm md:text-base mt-2">Our journey from Odoo to ERPNext is a significant step towards
                  enhancing our quality services and better meet the needs of our
                  clients.</p>
                <div class="flex flex-row logo gap-3 lg:gap-3 mt-2 lg:mt-4 sm:items-center ">
                    <Image src={mantra} alt="mantra"></Image>
                    <div>
                        <h5 class="font-semibold text-sm md:text-base">Abhishek Jain</h5>
                        <p class="mt-2 text-sm">Manager (Finance), Mantra Softech Pvt Ltd</p>
                    </div>
                </div>
            </div>
        </div>

        <h4 class="font-semibold text-sm md:text-base lg:text-lg mt-5  text-[#31393C]">
          Event Gallery:
        </h4>
    </div>
  </div>


  <div class="flex items-center  mx-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0 my-4 lg:my-6">
    <div class="  swiper swiper_banner_button  " >
      
      <div class="swiper-wrapper text-[#31393C] flex items-center ">
          <div class="swiper-slide">
            <Image loading="eager" src={Rushabh_Mehta_Slider} alt="Rushabh Mehta" class="max-sm:hidden" />
            <Image loading="eager" src={Rushabh_Mehta_min} alt="Rushabh Mehta" class="sm:hidden w-[calc(100vw-2.5rem)] " />
          </div>
    
         <div class=" swiper-slide">
            <Image loading="eager" src={parth_Faraz} alt="Exciting Day" class="max-sm:hidden"   />
            <Image loading="eager" src={parth_Faraz_min} alt="Exciting Day" class="sm:hidden w-[calc(100vw-2.5rem)]"   />
          
          </div>
    
         <div class=" swiper-slide">
            <Image loading="eager" src={Kamal_Patel} alt="Exciting Day" class=" max-sm:hidden "   />
            <Image loading="eager" src={Kamal_Patel_min} alt="Exciting Day" class="sm:hidden w-[calc(100vw-2.5rem)]"   />
          </div>
         <div class=" swiper-slide">
            <Image loading="eager" src={Ananad_Resubh} alt="Exciting Day"    class=" max-sm:hidden "  />
            <Image loading="eager" src={Ananad_Resubh_min} alt="Exciting Day" class="sm:hidden w-[calc(100vw-2.5rem)]"   />
          </div>
          
          <div class=" swiper-slide">
            <Image loading="eager" src={Ashish_sanskar_team} alt="Exciting Day"  class=" max-sm:hidden "  />
            <Image loading="eager" src={Ashish_sanskar_team_min} alt="Exciting Day" class=" sm:hidden w-[calc(100vw-2.5rem)]"   />
          
          </div>
    
          <div class=" swiper-slide">
            <Image loading="eager" src={Arjun_Pachani_Slider} alt="Exciting Day"   class=" max-sm:hidden "  />
            <Image loading="eager" src={Arjun_Pachani_min} alt="Exciting Day" class="sm:hidden w-[calc(100vw-2.5rem)]"   />
          
          </div>
          <div class=" swiper-slide">
            <Image loading="eager" src={Ananad_Thakker} alt="Exciting Day"   class=" max-sm:hidden "  />
            <Image loading="eager" src={Ananad_Thakker_min} alt="Exciting Day" class="sm:hidden w-[calc(100vw-2.5rem)]"   />
          
          </div>
          
          <div class=" swiper-slide">
            <Image loading="eager" src={foram_harsh_sahil_vijay} alt="Exciting Day"    class=" max-sm:hidden "  />
            <Image loading="eager" src={foram_harsh_sahil_vijay_min} alt="Exciting Day" class="sm:hidden w-[calc(100vw-2.5rem)]"   />
          
          </div>
      </div>
      <div class="swiper-pagination " ></div>
    </div>
  </div>


    <div
      class="mx-5 md:max-w-6xl md:mx-auto md:px-24 lg:px-40 2xl:px-48 pb-[2rem] md:pb-[2rem] lg:pb-[4rem] mt-5 lg:mt-10"
    >

    <div class="mt-5  lg:mt-10 text-[#31393C]">
        <h4 class="font-semibold text-sm md:text-base lg:text-lg">
           Testimonials:
        </h4>
        <div class="flex flex-col  sm:flex-row mt-4 lg:mt-6 gap-7">
            <div class=" rounded-xl mb-shadow p-7 w-full lg:w-1/2">
                <p class="text-sm md:text-base sm:h-[100px] md:h-[144px] lg:h-[120px] xl:h-[96px] 2xl:h-[120px]">The insights shared by the Frappe team were truly enlightening. It was great to see so many industry experts come together.</p>
                <div class="flex flex-col pt-5 lg:pt-10">
                    <h5 class="font-semibold text-sm md:text-base">Sahil Patel</h5> 
                    <p class="mt-2 text-sm">ERPNext Consultant</p>
                </div>
            </div>

            <div class=" rounded-xl mb-shadow p-7 w-full lg:w-1/2">
                <p class="text-sm md:text-base">
                  I attended the Frappe event in Ahmedabad and met Rushabh Mehta. It was well-organized with valuable
                  sessions. Thanks to Sanskar
                  Technolab and the team!
                </p>
                <div class="flex flex-col pt-5 lg:pt-10 ">
                    <h5 class="font-semibold text-sm md:text-base">Nilesh Pithiya</h5>
                    <p class="mt-2 text-sm">Frappe Developer</p>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-5 lg:mt-10 text-[#31393C]">
        <h4 class="font-semibold text-sm md:text-base lg:text-lg  ">
            Outcomes and Takeaways:
          </h4>
          <div class="mt-5">
            <ul class="!list-disc pl-[25px] ">
              <li class="text-sm md:text-base">
                Deepened understanding of ERPNext and Frappe Apps functionalities.
              </li>
              <li class="text-sm md:text-base pt-5">
                Strengthened connections between tech enthusiasts and industry experts.
              </li>
              <li class="text-sm md:text-base pt-5">
                Initiated new collaborations and partnerships across various sectors.
              </li>
        
            </ul>
          </div>
    </div>

    <div class="mt-5 lg:mt-10 text-[#31393C]">
        <h4 class="font-semibold text-sm md:text-base lg:text-lg ">
            Stay Connected:
          </h4>
          <p class="mt-5">We look forward to continuing our journey of innovation and excellence with you. Stay tuned for more exciting events and updates!</p>
    </div>

    <div class="flex flex-col sm:flex-row mt-5 gap-5 text-[#31393C]">
      <div class=" flex flex-row gap-3">
          <a class="text-sm md:text-base underline"  href="https://www.facebook.com/SanskarTechnolab/" target="_blank"
          > <Image src={facebook_icon_event} alt="facebook" /></a>
        
          <a class="text-sm md:text-base underline"  href="https://www.facebook.com/SanskarTechnolab/" target="_blank">Follow us on FaceBook</a>
      </div>

      <div class="flex flex-row gap-3">
         
          <a target="_blank" target="_blank" class="text-sm md:text-base underline" href="https://in.linkedin.com/company/sanskar-technolab-pvt-ltd"> <Image src={linkedin_event} alt="LinkedIn"></Image></a>    
          <a target="_blank"  class="text-sm md:text-base underline" href="https://in.linkedin.com/company/sanskar-technolab-pvt-ltd">Connect with us on LinkedIn</a>          
      </div>
  </div>
    

  </div>
  </section>
<!--Thank You for Joining Us at Frappe Local - Ahmedabad 2024! End  -->

   <!-- Explore more Events Start -->
   <section
   class=" bg-gradient-to-b from-[#cee4fc] to-[#FFFF] "
 >
 <div class="mx-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0 py-[2rem] md:py-[2rem] lg:pt-[4rem] lg:pb-[8rem]">

     <h2
           class="text-[#3E96F4] text-center font-semibold text-2xl md:text-4xl "
         >
         Explore more Events
         </h2>
    <div
      class="mt-8 lg:mx-0 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5"
      id="events_container"
    >
      <div class="border shadow-lg h-full event-card all upcoming">
        <div class="relative">
          <Image
            loading="eager"
            src={Frappeverse_2024}
            alt="Frappeverse 2024"
            class="w-full"
          />
          <button
            class="p-2 bg-[#3E96F4] text-white text-xs md:text-sm lg:text-base font-semibold rounded-lg absolute bottom-[16px] left-[16px]"
          >
            Completed
          </button>
          <div
            class="p-2 lg:min-w-[60px]  text-[#31393C] xl:min-w-[84px] bg-white text-[#331393C] text-center flex flex-col text-xs md:text-sm lg:text-base font-semibold rounded-lg absolute bottom-[16px] right-[16px]"
          >
            <span class="text-lg md:text-xl lg:text-2xl font-bold">3-4</span>
            <span class="text-sm font-semibold">OCT</span>
            <span class="text-sm font-semibold">2024</span>
          </div>
        </div>
        <div class="p-5 text-[#31393C]">
          <div class="xl:min-h-[140px] lg:min-h-[200px] md:min-h-[160px] 2xl:min-h-[120px]">
            <h3 class="font-semibold text-base md:text-lg lg:text-xl mb-2">
              Frappeverse 2024
            </h3>
            <p class="text-sm md:text-sm lg:text-base">
              We are excited to announce that we will be exhibiting at Frappe
              Verse 2024 as Gold Sponsors.
            </p>
          </div>
          <a
            href="/frappeverse-2024"
            class="flex justify-between rounded-lg px-3 md:px-3 lg:px-5 py-2 md:py-2 border-[1px] border-[#B7BAB2] max-w-[160px] mt-5"
          >
            <span class="text-[#3E96F4] font-semibold font-inter"
              >Explore Now</span
            >
            <Image loading="eager" src={Explore_now} alt="right arrow" />
          </a>
        </div>
      </div>

      <div class="border shadow-lg h-full event-card all completed">
        <div class="relative">
          <Image
            loading="eager"
            src={Welcome_Rushabh_Mehta}
            alt="Welcome Rushabh Mehta, the visionary behind Frappe"
            class="w-full"
          />
          <button
            class="p-2 bg-[#3E96F4] text-white text-xs md:text-sm lg:text-base font-semibold rounded-lg absolute bottom-[16px] left-[16px]"
          >
            Completed
          </button>
          <div
            class="p-2 lg:min-w-[60px] text-[#31393C] xl:min-w-[84px] bg-white text-[#331393C] text-center flex flex-col text-xs md:text-sm lg:text-base font-semibold rounded-lg absolute bottom-[16px] right-[16px]"
          >
            <span class="text-lg md:text-xl lg:text-2xl font-bold">5</span>
            <span class="text-sm font-semibold">JULY</span>
            <span class="text-sm font-semibold">2024</span>
          </div>
        </div>
        <div class="p-5 text-[#31393C]">
          <div class="xl:min-h-[140px] lg:min-h-[200px] md:min-h-[160px] 2xl:min-h-[120px]">
            <h3 class="font-semibold text-base md:text-lg lg:text-xl mb-2">
              Welcome Rushabh Mehta, the visionary behind Frappe
            </h3>
            <p class="text-sm md:text-sm lg:text-base ">
              We were thrilled to welcome Rushabh Mehta, the visionary behind
              Frappe & ERPNext, to our office.
            </p>
          </div>
          <a
            href="/frappe-founder"
            class="flex justify-between rounded-lg px-3 md:px-3 lg:px-5 py-2 md:py-2 border-[1px] border-[#B7BAB2] max-w-[160px] mt-5"
          >
            <span class="text-[#3E96F4] font-semibold font-inter"
              >Explore Now</span
            >
            <Image loading="eager" src={Explore_now} alt="right arrow" />
          </a>
        </div>
      </div>
 
      <div class="border shadow-lg h-full event-card all completed">
        <div class="relative">
          <Image
            loading="eager"
            src={Republic_Day_Celebration}
            alt="Republic Day Celebration"
            class="w-full"
          />
          <button
            class="p-2 bg-[#3E96F4] text-white text-xs md:text-sm lg:text-base font-semibold rounded-lg absolute bottom-[16px] left-[16px]"
          >
            Completed
          </button>

          <div
            class="p-2 text-[#31393C] lg:min-w-[60px] xl:min-w-[84px] bg-white text-[#331393C] text-center flex flex-col text-xs md:text-sm lg:text-base font-semibold rounded-lg absolute bottom-[16px] right-[16px]"
          >
            <span class="text-lg md:text-xl lg:text-2xl font-bold">25</span>
            <span class="text-sm font-semibold">JAN</span>
            <span class="text-sm font-semibold">2024</span>
          </div>
        </div>

        <div class="p-5 text-[#31393C]">
          <div class="xl:min-h-[140px] lg:min-h-[200px] md:min-h-[160px] 2xl:min-h-[120px]">
            <h3 class="font-semibold text-base md:text-lg lg:text-xl mb-2">
              Republic Day Celebration
            </h3>
            <p class="text-sm md:text-sm lg:text-base">
              We  have hosted a Republic Day Celebration at Sanskar Technolab, where we were honored to welcome the incredible ERPNext team!
            </p>
          </div>
          <a
            href="/republic-day"
            class="flex justify-between rounded-lg px-3 md:px-3 lg:px-5 py-2 md:py-2 border-[1px] border-[#B7BAB2] max-w-[160px] mt-5"
          >
            <span class="text-[#3E96F4] font-semibold font-inter"
              >Explore Now</span
            >
            <Image loading="eager" src={Explore_now} alt="right arrow" />
          </a>
        </div>
      </div>
     
      
    </div>
 </div>
 </section>
 <!-- Explore more Events  End -->
</Layout>

<script>


        	 // Banner code with slider with next previous button Javascript Start
	document.addEventListener("DOMContentLoaded", function () {
          const swiper_banner = new Swiper(".swiper_banner_button", {
            slidesPerView: "auto",
            spaceBetween: 32,
            loop:true,
            autoplay: {
              delay: 3000,
              disableOnInteraction: false,
            },
            pagination: {
              el: ".swiper-pagination",
              clickable: true,
            },
                  // breakpoints: {
                  //   640: {
                  //     spaceBetween: 0,
                  //   },
                  // },
                  
          });
        });  

           

        
</script>
<style>
    @media (max-width: 360px) {
      .logo {
        display: flex;
        flex-direction: column !important;
      }
    }

    .mb-shadow {
      box-shadow: 0px 0px 5px 5px #0000001c;
    }

 
      
    .swiper_banner_button .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      width: auto !important;
    }
</style>
