---
import Layout from "../layouts/Layout.astro";
import "../styles.css";
import { Image, Picture } from "@astrojs/image/components";

import blue_tick from "../../public/Images/blue_tick.svg";
import right_arrow from "../../public/Images/right-arrow.svg";
import down_arrow from "../../public/Images/down_arrow.svg";
import up_arrow from "../../public/Images/up_arrow.svg";
import Lets_Talk from "../../public/Images/Lets_Talk.png";
import ERPNext_Healthcare from "../../public/Images/ERPNext_Healthcare.png";
import Elevate_healthcare from "../../public/Images/Elevate_healthcare.png";
import Optimizing_Healthcare_Operations from "../../public/Images/Optimizing_Healthcare_Operations.svg";
import industry_rich from "../../public/Images/industry-rich.svg";
import track_record from "../../public/Images/track-record.svg";
import approach from "../../public/Images/approach.svg";
import skilled from "../../public/Images/skilled.svg";
import timely_delivery from "../../public/Images/timely-delivery.svg";
import training from "../../public/Images/training.svg";
import Efficiency_Streamlined_Operations from "../../public/Images/Efficiency_Streamlined_Operations.svg";
import Enhanced_Patient_Care from "../../public/Images/Enhanced_Patient_Care.svg";
import Cost_Reduction from "../../public/Images/Cost_Reduction.svg";
import Improved_Reporting_Data_Management from "../../public/Images/Improved_Reporting_Data_Management.svg";
import Chain_Management from "../../public/Images/Chain_Management.svg";
import Efficient_Hospital_Visit from "../../public/Images/Efficient_Hospital_Visit.svg";
import Increased_Productivity from "../../public/Images/Increased_Productivity.svg";
import Improved_Communication from "../../public/Images/Improved_Communication.svg";
import Easy_customise from "../../public/Images/Easy_customise.svg";
import Healthcare_software from "../../public/Images/Healthcare_software.svg";
import Healthcare_providers from "../../public/Images/Healthcare_providers.svg";
import Healthcare_organizations from "../../public/Images/Healthcare_organizations.svg";
import Medical_device from "../../public/Images/Medical_device.svg";
import Pharmaceutical_companies from "../../public/Images/Pharmaceutical_companies.svg";
import Biotech_science from "../../public/Images/Biotech_science.svg";
import Healthcare_NGOs from "../../public/Images/Healthcare_NGOs.svg";
import Medical_Research from "../../public/Images/Medical_Research.svg";
import Laboratory_Diagnostic from "../../public/Images/Laboratory_Diagnostic.svg";
import Rehabilitation_Physiotherapy from "../../public/Images/Rehabilitation_Physiotherapy.svg";
import Medical_Equipment from "../../public/Images/Medical_Equipment.svg";
import Healthcare_Regulatory from "../../public/Images/Healthcare_Regulatory.svg";
import abdm from "../../public/Images/abdm.webp";
import clinical_procedures_and_encounters from "../../public/Images/clinical_procedures_and_encounters.webp";
import clinic_setup from "../../public/Images/clinic_setup.webp";
import clinconsultation_and_appointment_managementic_setup from "../../public/Images/consultation_and_appointment_management.webp";
import inpatient_facility_management from "../../public/Images/inpatient_facility_management.webp";
import laboratory_management from "../../public/Images/laboratory_management.webp";
import patient_management from "../../public/Images/patient_management.webp";
import practitioner_management from "../../public/Images/practitioner_management.webp";
import streamlined_workflow from "../../public/Images/streamlined_workflow.webp";
import therapy_and_rehabilitation_support from "../../public/Images/therapy_and_rehabilitation_support.webp";
---

<Layout
  title="Healthcare ERP - Frappe Healthcare | Sanskar Technolab "
  ,
  keyword="healthcare erp,medical software,healthcare erp systems,healthcare crm,erp software for healthcare industry,medical device manufacturing software,erp medical,medical device erp,healthcare software,erp in medical,erpnext healthcare,frappe healthcare"
  ,
  description="Sanskar Technolab offers ERP in medical and healthcare CRM solutions. Improve patient management and healthcare ERP with our comprehensive healthcare software."
  ,
  canonical_href="https://sanskartechnolab.com/healthcare-erp"
>
  <!-- Software Product Development Company Start -->
  <section class="lg:flex section-bg items-center banner-bg">
    <div
      class="flex items-center md:max-w-7xl md:mx-auto p-5 sm:p-10 md:p-24 2xl:px-0 relative"
    >
      <div
        class="flex lg:flex-row flex-col items-center gap-5 lg:gap-10 2xl:gap-32"
      >
        <div class="lg:basis-[50%] flex flex-col justify-center">
          <h1
            class="text-2xl md:text-3xl lg:text-4xl md:text-[2rem] lg:text-[2.5rem] lg:leading-[3rem] text-[#4D4C4D] font-bold"
          >
            ERPNext Healthcare
          </h1>
          <p
            class="mt-3 md:mt-5 text-[#31393C] text-sm md:text-base lg:text-lg font-semibold leading-5 md:leading-6"
          >
            Sanskar provides Frappe Health Implementation, consulting,
            development, support, and upgradation services.
          </p>

          <div
            class="lg:mt-5 mt-3 md:mt-7 grid grid-cols-1 sm:grid-cols-2 gap-3"
          >
            <div class="flex flex-row items-center gap-2">
              <Image loading="eager" src={blue_tick} alt="blue_tick" />
              <p
                class="text-sm md:text-base lg:text-lg font-semibold text-[#31393C]"
              >
                Patient Appointments
              </p>
            </div>
            <div class="flex flex-row items-center gap-2">
              <Image loading="eager" src={blue_tick} alt="blue_tick" />
              <p
                class="text-sm md:text-base lg:text-lg font-semibold text-[#31393C]"
              >
                Clinical Procedures
              </p>
            </div>
            <div class="flex flex-row items-center gap-2">
              <Image loading="eager" src={blue_tick} alt="blue_tick" />
              <p
                class="text-sm md:text-base lg:text-lg font-semibold text-[#31393C]"
              >
                Out Patient management
              </p>
            </div>
            <div class="flex flex-row items-center gap-2">
              <Image loading="eager" src={blue_tick} alt="blue_tick" />
              <p
                class="text-sm md:text-base lg:text-lg font-semibold text-[#31393C]"
              >
                Rehabilitation and Physiotherapy
              </p>
            </div>
            <div class="flex flex-row items-center gap-2">
              <Image loading="eager" src={blue_tick} alt="blue_tick" />
              <p
                class="text-sm md:text-base lg:text-lg font-semibold text-[#31393C]"
              >
                Inpatient management
              </p>
            </div>
            <div class="flex flex-row items-center gap-2">
              <Image loading="eager" src={blue_tick} alt="blue_tick" />
              <p
                class="text-sm md:text-base lg:text-lg font-semibold text-[#31393C]"
              >
                Laboratory Information System
              </p>
            </div>
            <div class="flex flex-row items-center gap-2">
              <Image loading="eager" src={blue_tick} alt="blue_tick" />
              <p
                class="text-sm md:text-base lg:text-lg font-semibold text-[#31393C]"
              >
                Medical Code Standards
              </p>
            </div>
          </div>

          <a
            href="#schedule-interview"
            class="mt-3 md:mt-5 flex justify-between bg-[#3E96F4] rounded-lg px-3 md:px-3 lg:px-5 py-2 md:py-2 lg:py-3 max-w-[300px]"
          >
            <p class="text-white font-semibold font-inter text-sm md:text-base">
              Schedule a Free demo now
            </p>
            <Image
              loading="eager"
              src={right_arrow}
              width={6}
              height={12}
              alt="right arrow "
            />
          </a>
        </div>
        <Image
          loading="eager"
          src={ERPNext_Healthcare}
          alt="ERPNext Healthcare "
        />
      </div>
    </div>
  </section>
  <!-- Software Product Development Company End-->

  <!-- Optimizing Healthcare Operations with ERPNext start -->
  <section
    class="mx-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0 pt-[2rem] md:pt-[2rem] lg:pt-[4rem]"
  >
    <h2
      class="text-[#3E96F4] text-2xl md:text-3xl lg:text-4xl font-semibold text-center mx-auto"
    >
      Optimizing Healthcare Operations with ERPNext
    </h2>
    <div
      class="flex gap-5 lg:gap-10 lg:flex-row flex-col max-lg:items-center justify-evenly mt-5 lg:mt-10"
    >
      <div class="max-lg:mx-auto">
        <Image
          class="max-sm:h-[250px]"
          loading="eager"
          src={Optimizing_Healthcare_Operations}
          alt="Optimizing Healthcare Operations"
        />
      </div>
      <div class="w-full lg:w-1/2">
        <p class="text-[#31393C] text-xs md:text-sm lg:text-base">
          The Frappe Health module seamlessly integrates with ERPNext, offering
          healthcare facilities a comprehensive solution to optimize operations
          and streamline workflows.
        </p>
        <p class="text-[#31393C] text-xs md:text-sm lg:text-base mt-5">
          By harnessing Frappe Health, organizations can achieve enhanced
          operational efficiency, transition to paperless workflows, improve the
          patient experience, increase productivity, bolster communication, and
          customize the system to fit specific requirements.
        </p>
        <p class="text-[#31393C] text-xs md:text-sm lg:text-base mt-5">
          With functionalities like appointment scheduling, vital signs capture,
          medication order management, and patient encounter recording for
          investigation orders, ERPNext Healthcare emerges as a crucial tool for
          managing hospitals, clinics, and practices. Access to a patient’s
          medical history in real-time empowers healthcare providers to review
          past illnesses and interventions, facilitating the delivery of
          efficient and top-notch care.
        </p>
      </div>
    </div>
  </section>
  <!-- Optimizing Healthcare Operations with ERPNext End -->

  <!-- Healthcare Software Development Solution by Sanskar Technolab Start -->
  <section
    class="flex lg:gap-10 2xl:gap-16 lg:flex-row flex-col items-center rounded-3xl mt-[2rem] md:mt-[2rem] lg:mt-[4rem] bg-[#FAFAFA]"
  >
    <div
      style="background-image: url('../../../../Images/Healthcare_Software.png')"
      class="w-full h-[350px] sm:h-[400px] md:h-[460px] lg:h-[691px] flex-1 lg:w-1/2 bg-cover"
    >
    </div>

    <div
      class="w-full lg:w-1/2 flex-1 lg:mr-24 p-5 md:p-8 lg:py-10 lg:px-0 xl:p-0 md:mr-auto"
    >
      <h2
        class="text-[#3E96F4] gap-[10px] text-xl md:text-2xl lg:text-3xl font-semibold lg:max-w-[600px]"
      >
        Healthcare Software Development Solution by Sanskar Technolab
      </h2>
      <p
        class="text-xs md:text-sm lg:text-base mt-5 text-[#31393C] lg:max-w-[600px]"
      >
        In partnership with Sanskar Technolab, you will be able to create
        products tailored to your specific needs and bring maximum results in
        automating crucial industry tasks. We use innovative technologies to
        provide you with:
      </p>
      <div class="mt-5">
        <div class="flex gap-3">
          <Image loading="eager" src={blue_tick} alt="blue_tick" />
          <h3 class="text-sm md:text-lg font-semibold">
            Healthcare Software Product Development
          </h3>
        </div>
        <div class="flex mt-2 gap-3">
          <Image loading="eager" src={blue_tick} alt="blue_tick" />
          <h3 class="text-sm md:text-lg font-semibold">
            Patient Engagement Solutions
          </h3>
        </div>
        <div class="flex mt-2 gap-3">
          <Image loading="eager" src={blue_tick} alt="blue_tick" />
          <h3 class="text-sm md:text-lg font-semibold">
            Telemedicine Software Development
          </h3>
        </div>
        <div class="flex mt-2 gap-3">
          <Image loading="eager" src={blue_tick} alt="blue_tick" />
          <h3 class="text-sm md:text-lg font-semibold">Healthcare CRM</h3>
        </div>
        <div class="flex mt-2 gap-3">
          <Image loading="eager" src={blue_tick} alt="blue_tick" />
          <h3 class="text-sm md:text-lg font-semibold">
            Medical Billing Software
          </h3>
        </div>
        <div class="flex mt-2 gap-3">
          <Image loading="eager" src={blue_tick} alt="blue_tick" />
          <h3 class="text-sm md:text-lg font-semibold">
            Remote Patient Monitoring Software
          </h3>
        </div>
        <div class="flex mt-2 gap-3">
          <Image loading="eager" src={blue_tick} alt="blue_tick" />
          <h3 class="text-sm md:text-lg font-semibold">
            Hospital Management Software
          </h3>
        </div>
        <div class="flex mt-2 gap-3">
          <Image loading="eager" src={blue_tick} alt="blue_tick" />
          <h3 class="text-sm md:text-lg font-semibold">
            Healthcare Software Integration Solutions
          </h3>
        </div>
        <div class="flex mt-2 gap-3">
          <Image loading="eager" src={blue_tick} alt="blue_tick" />
          <h3 class="text-sm md:text-lg font-semibold">
            Medical device manufacturers
          </h3>
        </div>
        <div class="flex mt-2 gap-3">
          <Image loading="eager" src={blue_tick} alt="blue_tick" />
          <h3 class="text-sm md:text-lg font-semibold">
            Digital startups in Healthcare
          </h3>
        </div>
      </div>
    </div>
  </section>
  <!-- Healthcare Software Development Solution by Sanskar Technolab End -->

  <!--Elevate your healthcare facility with cutting-edge Healthcare Software Start -->
  <section
    class="mx-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0 pt-[2rem] md:pt-[2rem] lg:pt-[4rem]"
  >
    <div class="bg-[#3E96F4] rounded-2xl">
      <div class="lg:flex items-center text-[#FFFFFF]">
        <div class="lg:basis-1/2 xl:basis-full p-5 md:p-8 lg:p-10">
          <h2 class="lg:text-4xl md:text-3xl text-2xl font-semibold">
            Elevate your healthcare facility with cutting-edge Healthcare
            Software
          </h2>
          <a
            class="flex gap-5 items-center rounded-lg bg-[#FFFFFF] py-2 px-4 md:px-4 md:py-2 max-w-[275px] h-[52px] mt-3 lg:mt-5 cursor-pointer"
            href="#schedule-interview"
          >
            <p
              class="font-semibold text-base md:text-xl font-inter text-[#3E96F4]"
            >
              Request a demo now!
            </p>
            <Image
              loading="eager"
              src={right_arrow}
              alt="right_arrow"
              width={6}
              height={12}
            />
          </a>
        </div>
        <div class="basis-1/2 hidden lg:block lg:h-[352px] xl:h-[240px]">
          <Image
            loading="eager"
            src={Elevate_healthcare}
            alt="Elevate Healthcare"
            class="rounded-r-xl float-right h-full"
          />
        </div>
      </div>
    </div>
  </section>
  <!--Elevate your healthcare facility with cutting-edge Healthcare Software End -->

  <!--Why Sanskar Technolab for your Healthcare ERP System? Start-->
  <section
    class="mx-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0 py-[2rem] md:py-[2rem] lg:py-[4rem]"
  >
    <div class="md:text-center sm:text-left">
      <h2 class="text-2xl md:text-3xl lg:text-4xl text-[#3E96F4] font-semibold">
        Why Sanskar Technolab for your Healthcare ERP System?
      </h2>
    </div>

    <div
      class="grid lg:grid-cols-2 md:grid-cols-2 sm:grid-cols-2 mt-16 md:mt-18 lg:mt-20 gap-16 md:gap-14 lg:gap-12"
    >
      <div class="flex flex-wrap gap-4 md:gap-6 lg:gap-8 text-[#31393C]">
        <Image
          loading="eager"
          class="sm:w-auto self-start -mt-5"
          src={industry_rich}
          alt="Industry-Rich Experience"
          width={64}
          height={59}
        />
        <div class="lg:w-9/12 md:w-12/12 sm:w-12/12">
          <h3 class="text-base md:text-lg lg:text-xl font-semibold mb-2">
            Industry-Rich Experience
          </h3>
          <p class="text-sm md:text-sm lg:text-base">
            A leading ERPNext implementation services provider, we deeply
            understand the manufacturing industry's unique challenges and
            requirements. With years of experience working with manufacturing
            businesses, we bring their expertise to ensure a customized
            implementation.
          </p>
        </div>
      </div>
      <div class="flex flex-wrap gap-4 md:gap-6 lg:gap-8 text-[#31393C]">
        <Image
          loading="eager"
          class="sm:w-auto self-start -mt-5"
          src={track_record}
          alt=" Proven Track Record"
          width={58}
          height={64}
        />
        <div class="lg:w-9/12 md:w-12/12 sm:w-12/12">
          <h3 class="text-base md:text-lg lg:text-xl font-semibold mb-2">
            Proven Track Record
          </h3>
          <p class="text-sm md:text-sm lg:text-base">
            Our track record speaks for itself. Our ERP software development
            company has experienced remarkable transformations in their
            manufacturing operations through their end-to-end implementations.
          </p>
        </div>
      </div>
      <div class="flex flex-wrap gap-4 md:gap-6 lg:gap-8 text-[#31393C]">
        <Image
          loading="eager"
          class="sm:w-auto self-start -mt-5"
          src={approach}
          alt="Collaborative Approach"
          width={64}
          height={64}
        />
        <div class="lg:w-9/12 md:w-12/12 sm:w-12/12">
          <h3 class="text-base md:text-lg lg:text-xl font-semibold mb-2">
            Collaborative Approach
          </h3>
          <p class="text-sm md:text-sm lg:text-base">
            We believe in building strong partnerships with our clients. We take
            the time to understand their business goals, processes, and pain
            points and adopt collaborative approaches with the best project
            management & communication tools.
          </p>
        </div>
      </div>
      <div class="flex flex-wrap gap-4 md:gap-6 lg:gap-8 text-[#31393C]">
        <Image
          loading="eager"
          class="sm:w-auto self-start -mt-5"
          src={skilled}
          alt=" Skilled and Dedicated Team"
          width={64}
          height={54}
        />
        <div class="lg:w-9/12 md:w-12/12 sm:w-12/12">
          <h3 class="text-base md:text-lg lg:text-xl font-semibold mb-2">
            Skilled and Dedicated Team
          </h3>
          <p class="text-sm md:text-sm lg:text-base">
            Sanskar Technolab’s skilled ERP developers stay updated with the
            latest industry trends and best practices of implementation with
            end-to-end guidance, support, and training to ensure a smooth and
            successful implementation.
          </p>
        </div>
      </div>
      <div class="flex flex-wrap gap-4 md:gap-6 lg:gap-8 text-[#31393C]">
        <Image
          loading="eager"
          class="sm:w-auto self-start -mt-5 mr-4"
          src={timely_delivery}
          alt="Timely Delivery and Cost-Effectiveness"
          width={45}
          height={64}
        />
        <div class="lg:w-9/12 md:w-12/12 sm:w-12/12">
          <h3 class="text-base md:text-lg lg:text-xl font-semibold mb-2">
            Timely Delivery and Cost-Effectiveness
          </h3>
          <p class="text-sm md:text-sm lg:text-base">
            We prioritize delivering projects on time and within the agreed
            budget for their clients. Our ERP consulting and implementation
            partner follows a well-defined methodology to ensure efficient
            project management, cost-effectiveness, and timely communication.
          </p>
        </div>
      </div>
      <div class="flex flex-wrap gap-4 md:gap-6 lg:gap-8 text-[#31393C]">
        <Image
          loading="eager"
          class="sm:w-auto self-start -mt-5"
          src={training}
          alt="Comprehensive Training and Support"
          width={64}
          height={63}
        />
        <div class="lg:w-9/12 md:w-12/12 sm:w-12/12">
          <h3 class="text-base md:text-lg lg:text-xl font-semibold mb-2">
            Comprehensive Training and Support
          </h3>
          <p class="text-sm md:text-sm lg:text-base">
            We don't just help with the implementation; we believe in empowering
            your team with the required knowledge and skills even after the
            implementation is completed to ensure satisfactory results.
          </p>
        </div>
      </div>
    </div>
  </section>
  <!--Why Sanskar Technolab for your Healthcare ERP System? End-->

  <!-- Benefits of ERPNext for Healthcare Industry start-->

  <section class="bg-[#FAFAFA]">
    <div
      class="mx-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0 py-[2rem] md:py-[2rem] lg:py-[4rem]"
    >
      <h2 class="text-[#3E96F4] text-2xl md:text-3xl lg:text-4xl font-semibold">
        Benefits of ERPNext for Healthcare Industry
      </h2>

      <div
        class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 mt-5 md:mt-7 lg:mt-10 gap-7"
      >
        <div class="Key_card p-3 md:p-5">
          <Image
            loading="eager"
            src={Efficiency_Streamlined_Operations}
            alt="Efficiency and Streamlined Operations"
          />

          <h3
            class="text-[#31393C] text-sm md:text-base lg:text-lg font-semibold mt-3 md:mt-5"
          >
            Efficiency and Streamlined Operations
          </h3>

          <p
            class="text-[#31393C] text-xs md:text-sm lg:text-base mt-2 md:mt-3 lg:mt-2"
          >
            Implementing an ERPNext Healthcare system in healthcare boosts
            efficiency by consolidating patient records, staff schedules, and
            admin tasks onto one platform.
          </p>
        </div>

        <div class="Key_card p-3 md:p-5">
          <Image
            loading="eager"
            src={Enhanced_Patient_Care}
            alt="Enhanced Patient Care"
          />

          <h3
            class="text-[#31393C] text-sm md:text-base lg:text-lg font-semibold mt-3 md:mt-5"
          >
            Enhanced Patient Care
          </h3>

          <p
            class="text-[#31393C] text-xs md:text-sm lg:text-base mt-2 md:mt-3 lg:mt-2"
          >
            ERPNext Healthcare systems centralize patient information, enabling
            prompt, informed decisions, personalized care, accurate diagnoses,
            and improved staff collaboration.
          </p>
        </div>

        <div class="Key_card p-3 md:p-5">
          <Image loading="eager" src={Cost_Reduction} alt="Agile Methodology" />

          <h3
            class="text-[#31393C] text-sm md:text-base lg:text-lg font-semibold mt-3 md:mt-5"
          >
            Cost Reduction
          </h3>

          <p
            class="text-[#31393C] text-xs md:text-sm lg:text-base mt-2 md:mt-3 lg:mt-2"
          >
            ERPNext Healthcare systems reduce operational costs, minimize
            paperwork, and improve inventory management, and administrative work
            leading to significant cost savings.
          </p>
        </div>

        <div class="Key_card p-3 md:p-5">
          <Image
            loading="eager"
            src={Improved_Reporting_Data_Management}
            alt="Improved Reporting and Data Management"
          />

          <h3
            class="text-[#31393C] text-sm md:text-base lg:text-lg font-semibold mt-3 md:mt-5"
          >
            Improved Reporting and Data Management
          </h3>

          <p
            class="text-[#31393C] text-xs md:text-sm lg:text-base mt-2 md:mt-3 lg:mt-2"
          >
            ERPNext software helps healthcare professionals efficiently manage
            data and generate reports by centralizing patient records,
            schedules, and inventory.
          </p>
        </div>

        <div class="Key_card p-3 md:p-5">
          <Image
            loading="eager"
            src={Chain_Management}
            alt="Better Supply Chain Management"
          />

          <h3
            class="text-[#31393C] text-sm md:text-base lg:text-lg font-semibold mt-3 md:mt-5"
          >
            Better Supply Chain Management
          </h3>

          <p
            class="text-[#31393C] text-xs md:text-sm lg:text-base mt-2 md:mt-3 lg:mt-2"
          >
            ERPNext optimizes supply chain management by monitoring inventory
            and automating procurement, ensuring timely medical supplies and
            preventing shortages or overstocking.
          </p>
        </div>

        <div class="Key_card p-3 md:p-5">
          <Image
            loading="eager"
            src={Efficient_Hospital_Visit}
            alt="Efficient Hospital Visit"
          />

          <h3
            class="text-[#31393C] text-sm md:text-base lg:text-lg font-semibold mt-3 md:mt-5"
          >
            Efficient Hospital Visit
          </h3>

          <p
            class="text-[#31393C] text-xs md:text-sm lg:text-base mt-2 md:mt-3 lg:mt-2"
          >
            Reduces the waiting time for patients, ensuring they receive
            essential care more promptly and efficiently at the hospital.
          </p>
        </div>

        <div class="Key_card p-3 md:p-5">
          <Image
            loading="eager"
            src={Increased_Productivity}
            alt="Increased Productivity"
          />

          <p
            class="text-[#31393C] text-sm md:text-base lg:text-lg font-semibold mt-3 md:mt-5"
          >
            Increased Productivity
          </p>

          <p
            class="text-[#31393C] text-xs md:text-sm lg:text-base mt-2 md:mt-3 lg:mt-2"
          >
            By easily automating inter-department procedures, Frappe Health
            allows greater productiveness in healthcare institutions.
          </p>
        </div>
        <div class="Key_card p-3 md:p-5">
          <Image
            loading="eager"
            src={Improved_Communication}
            alt="Improved Communication"
          />

          <h3
            class="text-[#31393C] text-sm md:text-base lg:text-lg font-semibold mt-3 md:mt-5"
          >
            Improved Communication
          </h3>

          <p
            class="text-[#31393C] text-xs md:text-sm lg:text-base mt-2 md:mt-3 lg:mt-2"
          >
            Users can coordinate and talk amongst many departments in actual
            time due to the fact of the intertwined workflows.
          </p>
        </div>

        <div class="Key_card p-3 md:p-5">
          <Image loading="eager" src={Easy_customise} alt="Easy to customise" />

          <p
            class="text-[#31393C] text-sm md:text-base lg:text-lg font-semibold mt-3 md:mt-5"
          >
            Easy to customise
          </p>

          <p
            class="text-[#31393C] text-xs md:text-sm lg:text-base mt-2 md:mt-3 lg:mt-2"
          >
            Since Frappe Health is an open-source program, it is easy to
            regulate it to meet the special wishes of healthcare facilities.
          </p>
        </div>
      </div>
    </div>
  </section>

  <!-- Benefits of ERPNext for Healthcare Industry end -->

  <!--Optimize patient care with our Healthcare Software Start -->
  <section
    class="mx-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0 pt-[2rem] md:pt-[2rem] lg:pt-[4rem] text-[#FFFFFF]"
  >
    <div
      style=" background-image: url('https://sanskar.frappe.cloud/files/image_2024_07_01T10_15_17_882Z.png')"
      class="bg-[#5C6D89] rounded-2xl lg:bg-no-repeat xl:bg-right position"
    >
      <div class="lg:basis-1/2 xl:basis-full p-5 md:p-8 lg:p-10">
        <h2
          class="lg:text-4xl md:text-3xl text-2xl font-semibold lg:max-w-[510px]"
        >
          Optimize patient care with our Healthcare Software
        </h2>
        <a
          class="flex gap-5 items-center rounded-lg bg-[#31393C] py-2 px-4 md:px-4 md:py-2 max-w-[335px] h-[52px] mt-3 lg:mt-5 cursor-pointer"
          href="#schedule-interview"
        >
          <p
            class="font-semibold text-base md:text-xl font-inter text-[#FFFFFF]"
          >
            Schedule consultation now!
          </p>
          <Image
            loading="eager"
            src={right_arrow}
            alt="right_arrow"
            width={6}
            height={12}
          />
        </a>
      </div>
    </div>
  </section>
  <!--Optimize patient care with our Healthcare Software End -->

  <!--  A wide range of healthcare businesses can Leverage Frappe Healthcare! Start -->
  <section
    class="mx-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0 pt-[2rem] md:pt-[2rem] lg:pt-[4rem]"
  >
    <div class="md:text-center sm:text-left">
      <h2
        class="text-2xl md:text-3xl lg:text-4xl text-[#3E96F4] font-semibold mx-auto lg:w-[55rem] text-center"
      >
        A wide range of healthcare businesses can Leverage Frappe Healthcare!
      </h2>
      <p class="font-semibold text-sm md:text-sm lg:text-base my-3">
        No matter what your business requirements are? We have got you covered!
      </p>
    </div>
    <div
      class="grid sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-5 text-[#31393C] font-bold text-sm md:text-base lg:text-lg mt-6 md:mt-8 lg:mt-10"
    >
      <div
        class="rounded-lg mb-shadow flex items-center gap-2 border border-[#B5CBE3] bg-white/50"
      >
        <Image
          loading="eager"
          src={Healthcare_software}
          alt="Healthcare software"
        />
        <p>Healthcare software product companies</p>
      </div>
      <div
        class="rounded-lg mb-shadow flex items-center gap-3 border border-[#B5CBE3] bg-white/50"
      >
        <Image
          loading="eager"
          src={Healthcare_providers}
          alt="Healthcare providers"
        />
        <p>Healthcare providers</p>
      </div>
      <div
        class="rounded-lg mb-shadow flex items-center gap-3 border border-[#B5CBE3] bg-white/50"
      >
        <Image
          loading="eager"
          src={Healthcare_organizations}
          alt="Healthcare organizations"
        />
        <p>Healthcare organizations</p>
      </div>
      <div
        class="rounded-lg mb-shadow flex items-center gap-3 border border-[#B5CBE3] bg-white/50"
      >
        <Image
          loading="eager"
          src={Medical_device}
          alt="Medical device manufacturers"
        />
        <p>Medical device manufacturers</p>
      </div>
      <div
        class="rounded-lg mb-shadow flex items-center gap-3 border border-[#B5CBE3] bg-white/50"
      >
        <Image
          loading="eager"
          src={Pharmaceutical_companies}
          alt="Pharmaceutical companies"
        />
        <p>Pharmaceutical companies</p>
      </div>
      <div
        class="rounded-lg mb-shadow flex items-center gap-3 border border-[#B5CBE3] bg-white/50"
      >
        <Image
          loading="eager"
          src={Biotech_science}
          alt="Biotech and life science companies"
        />
        <p>Biotech and life science companies</p>
      </div>
      <div
        class="rounded-lg mb-shadow flex items-center gap-3 border border-[#B5CBE3] bg-white/50"
      >
        <Image loading="eager" src={Healthcare_NGOs} alt="Healthcare NGOs" />
        <p>Healthcare NGOs</p>
      </div>
      <div
        class="rounded-lg mb-shadow flex items-center gap-3 border border-[#B5CBE3] bg-white/50"
      >
        <Image
          loading="eager"
          src={Medical_Research}
          alt="Medical Education and Research Center"
        />
        <p>Medical Education and Research Center</p>
      </div>
      <div
        class="rounded-lg mb-shadow flex items-center gap-3 border border-[#B5CBE3] bg-white/50"
      >
        <Image
          loading="eager"
          src={Laboratory_Diagnostic}
          alt="Laboratory and Diagnostic Center"
        />
        <p>Laboratory and Diagnostic Center</p>
      </div>
      <div
        class="rounded-lg mb-shadow flex items-center gap-3 border border-[#B5CBE3] bg-white/50"
      >
        <Image
          loading="eager"
          src={Rehabilitation_Physiotherapy}
          alt="Rehabilitation and Physiotherapy Centers"
        />
        <p>Rehabilitation and Physiotherapy Centers</p>
      </div>
      <div
        class="rounded-lg mb-shadow flex items-center gap-3 border border-[#B5CBE3] bg-white/50"
      >
        <Image
          loading="eager"
          src={Medical_Equipment}
          alt="Medical Equipment Suppliers"
        />
        <p>Medical Equipment Suppliers</p>
      </div>
      <div
        class="rounded-lg mb-shadow flex items-center gap-3 border border-[#B5CBE3] bg-white/50"
      >
        <Image
          loading="eager"
          src={Healthcare_Regulatory}
          alt="Healthcare Regulatory Authorities"
        />
        <p>Healthcare Regulatory Authorities</p>
      </div>
    </div>
  </section>
  <!--  A wide range of healthcare businesses can Leverage Frappe Healthcare! End -->

  <!-- Modules of Healthcare ERP start -->
  <section
    class="section-bg-center mx-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0 py-[2rem] md:py-[2rem] lg:py-[4rem]"
  >
    <h2
      class="text-2xl md:text-3xl lg:text-4xl text-[#3E96F4] font-semibold sm:text-left md:text-center lg:mx-40 md:mx-auto mx-auto mb-10"
    >
      Modules of Healthcare ERP
    </h2>
    <div
      x-data="{ accordion: 0 }"
      class="grid gap-5 bg-[#EBF5FF] rounded-[20px] text-[#31393C] p-3 md:p-4 lg:p-5 shadow drop-shadow-sm"
    >
      <div class="bg-white rounded-2xl">
        <div
          class="flex justify-between p-4 cursor-pointer"
          @click="accordion = accordion == 0 ? 1 : 0"
        >
          <h3 class="font-semibold text-sm md:text-sm lg:text-base">
            Patient Management
          </h3>
          <Image
            loading="eager"
            :class="accordion === 1 ? 'block' : 'hidden'"
            src={down_arrow}
            alt="down-arrow"
          />
          <Image
            loading="eager"
            :class="accordion !== 1 ? 'block' : 'hidden'"
            src={up_arrow}
            alt="up-arrow"
          />
        </div>
        <div
          class="overflow-hidden bg-white rounded-b-[10px]"
          :class="accordion !== 0 ? 'h-0' : 'border-t-2'"
        >
          <p class="text-xs md:text-sm lg:text-base p-5">
            With features like patient registration, personal history, and
            medical history capture, Frappe Healthcare enables healthcare
            providers to maintain detailed and accurate records of their
            patients. This leads to better patient care and informed
            decision-making.
          </p>
          <Image
            class="w-full p-5"
            loading="eager"
            src={patient_management}
            alt="Patient Management"
          />
        </div>
      </div>

      <div class="bg-white rounded-2xl">
        <div
          class="flex justify-between p-4 cursor-pointer"
          @click="accordion = accordion == 2 ? 0 : 2"
        >
          <h3 class="font-semibold text-sm md:text-sm lg:text-base">
            Streamlined Workflow
          </h3>
          <Image
            loading="eager"
            :class="accordion !== 2 ? 'block' : 'hidden'"
            src={down_arrow}
            alt="down-arrow"
          />
          <Image
            loading="eager"
            :class="accordion === 2 ? 'block' : 'hidden'"
            src={up_arrow}
            alt="up-arrow"
          />
        </div>
        <div
          class="overflow-hidden bg-white rounded-b-[10px]"
          :class="accordion !== 2 ? 'h-0' : 'border-t-2'"
        >
          <p class="text-xs md:text-sm lg:text-base p-5">
            Frappe Healthcare offers a patient-as-a-customer workflow, allowing
            healthcare providers to manage patient appointments, assessments,
            and encounters efficiently. This streamlines the overall workflow
            within the healthcare facility, reducing administrative burden and
            enhancing productivity.
          </p>
          <Image
            class="w-full p-5"
            loading="eager"
            src={streamlined_workflow}
            alt="streamlined workflow"
          />
        </div>
      </div>

      <div class="bg-white rounded-2xl">
        <div
          class="flex justify-between p-4 cursor-pointer"
          @click="accordion = accordion == 3 ? 0 : 3"
        >
          <h3 class="font-semibold text-sm md:text-sm lg:text-base">
            Patient Portal
          </h3>
          <Image
            loading="eager"
            :class="accordion !== 3 ? 'block' : 'hidden'"
            src={down_arrow}
            alt="down-arrow"
          />
          <Image
            loading="eager"
            :class="accordion === 3 ? 'block' : 'hidden'"
            src={up_arrow}
            alt="up-arrow"
          />
        </div>
        <div
          class="overflow-hidden bg-white rounded-b-[10px]"
          :class="accordion !== 3 ? 'h-0' : 'border-t-2'"
        >
          <p class="text-xs md:text-sm lg:text-base p-5">
            Granting access to the patient portal enhances patient engagement by
            allowing them to access their medical records, schedule
            appointments, and receive alerts. This fosters a sense of
            empowerment and encourages active participation in their healthcare
            journey.
          </p>
        </div>
      </div>

      <div class="bg-white rounded-2xl">
        <div
          class="flex justify-between p-4 cursor-pointer"
          @click="accordion = accordion == 4 ? 0: 4"
        >
          <h3 class="font-semibold text-sm md:text-sm lg:text-base">
            Practitioner Management
          </h3>
          <Image
            loading="eager"
            :class="accordion !== 4 ? 'block' : 'hidden'"
            src={down_arrow}
            alt="down-arrow"
          />
          <Image
            loading="eager"
            :class="accordion === 4 ? 'block' : 'hidden'"
            src={up_arrow}
            alt="up-arrow"
          />
        </div>
        <div
          class="overflow-hidden bg-white rounded-b-[10px]"
          :class="accordion !== 4 ? 'h-0' : 'border-t-2'"
        >
          <p class="text-xs md:text-sm lg:text-base p-5">
            Healthcare practitioners can easily track payroll, attendance, and
            roles, ensuring smooth operations within the facility. Additionally,
            features like practitioner availability and charges enable effective
            scheduling and billing management.
          </p>
          <Image
            class="w-full p-5"
            loading="eager"
            src={practitioner_management}
            alt="practitioner management"
          />
        </div>
      </div>

      <div class="bg-white rounded-2xl">
        <div
          class="flex justify-between p-4 cursor-pointer"
          @click="accordion = accordion == 5 ? 0: 5"
        >
          <h3 class="font-semibold text-sm md:text-sm lg:text-base">
            Clinic Setup
          </h3>
          <Image
            loading="eager"
            :class="accordion !== 5 ? 'block' : 'hidden'"
            src={down_arrow}
            alt="down-arrow"
          />
          <Image
            loading="eager"
            :class="accordion === 5 ? 'block' : 'hidden'"
            src={up_arrow}
            alt="up-arrow"
          />
        </div>
        <div
          class="overflow-hidden bg-white rounded-b-[10px]"
          :class="accordion !== 5 ? 'h-0' : 'border-t-2'"
        >
          <p class="text-xs md:text-sm lg:text-base p-5">
            Frappe Healthcare simplifies the setup of medical departments,
            appointment types, and healthcare service units. This standardized
            approach eases data input and ensures consistency across different
            aspects of the clinic or practice.
          </p>
          <Image
            class="w-full p-5"
            loading="eager"
            src={clinic_setup}
            alt="clinic setup"
          />
        </div>
      </div>

      <div class="bg-white rounded-2xl">
        <div
          class="flex justify-between p-4 cursor-pointer"
          @click="accordion = accordion == 6 ? 0: 6"
        >
          <h3 class="font-semibold text-sm md:text-sm lg:text-base">
            Inpatient Facility Management
          </h3>
          <Image
            loading="eager"
            :class="accordion !== 6 ? 'block' : 'hidden'"
            src={down_arrow}
            alt="down-arrow"
          />
          <Image
            loading="eager"
            :class="accordion === 6 ? 'block' : 'hidden'"
            src={up_arrow}
            alt="up-arrow"
          />
        </div>
        <div
          class="overflow-hidden bg-white rounded-b-[10px]"
          :class="accordion !== 6 ? 'h-0' : 'border-t-2'"
        >
          <p
            class="text-xs md:text-sm lg:text-base pt-5 px-5 font-semibold text-[#31393C]"
          >
            For facilities offering inpatient services, Frappe Healthcare
            provides comprehensive features for inpatient record management,
            medication orders, and entry. This facilitates efficient and
            accurate care delivery to hospitalized patients.
          </p>
          <Image
            class="w-full p-5"
            loading="eager"
            src={inpatient_facility_management}
            alt="inpatient facility management"
          />
        </div>
      </div>

      <div class="bg-white rounded-2xl">
        <div
          class="flex justify-between p-4 cursor-pointer"
          @click="accordion = accordion == 7 ? 0: 7"
        >
          <h3 class="font-semibold text-sm md:text-sm lg:text-base">
            Laboratory Management
          </h3>
          <Image
            loading="eager"
            :class="accordion !== 7 ? 'block' : 'hidden'"
            src={down_arrow}
            alt="down-arrow"
          />
          <Image
            loading="eager"
            :class="accordion === 7 ? 'block' : 'hidden'"
            src={up_arrow}
            alt="up-arrow"
          />
        </div>
        <div
          class="overflow-hidden bg-white rounded-b-[10px]"
          :class="accordion !== 7 ? 'h-0' : 'border-t-2'"
        >
          <p class="text-xs md:text-sm lg:text-base pt-5 px-5">
            The platform includes features for managing lab test templates,
            sample collection, and sensitivity. This enables seamless
            integration of laboratory services into the overall healthcare
            workflow, enhancing diagnostic capabilities.
          </p>
          <Image
            class="w-full p-5"
            loading="eager"
            src={laboratory_management}
            alt="laboratory management"
          />
        </div>
      </div>
      <div class="bg-white rounded-2xl">
        <div
          class="flex justify-between p-4 cursor-pointer"
          @click="accordion = accordion == 8 ? 0: 8"
        >
          <h3 class="font-semibold text-sm md:text-sm lg:text-base">
            Consultation and Appointment Management
          </h3>
          <Image
            loading="eager"
            :class="accordion !== 8 ? 'block' : 'hidden'"
            src={down_arrow}
            alt="down-arrow"
          />
          <Image
            loading="eager"
            :class="accordion === 8 ? 'block' : 'hidden'"
            src={up_arrow}
            alt="up-arrow"
          />
        </div>
        <div
          class="overflow-hidden bg-white rounded-b-[10px]"
          :class="accordion !== 8 ? 'h-0' : 'border-t-2'"
        >
          <p class="text-xs md:text-sm lg:text-base p-5">
            Frappe Healthcare simplifies patient appointment scheduling,
            cancellation, and rescheduling. It also allows for efficient
            management of consultation notes, referrals, and SMS alerts,
            ensuring a smooth patient experience.
          </p>
          <Image
            class="w-full p-5"
            loading="eager"
            src={clinconsultation_and_appointment_managementic_setup}
            alt=" Consultation and Appointment Management"
          />
        </div>
      </div>
      <div class="bg-white rounded-2xl">
        <div
          class="flex justify-between p-4 cursor-pointer"
          @click="accordion = accordion == 9 ? 0: 9"
        >
          <h3 class="font-semibold text-sm md:text-sm lg:text-base">
            Clinical Procedures and Encounters
          </h3>
          <Image
            loading="eager"
            :class="accordion !== 9 ? 'block' : 'hidden'"
            src={down_arrow}
            alt="down-arrow"
          />
          <Image
            loading="eager"
            :class="accordion === 9 ? 'block' : 'hidden'"
            src={up_arrow}
            alt="up-arrow"
          />
        </div>
        <div
          class="overflow-hidden bg-white rounded-b-[10px]"
          :class="accordion !== 9 ? 'h-0' : 'border-t-2'"
        >
          <p class="text-xs md:text-sm lg:text-base p-5">
            Healthcare providers can easily document clinical procedures,
            medication, lab tests, and therapies within patient encounters. This
            promotes standardized documentation practices and ensures
            comprehensive record-keeping for each patient visit.
          </p>
          <Image
            class="w-full p-5"
            loading="eager"
            src={clinical_procedures_and_encounters}
            alt=" Clinical Procedures and Encounters"
          />
        </div>
      </div>

      <div class="bg-white rounded-2xl">
        <div
          class="flex justify-between p-4 cursor-pointer"
          @click="accordion = accordion == 10 ? 0: 10"
        >
          <h3 class="font-semibold text-sm md:text-sm lg:text-base">
            Therapy and Rehabilitation Support
          </h3>
          <Image
            loading="eager"
            :class="accordion !== 10 ? 'block' : 'hidden'"
            src={down_arrow}
            alt="down-arrow"
          />
          <Image
            loading="eager"
            :class="accordion === 10 ? 'block' : 'hidden'"
            src={up_arrow}
            alt="up-arrow"
          />
        </div>
        <div
          class="overflow-hidden bg-white rounded-b-[10px]"
          :class="accordion !== 10 ? 'h-0' : 'border-t-2'"
        >
          <p class="text-xs md:text-sm lg:text-base pt-5 px-5">
            Frappe Healthcare facilitates the management of rehabilitation and
            physiotherapy services, including exercise and therapy type
            customization, therapy planning, session creation, and invoicing.
            This enables tailored care plans and effective rehabilitation
            outcomes.
          </p>
          <Image
            class="w-full p-5"
            loading="eager"
            src={therapy_and_rehabilitation_support}
            alt="Therapy and Rehabilitation Support"
          />
        </div>
      </div>
      <div class="bg-white rounded-2xl">
        <div
          class="flex justify-between p-4 cursor-pointer"
          @click="accordion = accordion == 11 ? 0: 11"
        >
          <h3 class="font-semibold text-sm md:text-sm lg:text-base">
            Integration with Ayushman Bharat Digital Mission (ABDM)
          </h3>
          <Image
            loading="eager"
            :class="accordion !== 11 ? 'block' : 'hidden'"
            src={down_arrow}
            alt="down-arrow"
          />
          <Image
            loading="eager"
            :class="accordion === 11 ? 'block' : 'hidden'"
            src={up_arrow}
            alt="up-arrow"
          />
        </div>
        <div
          class="overflow-hidden bg-white rounded-b-[10px]"
          :class="accordion !== 11 ? 'h-0' : 'border-t-2'"
        >
          <p class="text-xs md:text-sm lg:text-base p-5">
            Frappe Healthcare supports the integration with ABDM, allowing
            healthcare facilities to participate in government healthcare
            initiatives and streamline processes related to ABDM.
          </p>
          <Image
            class="w-full p-5"
            loading="eager"
            src={abdm}
            alt=" Integration with Ayushman Bharat Digital Mission"
          />
        </div>
      </div>
    </div>
  </section>
  <!-- Modules of Healthcare ERP End -->

  <!-- Let's Talk Start -->
  <section
    class="bg-gradient-to-b from-[#184D85] to-[#31393C]"
    id="schedule-interview"
  >
    <div
      class="flex lg:flex-row justify-evenly mx-5 md:max-w-7xl md:mx-auto max-lg:justify-center lg:pt-12"
    >
      <form id="talk_form">
        <div class="py-5 md:py-7 lg:py-10">
          <p class="text-[#FFFFFF] text-2xl md:text-3xl lg:text-4xl font-bold">
            Let's Talk
          </p>

          <p
            class="text-[#FFFFFF] text-sm md:text-base lg:text-lg font-semibold mt-3"
          >
            Transform healthcare management with Frappe Healthcare
          </p>

          <div class="grid grid-cols-12 gap-5 mt-5 md:mt-7 lg:mt-10">
            <div class="lg:col-span-12 col-span-12">
              <input
                type="text"
                placeholder="Your Name*"
                class="rounded w-full p-1"
                name="healthcarename"
                required
              />
            </div>

            <div class="lg:col-span-6 col-span-12">
              <input
                type="email"
                placeholder="Email *"
                class="rounded w-full p-1"
                name="healthcareemail"
                required
              />
            </div>

            <div class="lg:col-span-6 col-span-12">
              <input
                type="tel"
                placeholder="Phone Number"
                class="rounded w-full p-1"
                name="healthcarephone"
              />
            </div>

            <div class="col-span-12">
              <textarea
                name="healthcaremessage"
                id=""
                rows="5"
                placeholder="Describe Your Requirements*"
                class="w-full rounded p-1"
                required></textarea>
            </div>

            <div class="flex justify-end col-span-12">
              <button
                type="submit"
                class="text-[#FFFFFF] bg-[#3E96F4] rounded font-semibold text-base font-inter px-5 py-2"
                >Talk to Us</button
              >
            </div>
          </div>
        </div>
      </form>
      <Image
        loading="eager"
        src={Lets_Talk}
        alt="Lets Talk"
        class="max-lg:hidden"
      />
    </div>
  </section>
  <!-- Let's Talk End -->

  <!-- Frequently Asked Questions (FAQs) start -->
  <section
    class="section-bg-center mx-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0 py-[2rem] md:py-[2rem] lg:py-[4rem]"
  >
    <div
      x-data="{ accordion: 0 }"
      class="grid gap-5 bg-[#EBF5FF] rounded-[20px] text-[#31393C] p-3 md:p-4 lg:p-5 shadow drop-shadow-sm"
    >
      <h2
        class="text-[1.25rem] md:text-[1.50rem] lg:text-[1.75rem] font-semibold ml-3 leading-9 text-[#3D96F5]"
      >
        Frequently Asked Questions (FAQs)
      </h2>
      <div class="bg-white rounded-2xl">
        <div
          class="flex justify-between p-4 cursor-pointer"
          @click="accordion = accordion == 0 ? 1 : 0"
        >
          <h3 class="font-semibold text-sm md:text-sm lg:text-base">
            How does Sanskar reduce healthcare software development costs?
          </h3>
          <Image
            loading="eager"
            :class="accordion === 1 ? 'block' : 'hidden'"
            src={down_arrow}
            alt="down-arrow"
          />
          <Image
            loading="eager"
            :class="accordion !== 1 ? 'block' : 'hidden'"
            src={up_arrow}
            alt="up-arrow"
          />
        </div>
        <div
          class="overflow-hidden bg-white rounded-b-[10px]"
          :class="accordion !== 0 ? 'h-0' : 'border-t-2'"
        >
          <p class="text-xs md:text-sm lg:text-base p-5">
            We believe that cost savings drive our approach to healthcare
            software development. Our team implements cloud-native architecture,
            leverages APIs and third-party components, and prioritizes automated
            testing to deliver efficient solutions for our clients.
          </p>
        </div>
      </div>

      <div class="bg-white rounded-2xl">
        <div
          class="flex justify-between p-4 cursor-pointer"
          @click="accordion = accordion == 2 ? 0 : 2"
        >
          <h3 class="font-semibold text-sm md:text-sm lg:text-base">
            Does healthcare software ensure the safety and security of data?
          </h3>
          <Image
            loading="eager"
            :class="accordion !== 2 ? 'block' : 'hidden'"
            src={down_arrow}
            alt="down-arrow"
          />
          <Image
            loading="eager"
            :class="accordion === 2 ? 'block' : 'hidden'"
            src={up_arrow}
            alt="up-arrow"
          />
        </div>
        <div
          class="overflow-hidden bg-white rounded-b-[10px]"
          :class="accordion !== 2 ? 'h-0' : 'border-t-2'"
        >
          <p class="text-xs md:text-sm lg:text-base p-5">
            Sanskar Technolab complies with ISO 27001 to ensure top-notch
            security. Our clients have never reached out to us with a complaint
            about security breaches in their systems. And it's not limited to
            only the healthcare vertical; we ensure that any possible security
            breach is always found in the development stage so that we fix them
            before making the healthcare product live.
          </p>
        </div>
      </div>

      <div class="bg-white rounded-2xl">
        <div
          class="flex justify-between p-4 cursor-pointer"
          @click="accordion = accordion == 3 ? 0 : 3"
        >
          <h3 class="font-semibold text-sm md:text-sm lg:text-base">
            What healthcare software does Sanskar Technolab offer?
          </h3>
          <Image
            loading="eager"
            :class="accordion !== 3 ? 'block' : 'hidden'"
            src={down_arrow}
            alt="down-arrow"
          />
          <Image
            loading="eager"
            :class="accordion === 3 ? 'block' : 'hidden'"
            src={up_arrow}
            alt="up-arrow"
          />
        </div>
        <div
          class="overflow-hidden bg-white rounded-b-[10px]"
          :class="accordion !== 3 ? 'h-0' : 'border-t-2'"
        >
          <p class="text-xs md:text-sm lg:text-base pt-5 px-5">
            Here is the list of healthcare software that Sanskar Technolab is
            capable of building:
          </p>
          <div class="py-5">
            <ul class="!list-disc pl-[51px] relative">
              <li class="text-xs md:text-sm lg:text-base">
                Patients Portal Software
              </li>
              <li class="text-xs md:text-sm lg:text-base pt-2">
                Practice Management Solutions for Medical
              </li>
              <li class="text-xs md:text-sm lg:text-base pt-2">
                Healthcare ERP Implementation
              </li>
              <li class="text-xs md:text-sm lg:text-base pt-2">
                CRM for Medical Practice
              </li>
              <li class="text-xs md:text-sm lg:text-base pt-2">
                Ongoing Medical Education Platforms
              </li>
              <li class="text-xs md:text-sm lg:text-base pt-2">ERP Medical</li>
            </ul>
            <p class="text-xs md:text-sm lg:text-base pt-5 px-5">
              And customized med-tech solutions that work as you want them to
              with more functionalities and features.
            </p>
          </div>
        </div>
      </div>

      <div class="bg-white rounded-2xl">
        <div
          class="flex justify-between p-4 cursor-pointer"
          @click="accordion = accordion == 4 ? 0: 4"
        >
          <h3 class="font-semibold text-sm md:text-sm lg:text-base">
            Can ERPNext Healthcare be integrated with other ERP features like
            CRM, Finance and Billing?
          </h3>
          <Image
            loading="eager"
            :class="accordion !== 4 ? 'block' : 'hidden'"
            src={down_arrow}
            alt="down-arrow"
          />
          <Image
            loading="eager"
            :class="accordion === 4 ? 'block' : 'hidden'"
            src={up_arrow}
            alt="up-arrow"
          />
        </div>
        <div
          class="overflow-hidden bg-white rounded-b-[10px]"
          :class="accordion !== 4 ? 'h-0' : 'border-t-2'"
        >
          <p class="text-xs md:text-sm lg:text-base p-5">
            Frappe Healthcare is the industry-specific version offered by
            ERPNext and has various features that will help healthcare
            practitioners, clinics, and hospitals. And since it is an
            open-source ERP Software, you can integrate it with other platforms.
          </p>
        </div>
      </div>

      <div class="bg-white rounded-2xl">
        <div
          class="flex justify-between p-4 cursor-pointer"
          @click="accordion = accordion == 5 ? 0: 5"
        >
          <h3 class="font-semibold text-sm md:text-sm lg:text-base">
            Is there any payment, or customer portal as well where patients can
            see their history, and download reports?
          </h3>
          <Image
            loading="eager"
            :class="accordion !== 5 ? 'block' : 'hidden'"
            src={down_arrow}
            alt="down-arrow"
          />
          <Image
            loading="eager"
            :class="accordion === 5 ? 'block' : 'hidden'"
            src={up_arrow}
            alt="up-arrow"
          />
        </div>
        <div
          class="overflow-hidden bg-white rounded-b-[10px]"
          :class="accordion !== 5 ? 'h-0' : 'border-t-2'"
        >
          <p class="text-xs md:text-sm lg:text-base p-5">
            Yes, there is a payment, or customer portal as well where patients
            can see their history by logging into the portal and finding the
            information relevant to them. Through this software, you can trace
            the communication history of their emails.
          </p>
        </div>
      </div>

      <div class="bg-white rounded-2xl">
        <div
          class="flex justify-between p-4 cursor-pointer"
          @click="accordion = accordion == 6 ? 0: 6"
        >
          <h3 class="font-semibold text-sm md:text-sm lg:text-base">
            Is there any Frappe Healthcare Demo?
          </h3>
          <Image
            loading="eager"
            :class="accordion !== 6 ? 'block' : 'hidden'"
            src={down_arrow}
            alt="down-arrow"
          />
          <Image
            loading="eager"
            :class="accordion === 6 ? 'block' : 'hidden'"
            src={up_arrow}
            alt="up-arrow"
          />
        </div>
        <div
          class="overflow-hidden bg-white rounded-b-[10px]"
          :class="accordion !== 6 ? 'h-0' : 'border-t-2'"
        >
          <p class="text-xs md:text-sm lg:text-base p-5">
            Yes, Sanskar Technolab offers a consultation and demo with industry
            experts. You can even get a price quote for the implementation after
            the demo.
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- Frequently Asked Questions (FAQs) End -->

  <style>
    .Key_card:hover {
      border-radius: 10px;
      /* border: 2px solid #fff; */
      background: #fff;
    }

    .mb-shadow {
      box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.15);
      padding: 10px;
    }
    @media (min-width: 1024px) and (max-width: 1280px) {
      .position {
        background-position: right -3em bottom 0px;
      }
    }

    @media (max-width: 1023px) {
      .position {
       background-image: none !important;
        
      }
    }
  </style>

  <script>
    let current_url;
    // Get the current pathname and remove the leading '/'
    current_url = window.location.pathname.slice(1);
    console.log("Current URL:" + current_url);

    // Smooth scrolling function
    document.querySelectorAll('a[href^="#"]').forEach((anchor) => {
      anchor.addEventListener("click", function (e) {
        e.preventDefault();

        document.querySelector(this.getAttribute("href")).scrollIntoView({
          behavior: "smooth",
        });
      });
    });

    var talk_form = document.getElementById("talk_form");
    talk_form.addEventListener("submit", handleContactForm);

    // Add event listener to email input for real-time validation
    var emailInput = document.querySelector('input[name="healthcareemail"]');
    emailInput.addEventListener("blur", validateEmailInput); // Changed event to "blur"

    function validateEmailInput() {
      const emailValue = emailInput.value.trim();
      const errorMessageElement = emailInput.nextElementSibling;

      if (emailValue === "") {
        hideErrorMessage(errorMessageElement); // Hide error message if email is empty
        emailInput.style.borderColor = ""; // Reset border color
        return;
      }

      if (!validateEmail(emailValue)) {
        blinkBorder(emailInput);
        displayErrorMessage(
          errorMessageElement,
          "Please enter a valid email address."
        );
      } else {
        hideErrorMessage(errorMessageElement); // Hide error message if email is valid
        emailInput.style.borderColor = ""; // Reset border color
      }
    }

    // Validation function for email
    function validateEmail(email) {
      const re =
        /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(String(email).toLowerCase());
    }

    function displayErrorMessage(errorMessageElement, message) {
      if (
        !errorMessageElement ||
        !errorMessageElement.classList.contains("error-message")
      ) {
        // If error message doesn't exist, create and insert it
        errorMessageElement = document.createElement("p");
        errorMessageElement.textContent = message;
        errorMessageElement.classList.add("error-message");
        errorMessageElement.style.color = "red"; // Adjust the color
        errorMessageElement.style.fontSize = "0.8rem"; // Adjust the font size
        errorMessageElement.style.marginTop = "0.2rem"; // Adjust the margin-top
        errorMessageElement.style.marginBottom = "0"; // Remove bottom margin

        // Insert the error message after the input field
        emailInput.parentNode.insertBefore(
          errorMessageElement,
          emailInput.nextSibling
        );
      } else {
        errorMessageElement.textContent = message; // Update existing error message
      }
    }

    function hideErrorMessage(errorMessageElement) {
      if (
        errorMessageElement &&
        errorMessageElement.classList.contains("error-message")
      ) {
        // If error message exists, remove it
        errorMessageElement.remove();
      }
    }

    const apiKey = import.meta.env.PUBLIC_ApiKey as string;
    const secretKey = import.meta.env.PUBLIC_SecretKey as string;

    function blinkBorder(element) {
      // If the border color is not red, set it to red
      if (element.style.borderColor !== "red") {
        element.style.borderColor = "red";
      } else {
        // If the border color is already red, reset it to its original state
        element.style.borderColor = "";
      }
    }

    function resetBorderColorOnFocus(inputElement) {
      inputElement.addEventListener("focus", () => {
        inputElement.style.borderColor = ""; // Remove the border color (set it to null)
      });
    }

    // send data in frappe
    function handleContactForm(e) {
      e.preventDefault();
      const form = e.target; // Get the form that triggered the submission

      const nameInput = form.querySelector('input[name="healthcarename"]');
      const emailInput = form.querySelector('input[name="healthcareemail"]');
      const messageInput = document.querySelector(
        'textarea[name="healthcaremessage"]'
      );
      const phoneInput = document.querySelector(
        'input[name="healthcarephone"]'
      );

      const nameValue = nameInput.value.trim();
      const emailValue = emailInput.value.trim();
      const messageValue = messageInput.value.trim();
      const phoneValue = phoneInput.value.trim();

      resetBorderColorOnFocus(nameInput);
      resetBorderColorOnFocus(emailInput);
      resetBorderColorOnFocus(messageInput);
      resetBorderColorOnFocus(phoneInput);

      if (nameValue === "") {
        blinkBorder(nameInput);
      }

      if (emailValue === "") {
        blinkBorder(emailInput);
      }

      if (messageValue === "") {
        blinkBorder(messageInput);
      }

      if (nameValue === "" || emailValue === "" || messageValue === "") {
        return;
      }

      const urlParams = new URLSearchParams(window.location.search);

      // Get the value of the 'page' parameter
      const pageValue = urlParams.get("page");

      const queryTypeValue = pageValue ? "Demo" : "General";

      // alert('Please select a file to upload.');
      const formData = new FormData(e.target);
      console.log("formData: ", formData);
      const data = Object.fromEntries(formData.entries());
      formData.set("data", JSON.stringify(data));
      var name = data.healthcarename;
      var email = data.healthcareemail;
      var phone = data.healthcarephone;
      var message = data.healthcaremessage;

      // Function to get the user's IP address using ipify
      function getUserIPAddress() {
        return fetch("https://api.ipify.org?format=json")
          .then((response) => response.json())
          .then((data) => data.ip)
          .catch((error) => {
            console.error("Error fetching IP address:", error);
            return null; // Handle the error gracefully
          });
      }

      getUserIPAddress().then((ipAddress) => {
        let { browserName, device } = detectBrowser();

        fetch("https://sanskar.frappe.cloud/api/resource/Enquiry", {
          method: "POST",
          headers: {
            Accept: "application/json",
            "Content-Type": "application/json",
            Authorization: `token ${apiKey}:${secretKey}`,
          },
          body: JSON.stringify({
            first_name: name,
            email: email,
            phone: phone,
            message: message,
            enquiry_source: "Website Enquiry",
            query_type: "Developer Interview",
            ip: ipAddress,
            browser_name: browserName,
            device: device,
            demo_for: current_url,
          }),
        })
          .then((res) => {
            if (res.status === 200) {
              window.location.href = "/thank-you";
            } else {
              sendEmailNotification(
                name,
                email,
                phone,
                message,
                "Website Enquiry",
                current_url,
                "Developer Interview",
                ipAddress,
                browserName,
                device,
                res
              );
              alert("Failed to submit data. Please try after some time.");
            }
          })
          .catch((error) => {
            console.log(error);
          });
      });
    }

    get_ip()
      .then((ipAddress) => {
        console.log("Received IP Address:", ipAddress);
      })
      .catch((error) => {
        console.error("Error:", error);
      });

    function get_ip() {
      // Return a Promise that resolves with the IP address
      return new Promise((resolve, reject) => {
        fetch("https://api.ipify.org?format=json")
          .then((response) => response.json())
          .then((data) => {
            const ipAddress = data.ip;
            // console.log("Public IP Address:", ipAddress);
            resolve(ipAddress); // Resolve the Promise with the IP address
          })
          .catch((error) => {
            console.error("Error fetching IP address:", error);
            reject(error); // Reject the Promise with the error
          });
      });
    }

    // get browser and device name
    function detectBrowser() {
      const userAgent = navigator.userAgent;
      var browserName = "Unknown";

      // Check for Chrome
      if (userAgent.indexOf("Chrome") !== -1) {
        browserName = "Google Chrome";
      }
      // Check for Firefox
      else if (userAgent.indexOf("Firefox") !== -1) {
        browserName = "Mozilla Firefox";
      }
      // Check for Safari
      else if (userAgent.indexOf("Safari") !== -1) {
        browserName = "Apple Safari";
      }
      // Check for Edge
      else if (userAgent.indexOf("Edg") !== -1) {
        browserName = "Microsoft Edge";
      }
      // Check for Internet Explorer
      else if (
        userAgent.indexOf("MSIE") !== -1 ||
        userAgent.indexOf("Trident") !== -1
      ) {
        browserName = "Internet Explorer";
      }

      // Log the detected browser to the console
      //   console.log(`Detected browser: ${browserName}`);

      // Detect the device type based on screen size
      const screenWidth = window.innerWidth;
      var device = "Unknown";
      if (screenWidth <= 576) {
        device = "Mobile";
      } else if (screenWidth <= 992) {
        device = "Tablet";
      } else if (screenWidth <= 1200) {
        device = "Laptop";
      } else {
        device = "Desktop";
      }

      return { browserName, device };
    }

    function sendEmailNotification(
      full_name = "",
      email = "",
      phone = "",
      message = "",
      enquiry_source = "",
      demoForValue = "",
      queryTypeValue = "",
      ip = "",
      browser_name = "",
      device = "",
      response = ""
    ) {
      console.log("sending email notification...");
      // return
      fetch(
        "https://sanskartechnolab.com/api/method/astro_sanskar.api.send_form_failed_notification",
        {
          method: "POST",
          headers: {
            Accept: "application/json",
            "Content-Type": "application/json",
            // Authorization: `token ${apiKey}:${secretKey}`,
          },
          body: JSON.stringify({
            full_name: full_name,
            email: email,
            phone: phone,
            message: message,
            enquiry_source: "Website Enquiry",
            demoForValue: demoForValue,
            queryTypeValue: queryTypeValue,
            ip: ip,
            browser_name: browser_name,
            device: device,
            response: response,
            page_name: "Hire Frappe Developer",
          }),
        }
      )
        .then((res) => {
          if (res.status === 200) {
            // alert("You have been registered successfully.")
            console.log("email notification sent.");
          } else {
            console.log("failed to send email notification", res);
            alert(
              "We are unable to process your request. please send your requirements on info@sanskartechnolab.com"
            );
          }
        })
        .catch((error) => {
          console.log("error", error);
        });
    }

    document.addEventListener("DOMContentLoaded", function () {
      console.log("object");
      const swiper = new Swiper(".swiper-container", {
        loop: true,
        slidesPerView: 1,
        spaceBetween: 0,
        autoplay: {
          delay: 3000,
        },
        navigation: {
          nextEl: ".next-button",
          prevEl: ".prev-button",
        },
        breakpoints: {
          640: {
            slidesPerView: 1,
            centeredSlides: true,
          },
          768: {
            centeredSlides: true,
            slidesPerView: 1,
          },
          1024: {
            centeredSlides: true,
            slidesPerView: 1,
          },
        },
      });
    });
  </script>
</Layout>
