---
import Layout from "../layouts/Layout.astro";
import "../styles.css";
import { Image, Picture } from "@astrojs/image/components";

import instagram_logo from "../../public/Images/instagram_logo.svg";
import instagram_page_account from "../../public/Images/instagram_page_account.svg";
import meta_intro from "../../public/Images/meta_intro.svg";
import instagram_workspace from "../../public/Images/instagram_workspace.svg";
import instagram_dashboard from "../../public/Images/instagram_dashboard.svg";
import instagram_setting from "../../public/Images/instagram_setting.svg";
import instagram_post from "../../public/Images/instagram_post.svg";
import instagram_post_1 from "../../public/Images/instagram_post_1.svg";
import instagram_story from "../../public/Images/instagram_story.svg";
import instagram_story_1 from "../../public/Images/instagram_story_1.svg";

import create_app from "../../public/Images/create_app.svg";
import create_app_overview from "../../public/Images/create_app_overview.svg";
import bussiness_api_access from "../../public/Images/bussiness_api_access.svg";
import account_select from "../../public/Images/account_select.svg";
import setup_api from "../../public/Images/setup_api.svg";
import token_generate from "../../public/Images/token_generate.svg";
import api_explorer from "../../public/Images/api_explorer.svg";
import generate_access_token from "../../public/Images/generate_access_token.svg";
import right_sign from "../../public/Images/right_sign.svg";
import workspace from "../../public/Images/workspace.svg";

import right_arrow from "../../public/Images/right-arrow.svg";
import down_arrow from "../../public/Images/down_arrow.svg";
import up_arrow from "../../public/Images/up_arrow.svg";
---

<Layout
  title="Instagram App | Sanskar Technolab"
  ,
  keyword="Instagram app, Instagram CRM integration, CRM follow-up with Instagram, social media follow-up system, Instagram sales follow-up, customer engagement Instagram, Instagram client follow-up app, follow-up CRM for Instagram, ERPNext Instagram integration, social media CRM"
  ,
  description="Sanskar Technolab offers advanced Instagram CRM integration solutions, including a robust Instagram app for seamless follow-ups. Enhance your customer engagement, streamline sales follow-ups, and manage social media interactions effortlessly with our tailored solutions."
  ,
  canonical_href="https://sanskartechnolab.com/instagram_app"
>
  <body>
    <!-- Follow-Up Management Start -->
    <section class="banner-bg">
      <div
        class="mx-5 md:max-w-7xl md:mx-auto md:px-24 py-[2rem] md:py-[2rem] lg:py-[4rem]"
      >
        <!-- <div
          class="max-w-[450px] flex flex-row items-center rounded-xl p-3 gap-2"
        >
          <Image loading="lazy" src={instagram_logo} alt="instagram_logo" />
          <div class="text-[#4D4C4D]">
            <p class="text-sm md:text-base">Frappe App</p>
            <h4 class="text-xl md:text-2xl lg:text-3xl font-semibold">
              Instagram
            </h4>
          </div>
        </div> -->

        <div class="grid lg:grid-cols-10 grid-cols-1">
          <div class="lg:col-span-7 col-span-1 flex items-center">
            <h1 class="lg:text-4xl md:text-3xl text-xl font-bold text-[#31393C]">Instagram ERPNext Integration</h1>
          </div>
          <div class="lg:col-span-3 flex flex-row items-center lg:justify-end rounded-xl gap-2 lg:mt-0 md:mt-8 mt-4 ">
            <Image loading="lazy" src={instagram_logo} alt="instagram_logo" />
          <div class="text-[#4D4C4D]">
            <p class="text-sm md:text-base">Frappe App</p>
            <h2 class="text-xl md:text-2xl lg:text-3xl font-semibold">
              Instagram
            </h2>
          </div>
          </div>
        </div>
        <iframe
          class="w-full lg:h-[39rem] md:h-[25rem] h-60 mt-5"
          src="https://www.youtube.com/embed/0LGh_NqD17A"
          title="YouTube Video"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          loading="lazy"
          allowfullscreen></iframe>
        <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/OfXCC3xudjA?si=okYJiZOlY7EK_Iqc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe> -->
      </div>
    </section>

    <div
      class="w-full toggle-menu fixed top-24 z-10 settop bg-[#92C9FF] !md:hidden text-[#31393C]"
      id="tablecontentmenu"
    >
      <p class="text-center font-semibold p-5">Table of Contents</p>
      <ul id="mobile-menu" class="menu-hidden text-center">
        <li class="border-b-2 p-2"><a href="#introduction">Introduction</a></li>
        <li class="border-b-2 p-2"><a href="#key_features">Key Features</a></li>
        <li class="border-b-2 p-2">
          <a href="#Prerequisites">Prerequisites</a>
        </li>
        <li class="border-b-2 p-2">
          <a href="#setup_meta_developer_account"
            >Setup Meta Developer Account</a>
        </li>
        <li class="border-b-2 p-2"><a href="#workspace">Workspace</a></li>
        <li class="border-b-2 p-2">
          <a href="#instagram_dashboard">Instagram Dashboard</a>
        </li>
        <li class="border-b-2 p-2">
          <a href="#instagram_settings">Instagram Settings</a>
        </li>
        <li class="border-b-2 p-2">
          <a href="#instagram_post">Instagram Post</a>
        </li>
        <li class="border-b-2 p-2">
          <a href="#instagram_story">Instagram Story</a>
        </li>
        <li class="border-b-2 p-2"><a href="#support">Support</a></li>
        <li class="p-2"><a href="#faq">FAQ</a></li>
      </ul>
    </div>

    <!-- Table of Contents Start -->
    <section
      class="grid grid-cols-12 md:max-w-7xl md:mx-auto px-5 sm:px-12 md:px-24 py-[2rem] md:py-[2rem] lg:py-[4rem] w-full gap-5 lg:gap-10"
      id="tablecontent"
    >
      <div
        class="self-start sticky top-24 md:col-span-3 js-toc toc overflow-x-auto max-md:hidden"
      >
        <h2
          class="text-[#31393C] text-sm md:text-base lg:text-lg font-semibold border-b-2 px-5 py-2"
        >
          Table of Contents
        </h2>
        <a
          class="flex gap-2 items-center border-b-2 border-dotted px-5 py-2 button"
          href="#introduction"
        >
          <svg
            width="10"
            height="11"
            viewBox="0 0 10 11"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            id="vectorImage"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M5 9C6.933 9 8.5 7.433 8.5 5.5C8.5 3.567 6.933 2 5 2C3.067 2 1.5 3.567 1.5 5.5C1.5 7.433 3.067 9 5 9ZM5 10.5C7.76142 10.5 10 8.26142 10 5.5C10 2.73858 7.76142 0.5 5 0.5C2.23858 0.5 0 2.73858 0 5.5C0 8.26142 2.23858 10.5 5 10.5Z"
              fill="#727578"></path>
            <path d="M7 5.5L4 7.23205V3.76794L7 5.5Z" fill="#727578"></path>
          </svg>
          <h2 class="text-[#31393C] text-sm font-semibold">Inroduction</h2>
        </a>

        <a
          class="flex gap-2 items-center border-b-2 border-dotted px-5 py-2 button"
          href="#key_features"
        >
          <svg
            width="10"
            height="11"
            viewBox="0 0 10 11"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            id="vectorImage"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M5 9C6.933 9 8.5 7.433 8.5 5.5C8.5 3.567 6.933 2 5 2C3.067 2 1.5 3.567 1.5 5.5C1.5 7.433 3.067 9 5 9ZM5 10.5C7.76142 10.5 10 8.26142 10 5.5C10 2.73858 7.76142 0.5 5 0.5C2.23858 0.5 0 2.73858 0 5.5C0 8.26142 2.23858 10.5 5 10.5Z"
              fill="#727578"></path>
            <path d="M7 5.5L4 7.23205V3.76794L7 5.5Z" fill="#727578"></path>
          </svg>
          <h2 class="text-[#31393C] text-sm font-semibold">Key Features</h2>
        </a>

        <a
          class="flex gap-2 items-center border-b-2 border-dotted px-5 py-2 button"
          href="#prerequisites"
        >
          <svg
            width="10"
            height="11"
            viewBox="0 0 10 11"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            id="vectorImage"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M5 9C6.933 9 8.5 7.433 8.5 5.5C8.5 3.567 6.933 2 5 2C3.067 2 1.5 3.567 1.5 5.5C1.5 7.433 3.067 9 5 9ZM5 10.5C7.76142 10.5 10 8.26142 10 5.5C10 2.73858 7.76142 0.5 5 0.5C2.23858 0.5 0 2.73858 0 5.5C0 8.26142 2.23858 10.5 5 10.5Z"
              fill="#727578"></path>
            <path d="M7 5.5L4 7.23205V3.76794L7 5.5Z" fill="#727578"></path>
          </svg>
          <h2 class="text-[#31393C] text-sm font-semibold">Prerequisites</h2>
        </a>

        <a
          class="flex gap-2 items-center border-b-2 border-dotted px-5 py-2 button"
          href="#setup_meta_developer_account"
        >
          <svg
            width="10"
            height="11"
            viewBox="0 0 10 11"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            id="vectorImage"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M5 9C6.933 9 8.5 7.433 8.5 5.5C8.5 3.567 6.933 2 5 2C3.067 2 1.5 3.567 1.5 5.5C1.5 7.433 3.067 9 5 9ZM5 10.5C7.76142 10.5 10 8.26142 10 5.5C10 2.73858 7.76142 0.5 5 0.5C2.23858 0.5 0 2.73858 0 5.5C0 8.26142 2.23858 10.5 5 10.5Z"
              fill="#727578"></path>
            <path d="M7 5.5L4 7.23205V3.76794L7 5.5Z" fill="#727578"></path>
          </svg>
          <h2 class="text-[#31393C] text-sm font-semibold">
            Setup Meta Developer Account
          </h2>
        </a>
        <a
          class="flex gap-2 items-center border-b-2 border-dotted px-5 py-2 button"
          href="#workspace"
        >
          <svg
            width="10"
            height="11"
            viewBox="0 0 10 11"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            id="vectorImage"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M5 9C6.933 9 8.5 7.433 8.5 5.5C8.5 3.567 6.933 2 5 2C3.067 2 1.5 3.567 1.5 5.5C1.5 7.433 3.067 9 5 9ZM5 10.5C7.76142 10.5 10 8.26142 10 5.5C10 2.73858 7.76142 0.5 5 0.5C2.23858 0.5 0 2.73858 0 5.5C0 8.26142 2.23858 10.5 5 10.5Z"
              fill="#727578"></path>
            <path d="M7 5.5L4 7.23205V3.76794L7 5.5Z" fill="#727578"></path>
          </svg>
          <h2 class="text-[#31393C] text-sm font-semibold">Workspace</h2>
        </a>

        <a
          class="flex gap-2 items-center border-b-2 border-dotted px-5 py-2 button"
          href="#instagram_dashboard"
        >
          <svg
            width="10"
            height="11"
            viewBox="0 0 10 11"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            id="vectorImage"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M5 9C6.933 9 8.5 7.433 8.5 5.5C8.5 3.567 6.933 2 5 2C3.067 2 1.5 3.567 1.5 5.5C1.5 7.433 3.067 9 5 9ZM5 10.5C7.76142 10.5 10 8.26142 10 5.5C10 2.73858 7.76142 0.5 5 0.5C2.23858 0.5 0 2.73858 0 5.5C0 8.26142 2.23858 10.5 5 10.5Z"
              fill="#727578"></path>
            <path d="M7 5.5L4 7.23205V3.76794L7 5.5Z" fill="#727578"></path>
          </svg>
          <h2 class="text-[#31393C] text-sm font-semibold">
            Instagram Dashboard
          </h2>
        </a>

        <a
          class="flex gap-2 items-center border-b-2 border-dotted px-5 py-2 button"
          href="#instagram_settings"
        >
          <svg
            width="10"
            height="11"
            viewBox="0 0 10 11"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            id="vectorImage"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M5 9C6.933 9 8.5 7.433 8.5 5.5C8.5 3.567 6.933 2 5 2C3.067 2 1.5 3.567 1.5 5.5C1.5 7.433 3.067 9 5 9ZM5 10.5C7.76142 10.5 10 8.26142 10 5.5C10 2.73858 7.76142 0.5 5 0.5C2.23858 0.5 0 2.73858 0 5.5C0 8.26142 2.23858 10.5 5 10.5Z"
              fill="#727578"></path>
            <path d="M7 5.5L4 7.23205V3.76794L7 5.5Z" fill="#727578"></path>
          </svg>
          <h2 class="text-[#31393C] text-sm font-semibold">
            Instagram Settings
          </h2>
        </a>

        <a
          class="flex gap-2 items-center border-b-2 border-dotted px-5 py-2 button"
          href="#instagram_post"
        >
          <svg
            width="10"
            height="11"
            viewBox="0 0 10 11"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            id="vectorImage"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M5 9C6.933 9 8.5 7.433 8.5 5.5C8.5 3.567 6.933 2 5 2C3.067 2 1.5 3.567 1.5 5.5C1.5 7.433 3.067 9 5 9ZM5 10.5C7.76142 10.5 10 8.26142 10 5.5C10 2.73858 7.76142 0.5 5 0.5C2.23858 0.5 0 2.73858 0 5.5C0 8.26142 2.23858 10.5 5 10.5Z"
              fill="#727578"></path>
            <path d="M7 5.5L4 7.23205V3.76794L7 5.5Z" fill="#727578"></path>
          </svg>
          <h2 class="text-[#31393C] text-sm font-semibold">Instagram Post</h2>
        </a>

        <a
          class="flex gap-2 items-center border-b-2 border-dotted px-5 py-2 button"
          href="#instagram_story"
        >
          <svg
            width="10"
            height="11"
            viewBox="0 0 10 11"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            id="vectorImage"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M5 9C6.933 9 8.5 7.433 8.5 5.5C8.5 3.567 6.933 2 5 2C3.067 2 1.5 3.567 1.5 5.5C1.5 7.433 3.067 9 5 9ZM5 10.5C7.76142 10.5 10 8.26142 10 5.5C10 2.73858 7.76142 0.5 5 0.5C2.23858 0.5 0 2.73858 0 5.5C0 8.26142 2.23858 10.5 5 10.5Z"
              fill="#727578"></path>
            <path d="M7 5.5L4 7.23205V3.76794L7 5.5Z" fill="#727578"></path>
          </svg>
          <h2 class="text-[#31393C] text-sm font-semibold">Instagram Story</h2>
        </a>

        <a
          class="flex gap-2 items-center border-b-2 border-dotted px-5 py-2 button"
          href="#support"
        >
          <svg
            width="10"
            height="11"
            viewBox="0 0 10 11"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            id="vectorImage"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M5 9C6.933 9 8.5 7.433 8.5 5.5C8.5 3.567 6.933 2 5 2C3.067 2 1.5 3.567 1.5 5.5C1.5 7.433 3.067 9 5 9ZM5 10.5C7.76142 10.5 10 8.26142 10 5.5C10 2.73858 7.76142 0.5 5 0.5C2.23858 0.5 0 2.73858 0 5.5C0 8.26142 2.23858 10.5 5 10.5Z"
              fill="#727578"></path>
            <path d="M7 5.5L4 7.23205V3.76794L7 5.5Z" fill="#727578"></path>
          </svg>
          <h2 class="text-[#31393C] text-sm font-semibold">Support</h2>
        </a>
        <a
          class="flex gap-2 items-center border-b-2 border-dotted px-5 py-2 button"
          href="#faq"
        >
          <svg
            width="10"
            height="11"
            viewBox="0 0 10 11"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            id="vectorImage"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M5 9C6.933 9 8.5 7.433 8.5 5.5C8.5 3.567 6.933 2 5 2C3.067 2 1.5 3.567 1.5 5.5C1.5 7.433 3.067 9 5 9ZM5 10.5C7.76142 10.5 10 8.26142 10 5.5C10 2.73858 7.76142 0.5 5 0.5C2.23858 0.5 0 2.73858 0 5.5C0 8.26142 2.23858 10.5 5 10.5Z"
              fill="#727578"></path>
            <path d="M7 5.5L4 7.23205V3.76794L7 5.5Z" fill="#727578"></path>
          </svg>
          <h2 class="text-[#31393C] text-sm font-semibold">FAQ</h2>
        </a>
      </div>

      <div
        class="rounded-xl border p-4 lg:p-8 shadow-box col-span-12 md:col-span-9"
      >
        <div>
          <h2
            class="text-[#3E96F4] text-lg md:text-xl lg:text-2xl font-semibold"
            id="introduction"
          >
            Introduction
          </h2>
          <p class="mt-3 text-sm md:text-base text-[#31393C]">
            This application provides a seamless integration between Instagram
            and ERPNext, enabling users to effortlessly post content and upload
            stories directly from the ERPNext system. With this integration,
            users can streamline their social media management.
          </p>
        </div>

        <div class="mt-5 lg:mt-10">
          <h2
            class="text-[#3E96F4] text-lg md:text-xl lg:text-2xl font-semibold"
            id="key_features"
          >
            Key Features
          </h2>
          <p class="mt-3 text-sm md:text-base text-[#31393C]">
            Seamlessly upload posts, stories, and reels directly from ERPNext
            with our integrated Instagram solution.
          </p>
        </div>

        <div class="mt-5 lg:mt-10">
          <h2
            class="text-[#3E96F4] text-lg md:text-xl lg:text-2xl font-semibold"
            id="prerequisites"
          >
            Prerequisites
          </h2>
          <ul class="list-disc ml-7 text-sm md:text-base text-[#31393C]">
            <li class="mt-5">
              Facebook developer account and set Marketing API.
            </li>
            <li class="mt-2">
              Link the Instagram page to the Facebook business account or page.
            </li>
          </ul>
        </div>

        <!-- Setup Meta Developer Account Start  -->

        <div class="mt-5 lg:mt-10">
          <h2
            class="text-[#3E96F4] text-lg md:text-xl lg:text-2xl font-semibold"
            id="setup_meta_developer_account"
          >
            Setup Meta Developer Account
          </h2>

          <ul class="list-disc ml-7 text-sm md:text-base mt-6 text-[#31393C]">
            <li>
              To integrate Instagram with ERPNext, you need to either create a
              new Facebook developer account or log in to an existing one.
            </li>
          </ul>

          <Image
            loading="lazy"
            src={meta_intro}
            alt="meta_intro"
            class="mt-6"
          />

          <ul class="!list-disc ml-7 text-sm md:text-base text-[#31393C]">
            <li class="mt-5">
              Generate a new application to obtain the necessary credentials for
              uploading posts.
            </li>
            <li class="mt-3">
              Click on “Create App” to display the steps for creating an
              application.
            </li>
          </ul>
        </div>
        <div class="mt-5">
          <Image
            loading="lazy"
            src={create_app}
            alt="create_app"
            class="mt-3"
          />
          <ul class="!list-disc ml-7 text-sm md:text-base text-[#31393C]">
            <li class="lg:mt-5 mt-4">
              Select the "Other" option to upload posts and stories from the
              Instagram page.
            </li>
          </ul>
        </div>

        <div class="mt-5">
          <Image
            loading="lazy"
            src={create_app_overview}
            alt="create_app_overview"
            class="mt-3"
          />
          <ul class="!list-disc ml-7 text-sm md:text-base text-[#31393C]">
            <li class="lg:mt-6 mt-4">
              After clicking "Next," showcase the options for selecting the type
              of application.
            </li>

            <li class="lg:mt-5 mt-4">
              Choose "Business" to access the API for posting images and getting
              the leads.
            </li>
          </ul>
        </div>

        <div class="mt-5">
          <Image
            loading="lazy"
            src={bussiness_api_access}
            alt="bussiness_api_access"
            class="mt-3"
          />
          <ul class="!list-disc ml-7 text-sm md:text-base text-[#31393C]">
            <li class="lg:mt-6 mt-4">
              The next step is to provide the app name and email address. If you
              have a Facebook business account, select the appropriate account.
            </li>
          </ul>
        </div>

        <div class="mt-5">
          <Image
            loading="lazy"
            src={account_select}
            alt="account_select"
            class="mt-3"
          />
          <ul class="!list-disc ml-7 text-sm md:text-base text-[#31393C]">
            <li class="lg:mt-6 mt-4">Setup the marketing API</li>
          </ul>
        </div>

        <div class="mt-5">
          <Image loading="lazy" src={setup_api} alt="setup_api" class="mt-3" />
          <ul class="!list-disc ml-7 text-sm md:text-base text-[#31393C]">
            <li class="lg:mt-6 mt-4">
              Once you've set up the Marketing API, navigate to the "Graph API
              Explorer" by clicking on the "Tools" menu in the navbar. From
              there, you can configure permissions and generate a token.
            </li>
          </ul>
        </div>

        <div class="mt-5">
          <Image
            loading="lazy"
            src={token_generate}
            alt="token_generate"
            class="mt-3"
          />
          <ul class="!list-disc ml-7 text-sm md:text-base text-[#31393C]">
            <li class="lg:mt-6 mt-4">
              Select all the below-listed permissions as shown in the image
              below.
            </li>
          </ul>
        </div>

        <div class="grid xl:grid-cols-3 grid-cols-1 lg:gap-4 gap-2 mt-7">
          <!-- First Column -->
          <div>
            <label class="flex items-center">
              <Image loading="lazy" src={right_sign} alt="right_sign" />
              <span class="ml-2 text-sm text-[#31393C]">read_insights</span>
            </label>
            <label class="flex items-center lg:mt-4 mt-2">
              <Image loading="lazy" src={right_sign} alt="right_sign" />
              <span class="ml-2 text-sm text-[#31393C]">pages_manage_cta</span>
            </label>
            <label class="flex items-center lg:mt-4 mt-2">
              <Image loading="lazy" src={right_sign} alt="right_sign" />
              <span class="ml-2 text-sm text-[#31393C]">ads_read</span>
            </label>
            <label class="flex items-center lg:mt-4 mt-2">
              <Image loading="lazy" src={right_sign} alt="right_sign" />
              <span class="ml-2 text-sm text-[#31393C]"
                >instagram_manage_comments</span
              >
            </label>
            <label class="flex items-center lg:mt-4 mt-2">
              <Image loading="lazy" src={right_sign} alt="right_sign" />
              <span class="ml-2 text-sm text-[#31393C]">leads_retrieval</span>
            </label>
            <label class="flex items-center lg:mt-4 mt-2">
              <Image loading="lazy" src={right_sign} alt="right_sign" />
              <span class="ml-2 text-sm e text-[#31393C]"
                >pages_manage_metadata</span
              >
            </label>
            <label class="flex items-center lg:mt-4 mt-2">
              <Image loading="lazy" src={right_sign} alt="right_sign" />
              <span class="ml-2 text-sm text-[#31393C]">pages_manage_posts</span
              >
            </label>
            <label class="flex items-center lg:mt-4 mt-2">
              <Image loading="lazy" src={right_sign} alt="right_sign" />
              <span class="ml-2 text-sm text-[#31393C]"
                >instagram_branded_content_br<br
                  class="hidden lg:block"
                />and</span
              >
            </label>
            <label class="flex items-start lg:mt-4 mt-2">
              <Image
                loading="lazy"
                src={right_sign}
                alt="right_sign"
                class="mr-2 mt-1"
              />
              <span class="text-sm text-[#31393C]"
                >Configure these permissions to enable uploading posts on
                Facebook and getting the leads.</span
              >
            </label>
          </div>
          <!-- Second Column -->
          <div>
            <label class="flex items-center">
              <Image loading="lazy" src={right_sign} alt="right_sign" />
              <span class="ml-2 text-sm text-[#31393C]">publish_video</span>
            </label>

            <label class="flex items-center lg:mt-4 mt-2">
              <Image loading="lazy" src={right_sign} alt="right_sign" />
              <span class="ml-2 text-sm text-[#31393C]">pages_show_list</span>
            </label>

            <label class="flex items-center lg:mt-4 mt-2">
              <Image loading="lazy" src={right_sign} alt="right_sign" />
              <span class="ml-2 text-sm text-[#31393C]"
                >business_management</span
              >
            </label>

            <label class="flex items-center lg:mt-4 mt-2">
              <Image loading="lazy" src={right_sign} alt="right_sign" />
              <span class="ml-2 text-sm text-[#31393C]"
                >instagram_manage_insights</span
              >
            </label>

            <label class="flex items-center lg:mt-4 mt-2">
              <Image loading="lazy" src={right_sign} alt="right_sign" />
              <span class="ml-2 text-sm text-[#31393C]"
                >instagram_manage_messages</span
              >
            </label>

            <label class="flex items-center lg:mt-4 mt-2">
              <Image loading="lazy" src={right_sign} alt="right_sign" />
              <span class="ml-2 text-sm text-[#31393C]"
                >pages_read_user_content</span
              >
            </label>

            <label class="flex items-center lg:mt-4 mt-2">
              <Image loading="lazy" src={right_sign} alt="right_sign" />
              <span class="ml-2 text-sm text-[#31393C]"
                >pages_manage_engagement</span
              >
            </label>

            <label class="flex items-start lg:mt-4 mt-2">
              <Image
                loading="lazy"
                src={right_sign}
                alt="right_sign"
                class="mt-1"
              />
              <span class="ml-2 text-sm text-[#31393C]"
                >instagram_branded_content_crea<br
                  class="hidden lg:block"
                />tor</span
              >
            </label>
          </div>
          <!-- Third Column -->
          <div>
            <label class="flex items-center">
              <Image loading="lazy" src={right_sign} alt="right_sign" />
              <span class="ml-2 text-sm text-[#31393C]">catalog_management</span
              >
            </label>

            <label class="flex items-center lg:mt-4 mt-2">
              <Image loading="lazy" src={right_sign} alt="right_sign" />
              <span class="ml-2 text-sm text-[#31393C]">ads_management</span>
            </label>

            <label class="flex items-center lg:mt-4 mt-2">
              <Image loading="lazy" src={right_sign} alt="right_sign" />
              <span class="ml-2 text-sm text-[#31393C]">instagram_basic</span>
            </label>

            <label class="flex items-center lg:mt-4 mt-2">
              <Image loading="lazy" src={right_sign} alt="right_sign" />
              <span class="ml-2 text-sm text-[#31393C]"
                >instagram_content_publish</span
              >
            </label>

            <label class="flex items-center lg:mt-4 mt-2">
              <Image loading="lazy" src={right_sign} alt="right_sign" />
              <span class="ml-2 text-sm text-[#31393C]"
                >pages_read_engagement</span
              >
            </label>

            <label class="flex items-center lg:mt-4 mt-2">
              <Image loading="lazy" src={right_sign} alt="right_sign" />
              <span class="ml-2 text-sm text-[#31393C]">pages_manage_ads</span>
            </label>

            <label class="flex items-start lg:mt-4 mt-2">
              <Image
                loading="lazy"
                src={right_sign}
                alt="right_sign"
                class="mt-1"
              />
              <span class="ml-2 text-sm text-[#31393C]"
                >instagram_shopping_tag_produ<br
                  class="hidden lg:block"
                />cts</span
              >
            </label>

            <label class="flex items-center lg:mt-4 mt-2">
              <Image loading="lazy" src={right_sign} alt="right_sign" />
              <span class="ml-2 text-sm text-[#31393C]"
                >Instagram_manage_events</span
              >
            </label>
          </div>
        </div>

        <div class="mt-7">
          <Image
            loading="lazy"
            src={api_explorer}
            alt="api_explorer"
            class="mt-3"
          />
          <ul class="!list-disc ml-7 text-sm md:text-base text-[#31393C]">
            <li class="lg:mt-6 mt-4">
              Select the user or page where you are to post, then generate an
              access token by clicking on "Generate Access Token."
            </li>
          </ul>
        </div>

        <div class="mt-5">
          <Image
            loading="lazy"
            src={generate_access_token}
            alt="generate_access_token"
            class="mt-3"
          />
          <ul class="!list-disc ml-7 text-sm md:text-base text-[#31393C]">
            <li class="lg:mt-6 mt-4">
              To link your Instagram account with a Facebook page, go to the
              Facebook page > settings > Linked Accounts. Then, choose Instagram
              and connect your Instagram page account.
            </li>
          </ul>
        </div>

        <div class="mt-5">
          <Image
            loading="lazy"
            src={instagram_page_account}
            alt="instagram_page_account"
            class=""
          />
        </div>

        <!-- Setup Meta Developer Account END  -->

        <!-- Workspace Start -->
        <div class="mt-5 lg:mt-10">
          <h2
            class="text-[#3E96F4] text-lg md:text-xl lg:text-2xl font-semibold"
            id="workspace"
          >
            Workspace
          </h2>
          <p class="text-sm md:text-base mt-6 text-[#31393C]">
            In the Instagram workspace, you can access the Instagram Post,
            Instagram Story, Instagram Settings, Cart Views, and Line Chart.
          </p>
       

        <Image
          loading="lazy"
          src={instagram_workspace}
          alt="instagram_workspace"
          class="mt-6"
        />
      </div>

      <!-- Workspace End -->

      <!-- Instagram Dashboard Start -->
      <div class="mt-5 lg:mt-10">
        <h2
          class="text-[#3E96F4] text-lg md:text-xl lg:text-2xl font-semibold"
          id="instagram_dashboard"
        >
          Instagram Dashboard
        </h2>

        <p class="text-sm md:text-base mt-6 text-[#31393C]">
          The dashboard displays a variety of data visualizations, including
          number cards, line charts, and bar charts, providing a clear and
          insightful representation of key metrics.
        </p>

        <Image
          loading="lazy"
          src={instagram_dashboard}
          alt="instagram_dashboard"
          class="mt-6"
        />
      </div>

      <!-- Instagram Dashboard End -->

      <!-- Instagram Setting Start -->
      <div class="mt-5 lg:mt-10">
        <h2
          class="text-[#3E96F4] text-lg md:text-xl lg:text-2xl font-semibold"
          id="instagram_settings"
        >
          Instagram Settings
        </h2>

        <ul class="list-disc ml-7 text-sm md:text-base mt-6 text-[#31393C]">
          <li>
            Enabling the setting grants users access to features for uploading
            and deleting posts and retrieving leads from Facebook.
          </li>
          <li class="mt-3">
            Obtain the client ID and client secret from the Facebook app
            settings and set them up here. Fill in all the details here from the
            generated Graph API explorer.
          </li>
          <li class="mt-3">
            By default, the page access token time limit is set to one hour. To
            extend this limit, adjust the time limit in the page access token
            field and click "generate" to extend the access token's duration to
            60 days. After generating, this process automatically repeats every
            20 days.
          </li>
        </ul>

        <Image
          loading="lazy"
          src={instagram_setting}
          alt="instagram_setting"
          class="mt-6"
        />
      </div>

      <!-- Instagram Setting End -->

      <!-- Instagram Post Start -->
      <div class="mt-5 lg:mt-10">
        <h2
          class="text-[#3E96F4] text-lg md:text-xl lg:text-2xl font-semibold"
          id="instagram_post"
        >
          Instagram Post
        </h2>

        <ul class="list-disc ml-7 text-sm md:text-base mt-6 text-[#31393C]">
          <li>
            To access Instagram posts, navigate to the post list and add and
            view posts from there.
          </li>
          <li class="mt-3">
            To add a new post, simply click on the "Add Instagram Post" button
            and create a new post.
          </li>
        </ul>

        <Image
          loading="lazy"
          src={instagram_post}
          alt="instagram_post"
          class="mt-6"
        />
        <ul class="list-disc ml-7 text-sm md:text-base mt-6 text-[#31393C]">
          <li class="mt-3">
            Post Status:
            <ul class="list-disc ml-7">
              <li class="mt-3">
                <strong>Open:-</strong> Upon creating a new post, the default status
                is set to "Open".
              </li>
              <li class="mt-3">
                <strong>On Hold:-</strong> Once the post is published, the status
                will be automatically set to "Published".
              </li>
              <li class="mt-3">
                <strong>Published:-</strong>If a post is deleted, its status is
                automatically set to "Deleted".
              </li>
            </ul>
          </li>

          <li class="mt-3">
            Post Type:
            <ul class="list-disc ml-7">
              <li class="mt-3">
                <strong>Reel:-</strong> If the user uploads a reel video, they need
                to select the post type as “Reel”.
              </li>
              <li class="mt-3">
                <strong>Post:-</strong> If the user uploads a photo, they need to
                select the post type as “Post”.
              </li>
            </ul>
          </li>
        </ul>
        <li class="mt-3">
          If the user selects the post type as "Reel", they must upload a video
          in the proper reel format in the Attach field. Users can add tags and
          descriptions from the caption field.
        </li>
        <li class="mt-3">
          To publish the post on Instagram, click on the "Create Post" button.
        </li>
      </div>

      <Image
        loading="lazy"
        src={instagram_post_1}
        alt="instagram_post_1"
        class="mt-6"
      />
    <!-- </section> -->

    <!-- Instagram Post End -->

    <!-- Instagram Story Start -->
    <div class="mt-5 lg:mt-10">
      <h2
        class="text-[#3E96F4] text-lg md:text-xl lg:text-2xl font-semibold"
        id="instagram_story"
      >
        Instagram Story
      </h2>

      <ul class="list-disc ml-7 text-sm md:text-base mt-6 text-[#31393C]">
        <li>To access Instagram Stories, go to the Instagram Story list.</li>
        <li class="mt-3">
          Story Type:
          <ul class="list-disc ml-7">
            <li class="mt-3">
              <strong>Video:-</strong> If you upload a Video to your story, select
              the "Video" option in the story type.
            </li>
            <li class="mt-3">
              <strong>Image:-</strong> If you upload an image to your story, select
              the "image" option in the story type.
            </li>
          </ul>
        </li>
      </ul>

      <Image
        loading="lazy"
        src={instagram_story}
        alt="instagram_story"
        class="mt-6"
      />
      <ul class="list-disc ml-7 text-sm md:text-base mt-6 text-[#31393C]">
        <li class="mt-3">
          By default, the status is set to "Open" when creating a new story
          after selecting the story type and attaching the image or video.
        </li>
        <li class="mt-3">
          To publish the story on Instagram, click on "Create Story".
        </li>
        <li class="mt-3">
          Note:- Uploading a video file to Instagram takes approximately 1
          minute.
        </li>
      </ul>

      <Image
        loading="lazy"
        src={instagram_story_1}
        alt="instagram_story_1"
        class="mt-6"
      />
    </div>

    <!-- Instagram Story End -->

    <!-- Support Start -->
    <div class="mt-5 lg:mt-10">
      <h2
        class="text-[1.25rem] md:text-[1.50rem] lg:text-[1.75rem] font-semibold leading-9 text-[#3D96F5] max-lg:mb-5"
        id="support"
      >
        Support
      </h2>
      <form class="mt-7 max-lg:mb-5" id="instagram_support_form">
        <!-- Name Field -->
        <div class="mb-4 flex flex-col lg:flex-row gap-5">
          <div class="w-full lg:w-1/2">
            <input
              placeholder="Name *"
              type="text"
              id="instagram_support_name"
              name="instagram_support_name"
              required
              class="mt-1 p-2 w-full border border-gray-300 rounded focus:outline-none focus:ring focus:ring-blue-300"
            />
          </div>
          <div class="w-full lg:w-1/2">
            <input
              placeholder="Email *"
              type="email"
              id="instagram_support_email"
              name="instagram_support_email"
              required
              class="mt-1 p-2 w-full border border-gray-300 rounded focus:outline-none focus:ring focus:ring-blue-300"
            />
          </div>
        </div>

        <!-- Phone Number Field -->
        <!-- <div class="mb-4">
<select
id="support_issue"
name="support_issue"
class="mt-1 p-2 w-full border border-gray-300 rounded focus:outline-none focus:ring focus:ring-blue-300 "
/>
<option value="What’s the issue?" >What’s the issue?/ Feedback</option>
<option value="x">x</option>
<option value="y">y</option>
<option value="z">y</option>
</select>
</div> -->

        <!-- Description Field -->
        <div class="mb-4">
          <textarea
            placeholder="What’s the issue? / Feedback "
            id="instagram_support_requirements"
            name="instagram_support_requirements"
            required
            class="mt-1 p-2 w-full border border-gray-300 rounded focus:outline-none focus:ring focus:ring-blue-300"
            rows="4"></textarea>
        </div>

        <!-- Submit Button -->
        <div>
          <button
            type="submit"
            class="mt-3 flex gap-5 items-center bg-[#3E96F4] rounded-lg px-3 md:px-3 lg:px-5 py-2 md:py-2 lg:py-3 max-w-[180px]"
          >
            <p class="text-white font-semibold text-sm md:text-base">Send</p>
            <Image
              loading="eager"
              src={right_arrow}
              width={6}
              height={12}
              alt="right arrow "
            />
          </button>
        </div>
      </form>
    </div>

    <!-- Support Start -->

    <!-- faq start  -->
    <div
      x-data="{ accordion: 0 }"
      class="grid gap-5 rounded-[20px] text-[#31393C] lg:mt-10 mt-7"
    >
      <h2
        class="text-[1.25rem] md:text-[1.50rem] lg:text-[1.75rem] font-semibold leading-9 text-[#3D96F5]"
        id="faq"
      >
        FAQ
      </h2>
      <div class="bg-white rounded-xl border">
        <div
          class="flex justify-between p-4 cursor-pointer"
          @click="accordion = accordion == 0 ? 1 : 0"
        >
          <p class="font-semibold text-sm md:text-sm lg:text-base">
            What is ERPNext Instagram Integration?
          </p>
          <Image
            loading="lazy"
            :class="accordion === 1 ? 'block' : 'hidden'"
            src={down_arrow}
            alt="down-arrow"
          />
          <Image
            loading="lazy"
            :class="accordion !== 1 ? 'block' : 'hidden'"
            src={up_arrow}
            alt="up-arrow"
          />
        </div>
        <div
          class="overflow-hidden bg-white rounded-b-[10px]"
          :class="accordion !== 0 ? 'h-0' : 'border-t-2'"
        >
          <p class="text-xs md:text-sm lg:text-base p-5">
            ERPNext Instagram Integration connects your ERPNext system with Instagram, enabling you to
            manage social media activities, track performance, and automate marketing tasks directly from your
            ERP platform. This integration helps streamline your business operations related to social media,
            making it easier to engage with your audience.
          </p>
        </div>
      </div>

      <div class="bg-white rounded-xl border">
        <div
          class="flex justify-between p-4 cursor-pointer"
          @click="accordion = accordion == 2 ? 0 : 2"
        >
          <p class="font-semibold text-sm md:text-sm lg:text-base">
            How can ERPNext Instagram Integration benefit my business?
            activities?
          </p>
          <Image
            loading="lazy"
            :class="accordion !== 2 ? 'block' : 'hidden'"
            src={down_arrow}
            alt="down-arrow"
          />
          <Image
            loading="lazy"
            :class="accordion === 2 ? 'block' : 'hidden'"
            src={up_arrow}
            alt="up-arrow"
          />
        </div>
        <div
          class="overflow-hidden bg-white rounded-b-[10px]"
          :class="accordion !== 2 ? 'h-0' : 'border-t-2'"
        >
          <p class="text-xs md:text-sm lg:text-base p-5">
            By integrating Instagram with ERPNext, you can centralize your social media management, monitor
            analytics, automate post scheduling, and enhance customer engagement, all from within your ERP
            system. This saves time, improves efficiency, and ensures you get the most out of your Instagram
            presence.
          </p>
        </div>
      </div>

      <div class="bg-white rounded-xl border">
        <div
          class="flex justify-between p-4 cursor-pointer"
          @click="accordion = accordion == 3 ? 0 : 3"
        >
          <p class="font-semibold text-sm md:text-sm lg:text-base">
            What features are included in the ERPNext Instagram Integration?
          </p>
          <Image
            loading="lazy"
            :class="accordion !== 3 ? 'block' : 'hidden'"
            src={down_arrow}
            alt="down-arrow"
          />
          <Image
            loading="lazy"
            :class="accordion === 3 ? 'block' : 'hidden'"
            src={up_arrow}
            alt="up-arrow"
          />
        </div>
        <div
          class="overflow-hidden bg-white rounded-b-[10px]"
          :class="accordion !== 3 ? 'h-0' : 'border-t-2'"
        >
          <p class="text-xs md:text-sm lg:text-base p-5">
            The integration offers various features such as:
            <ul class="list-disc lg:ml-14 ml-10 text-xs md:text-sm lg:text-base mr-5">
              <li class="mb-3">Post scheduling and publishing directly from ERPNext.</li>
              <li class="mb-3">Tracking engagement metrics like likes, comments, and shares.</li>
              <li class="mb-3">Managing Instagram DMs within the ERP.</li>
              <li class="mb-3">Automated reporting on Instagram performance.</li>
              <li class="mb-3">Integration with ERPNext CRM to link social interactions with leads and customers.</li>
            </ul>
            
          </p>
        </div>
      </div>

      <div class="bg-white rounded-xl border">
        <div
          class="flex justify-between p-4 cursor-pointer"
          @click="accordion = accordion == 4 ? 0: 4"
        >
          <p class="font-semibold text-sm md:text-sm lg:text-base">
            Is technical expertise required to use ERPNext Instagram Integration?
          </p>
          <Image
            loading="lazy"
            :class="accordion !== 4 ? 'block' : 'hidden'"
            src={down_arrow}
            alt="down-arrow"
          />
          <Image
            loading="lazy"
            :class="accordion === 4 ? 'block' : 'hidden'"
            src={up_arrow}
            alt="up-arrow"
          />
        </div>
        <div
          class="overflow-hidden bg-white rounded-b-[10px]"
          :class="accordion !== 4 ? 'h-0' : 'border-t-2'"
        >
          <p class="text-xs md:text-sm lg:text-base p-5">
            No, the integration is designed to be user-friendly. Once set up, it can be easily used by anyone
            familiar with ERPNext or social media management. Our team provides full setup and training
            support to ensure you get the most out of the integration.
          </p>
        </div>
      </div>

      <div class="bg-white rounded-xl border">
        <div
          class="flex justify-between p-4 cursor-pointer"
          @click="accordion = accordion == 5 ? 0: 5"
        >
          <p class="font-semibold text-sm md:text-sm lg:text-base">
            Can I schedule Instagram posts through ERPNext?
          </p>
          <Image
            loading="lazy"
            :class="accordion !== 5 ? 'block' : 'hidden'"
            src={down_arrow}
            alt="down-arrow"
          />
          <Image
            loading="lazy"
            :class="accordion === 5 ? 'block' : 'hidden'"
            src={up_arrow}
            alt="up-arrow"
          />
        </div>
        <div
          class="overflow-hidden bg-white rounded-b-[10px]"
          :class="accordion !== 5 ? 'h-0' : 'border-t-2'"
        >
          <p class="text-xs md:text-sm lg:text-base p-5">
            Yes, you can schedule Instagram posts directly through the ERPNext system. This feature allows you
            to plan and manage your content calendar more efficiently, without needing to switch between
            multiple platforms.
          </p>
        </div>
      </div>

      <div class="bg-white rounded-xl border">
        <div
          class="flex justify-between p-4 cursor-pointer"
          @click="accordion = accordion == 6 ? 0: 6"
        >
          <p class="font-semibold text-sm md:text-sm lg:text-base">
            Is there any additional cost for using ERPNext Instagram Integration?
          </p>
          <Image
            loading="lazy"
            :class="accordion !== 6 ? 'block' : 'hidden'"
            src={down_arrow}
            alt="down-arrow"
          />
          <Image
            loading="lazy"
            :class="accordion === 6 ? 'block' : 'hidden'"
            src={up_arrow}
            alt="up-arrow"
          />
        </div>
        <div
          class="overflow-hidden bg-white rounded-b-[10px]"
          :class="accordion !== 6 ? 'h-0' : 'border-t-2'"
        >
          <p class="text-xs md:text-sm lg:text-base p-5">
            The pricing for ERPNext Instagram Integration varies based on your business requirements and the
            level of customization needed. Contact us for a personalized quote and more details on the cost
            structure.
          </p>
        </div>
      </div>

      <div class="bg-white rounded-xl border">
        <div
          class="flex justify-between p-4 cursor-pointer"
          @click="accordion = accordion == 7 ? 0: 7"
        >
          <p class="font-semibold text-sm md:text-sm lg:text-base">
            How secure is the integration between ERPNext and Instagram?
          </p>
          <Image
            loading="lazy"
            :class="accordion !== 7 ? 'block' : 'hidden'"
            src={down_arrow}
            alt="down-arrow"
          />
          <Image
            loading="lazy"
            :class="accordion === 7 ? 'block' : 'hidden'"
            src={up_arrow}
            alt="up-arrow"
          />
        </div>
        <div
          class="overflow-hidden bg-white rounded-b-[10px]"
          :class="accordion !== 7 ? 'h-0' : 'border-t-2'"
        >
          <p class="text-xs md:text-sm lg:text-base p-5">
            We prioritize the security of your data. The integration adheres to Instagram’s API security
guidelines and ERPNext’s in-built security features, ensuring safe and compliant usage.
          </p>
        </div>
      </div>

      <div class="bg-white rounded-xl border">
        <div
          class="flex justify-between p-4 cursor-pointer"
          @click="accordion = accordion == 8 ? 0: 8"
        >
          <p class="font-semibold text-sm md:text-sm lg:text-base">
            Can I integrate multiple Instagram accounts with ERPNext?
          </p>
          <Image
            loading="lazy"
            :class="accordion !== 8 ? 'block' : 'hidden'"
            src={down_arrow}
            alt="down-arrow"
          />
          <Image
            loading="lazy"
            :class="accordion === 8 ? 'block' : 'hidden'"
            src={up_arrow}
            alt="up-arrow"
          />
        </div>
        <div
          class="overflow-hidden bg-white rounded-b-[10px]"
          :class="accordion !== 8 ? 'h-0' : 'border-t-2'"
        >
          <p class="text-xs md:text-sm lg:text-base p-5">
            Yes, you can integrate and manage multiple Instagram accounts from a single ERPNext instance,
            which is especially useful for businesses managing different brands or branches.
          </p>
        </div>
      </div>

      <div class="bg-white rounded-xl border">
        <div
          class="flex justify-between p-4 cursor-pointer"
          @click="accordion = accordion == 9 ? 0: 9"
        >
          <p class="font-semibold text-sm md:text-sm lg:text-base">
            How do I get started with ERPNext Instagram Integration?
          </p>
          <Image
            loading="lazy"
            :class="accordion !== 9 ? 'block' : 'hidden'"
            src={down_arrow}
            alt="down-arrow"
          />
          <Image
            loading="lazy"
            :class="accordion === 9 ? 'block' : 'hidden'"
            src={up_arrow}
            alt="up-arrow"
          />
        </div>
        <div
          class="overflow-hidden bg-white rounded-b-[10px]"
          :class="accordion !== 9 ? 'h-0' : 'border-t-2'"
        >
          <p class="text-xs md:text-sm lg:text-base p-5">
            To get started, simply contact our team at Sanskar Technolab, and we will assist you with the
integration process. We provide full support from initial setup to ongoing maintenance and training.
          </p>
        </div>
      </div>

    </div>

    <!-- faq end  -->

    <style>
      li::marker {
        color: #727578;
      }

      .dot li::marker {
        color: #92c9ff;
      }

      .is-active {
        svg path {
          fill: #3e96f4; /* Change to desired active color */
        }

        .activedot li::marker {
          color: #3e96f4;
        }

        h2 {
          color: #3e96f4; /* Change to desired active color */
        }
      }

      .shadow-box {
        box-shadow: 0px 0px 5px 5px #0000001c;
      }

      .getting_started {
        border-radius: 10px;
        border: 1px solid #dadada;
        background: linear-gradient(135deg, #ecf5ff 0%, #fff 100%);
      }

      .menu-hidden {
        display: none;
      }

      .menu-visible {
        display: block;
      }

      .container {
        cursor: pointer;
        /* Add additional styling as needed */
      }

      #tablecontentmenu {
        display: none;
      }

      @media (min-width: 280px) and (max-width: 400px) {
        .settop {
          top: 5.5rem !important;
        }
      }
    </style>

    <script>
      window.onload = function () {
        var myDiv = document.getElementById("tablecontentmenu");
        var footer = document.getElementById("section");
        var introduction = document.getElementById("introduction");

        function checkVisibility() {
          if (!myDiv || !footer || !introduction) {
            console.error(
              "Element not found:",
              !myDiv ? "tablecontentmenu" : !footer ? "footer" : "introduction"
            );
            return;
          }

          var footerPosition = footer.getBoundingClientRect();
          var introductionPosition = introduction.getBoundingClientRect();
          var windowHeight = window.innerHeight;

          if (
            footerPosition.top <= windowHeight ||
            (introductionPosition.top <= windowHeight &&
              introductionPosition.bottom >= 0)
          ) {
            myDiv.style.display = "none";
          } else {
            myDiv.style.display = "block";
          }
        }

        function handleResize() {
          if (window.innerWidth <= 767) {
            window.addEventListener("scroll", checkVisibility);
            checkVisibility(); // Ensure the correct state on load
          } else {
            window.removeEventListener("scroll", checkVisibility);
            if (myDiv) {
              myDiv.style.display = "none";
            }
          }
        }

        // Initial check and event listeners
        handleResize();
        window.addEventListener("resize", handleResize);
      };

      document.addEventListener("DOMContentLoaded", function () {
        document
          .querySelector(".toggle-menu")
          .addEventListener("click", function () {
            toggleMenu();
          });
      });

      function toggleMenu() {
        const menu = document.getElementById("mobile-menu");
        if (menu.classList.contains("menu-hidden")) {
          menu.classList.remove("menu-hidden");
          menu.classList.add("menu-visible");
        } else {
          menu.classList.remove("menu-visible");
          menu.classList.add("menu-hidden");
        }
      }

      document.addEventListener("DOMContentLoaded", function () {
        const buttons = document.querySelectorAll(".button");
        let activeButton = null;

        buttons.forEach((button) => {
          button.addEventListener("click", function (event) {
            // Prevent the default action if needed
            event.preventDefault();

            const href = this.getAttribute("href"); // Get the href attribute value
            window.location.href = href; // Redirect to the URL

            // Remove active class from previous button
            if (activeButton) {
              activeButton.classList.remove("active");
            }

            // Add active class to clicked button
            button.classList.add("active");

            // Update the active button reference
            activeButton = button;
          });
        });
      });

      function ready(fn) {
        document.addEventListener("DOMContentLoaded", fn, false);
      }

      ready(() => {
        const motionQuery = window.matchMedia("(prefers-reduced-motion)");

        const TableOfContents = {
          container: document.querySelector(".js-toc"),
          links: null,
          headings: null,
          intersectionOptions: {
            rootMargin: "0px",
            threshold: 1,
          },
          previousSection: null,
          observer: null,

          init() {
            this.handleObserver = this.handleObserver.bind(this);

            this.setUpObserver();
            this.findLinksAndHeadings();
            this.observeSections();

            this.links.forEach((link) => {
              link.addEventListener("click", this.handleLinkClick.bind(this));
            });
          },

          handleLinkClick(evt) {
            evt.preventDefault();
            let id = evt.target.getAttribute("href").replace("#", "");

            let section = this.headings.find((heading) => {
              return heading.getAttribute("id") === id;
            });

            section.setAttribute("tabindex", -1);
            section.focus();

            window.scroll({
              behavior: motionQuery.matches ? "instant" : "smooth",
              top: section.offsetTop - 15,
              block: "start",
            });

            if (this.container.classList.contains("is-active")) {
              this.container.classList.remove("is-active");
            }
          },

          handleObserver(entries, observer) {
            entries.forEach((entry) => {
              let href = `#${entry.target.getAttribute("id")}`,
                link = this.links.find((l) => l.getAttribute("href") === href);

              if (entry.isIntersecting && entry.intersectionRatio >= 1) {
                link.classList.add("is-visible");
                this.previousSection = entry.target.getAttribute("id");
              } else {
                link.classList.remove("is-visible");
              }

              this.highlightFirstActive();
            });
          },

          highlightFirstActive() {
            let firstVisibleLink = this.container.querySelector(".is-visible");

            this.links.forEach((link) => {
              link.classList.remove("is-active");
            });

            if (firstVisibleLink) {
              firstVisibleLink.classList.add("is-active");
            }

            if (!firstVisibleLink && this.previousSection) {
              this.container
                .querySelector(`a[href="#${this.previousSection}"]`)
                .classList.add("is-active");
            }
          },

          observeSections() {
            this.headings.forEach((heading) => {
              this.observer.observe(heading);
            });
          },

          setUpObserver() {
            this.observer = new IntersectionObserver(
              this.handleObserver,
              this.intersectionOptions
            );
          },

          findLinksAndHeadings() {
            this.links = [...this.container.querySelectorAll("a")];
            this.headings = this.links.map((link) => {
              let id = link.getAttribute("href");
              return document.querySelector(id);
            });
          },
        };

        TableOfContents.init();
      });

      // Smooth scrolling function
      document.querySelectorAll('a[href^="#"]').forEach((anchor) => {
        anchor.addEventListener("click", function (e) {
          e.preventDefault();

          document.querySelector(this.getAttribute("href")).scrollIntoView({
            behavior: "smooth",
          });
        });
      });

      // -------------------------------------------------------------------------------------------------
      var talk_form = document.getElementById("instagram_support_form");
      talk_form.addEventListener("submit", handleContactForm);

      // Add event listener to email input for real-time validation
      var emailInput = document.querySelector('input[name="instagram_support_email"]');
      emailInput.addEventListener("blur", validateEmailInput); // Changed event to "blur"

      function validateEmailInput() {
        const emailValue = emailInput.value.trim();

        const errorMessageElement = emailInput.nextElementSibling;

        if (emailValue === "") {
          hideErrorMessage(errorMessageElement); // Hide error message if email is empty
          emailInput.style.borderColor = ""; // Reset border color
          return;
        }

        if (!validateEmail(emailValue)) {
          blinkBorder(emailInput);
          displayErrorMessage(
            errorMessageElement,
            "Please enter a valid email address.",
            emailInput
          );
        } else {
          hideErrorMessage(errorMessageElement); // Hide error message if email is valid
          emailInput.style.borderColor = ""; // Reset border color
        }
      }

      var nameInput = document.querySelector('input[name="instagram_support_name"]');
      nameInput.addEventListener("blur", validateNameInput);

      function validateNameInput() {
        const nameValue = nameInput.value.trim();

        const errorMessageElement = nameInput.nextElementSibling;

        if (nameValue === "") {
          hideErrorMessage(errorMessageElement); // Hide error message if email is empty
          nameInput.style.borderColor = ""; // Reset border color
          return;
        }

        if (!validateName(nameValue)) {
          blinkBorder(nameInput);
          displayErrorMessage(
            errorMessageElement,
            "Please enter a valid name.",
            nameInput
          );
        } else {
          hideErrorMessage(errorMessageElement); // Hide error message if email is valid
          nameInput.style.borderColor = ""; // Reset border color
        }
      }

      // Validation function for email
      function validateEmail(email) {
        const re =
          /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return re.test(String(email).toLowerCase());
      }

      function validateName(name) {
        const re =
          /^(?=(?:[^A-Za-z]*[A-Za-z]){2})(?![^\d~`?!^*¨ˆ;@=$%{}\[\]|\\\/<>#“.,]*[\d~`?!^*¨ˆ;@=$%{}\[\]|\\\/<>#“.,])\S+(?: \S+){0,2}$/;

        return re.test(String(name).toLowerCase());
      }

      function displayErrorMessage(errorMessageElement, message, inputField) {
        if (
          !errorMessageElement ||
          !errorMessageElement.classList.contains("error-message")
        ) {
          // If error message doesn't exist, create and insert it
          errorMessageElement = document.createElement("p");
          errorMessageElement.textContent = message;
          errorMessageElement.classList.add("error-message");
          errorMessageElement.style.color = "red"; // Adjust the color
          errorMessageElement.style.fontSize = "0.8rem"; // Adjust the font size
          errorMessageElement.style.marginTop = "0.2rem"; // Adjust the margin-top
          errorMessageElement.style.marginBottom = "0"; // Remove bottom margin

          // Insert the error message after the input field
          inputField.parentNode.insertBefore(
            errorMessageElement,
            inputField.nextSibling
          );
        } else {
          errorMessageElement.textContent = message; // Update existing error message
        }
      }

      function hideErrorMessage(errorMessageElement) {
        if (
          errorMessageElement &&
          errorMessageElement.classList.contains("error-message")
        ) {
          // If error message exists, remove it
          errorMessageElement.remove();
        }
      }

      const apiKey = import.meta.env.PUBLIC_ApiKey as string;
      const secretKey = import.meta.env.PUBLIC_SecretKey as string;

      function blinkBorder(element) {
        // If the border color is not red, set it to red
        if (element.style.borderColor !== "red") {
          element.style.borderColor = "red";
        } else {
          // If the border color is already red, reset it to its original state
          element.style.borderColor = "";
        }
      }

      function resetBorderColorOnFocus(inputElement) {
        inputElement.addEventListener("focus", () => {
          inputElement.style.borderColor = ""; // Remove the border color (set it to null)
        });
      }

      // send data in frappe
      function handleContactForm(e) {
        e.preventDefault();
        const form = e.target; // Get the form that triggered the submission

        const nameInput = form.querySelector('input[name="instagram_support_name"]');
        const emailInput = form.querySelector('input[name="instagram_support_email"]');
        const messageInput = document.querySelector(
          'textarea[name="instagram_support_requirements"]'
        );
        // const isuueInput = document.querySelector('select[name="support_issue"]');

        const nameValue = nameInput.value.trim();
        const emailValue = emailInput.value.trim();
        const messageValue = messageInput.value.trim();
        // const phoneValue = isuueInput.value.trim();

        resetBorderColorOnFocus(nameInput);
        resetBorderColorOnFocus(emailInput);
        resetBorderColorOnFocus(messageInput);
        // resetBorderColorOnFocus(isuueInput);

        if (nameValue === "") {
          blinkBorder(nameInput);
        }

        if (emailValue === "") {
          blinkBorder(emailInput);
        }

        if (messageValue === "") {
          blinkBorder(messageInput);
        }

        if (nameValue === "" || emailValue === "" || messageValue === "") {
          return;
        }

        const urlParams = new URLSearchParams(window.location.search);

        // Get the value of the 'page' parameter
        const pageValue = urlParams.get("page");

        const queryTypeValue = pageValue ? "Demo" : "General";

        // alert('Please select a file to upload.');
        const formData = new FormData(e.target);
        const data = Object.fromEntries(formData.entries());

        formData.set("data", JSON.stringify(data));
        var name = data.instagram_support_name;
        var email = data.instagram_support_email;
        var message = data.instagram_support_requirements;

        // // Function to get the user's IP address using ipify
        // function getUserIPAddress() {
        //   return fetch("https://api.ipify.org?format=json")
        //     .then((response) => response.json())
        //     .then((data) => data.ip)
        //     .catch((error) => {
        //       console.error("Error fetching IP address:", error);
        //       return null; // Handle the error gracefully
        //     });
        // }

        // getUserIPAddress().then((ipAddress) => {
        //   let { browserName, device } = detectBrowser();

        if (validateEmail(emailValue) && validateName(nameValue)) {
          fetch("https://sanskar.frappe.cloud/api/resource/Issue", {
            method: "POST",
            headers: {
              Accept: "application/json",
              "Content-Type": "application/json",
              Authorization: `token ${apiKey}:${secretKey}`,
            },
            body: JSON.stringify({
              custom_full_name: name,
              raised_by: email,
              subject: message,
              customer: "Website Support",
              project: "Website Support",
            }),
          })
            .then((res) => {
              if (res.status === 200) {
                // alert("You have been registered successfully.")
                window.location.href = "/thank-you";
              } else {
                sendEmailNotification(
                  name,
                  email,
                  message,
                  "Website Support",
                  "Website Support",

                  res
                );
                alert("Failed to submit data. Please try after some time.");
              }
            })
            .catch((error) => {
              console.error(error);
            });
        }
        // });
      }

      // .then((ipAddress) => {
      //   console.log("Received IP Address:", ipAddress);
      // })
      // .catch((error) => {
      //   console.error("Error:", error);
      // });

      function get_ip() {
        // Return a Promise that resolves with the IP address
        return new Promise((resolve, reject) => {
          fetch("https://api.ipify.org?format=json")
            .then((response) => response.json())
            .then((data) => {
              const ipAddress = data.ip;
              // console.log("Public IP Address:", ipAddress);
              resolve(ipAddress); // Resolve the Promise with the IP address
            })
            .catch((error) => {
              console.error("Error fetching IP address:", error);
              reject(error); // Reject the Promise with the error
            });
        });
      }

      get_ip();

      function detectBrowser() {
        const userAgent = navigator.userAgent;
        var browserName = "Unknown";

        // Check for Chrome
        if (userAgent.indexOf("Chrome") !== -1) {
          browserName = "Google Chrome";
        }
        // Check for Firefox
        else if (userAgent.indexOf("Firefox") !== -1) {
          browserName = "Mozilla Firefox";
        }
        // Check for Safari
        else if (userAgent.indexOf("Safari") !== -1) {
          browserName = "Apple Safari";
        }
        // Check for Edge
        else if (userAgent.indexOf("Edg") !== -1) {
          browserName = "Microsoft Edge";
        }
        // Check for Internet Explorer
        else if (
          userAgent.indexOf("MSIE") !== -1 ||
          userAgent.indexOf("Trident") !== -1
        ) {
          browserName = "Internet Explorer";
        }

        // Log the detected browser to the console
        //   console.log(`Detected browser: ${browserName}`);

        // Detect the device type based on screen size
        const screenWidth = window.innerWidth;
        var device = "Unknown";
        if (screenWidth <= 576) {
          device = "Mobile";
        } else if (screenWidth <= 992) {
          device = "Tablet";
        } else if (screenWidth <= 1200) {
          device = "Laptop";
        } else {
          device = "Desktop";
        }

        return {
          browserName,
          device,
        };
      }

      function sendEmailNotification(
        name = "",
        email = "",
        message = "",
        customer = "",
        project = ""
        // page_name=""
      ) {
        // console.log("sending email notification...");
        // return
        fetch(
          "https://sanskartechnolab.com/api/method/astro_sanskar.api.send_form_failed_notification",
          {
            method: "POST",
            headers: {
              Accept: "application/json",
              "Content-Type": "application/json",
              // Authorization: `token ${apiKey}:${secretKey}`,
            },
            body: JSON.stringify({
              custom_full_name: name,
              raised_by: email,
              subject: message,
              customer: "Website Support",
              project: "Website Support",
              page_name: "Follow Up App",
            }),
          }
        )
          .then((res) => {
            if (res.status === 200) {
              alert("email notification sent.");
              // console.log("email notification sent.");
            } else {
              // console.log("failed to send email notification", res);
              alert(
                "We are unable to process your request. please send your requirements on info@sanskartechnolab.com"
              );
            }
          })
          .catch((error) => {
            console.error("error", error);
          });
      }

      // Function to show/hide the button based on scroll position
      // function checkScrollPosition() {
      //   var scrollToTopButton = document.getElementById("tablecontentmenu");

      //   if (window.scrollY > 400) {
      //     scrollToTopButton.style.display = "block";
      //   } else {
      //     scrollToTopButton.style.display = "none";
      //   }
      // }

      // // Function to add or remove the scroll event listener based on screen width
      // function handleResize() {
      //   var scrollToTopButton = document.getElementById("tablecontentmenu");

      //   if (window.innerWidth < 768) { // Mobile screen width threshold
      //     window.addEventListener("scroll", checkScrollPosition);
      //     checkScrollPosition(); // Initial check in case the user has already scrolled
      //   } else {
      //     window.removeEventListener("scroll", checkScrollPosition);
      //     scrollToTopButton.style.display = "none"; // Ensure button is hidden on larger screens
      //   }
      // }

      // // Attach the resize event listener to the window
      // window.addEventListener("resize", handleResize);

      // // Initial check when the page loads
      // document.addEventListener("DOMContentLoaded", function() {
      //   handleResize();
      // });

      document.addEventListener("DOMContentLoaded", function () {
        var links = document.querySelectorAll('a[href^="#"]');

        links.forEach(function (link) {
          link.addEventListener("click", function (e) {
            e.preventDefault();
            var target = this.hash;
            var targetElement = document.querySelector(target);

            window.scrollTo({
              top: targetElement.offsetTop - 170, // Adjusted to include 100px offset
              behavior: "smooth",
            });

            // Uncomment the next line if you want to update the URL hash
            // window.location.hash = target;
          });
        });
      });
    </script>
     </section>
  </body>
</Layout>
