---
import Layout from "../layouts/Layout.astro";
import "../styles.css";
import { Image, Picture } from "@astrojs/image/components";

import Product_Development_Company from "../../public/Images/Product_Development_Company.svg";
import Innovative_Market_Winning from "../../public/Images/Innovative_Market_Winning.svg";
import systematic_process_bigger from "../../public/Images/systematic_process_bigger.svg";
import systematic_process_small from "../../public/Images/systematic_process_small.svg";
import Creative_Strategy from "../../public/Images/Creative_Strategy.svg";
import Experienced_Staff from "../../public/Images/Experienced_Staff.svg";
import Agile_Methodology from "../../public/Images/Agile_Methodology.svg";
import Transparency from "../../public/Images/Transparency.svg";
import Growth_Potential from "../../public/Images/Growth_Potential.svg";
import Continuous_Support from "../../public/Images/Continuous_Support.svg";
import Time_Zone_Aligned from "../../public/Images/Time_Zone_Aligned.svg";
import Cost_Effective_Development from "../../public/Images/Cost-Effective_Development.svg";
import On_Time_Delivery from "../../public/Images/On-Time_Delivery.svg";
import Join_hands from "../../public/Images/Join_hands.png";
import Lets_Talk from "../../public/Images/Lets_Talk.png";
import migoo_Real_Impact from "../../public/Images/migoo_Real_Impact.png";
import bestdeed_Real_Impact from "../../public/Images/bestdeed_Real_Impact.png";
import Realestate_Real_Impact from "../../public/Images/Realestate_Real_Impact.png";
import bestdeed from "../../public/Images/bestdeed.svg";
import migoo_logo from "../../public/Images/migoo_logo.svg";
import realestate_slider from "../../public/Images/realestate_slider.svg";
import Product_Discovery_Analysis from "../../public/Images/Product_Discovery_Analysis.svg";
import Product_Design_Services from "../../public/Images/Product_Design_Services.svg";
import Mvp_product_development from "../../public/Images/Mvp_product_development.svg";
import SaaS_Product_development from "../../public/Images/SaaS_Product_development.svg";
import Product_sustenance from "../../public/Images/Product_sustenance.svg";
import Product_Transformation_Re_engineering from "../../public/Images/Product_Transformation_Re-engineering.svg";
import right_arrow from "../../public/Images/right-arrow.svg";
import down_arrow from "../../public/Images/down_arrow.svg";
import up_arrow from "../../public/Images/up_arrow.svg";
---

<Layout>
  <!-- Software Product Development Company Start -->
  <section class="lg:flex section-bg items-center banner-bg">
    <div
      class="flex items-center md:max-w-7xl md:mx-auto p-5 sm:p-10 md:p-24 2xl:px-0 relative"
    >
      <div class="flex lg:flex-row flex-col items-center gap-5 lg:gap-10 2xl:gap-32">
        <div class="lg:basis-[50%] flex flex-col justify-center">
          <h1
            class="text-2xl md:text-3xl lg:text-4xl md:text-[2rem] lg:text-[2.5rem] lg:leading-[3rem] text-[#4D4C4D] font-bold"
          >
            Software Product Development Company
          </h1>
          <p
            class="mt-3 md:mt-5 text-[#31393C] text-sm md:text-base lg:text-lg font-semibold leading-5 md:leading-6"
          >
            End to End Software Product Development, Modernization and
            Management
          </p>
          <p class="mt-5 text-sm md:text-base lg:text-lg text-[#31393C]">
            Unlock the potential of your idea with Sanskar Technolab's Product
            development. From concept to launch, we're your trusted partner in
            innovation. Let's build, refine, and succeed together!
          </p>

          <a
            href="#schedule-interview"
            class="mt-3 md:mt-5 flex justify-between bg-[#3E96F4] rounded-lg px-3 md:px-3 lg:px-5 py-2 md:py-2 lg:py-3 max-w-[180px]"
          >
            <p class="text-white font-semibold font-inter text-sm md:text-base">
              Share your Idea
            </p>
            <Image
              loading="eager"
              src={right_arrow}
              width={6}
              height={12}
              alt="right arrow "
            />
          </a>
        </div>
        <Image
          loading="eager"
          src={Product_Development_Company}
          alt="sSoftware Product Development Company "
        />
      </div>
    </div>
  </section>
  <!-- Software Product Development Company End-->

  <!-- Build Innovative and Market Winning
Software Products Faster start -->
  <section
    class="mx-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0 py-[2rem] md:py-[2rem] lg:py-[4rem]"
  >
    <h2
      class="text-[#3E96F4] text-2xl md:text-3xl lg:text-4xl font-semibold text-center max-w-[775px] mx-auto"
    >
      Build Innovative and Market Winning Software Products Faster
    </h2>
    <div
      class="flex gap-5 lg:gap-10 lg:flex-row flex-col max-lg:items-center justify-evenly mt-5 lg:mt-10"
    >
      <div class="max-lg:mx-auto">
        <Image
          class="max-sm:h-[250px]"
          loading="eager"
          src={Innovative_Market_Winning}
          alt="Innovative and Market Winning Software Products"
        />
      </div>
      <div class="w-full lg:w-1/2">
        <p class="text-[#31393C] text-xs md:text-sm lg:text-base font-semibold">
          At Sanskar Technolab, we partner with you from software product
          ideation to design, development, release, and maintenance, bringing
          your vision to life.
        </p>
        <p class="text-[#31393C] text-xs md:text-sm lg:text-base mt-5">
          Recognizing the unique challenges and uncertainties inherent in
          successful product development, we conceptualize and strategize the
          entire roadmap to mitigate risks, manage time and development costs
          effectively, and deliver top-quality, stable products.
        </p>
        <p class="text-[#31393C] text-xs md:text-sm lg:text-base mt-5">
          Through collaborative engagement, we thoroughly understand the scope,
          business scenarios, and user demographics, prioritizing superior user
          experience, resilient cloud infrastructure, data integrity, and
          security in every product we craft.
        </p>
      </div>
    </div>
  </section>
  <!-- Build Innovative and Market Winning
Software Products Faster End -->

  <!-- Product development
services start -->
  <section
    style="background-image: url('../../../../public/Images/Product_development_services.jpg')"
    class="w-full md:px-24 2xl:px-0 max-lg:py-[3rem] lg:py-[4rem] bg-no-repeat bg-cover service h-[640px] overflow-y-scroll"
  >
    <div class="fixed-image">
      <!-- Background image here -->
    </div>
    <div
      class="flex flex-col lg:flex-row max-lg:items-center gap-10 mx-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0"
    >
      <div class="content-section lg:w-1/2">
        <h2
          class="text-2xl md:text-3xl lg:text-4xl font-semibold text-[#FFFFFF] max-w-[450px]"
        >
          Product development services
        </h2>
        <div
          class="bg-gradient-to-br from-[#ECF5FF] to-[#FFFFFF] mt-5 lg:mt-7 p-3 lg:p-6 rounded-xl border-[#FFFFFF] border-2 max-w-[540px]"
        >
          <Image
            loading="eager"
            src={Product_Discovery_Analysis}
            alt="Product Discovery Analysis "
          />
          <h2 class="text-[#31393C] text-lg md:text-xl font-bold mt-3">
            Product Discovery & Analysis
          </h2>
          <p class="text-sm md:text-base text-[#31393C] mt-3">
            Replace guesswork with product discovery and proven processes. We
            create a strategic canvas and work with you to understand user flows
            and jobs to be done.
          </p>
        </div>
        <div
          class="bg-gradient-to-br from-[#ECF5FF] to-[#FFFFFF] mt-5 p-3 lg:p-6 rounded-xl border-[#FFFFFF] border-2 max-w-[540px]"
        >
          <Image
            loading="eager"
            src={Product_Design_Services}
            alt="Product Design Services "
          />
          <h2 class="text-[#31393C] text-lg md:text-xl font-bold mt-3">
            Product Design Services
          </h2>
          <p class="text-sm md:text-base text-[#31393C] mt-3">
            Use data to understand what customers do and why they do it.
            Intuitive user flows are created that make users' jobs easier. Our
            creative developers build interactions to bring the vision to life.
          </p>
        </div>
        <div
          class="bg-gradient-to-br from-[#ECF5FF] to-[#FFFFFF] mt-5 p-3 lg:p-6 rounded-xl border-[#FFFFFF] border-2 max-w-[540px]"
        >
          <Image
            loading="eager"
            src={Mvp_product_development}
            alt="Mvp product development "
          />
          <h2 class="text-[#31393C] text-lg md:text-xl font-bold mt-3">
            Mvp product development
          </h2>
          <p class="text-sm md:text-base text-[#31393C] mt-3">
            Sanskar Technolab assists clients in adapting to evolving
            technology, delivering enhanced products, platforms and services
            with a focus on rapid monetization.
          </p>
        </div>
        <div
          class="bg-gradient-to-br from-[#ECF5FF] to-[#FFFFFF] mt-5 p-3 lg:p-6 rounded-xl border-[#FFFFFF] border-2 max-w-[540px]"
        >
          <Image
            loading="eager"
            src={SaaS_Product_development}
            alt="SaaS Product development "
          />
          <h2 class="text-[#31393C] text-lg md:text-xl font-bold mt-3">
            SaaS Product development
          </h2>
          <p class="text-sm md:text-base text-[#31393C] mt-3">
            We specialise in developing well-documented, stable, and secure
            Frappe APIs tailored to power up your mobile and web applications.
            With the expertise of our Frappe developers, we craft APIs for
            seamless communication with third-party devices, delivering robust
            and Restful solutions for your needs.
          </p>
        </div>

        <div
          class="bg-gradient-to-br from-[#ECF5FF] to-[#FFFFFF] mt-5 p-3 lg:p-6 rounded-xl border-[#FFFFFF] border-2 max-w-[540px]"
        >
          <Image
            loading="eager"
            src={Product_sustenance}
            alt="Product sustenance "
          />

          <h2 class="text-[#31393C] text-lg md:text-xl font-bold mt-3">
            Product sustenance
          </h2>
          <p class="text-sm md:text-base text-[#31393C] mt-3">
            Offering technical support across L1 to L4 levels, Sanskar
            Techolab's active product support services extend product lifecycle
            and maintain product margin through sustenance engineering.
          </p>
        </div>

        <div
          class="bg-gradient-to-br from-[#ECF5FF] to-[#FFFFFF] mt-5 p-3 lg:p-6 rounded-xl border-[#FFFFFF] border-2 max-w-[540px]"
        >
          <Image
            loading="eager"
            src={Product_Transformation_Re_engineering}
            alt="Product Transformation Re-engineering "
          />

          <h2 class="text-[#31393C] text-lg md:text-xl font-bold mt-3">
            Product Transformation & Re-engineering
          </h2>
          <p class="text-sm md:text-base text-[#31393C] mt-3">
            Sanskar Technolab specializes in re-engineering platforms that were
            built on outdated technologies to align with market needs, ensuring
            competitiveness.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-[#31393C] text-white">
    <div
      class="flex flex-col justify-between lg:flex-row items-center mx-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0 py-[15px] md:py-[30px] max-lg:gap-5"
    >
      <h3 class="font-semibold text-xl md:text-2xl lg:text-3xl max-w-[830px]">
        Leverage our end-to-end software product development services to develop
        software products.
      </h3>
      <a
        href="#schedule-interview"
        class="flex items-center justify-between gap-5 bg-[#3E96F4] rounded-lg py-2 px-4 md:px-4 md:py-2 max-w-[230px]"
      >
        <p class="text-white font-semibold font-inter text-sm md:text-base">
          Collaborate Now
        </p>
        <Image
          loading="eager"
          src={right_arrow}
          width={6}
          height={12}
          alt="right arrow "
        />
      </a>
    </div>  
  </section>
  <!-- Product development
services End -->

  <!-- Our product development solutions
with a systematic process! start -->
  <section
    class="mx-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0 py-[2rem] md:py-[2rem]  lg:py-[4rem]"
  >
    <div>
      <h2
        class="text-[#3E96F4] text-2xl md:text-3xl lg:text-4xl font-semibold text-center max-w-[710px] mx-auto"
      >
        Our product development solutions with a systematic process!
      </h2>

      <div class="w-full mt-3 lg:mt-5">
        <Image
          class="max-sm:hidden mx-auto"
          loading="eager"
          src={systematic_process_bigger}
          alt="Our product development solutions"
        />
        <Image
          loading="eager"
          class="sm:hidden mx-auto "
          src={systematic_process_small}
          alt="Our product development solutions"
        />
      </div>
    </div>
  </section>
  <!-- Our product development solutions
with a systematic process! End -->

  <!-- Why choose Sanskar Technolab for Product development services? start-->
  <section class="bg-[#FAFAFA]">
    <section
      class="mx-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0 py-[2rem] md:py-[2rem] lg:py-[4rem]"
    >
      <h2
        class="max-w-[590px] text-[#3E96F4] text-2xl md:text-3xl lg:text-4xl font-semibold"
      >
      Why choose Sanskar Technolab for Product development services?
      </h2>

      <div
        class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 mt-5 md:mt-7 lg:mt-10 gap-7"
      >
        <div class="Key_card p-3 md:p-5">
          <Image
            loading="eager"
            src={Creative_Strategy}
            alt="Creative Strategy"
           
          />

          <p
            class="text-[#31393C] text-sm md:text-base lg:text-lg font-semibold mt-3 md:mt-5"
          >
            Creative Strategy
          </p>

          <p
            class="text-[#31393C] text-xs md:text-sm lg:text-base mt-2 md:mt-3 lg:mt-2"
          >
            Our team embraces a cutting-edge approach to product engineering
            services, providing future-ready solutions designed to maximize your
            ROI.
          </p>
        </div>

        <div class="Key_card p-3 md:p-5">
          <Image
            loading="eager"
            src={Experienced_Staff}
            alt="Experienced Staff"
           
          />

          <p
            class="text-[#31393C] text-sm md:text-base lg:text-lg font-semibold mt-3 md:mt-5"
          >
            Experienced Staff
          </p>

          <p
            class="text-[#31393C] text-xs md:text-sm lg:text-base mt-2 md:mt-3 lg:mt-2"
          >
            Our team comprises seasoned software engineers renowned for their
            out-of-the-box thinking, and for delivering distinctive product
            engineering services.
          </p>
        </div>

        <div class="Key_card p-3 md:p-5">
          <Image
            loading="eager"
            src={Agile_Methodology}
            alt="Agile Methodology"
            
          />

          <p
            class="text-[#31393C] text-sm md:text-base lg:text-lg font-semibold mt-3 md:mt-5"
          >
            Agile Methodology
          </p>

          <p
            class="text-[#31393C] text-xs md:text-sm lg:text-base mt-2 md:mt-3 lg:mt-2"
          >
            Extend the capabilities of ERPNext with 
            We are using Agile methodologies in our projects to cultivate collaboration,
            adaptability, and expedited software product delivery.
          </p>
        </div>

        <div class="Key_card p-3 md:p-5">
          <Image
            loading="eager"
            src={Transparency}
            alt="Transparency"
            
          />

          <p
            class="text-[#31393C] text-sm md:text-base lg:text-lg font-semibold mt-3 md:mt-5"
          >
            Transparency
          </p>

          <p
            class="text-[#31393C] text-xs md:text-sm lg:text-base mt-2 md:mt-3 lg:mt-2"
          >
            We uphold full transparency with our clients, keeping them informed
            about their project's progress through daily, weekly, and
            milestone-based scrum meetings.
          </p>
        </div>

        <div class="Key_card p-3 md:p-5">
          <Image
            loading="eager"
            src={Growth_Potential}
            alt="Growth Potential"
            
          />

          <p
            class="text-[#31393C] text-sm md:text-base lg:text-lg font-semibold mt-3 md:mt-5"
          >
            Growth Potential
          </p>

          <p
            class="text-[#31393C] text-xs md:text-sm lg:text-base mt-2 md:mt-3 lg:mt-2"
          >
            At Sanskar, we prioritize growth potential and future-proofing in
            every product we build, ensuring long-lasting value for our clients.
          </p>
        </div>

        <div class="Key_card p-3 md:p-5">
          <Image
            loading="eager"
            src={Continuous_Support}
            alt="Continuous Support"
           
          />

          <p
            class="text-[#31393C] text-sm md:text-base lg:text-lg font-semibold mt-3 md:mt-5"
          >
            Continuous Support
          </p>

          <p
            class="text-[#31393C] text-xs md:text-sm lg:text-base mt-2 md:mt-3 lg:mt-2"
          >
            Our team offers exceptional support and maintenance even after the
            software is delivered. This ensures the smooth functioning of the
            software at all times.
          </p>
        </div>

        <div class="Key_card p-3 md:p-5">
          <Image
            loading="eager"
            src={Time_Zone_Aligned}
            alt="Time Zone Aligned"
            
          />

          <p
            class="text-[#31393C] text-sm md:text-base lg:text-lg font-semibold mt-3 md:mt-5"
          >
            Time Zone Aligned
          </p>

          <p
            class="text-[#31393C] text-xs md:text-sm lg:text-base mt-2 md:mt-3 lg:mt-2"
          >
            Our software engineers are skilled in operating across global time
            zones. We'll support you as an extension of your business, ensuring
            seamless assistance.
          </p>
        </div>
        <div class="Key_card p-3 md:p-5">
          <Image
            loading="eager"
            src={Cost_Effective_Development}
            alt="Cost Effective Development"
            
          />

          <p
            class="text-[#31393C] text-sm md:text-base lg:text-lg font-semibold mt-3 md:mt-5"
          >
            Cost-Effective Development
          </p>

          <p
            class="text-[#31393C] text-xs md:text-sm lg:text-base mt-2 md:mt-3 lg:mt-2"
          >
            We prioritize high standards without high costs. Our mission is to
            empower businesses with cost-effective software solutions,
            customized for maximum value.
          </p>
        </div>

        <div class="Key_card p-3 md:p-5">
          <Image
            loading="eager"
            src={On_Time_Delivery}
            alt="On Time Delivery"
            
          />

          <p
            class="text-[#31393C] text-sm md:text-base lg:text-lg font-semibold mt-3 md:mt-5"
          >
            On-Time Delivery
          </p>

          <p
            class="text-[#31393C] text-xs md:text-sm lg:text-base mt-2 md:mt-3 lg:mt-2"
          >
            Punctuality is our core value. We guarantee on-time delivery by
            meticulously executing each development phase within agreed
            timelines.
          </p>
        </div>
      </div>
    </section>
  </section>
  <!-- Why choose Sanskar Technolab for Product development services? end -->

  <!-- Discover Case Study with Real Impact start-->
	<section class="pt-[2rem] md:pt-[2rem] lg:pt-[4rem]">
		<div
			class=" mx-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0"
		>
			<div class="max-w-7xl items-end justify-between sm:flex">
				<h2
					class="text-2xl md:text-3xl lg:text-4xl text-[#3E96F4] font-bold"
				>
				Let Our Numbers Do The Talking! 
				</h2>

				<div
					class="mt-8 flex gap-4 lg:mt-0 mb-0 md:mb-0 lg:mb-2 hidden md:flex"
				>
					<button
						class="prev-button rounded-full border border-[#B5CBE3] p-2 text-[#B5CBE3] hover:bg-[#B5CBE3] hover:text-white"
					>
						<span class="sr-only">Previous Slide</span>
						<svg
							xmlns="http://www.w3.org/2000/svg"
							fill="none"
							viewBox="0 0 24 24"
							stroke-width="3"
							stroke="currentColor"
							class="h-4 w-4 rtl:rotate-180"
						>
							<path
								stroke-linecap="round"
								stroke-linejoin="round"
								d="M15.75 19.5L8.25 12l7.5-7.5"></path>
						</svg>
					</button>

					<button
						class="next-button rounded-full border border-[#B5CBE3] p-2 text-[#B5CBE3] hover:bg-[#B5CBE3] hover:text-white"
					>
						<span class="sr-only">Next Slide</span>
						<svg
							class="h-4 w-4 rtl:rotate-180"
							fill="none"
							viewBox="0 0 24 24"
							stroke-width="3"
							stroke="currentColor"
							xmlns="http://www.w3.org/2000/svg"
						>
							<path
								d="M9 5l7 7-7 7"
								stroke-linecap="round"
								stroke-linejoin="round"></path>
						</svg>
					</button>
				</div>
			</div>

			<div class="mt-8 lg:mx-0">
				<div class="swiper-container !overflow-hidden">
					<div class="swiper-wrapper ml-0 md:ml-0 mb-10">
						<div class="swiper-slide ">
							<div
								class="lg:min-h-[400px]  sm:min-h-[730px] min-h-[560px] border  shadow-lg w-full  flex flex-col lg:flex-row   lg:gap-10 "
							>
								<Image
                class="max-lg:w-full "
									loading="eager"
									src={migoo_Real_Impact}
									alt="migoo Case Study with Real Impact"
								/>
                <div class="max-lg:p-5   lg:py-5 lg:pr-5">
                    <Image
                    loading="eager"
                    src={migoo_logo}
                    alt="migoo_logo"
                  />
                <h4 class="text-sm 
                md:text-base 
                lg:text-lg font-semibold mt-3 md:mt-5 ">
                The Most Complex Web Portal for the 
                </h4>
					
                  <p class="text-[#31393C]  text-sm md:text-base mt-3 md:mt-5">
                    A Sanskar Technolab has developed a full-fledged platform by leveraging the Frappe framework for renting, buying, selling and managing heavy-duty construction equipment.
                  </p>
                  <a
                  href="construction-equipment-as-a-service"
                  class="mt-3 md:mt-5 flex justify-between    max-w-[180px]"
                >
                  <p class="text-[#3E96F4] font-semibold font-inter text-sm md:text-base">
                    View full case study
                  </p>
                  <Image
                    loading="eager"
                    src={right_arrow}
                    width={6}
                    height={12}
                    alt="right arrow "
                  />
                </a>
              </div>
							</div>
						</div>
            <div class="swiper-slide ">
							<div
								class="lg:min-h-[400px]  sm:min-h-[730px] min-h-[560px]  border  shadow-lg w-full  flex flex-col lg:flex-row   lg:gap-10 "
							>
								<Image
                class="max-lg:w-full "
									loading="eager"
									src={bestdeed_Real_Impact}
									alt="bestdeed Case Study with Real Impact "
								/>
                <div class="max-lg:p-5   lg:py-5 lg:pr-5">
                  <div class="flex flex-row items-center gap-3">
                    <Image
                    loading="eager"
                    src={bestdeed}
                    alt="bestdeed"
                  />
                  <h3 class="text-[#2CA44C] text-lg md:text-xl lg:text-2xl font-bold  ">
                    BestDeed
                  </h3>
                </div>
                <h4 class="text-sm 
                md:text-base 
                lg:text-lg font-semibold mt-3 md:mt-5 ">
                Transforming the Idea into a Crowdfunding Platform for BestDeed
                </h4>
					
                  <p class="text-[#31393C]  text-sm md:text-base mt-3 md:mt-5">
                    BestDeed is a social crowdfunding platform that enables individuals and organizations to raise funds by leveraging collective contributions.
                  </p>
                  <!-- <a
                  href=""
                  class="mt-3 md:mt-5 flex justify-between    max-w-[180px]"
                >
                  <p class="text-[#3E96F4] font-semibold font-inter text-sm md:text-base">
                    View full case study
                  </p>
                  <Image
                    loading="eager"
                    src={right_arrow}
                    width={6}
                    height={12}
                    alt="right arrow "
                  />
                </a> -->
              </div>
							</div>
						</div>
            <div class="swiper-slide">
							<div
								class=" lg:min-h-[400px]  sm:min-h-[730px]  min-h-[560px] border  shadow-lg w-full  flex flex-col lg:flex-row   lg:gap-10 "
							>
								<Image
                class="max-lg:w-full "
									loading="eager"
									src={Realestate_Real_Impact}
									alt="ealestate Case Study with Real Impact"
								/>
                <div class="max-lg:p-5   lg:py-5 lg:pr-5">
                  <div class="flex flex-row items-center gap-3">
                    <Image
                    loading="eager"
                    src={realestate_slider}
                    alt="realestate_slider"
                  />
                  <div class="text-[#4D4C4D]">

                    <h4 class="text-[#31393C] text-lg md:text-xl lg:text-2xl font-semibold  ">
                      Real Estate 
                    </h4>
                    <h3 class="text-[#31393C] text-xl md:text-2xl lg:text-3xl font-bold  ">
                      CRM
                    </h3>
                  </div>
                  
                </div>
                <h4 class="text-sm 
                md:text-base 
                lg:text-lg font-semibold mt-3 md:mt-5 ">
                From Listings to Handshakes Elevate Your Real Estate Game with our CRM Solution
                </h4>
					
                  <p class="text-[#31393C]  text-sm md:text-base mt-3 md:mt-5">
                    Real Estate CRM system that centralizes property information, automates customer management, and enhances client communication, enabling agents to work more efficiently.
                  </p>
                  <a
                  href="real-estate-crm"
                  class="mt-3 md:mt-5 flex justify-between    max-w-[130px]"
                >
                  <p class="text-[#3E96F4] font-semibold font-inter text-sm md:text-base">
                    View Product
                  </p>
                  <Image
                    loading="eager"
                    src={right_arrow}
                    width={6}
                    height={12}
                    alt="right arrow "
                  />
                </a>
              </div>
							</div>
						</div>
					</div>
				</div>
				<div
					class="justify-center gap-4 lg:mt-0 mb-0 md:mb-0 lg:mb-2 flex md:hidden"
				>
					<button
						class="prev-button rounded-full border border-[#B5CBE3] p-2 text-[#B5CBE3] hover:bg-[#B5CBE3] hover:text-white"
					>
						<span class="sr-only">Previous Slide</span>
						<svg
							xmlns="http://www.w3.org/2000/svg"
							fill="none"
							viewBox="0 0 24 24"
							stroke-width="3"
							stroke="currentColor"
							class="h-4 w-4 rtl:rotate-180"
						>
							<path
								stroke-linecap="round"
								stroke-linejoin="round"
								d="M15.75 19.5L8.25 12l7.5-7.5"></path>
						</svg>
					</button>

					<button
						class="next-button rounded-full border border-[#B5CBE3] p-2 text-[#B5CBE3] hover:bg-[#B5CBE3] hover:text-white "
					>
						<span class="sr-only">Next Slide</span>
						<svg
							class="h-4 w-4 rtl:rotate-180"
							fill="none"
							viewBox="0 0 24 24"
							stroke-width="3"
							stroke="currentColor"
							xmlns="http://www.w3.org/2000/svg"
						>
							<path
								d="M9 5l7 7-7 7"
								stroke-linecap="round"
								stroke-linejoin="round"></path>
						</svg>
					</button>
				</div>
			</div>
		</div>
	</section>

  <!-- Discover Case Study with Real Impact End-->

  <section
    class="mx-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0 py-[2rem] md:py-[2rem] lg:py-[4rem]"
  >
    <!--Your Product, Our Passion.
Join hands with us Start -->
    <div class="bg-[#CFE6FF] rounded-2xl">
      <div class="lg:flex items-center text-[#31393C]">
        <div class="basis-1/2 p-5 md:p-8 lg:p-10">
          <h2
            class="lg:text-4xl md:text-3xl text-2xl font-semibold lg:max-w-[460px]"
          >
            Your Product, Our Passion. Join hands with us
          </h2>
          <a
            class="flex gap-5 items-center rounded-lg bg-[#3E96F4] py-2 px-4 md:px-4 md:py-2 max-w-[190px] h-[52px] mt-3 lg:mt-5  cursor-pointer"
            href="#schedule-interview"
          >
            <p
              class="font-semibold text-base md:text-xl font-inter text-[#FFFFFF]"
            >
              Let’s Started
            </p>
            <Image
              loading="eager"
              src={right_arrow}
              alt="right_arrow"
              width={6}
              height={12}
            />
          </a>
        </div>
        <div class="basis-1/2 hidden lg:block lg:h-[292px] xl:h-[240px]">
          <Image
            loading="eager"
            src={Join_hands}
            alt="Our Passion and Join hands with us"
            class=" rounded-r-xl  float-right h-full"
          />
        </div>
      </div>
    </div>
    <!-- Your Product, Our Passion.
Join hands with us End -->

    <!--Sanskar technolab's Specialization in
  Frappe Product Development Start -->
    <div class="2xl:px-0 pt-[2rem] md:pt-[2rem] lg:pt-[4rem]">
      <h2
        class="text-[#3E96F4] text-2xl md:text-3xl lg:text-4xl font-semibold text-center max-w-[615px] mx-auto"
      >
        Sanskar technolab's Specialization in Frappe Product Development
      </h2>
      <div
        class="grid grid-cols-1 lg:grid-rows-1 lg:grid-cols-3 mt-5 md:mt-7 lg:mt-10 gap-5"
      >
        <div
          class="drop-shadow-lg max-lg:mx-auto rounded-xl border-[#CCE4FF] bg-[#FFFFFF] border-2"
        >
          <p
            class="text-[#31393C] sm:text-base md:text-lg border-b-2 border-[#CCE4FF] rounded-t-xl font-semibold p-5 bg-gradient-to-br from-[#CCE4FF] to-[#EBF4FF]"
          >
            Frappe Product Development
          </p>
          <p class="text-sm md:text-base text-[#31393C] px-5 py-3">
            At Sanskar Technolab, we harness the power of Frappe, an open-source
            web application framework, to create highly customizable and
            efficient web applications. Our solutions are designed to be
            scalable and robust, ensuring reliability and performance as your
            business grows. We focus on delivering an intuitive and seamless
            user experience while implementing best practices in security to
            protect your data and operations.
          </p>
        </div>
        <div
          class="drop-shadow-lg max-lg:mx-auto rounded-xl border-[#CCE4FF] bg-[#FFFFFF] border-2"
        >
          <p
            class="text-[#31393C] sm:text-base md:text-lg border-b-2 border-[#CCE4FF] rounded-t-xl font-semibold p-5 bg-gradient-to-br from-[#CCE4FF] to-[#EBF4FF]"
          >
            Frappe SaaS Product Development
          </p>
          <p class="text-sm md:text-base text-[#31393C] px-5 py-3">
            Frappe provides a solid foundation for developing cloud-based
            Software as a Service (SaaS) applications. Our expertise ensures
            that our SaaS products are cost-effective, reducing upfront costs
            and minimizing the need for in-house IT infrastructure. These
            applications are accessible from any location, offering convenience
            to users, and are regularly updated to keep the software current
            with the latest features and security patches.
          </p>
        </div>
        <div
          class="drop-shadow-lg max-lg:mx-auto rounded-xl border-[#CCE4FF] bg-[#FFFFFF] border-2"
        >
          <p
            class="text-[#31393C] sm:text-base md:text-lg border-b-2 border-[#CCE4FF] rounded-t-xl font-semibold p-5 bg-gradient-to-br from-[#CCE4FF] to-[#EBF4FF]"
          >
            White-Label ERPNext Solutions
          </p>
          <p class="text-sm md:text-base text-[#31393C] px-5 py-3">
            ERPNext, built on the Frappe framework, is a versatile suite of
            business applications. Our white-label ERPNext services enable
            businesses to rebrand and customize the ERP system to reflect their
            brand identity and unique requirements. We can enhance functionality
            by adding or modifying features to better align with specific
            business processes, and streamline operations by automating and
            integrating various business functions, thus improving efficiency
            and productivity
          </p>
        </div>
      </div>
    </div>
    <!--Sanskar technolab's Specialization in
Frappe Product Development End -->
  </section>

  <!--  Our Hiring Models for
Product Development Outsourcing Start -->
  <section class="py-[2rem] md:py-[2rem] lg:py-[4rem] bg-[#F5FAFF]">
    <div class="text-[#31393C] mx-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0">
      <h2
        class="text-[#3E96F4] text-2xl md:text-3xl lg:text-4xl font-semibold max-w-[510px]"
      >
        Our Hiring Models for Product Development Outsourcing
      </h2>
      <div
        class="grid grid-cols-12 max-lg:justify-items-center justify-between mt-5 md:mt-7 lg:mt-10 gap-5 lg:gap-7"
      >
        <div class="max-lg:mx-auto lg:p-5 lg:col-span-3 col-span-12">
          <p
            class="text-[#31393C] sm:text-base md:text-lg lg:text-xl font-bold mt-3"
          >
            Hire Product Development Team
          </p>
        </div>

        <div
          class="bg-white max-lg:mx-auto p-5 border-t-4 border-[#3E96F4] lg:col-span-3 col-span-12"
        >
          <p class="text-[#31393C] sm:text-base md:text-lg font-semibold mt-3">
            Establish Phase
          </p>
          <p class="text-sm md:text-base text-[#31393C] mt-3">
            At Sanskar Technolab, we initiate your product with precision and
            expertise. From research and planning to resource acquisition, we
            lay the groundwork for success, ensuring every aspect aligns with
            your vision and goals.
          </p>
        </div>
        <div
          class="bg-white max-lg:mx-auto p-5 border-t-4 border-[#3E96F4] lg:col-span-3 col-span-12"
        >
          <p class="text-[#31393C] sm:text-base md:text-lg font-semibold mt-3">
            Operate Phase
          </p>
          <p class="text-sm md:text-base text-[#31393C] mt-3">
            The operation phase begins development, including coding and
            enhancements. Sanskar Technolab manages progress, provides guidance,
            and ensures timelines and deliverables are met.
          </p>
        </div>
        <div
          class="bg-white max-lg:mx-auto p-5 border-t-4 border-[#3E96F4] lg:col-span-3 col-span-12"
        >
          <p class="text-[#31393C] sm:text-base md:text-lg font-semibold mt-3">
            Handover Phase
          </p>
          <p class="text-sm md:text-base text-[#31393C] mt-3">
            As the project nears completion, Sanskar Technolab facilitates a
            seamless handover process. We provide comprehensive documentation,
            training, and ongoing support, empowering you to take full ownership
            and sustain product success.
          </p>
        </div>

        <div class="max-lg:mx-auto lg:p-5 lg:col-span-3 col-span-12">
          <p
            class="text-[#31393C] sm:text-base md:text-lg lg:text-xl font-bold mt-3"
          >
            Fixed Cost
          </p>
        </div>

        <div class="lg:col-span-9 lg:flex lg:flex-row lg:gap-5 max-lg:hidden">
          <div
            class="bg-white max-lg:mx-auto p-5 border-t-4 border-[#999999] lg:w-[50%] col-span-12"
          >
            <p
              class="text-[#31393C] sm:text-base md:text-lg font-semibold mt-3"
            >
              Prototype Phase
            </p>
            <p class="text-sm md:text-base text-[#31393C] mt-3">
              In this phase, we deliver a functional prototype of the system for
              user feedback. This allows users to explore features and ensure
              the final system meets their expectations with user-friendly
              navigation and simplicity. Based on this feedback, we refine the
              system and provide precise quotes for complete development,
              ensuring all stakeholders understand the final product.
            </p>
          </div>
          <div
            class="bg-white max-lg:mx-auto p-5 border-t-4 border-[#999999] lg:w-[50%] col-span-12"
          >
            <p
              class="text-[#31393C] sm:text-base md:text-lg font-semibold mt-3"
            >
              Development Phase
            </p>
            <p class="text-sm md:text-base text-[#31393C] mt-3">
              Following the successful completion of Phase 1, we gain a
              comprehensive understanding of the proposed system, with all its
              intricate details. Based on your delivery priorities, we allocate
              the necessary development resources to ensure the successful
              execution of the proposed system.
            </p>
          </div>
        </div>

        <div
          class="bg-white max-lg:mx-auto p-5 border-t-4 border-[#999999] lg:col-span-4 col-span-12 lg:hidden"
        >
          <p class="text-[#31393C] sm:text-base md:text-lg font-semibold mt-3">
            Prototype Phase
          </p>
          <p class="text-sm md:text-base text-[#31393C] mt-3">
            In this phase, we deliver a functional prototype of the system for
            user feedback. This allows users to explore features and ensure the
            final system meets their expectations with user-friendly navigation
            and simplicity. Based on this feedback, we refine the system and
            provide precise quotes for complete development, ensuring all
            stakeholders understand the final product.
          </p>
        </div>
        <div
          class="bg-white max-lg:mx-auto p-5 border-t-4 border-[#999999] lg:col-span-4 col-span-12 lg:hidden"
        >
          <p class="text-[#31393C] sm:text-base md:text-lg font-semibold mt-3">
            Development Phase
          </p>
          <p class="text-sm md:text-base text-[#31393C] mt-3">
            Following the successful completion of Phase 1, we gain a
            comprehensive understanding of the proposed system, with all its
            intricate details. Based on your delivery priorities, we allocate
            the necessary development resources to ensure the successful
            execution of the proposed system.
          </p>
        </div>
      </div>
    </div>
  </section>
  <!--  Our Hiring Models for
Product Development Outsourcing End-->

  <!-- Schedule A Developer Interview Start -->
  <section
    class="bg-gradient-to-b from-[#184D85] to-[#31393C]"
    id="schedule-interview"
  >
    <div
      class="flex lg:flex-row justify-evenly mx-5 md:max-w-7xl md:mx-auto max-lg:justify-center lg:pt-12"
    >
      <form id="talk_form">
        <div class="py-5 md:py-7 lg:py-10">
          <p class="text-[#FFFFFF] text-2xl md:text-3xl lg:text-4xl font-bold">
            Let’s Talk
          </p>

          <p
            class="text-[#FFFFFF] text-sm md:text-base lg:text-lg font-semibold mt-3"
          >
            Looking to develop a scalable and high-performing product?
          </p>

          <div class="grid grid-cols-12 gap-5 mt-5 md:mt-7 lg:mt-10">
            <div class="lg:col-span-12 col-span-12">
              <input
                type="text"
                placeholder="Your Name*"
                class="rounded w-full p-1"
                name="productname"
                required
              />
            </div>

            <div class="lg:col-span-6 col-span-12">
              <input
                type="email"
                placeholder="Email *"
                class="rounded w-full p-1"
                name="productemail"
                required
              />
            </div>

            <div class="lg:col-span-6 col-span-12">
              <input
                type="tel"
                placeholder="Phone Number"
                class="rounded w-full p-1"
                name="productphone"
              />
            </div>

            <div class="col-span-12">
              <textarea
                name="productmessage"
                id=""
                rows="5"
                placeholder="Describe Your Requirements*"
                class="w-full rounded p-1"
                required></textarea>
            </div>

            <div class="flex justify-end col-span-12">
              <button
                type="submit"
                class="text-[#FFFFFF] bg-[#3E96F4] rounded font-semibold text-base font-inter px-5 py-2"
                >Talk to Us</button
              >
            </div>
          </div>
        </div>
      </form>
      <Image
        loading="eager"
        src={Lets_Talk}
        alt="Lets Talk"
        class="max-lg:hidden"
      />
    </div>
  </section>
  <!-- Schedule A Developer Interview End -->

  <!-- Frequently Asked Questions (FAQs) start -->
  <section
    class="section-bg-center mx-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0 py-[2rem] md:py-[2rem] lg:py-[4rem]"
  >
    <div
      x-data="{ accordion: 0 }"
      class="grid gap-5 bg-[#EBF5FF] rounded-[20px] text-[#31393C] p-3 md:p-4 lg:p-5 shadow drop-shadow-sm"
    >
      <p
        class="text-[1.25rem] md:text-[1.50rem] lg:text-[1.75rem] font-semibold ml-3 leading-9 text-[#3D96F5]"
      >
        Frequently Asked Questions (FAQs)
      </p>
      <div class="bg-white rounded-2xl">
        <div
          class="flex justify-between p-4 cursor-pointer"
          @click="accordion = accordion == 0 ? 1 : 0"
        >
          <p class="font-semibold text-sm md:text-sm lg:text-base">
            What is software product development?
          </p>
          <Image
            loading="eager"
            :class="accordion === 1 ? 'block' : 'hidden'"
            src={down_arrow}
            alt="down-arrow"
          />
          <Image
            loading="eager"
            :class="accordion !== 1 ? 'block' : 'hidden'"
            src={up_arrow}
            alt="up-arrow"
          />
        </div>
        <div
          class="overflow-hidden bg-white rounded-b-[10px]"
          :class="accordion !== 0 ? 'h-0' : 'border-t-2'"
        >
          <p class="text-xs md:text-sm lg:text-base p-5">
            Software product development involves designing, creating, and
            maintaining software applications or products. It encompasses the
            entire software product development lifecycle, from ideation to
            coding, testing, and deployment.
          </p>
        </div>
      </div>

      <div class="bg-white rounded-2xl">
        <div
          class="flex justify-between p-4 cursor-pointer"
          @click="accordion = accordion == 2 ? 0 : 2"
        >
          <p class="font-semibold text-sm md:text-sm lg:text-base">
            Why Should we trust Sanskar Technolab to avail of product
            engineering services?
          </p>
          <Image
            loading="eager"
            :class="accordion !== 2 ? 'block' : 'hidden'"
            src={down_arrow}
            alt="down-arrow"
          />
          <Image
            loading="eager"
            :class="accordion === 2 ? 'block' : 'hidden'"
            src={up_arrow}
            alt="up-arrow"
          />
        </div>
        <div
          class="overflow-hidden bg-white rounded-b-[10px]"
          :class="accordion !== 2 ? 'h-0' : 'border-t-2'"
        >
          <p class="text-xs md:text-sm lg:text-base p-5">
            At Sarvadhi, you partner with Sanskar Technolab an IT consulting
            company committed to excellence, innovation, and client
            satisfaction. With a proven track record in delivering high-quality
            software products, we offer end-to-end product development services
            from conceptualization and design to development, testing, and
            deployment.
          </p>
        </div>
      </div>

      <div class="bg-white rounded-2xl">
        <div
          class="flex justify-between p-4 cursor-pointer"
          @click="accordion = accordion == 3 ? 0 : 3"
        >
          <p class="font-semibold text-sm md:text-sm lg:text-base">
            Can you provide ongoing support and maintenance for the software
            product after it is developed?
          </p>
          <Image
            loading="eager"
            :class="accordion !== 3 ? 'block' : 'hidden'"
            src={down_arrow}
            alt="down-arrow"
          />
          <Image
            loading="eager"
            :class="accordion === 3 ? 'block' : 'hidden'"
            src={up_arrow}
            alt="up-arrow"
          />
        </div>
        <div
          class="overflow-hidden bg-white rounded-b-[10px]"
          :class="accordion !== 3 ? 'h-0' : 'border-t-2'"
        >
          <p class="text-xs md:text-sm lg:text-base p-5">
            Yes, we provide ongoing support with L1 to L4 levels, and software
            maintenance services to ensure your software remains efficient and
            up to date. This includes bug fixes, updates, and improvements as
            needed.
          </p>
        </div>
      </div>

      <div class="bg-white rounded-2xl">
        <div
          class="flex justify-between p-4 cursor-pointer"
          @click="accordion = accordion == 4 ? 0: 4"
        >
          <p class="font-semibold text-sm md:text-sm lg:text-base">
            How do you handle scalability and future growth considerations for
            software products?
          </p>
          <Image
            loading="eager"
            :class="accordion !== 4 ? 'block' : 'hidden'"
            src={down_arrow}
            alt="down-arrow"
          />
          <Image
            loading="eager"
            :class="accordion === 4 ? 'block' : 'hidden'"
            src={up_arrow}
            alt="up-arrow"
          />
        </div>
        <div
          class="overflow-hidden bg-white rounded-b-[10px]"
          :class="accordion !== 4 ? 'h-0' : 'border-t-2'"
        >
          <p class="text-xs md:text-sm lg:text-base p-5">
            As a software product development firm, scalability and future
            growth are some of our integral considerations. We plan for it by
            using scalable architectures and technologies, allowing your
            software to adapt to increased demands, new features, and evolving
            user requirements.
          </p>
        </div>
      </div>

      <div class="bg-white rounded-2xl">
        <div
          class="flex justify-between p-4 cursor-pointer"
          @click="accordion = accordion == 5 ? 0: 5"
        >
          <p class="font-semibold text-sm md:text-sm lg:text-base">
            How much does it cost to build a software product?
          </p>
          <Image
            loading="eager"
            :class="accordion !== 5 ? 'block' : 'hidden'"
            src={down_arrow}
            alt="down-arrow"
          />
          <Image
            loading="eager"
            :class="accordion === 5 ? 'block' : 'hidden'"
            src={up_arrow}
            alt="up-arrow"
          />
        </div>
        <div
          class="overflow-hidden bg-white rounded-b-[10px]"
          :class="accordion !== 5 ? 'h-0' : 'border-t-2'"
        >
          <p class="text-xs md:text-sm lg:text-base p-5">
            The cost of building a software product can vary depending on
            several factors, such as the size and complexity of the product, the
            development team, the technologies used, etc.
          </p>
        </div>
      </div>

      <div class="bg-white rounded-2xl">
        <div
          class="flex justify-between p-4 cursor-pointer"
          @click="accordion = accordion == 6 ? 0: 6"
        >
          <p class="font-semibold text-sm md:text-sm lg:text-base">
            What are the stages of software product development?
          </p>
          <Image
            loading="eager"
            :class="accordion !== 6 ? 'block' : 'hidden'"
            src={down_arrow}
            alt="down-arrow"
          />
          <Image
            loading="eager"
            :class="accordion === 6 ? 'block' : 'hidden'"
            src={up_arrow}
            alt="up-arrow"
          />
        </div>
        <div
          class="overflow-hidden bg-white rounded-b-[10px]"
          :class="accordion !== 6 ? 'h-0' : 'border-t-2'"
        >
          <p class="text-xs md:text-sm lg:text-base pt-5 px-5">
            The key stages of software product development are:
          </p>
          <div
            class="grid lg:grid-rows-1 sm:grid-cols-2 lg:grid-cols-3 p-5 gap-5"
          >
            <div
              class="rounded-xl border border-[#B5CBE3] p-3 flex flex-row items-center gap-3 bg-gradient-to-br from-[#ECF5FF] to-[#FFFFFF]"
            >
              <p class="text-sm md:text-base font-semibold text-[#3E96F4]">
                01
              </p>
              <p class="text-[#31393C] text-sm md:text-base font-semibold">
                Planning and analysis
              </p>
            </div>
            <div
              class="gap-3 p-3 flex flex-row items-center rounded-xl border border-[#B5CBE3] bg-gradient-to-br from-[#ECF5FF] to-[#FFFFFF]"
            >
              <p class="text-sm md:text-base font-semibold text-[#3E96F4]">
                02
              </p>
              <p class="text-[#31393C] text-sm md:text-base font-semibold">
                Prototyping and designing
              </p>
            </div>
            <div
              class="gap-3 p-3 flex flex-row items-center rounded-xl border border-[#B5CBE3] bg-gradient-to-br from-[#ECF5FF] to-[#FFFFFF]"
            >
              <p class="text-sm md:text-base font-semibold text-[#3E96F4]">
                03
              </p>
              <p class="text-[#31393C] text-sm md:text-base font-semibold">
                Coding and development
              </p>
            </div>
            <div
              class="gap-3 p-3 flex flex-row items-center rounded-xl border border-[#B5CBE3] bg-gradient-to-br from-[#ECF5FF] to-[#FFFFFF]"
            >
              <p class="text-sm md:text-base font-semibold text-[#3E96F4]">
                04
              </p>
              <p class="text-[#31393C] text-sm md:text-base font-semibold">
                Testing and QA
              </p>
            </div>
            <div
              class="gap-3 p-3 flex flex-row items-center rounded-xl border border-[#B5CBE3] bg-gradient-to-br from-[#ECF5FF] to-[#FFFFFF]"
            >
              <p class="text-sm md:text-base font-semibold text-[#3E96F4]">
                05
              </p>
              <p class="text-[#31393C] text-sm md:text-base font-semibold">
                Deployment and launch
              </p>
            </div>
            <div
              class="gap-3 p-3 flex flex-row items-center rounded-xl border border-[#B5CBE3] bg-gradient-to-br from-[#ECF5FF] to-[#FFFFFF]"
            >
              <p class="text-sm md:text-base font-semibold text-[#3E96F4]">
                06
              </p>
              <p class="text-[#31393C] text-sm md:text-base font-semibold">
                Support and maintenance
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="bg-white rounded-2xl">
        <div
          class="flex justify-between p-4 cursor-pointer"
          @click="accordion = accordion == 7 ? 0: 7"
        >
          <p class="font-semibold text-sm md:text-sm lg:text-base">
            What are the benefits of outsourcing product design and development?
          </p>
          <Image
            loading="eager"
            :class="accordion !== 7 ? 'block' : 'hidden'"
            src={down_arrow}
            alt="down-arrow"
          />
          <Image
            loading="eager"
            :class="accordion === 7 ? 'block' : 'hidden'"
            src={up_arrow}
            alt="up-arrow"
          />
        </div>
        <div
          class="overflow-hidden bg-white rounded-b-[10px]"
          :class="accordion !== 7 ? 'h-0' : 'border-t-2'"
        >
          <p class="text-xs md:text-sm lg:text-base pt-5 px-5">
            outsourcing product design and development offers numerous benefits,
            including:
          </p>
          <div class="py-5">
            <ul class="!list-disc pl-[51px] relative">
              <li class="text-xs md:text-sm lg:text-base">
                Reduced development and operational costs compared to in-house
                development
              </li>
              <li class="text-xs md:text-sm lg:text-base pt-2">
                Flexibility in time zones and work hours
              </li>
              <li class="text-xs md:text-sm lg:text-base pt-2">
                Access to world-class, experienced developers
              </li>
              <li class="text-xs md:text-sm lg:text-base pt-2">
                Faster product design and development
              </li>
              <li class="text-xs md:text-sm lg:text-base pt-2">
                Guaranteed quality services and cutting-edge technology
              </li>
              <li class="text-xs md:text-sm lg:text-base pt-2">
                A wide range of platforms and technologies are available in one
                place
              </li>
              <li class="text-xs md:text-sm lg:text-base pt-2">
                The option to outsource at any project stage
              </li>
              <li class="text-xs md:text-sm lg:text-base pt-2">
                Full control and monitoring of the entire process
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="bg-white rounded-2xl">
        <div
          class="flex justify-between p-4 cursor-pointer"
          @click="accordion = accordion == 8 ? 0: 8"
        >
          <p class="font-semibold text-sm md:text-sm lg:text-base">
            How does Sanskar Technolab collaborate with our existing product
            development team?
          </p>
          <Image
            loading="eager"
            :class="accordion !== 8 ? 'block' : 'hidden'"
            src={down_arrow}
            alt="down-arrow"
          />
          <Image
            loading="eager"
            :class="accordion === 8 ? 'block' : 'hidden'"
            src={up_arrow}
            alt="up-arrow"
          />
        </div>
        <div
          class="overflow-hidden bg-white rounded-b-[10px]"
          :class="accordion !== 8 ? 'h-0' : 'border-t-2'"
        >
          <p class="text-xs md:text-sm lg:text-base p-5">
            Sanskar Technolab partners with your product engineering team to
            ensure seamless integration and efficient collaboration. As an
            extension of your team, we bring specialized skills and experience
            while leveraging your in-house expertise. Our collaborative approach
            aligns with your business goals, ensuring we achieve exceptional
            results together.
          </p>
        </div>
      </div>
      <div class="bg-white rounded-2xl">
        <div
          class="flex justify-between p-4 cursor-pointer"
          @click="accordion = accordion == 9 ? 0: 9"
        >
          <p class="font-semibold text-sm md:text-sm lg:text-base">
            How does Sanskar Technolab ensure the final product meets my
            expectations?
          </p>
          <Image
            loading="eager"
            :class="accordion !== 9 ? 'block' : 'hidden'"
            src={down_arrow}
            alt="down-arrow"
          />
          <Image
            loading="eager"
            :class="accordion === 9 ? 'block' : 'hidden'"
            src={up_arrow}
            alt="up-arrow"
          />
        </div>
        <div
          class="overflow-hidden bg-white rounded-b-[10px]"
          :class="accordion !== 9 ? 'h-0' : 'border-t-2'"
        >
          <p class="text-xs md:text-sm lg:text-base p-5">
            We involve you throughout the development process, especially during
            the prototype phase, to gather feedback and make necessary
            adjustments, ensuring the final product aligns with your
            expectations.
          </p>
        </div>
      </div>

      <div class="bg-white rounded-2xl">
        <div
          class="flex justify-between p-4 cursor-pointer"
          @click="accordion = accordion == 10 ? 0: 10"
        >
          <div class="font-semibold text-sm md:text-sm lg:text-base">
            Can Sanskar Technolab help us develop a SaaS product?
          </div>
          <Image
            loading="eager"
            :class="accordion !== 10 ? 'block' : 'hidden'"
            src={down_arrow}
            alt="down-arrow"
          />
          <Image
            loading="eager"
            :class="accordion === 10 ? 'block' : 'hidden'"
            src={up_arrow}
            alt="up-arrow"
          />
        </div>
        <div
          class="overflow-hidden bg-white rounded-b-[10px]"
          :class="accordion !== 10 ? 'h-0' : 'border-t-2'"
        >
          <p class="text-xs md:text-sm lg:text-base pt-5 px-5">
            Yes, Sanskar Technolab helps you in a SaaS product development
            company and creates a robust, cloud-based application tailored to
            your business needs.
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- Frequently Asked Questions (FAQs) End -->

 



  <style>


    .Key_card:hover {
      border-radius: 10px;
      /* border: 2px solid #fff; */
      background: #fff;

    }

    /* @media screen and (min-width: 915px) and (max-width: 1025px) {
      #schedule-interview {
        padding-bottom: 70px;
      }
    } */

    .skills_card {
      border-radius: 10px;
      border: 2px solid #fff;
      background: linear-gradient(135deg, #fff7e5 0%, #fff 100%);
      box-shadow: 4px 4px 4px 0px rgba(62, 150, 244, 0.15);
    }

    @media screen and (min-width: 320px) and (max-width: 640px) {
      .hiring {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
      }
    }

    /* .interview {
    background: linear-gradient(180deg, #184d85 0%, #31393c 100%);
  } */

    /* .interview {
      background-color: #e1f1ff;
    } */

    .card_bg {
      background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(190, 212, 255, 0.5) 50%,
        rgba(255, 255, 255, 1) 100%
      );
    }

    .section-bg-left_shadow {
      position: relative;
    }

    .section-bg-left_shadow::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100rem;
      background-image: radial-gradient(
        ellipse at left,
        rgba(62, 150, 244, 0.1),
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0)
      );
      z-index: -1;
      margin-top: 0rem;
    }

    .section-bg-right::before {
      content: "";
      position: absolute;
      width: 100%;

      height: 120rem;
      background-image: radial-gradient(
        ellipse at right,
        rgba(62, 150, 244, 0.1),
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0)
      );
      z-index: -1;
    }

    @media (max-width: 640px) {
      .section-bg-right::before {
        content: "";
        position: absolute;
        width: 100%;

        height: 0;
        background-image: radial-gradient(
          ellipse at right,
          rgba(62, 150, 244, 0.1),
          rgba(255, 255, 255, 0),
          rgba(255, 255, 255, 0)
        );
        z-index: -1;
      }
    }

    .section-bg-right-1::before {
      content: "";
      position: absolute;
      width: 100%;

      height: 120rem;
      background-image: radial-gradient(
        ellipse at right,
        rgba(62, 150, 244, 0.1),
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0)
      );
      z-index: -1;
      margin-top: 45rem;
    }

    .shadow-blue {
      box-shadow: 0px 4px 6px -1px rgba(0, 0, 255, 0.1),
        4px 0px 6px -1px rgba(0, 0, 255, 0.06);
    }
    @media (max-width: 640px) {
      .section-bg-right-1::before {
        content: "";
        position: absolute;
        width: 100%;

        height: 0;
        background-image: radial-gradient(
          ellipse at right,
          rgba(62, 150, 244, 0.1),
          rgba(255, 255, 255, 0),
          rgba(255, 255, 255, 0)
        );
        z-index: -1;
      }
    }

    .image-container {
      position: relative;
    }

    .service::-webkit-scrollbar {
      display: None;
    }

    /* .shadow-box{
      box-shadow: 0px 0px 5px 5px red
    } */
  </style>

  <script>
    let current_url;
    // Get the current pathname and remove the leading '/'
    current_url = window.location.pathname.slice(1);
    console.log("Current URL:" + current_url);

    // Smooth scrolling function
    document.querySelectorAll('a[href^="#"]').forEach((anchor) => {
      anchor.addEventListener("click", function (e) {
        e.preventDefault();

        document.querySelector(this.getAttribute("href")).scrollIntoView({
          behavior: "smooth",
        });
      });
    });

    var talk_form = document.getElementById("talk_form");
    talk_form.addEventListener("submit", handleContactForm);


    // Add event listener to email input for real-time validation
    var emailInput = document.querySelector('input[name="productemail"]');
    emailInput.addEventListener("blur", validateEmailInput); // Changed event to "blur"

    function validateEmailInput() {
      const emailValue = emailInput.value.trim();
      const errorMessageElement = emailInput.nextElementSibling;

      if (emailValue === "") {
        hideErrorMessage(errorMessageElement); // Hide error message if email is empty
        emailInput.style.borderColor = ""; // Reset border color
        return;
      }

      if (!validateEmail(emailValue)) {
        blinkBorder(emailInput);
        displayErrorMessage(
          errorMessageElement,
          "Please enter a valid email address."
        );
      } else {
        hideErrorMessage(errorMessageElement); // Hide error message if email is valid
        emailInput.style.borderColor = ""; // Reset border color
      }
    }

 



    // Validation function for email
    function validateEmail(email) {
      const re =
        /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(String(email).toLowerCase());
    }

    function displayErrorMessage(errorMessageElement, message) {
      if (
        !errorMessageElement ||
        !errorMessageElement.classList.contains("error-message")
      ) {
        // If error message doesn't exist, create and insert it
        errorMessageElement = document.createElement("p");
        errorMessageElement.textContent = message;
        errorMessageElement.classList.add("error-message");
        errorMessageElement.style.color = "red"; // Adjust the color
        errorMessageElement.style.fontSize = "0.8rem"; // Adjust the font size
        errorMessageElement.style.marginTop = "0.2rem"; // Adjust the margin-top
        errorMessageElement.style.marginBottom = "0"; // Remove bottom margin

        // Insert the error message after the input field
        emailInput.parentNode.insertBefore(
          errorMessageElement,
          emailInput.nextSibling
        );
      } else {
        errorMessageElement.textContent = message; // Update existing error message
      }
    }

    function hideErrorMessage(errorMessageElement) {
      if (
        errorMessageElement &&
        errorMessageElement.classList.contains("error-message")
      ) {
        // If error message exists, remove it
        errorMessageElement.remove();
      }
    }

    const apiKey = import.meta.env.PUBLIC_ApiKey as string;
    const secretKey = import.meta.env.PUBLIC_SecretKey as string;

    function blinkBorder(element) {
      // If the border color is not red, set it to red
      if (element.style.borderColor !== "red") {
        element.style.borderColor = "red";
      } else {
        // If the border color is already red, reset it to its original state
        element.style.borderColor = "";
      }
    }

    function resetBorderColorOnFocus(inputElement) {
      inputElement.addEventListener("focus", () => {
        inputElement.style.borderColor = ""; // Remove the border color (set it to null)
      });
    }

    // send data in frappe
    function handleContactForm(e) {
      e.preventDefault();
      const form = e.target; // Get the form that triggered the submission

      const nameInput = form.querySelector('input[name="productname"]');
      const emailInput = form.querySelector('input[name="productemail"]');
      const messageInput = document.querySelector(
        'textarea[name="productmessage"]'
      );
      const phoneInput = document.querySelector('input[name="productphone"]');

      const nameValue = nameInput.value.trim();
      const emailValue = emailInput.value.trim();
      const messageValue = messageInput.value.trim();
      const phoneValue = phoneInput.value.trim();

      resetBorderColorOnFocus(nameInput);
      resetBorderColorOnFocus(emailInput);
      resetBorderColorOnFocus(messageInput);
      resetBorderColorOnFocus(phoneInput);

      if (nameValue === "") {
        blinkBorder(nameInput);
      }

      if (emailValue === "") {
        blinkBorder(emailInput);
      }

      if (messageValue === "") {
        blinkBorder(messageInput);
      }

      if (nameValue === "" || emailValue === "" || messageValue === "") {
        return;
      }

      const urlParams = new URLSearchParams(window.location.search);

      // Get the value of the 'page' parameter
      const pageValue = urlParams.get("page");

      const queryTypeValue = pageValue ? "Demo" : "General";

      // alert('Please select a file to upload.');
      const formData = new FormData(e.target);
      const data = Object.fromEntries(formData.entries());
      formData.set("data", JSON.stringify(data));
      var name = data.name;
      var email = data.email;
      var phone = data.phone_no;
      var message = data.req_message;

      // Function to get the user's IP address using ipify
      function getUserIPAddress() {
        return fetch("https://api.ipify.org?format=json")
          .then((response) => response.json())
          .then((data) => data.ip)
          .catch((error) => {
            console.error("Error fetching IP address:", error);
            return null; // Handle the error gracefully
          });
      }

      getUserIPAddress().then((ipAddress) => {
        let { browserName, device } = detectBrowser();
        console.log("---------->>>", browserName, device, ipAddress);

        fetch("https://sanskar.frappe.cloud/api/resource/Enquiry", {
          method: "POST",
          headers: {
            Accept: "application/json",
            "Content-Type": "application/json",
            Authorization: `token ${apiKey}:${secretKey}`,
          },
          body: JSON.stringify({
            first_name: name,
            email: email,
            phone: phone,
            message: message,
            enquiry_source: "Website Enquiry",
            query_type: "Developer Interview",
            ip: ipAddress,
            browser_name: browserName,
            device: device,
            demo_for: current_url,
          }),
        })
          .then((res) => {
            console.log("------>res", res);
            if (res.status === 200) {
              // alert("You have been registered successfully.")
              window.location.href = "/thank-you";
            } else {
              sendEmailNotification(
                name,
                email,
                phone,
                message,
                "Website Enquiry",
                current_url,
                "Developer Interview",
                ipAddress,
                browserName,
                device,
                res
              );
              alert("Failed to submit data. Please try after some time.");
            }
          })
          .catch((error) => {
            console.log(error);
          });
      });
    }

    get_ip()
      .then((ipAddress) => {
        console.log("Received IP Address:", ipAddress);
      })
      .catch((error) => {
        console.error("Error:", error);
      });

    function get_ip() {
      // Return a Promise that resolves with the IP address
      return new Promise((resolve, reject) => {
        fetch("https://api.ipify.org?format=json")
          .then((response) => response.json())
          .then((data) => {
            const ipAddress = data.ip;
            // console.log("Public IP Address:", ipAddress);
            resolve(ipAddress); // Resolve the Promise with the IP address
          })
          .catch((error) => {
            console.error("Error fetching IP address:", error);
            reject(error); // Reject the Promise with the error
          });
      });
    }

    // get browser and device name
    function detectBrowser() {
      const userAgent = navigator.userAgent;
      var browserName = "Unknown";

      // Check for Chrome
      if (userAgent.indexOf("Chrome") !== -1) {
        browserName = "Google Chrome";
      }
      // Check for Firefox
      else if (userAgent.indexOf("Firefox") !== -1) {
        browserName = "Mozilla Firefox";
      }
      // Check for Safari
      else if (userAgent.indexOf("Safari") !== -1) {
        browserName = "Apple Safari";
      }
      // Check for Edge
      else if (userAgent.indexOf("Edg") !== -1) {
        browserName = "Microsoft Edge";
      }
      // Check for Internet Explorer
      else if (
        userAgent.indexOf("MSIE") !== -1 ||
        userAgent.indexOf("Trident") !== -1
      ) {
        browserName = "Internet Explorer";
      }

      // Log the detected browser to the console
      //   console.log(`Detected browser: ${browserName}`);

      // Detect the device type based on screen size
      const screenWidth = window.innerWidth;
      var device = "Unknown";
      if (screenWidth <= 576) {
        device = "Mobile";
      } else if (screenWidth <= 992) {
        device = "Tablet";
      } else if (screenWidth <= 1200) {
        device = "Laptop";
      } else {
        device = "Desktop";
      }

      return { browserName, device };
    }

    function sendEmailNotification(
      full_name = "",
      email = "",
      phone = "",
      message = "",
      enquiry_source = "",
      demoForValue = "",
      queryTypeValue = "",
      ip = "",
      browser_name = "",
      device = "",
      response = ""
    ) {
      console.log("sending email notification...");
      // return
      fetch(
        "https://sanskartechnolab.com/api/method/astro_sanskar.api.send_form_failed_notification",
        {
          method: "POST",
          headers: {
            Accept: "application/json",
            "Content-Type": "application/json",
            // Authorization: `token ${apiKey}:${secretKey}`,
          },
          body: JSON.stringify({
            full_name: full_name,
            email: email,
            phone: phone,
            message: message,
            enquiry_source: "Website Enquiry",
            demoForValue: demoForValue,
            queryTypeValue: queryTypeValue,
            ip: ip,
            browser_name: browser_name,
            device: device,
            response: response,
            page_name: "Hire Frappe Developer",
          }),
        }
      )
        .then((res) => {
          if (res.status === 200) {
            // alert("You have been registered successfully.")
            console.log("email notification sent.");
          } else {
            console.log("failed to send email notification", res);
            alert(
              "We are unable to process your request. please send your requirements on info@sanskartechnolab.com"
            );
          }
        })
        .catch((error) => {
          console.log("error", error);
        });
    }

    document.addEventListener("DOMContentLoaded", function () {
      console.log("object");
      const swiper = new Swiper(".swiper-container", {
        loop: true,
        slidesPerView: 1,
        spaceBetween: 0,
        autoplay: {
          delay: 3000,
        },
        navigation: {
          nextEl: ".next-button",
          prevEl: ".prev-button",
        },
        breakpoints: {
          640: {
            slidesPerView:1,
            centeredSlides: true,
          },
          768: {
            centeredSlides: true,
            slidesPerView: 1,
          },
          1024: {
            centeredSlides: true,
            slidesPerView: 1,
          },
         
        },
      });
    });
  </script>
</Layout>
