---
import { Image, Picture } from "@astrojs/image/components";
import "../styles.css";
import logo from "../../public/Images/logo.svg";
import down_arrow from "../../public/Images/down-arrow.svg";
import right_arrow from "../../public/Images/right-arrow.svg";
import products_product from "../../public/Images/products_product.svg";
import frappe_certified_partner from "../../public/Images/frappe-certified-partner.svg";
import Manufacturing_navbar from "../../public/Images/Manufacturing_navbar.svg";
import Real_Estate from "../../public/Images/Real_Estate.svg";
import Textile from "../../public/Images/Textile.svg";
import Retail from "../../public/Images/Retail.svg";
import Human_Resources from "../../public/Images/Human _Resources.svg";
---

<nav class="border-b-2 py-5 md:py-5 px-5 md:px-0 bg-white">
  <div
    class="md:max-w-7xl md:mx-auto md:px-24 2xl:px-0 flex flex-wrap items-center justify-between"
  >
    <a
      href="/"
      class="w-4/12 md:w-auto grow flex items-center flex-shrink-0 text-white mr-6 hover:cursor-pointer"
    >
      <Image loading="eager" src={logo} alt="logo" />
    </a>

    <div
      class="xl:hidden flex-none bg-[#3E96F4] inline-block px-3 md:py-2 pb-1 whitespace-nowrap rounded-md text-white font-semibold font-inter mr-2"
    >
      <a href="/contact-us" class="text-xs md:text-base">Inquire Now</a>
    </div>

    <div class="block xl:hidden w-1/12 md:w-auto flex-none">
      <button
        class="flex flex-col justify-center items-center px-2 py-2 text-[9px] rounded hover:text-black hover:border-white menu"
        id="open-menu"
      >
        <svg
          class="fill-current h-5 w-"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
          ><title>Menu</title><path
            d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path></svg
        >MENU
      </button>

      <button
        class="hidden flex flex-col justify-center items-center px-2 py-2 text-[9px] rounded hover:text-black hover:border-white menu"
        id="close-menu"
      >
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <circle cx="12" cy="12" r="12" fill="#3E96F4"></circle>
          <path d="M8 16L16 8" stroke="white" stroke-width="2"></path>
          <path d="M16 16L8 8" stroke="white" stroke-width="2"></path>
        </svg>
      </button>
    </div>

    <div
      class="w-full hidden xl:flex xl:items-center xl:w-auto pb-0 md:pb-4 lg:pb-0 font-semibold text-base"
      id="menu"
    >
      <ul class="!leading-8 lg:flex-grow" id="main-menu">
        <!-- <li class="block mt-5 xl:inline-block xl:mt-0 mr-8 text-[#31393C]"> -->
        <!-- <span class="group relative inline-block"> -->
        <!-- <span class="flex gap-1"><a href="#" class="text-sm md:text-base">Solutions</a><Image loading="eager"  src={down_arrow} alt="Down Arrow" /></span> -->
        <!-- <a href="#" class="text-sm md:text-base">Solutions</a> -->
        <!-- <ul
              class="sub-menu w-[100%] md:w-auto lg:absolute z-10 hidden submenu-bg lg:top-[4.1rem] py-2 pr-[2.75rem] lg:-left-[1.5rem] left-[5rem] top-[0.75rem] md:group-hover:block overflow-x-hidden"
            >
              <li class="">
                <a
                  class="whitespace-pre block text-[#4D5F66] hover:text-[#3E96F4] py-2 lg:px-5 px-5 text-sm md:text-base"
                  href="#">ERPNext</a
                >
              </li>
              <li class="">
                <a
                  class="whitespace-pre block text-[#4D5F66] hover:text-[#3E96F4] py-2 lg:px-5 px-5 text-sm md:text-base"
                  href="#">ServiceNow</a
                >
              </li>
            </ul> -->
        <!-- </span> -->
        <!-- </li> -->


<!-- ERPNext start -->
        <li class="block xl:hidden xl:mt-0 mt-5 mr-8 text-[#31393C]">
          <span class="group relative inline-block">
            <span class="flex gap-2"
              ><a href="/products" class="text-sm md:text-base">ERPNext</a
              ><Image loading="eager" src={down_arrow} alt="Down Arrow" /></span
            >
            <ul
              class="sub-menu lg:absolute z-10 hidden submenu-bg lg:top-[3.75rem] py-2 pr-[2.75rem] lg:-left-[1.5rem] left-[5rem] top-[0.75rem] group-hover:block overflow-x-hidden"
            >
            <li class="open-submenu">
              <span class="group relative inline-block">
                <span class="flex"
                  ><a
                    href="#"
                    class="whitespace-pre block text-[#4D5F66] hover:text-[#3E96F4] py-2 lg:px-5 px-5 text-sm md:text-base"
                    >Overview</a
                  ><Image
                    loading="eager"
                    src={down_arrow}
                    alt="Down Arrow"
                    class="-ml-3"
                  /></span
                >
              </span>

              <div class="hidden dropdown-content lg:ml-0">
                <a
                  href="/why-choose-erpnext"
                  class="whitespace-pre block text-[#4D5F66] hover:text-[#3E96F4] py-2 lg:px-5 px-5 text-sm md:text-base"
                  >Why Choose ERPNext</a
                >
                <a
                  href="/erpnext-implementation-partner"
                  class="whitespace-pre block text-[#4D5F66] hover:text-[#3E96F4] py-2 lg:px-5 px-5 text-sm md:text-base"
                  >ERPNext Partner</a
                >
                <a
                  href="https://frappe.io/api/method/frappe.utils.print_format.download_pdf?doctype=Certification&name=PARTCRTF00034&format=Partner%20Certificate&no_letterhead=0&letterhead=Blank&settings=%7B%7D&_lang=en#toolbar=0"
                  target="_blank"
                  class="whitespace-pre block text-[#4D5F66] hover:text-[#3E96F4] py-2 lg:px-5 px-5 text-sm md:text-base"
                  > View Certificate</a>
              </div>
            </li>
              <li class="open-submenu">
                <span class="group relative inline-block">
                  <span class="flex"
                    ><a
                      href="#"
                      class="whitespace-pre block text-[#4D5F66] hover:text-[#3E96F4] py-2 lg:px-5 px-5 text-sm md:text-base"
                      >Solutions</a
                    ><Image
                      loading="eager"
                      src={down_arrow}
                      alt="Down Arrow"
                      class="-ml-3"
                    /></span
                  >
                </span>

                <div class="hidden dropdown-content lg:ml-0">
                  <a
                    href="/manufacturing"
                    class="whitespace-pre block text-[#4D5F66] hover:text-[#3E96F4] py-2 lg:px-5 px-5 text-sm md:text-base"
                    >Manufacturing</a
                  >
                  <a
                    href="/real-estate-crm"
                    class="whitespace-pre block text-[#4D5F66] hover:text-[#3E96F4] py-2 lg:px-5 px-5 text-sm md:text-base"
                    >Real Estate</a
                  >
                  <a
                    href="/textile"
                    class="whitespace-pre block text-[#4D5F66] hover:text-[#3E96F4] py-2 lg:px-5 px-5 text-sm md:text-base"
                    >Textile</a
                  >
                  <a
                    href="/retail"
                    class="whitespace-pre block text-[#4D5F66] hover:text-[#3E96F4] py-2 lg:px-5 px-5 text-sm md:text-base"
                    >Retail</a
                  >
                  <a
                    href="/hr-payroll"
                    class="whitespace-pre block text-[#4D5F66] hover:text-[#3E96F4] py-2 lg:px-5 px-5 text-sm md:text-base"
                    >Human Resources</a
                  >
                </div>
              </li>
            </ul>
          </span>
        </li>

        <!-- for xl & 2xl screen start -->
        <li class="hidden xl:inline-block xl:mt-0 mr-8 pt-5 text-[#31393C]">
          <span class="group relative inline-block">
            <span class="flex gap-2"
              ><a href="#" class="text-sm md:text-base"> ERPNext</a><Image
                loading="eager"
                src={down_arrow}
                alt="Down Arrow"
              />
            </span>
            <ul
              class="sub-menu lg:absolute z-10 hidden submenu-bg lg:top-[3.75rem] py-0 pr-[0rem] lg:-left-[1.5rem] left-[5rem] top-[0.75rem] group-hover:block overflow-x-hidden"
            >
              <div class="flex">
                <div class="bg-[#F7FBFE] py-2 w-[15rem]">
                  <li class="">
                    <a
                      class="whitespace-pre block text-[#31393C] font-bold py-2 lg:px-5 px-5 text-sm md:text-base cursor-auto"
                      href="/#">Overview</a
                    >
                    <div class="px-5">
                      <div class="ml-8 md:ml-10 lg:ml-0">
                        <div class="flex gap-x-2">
                          <Image
                            loading="eager"
                            src={right_arrow}
                            alt="right_arrow"
                            class="ml-2"
                          />
                          <a
                            href="/why-choose-erpnext"
                            class="whitespace-pre block text-[#4D5F66] hover:text-[#3E96F4] py-2 text-sm md:text-base"
                            >Why Choose ERPNext</a
                          >
                        </div>

                        <div class="flex gap-x-2">
                          <Image
                            loading="eager"
                            src={right_arrow}
                            alt="right_arrow"
                            class="ml-2"
                          />
                          <a
                            href="/erpnext-implementation-partner"
                            class="whitespace-pre block text-[#4D5F66] hover:text-[#3E96F4] py-2 text-sm md:text-base"
                            >ERPNext Partner</a
                          >
                        </div>
                      </div>
                      <hr class="w-[200px] h-[2px] bg-[#BBCEDD] mt-[10px]" />
                    </div>

                    <div class="px-5 w-[300px]">
                      <p class="text-xs text-[#4D5F66] mt-4 mb-2 font-semibold">
                        Sanskar Technolab is an official ERPNext Frappe Partner
                      </p>
                      <Image
                        loading="eager"
                        src={frappe_certified_partner}
                        alt="frappe_ceritified_partner"
                        class="md:w-auto mt-4"
                      />
                      <a
                        class="underline mt-3 underline-offset-1 text-sm text-[#31393C] font-normal"
                        href="https://frappe.io/api/method/frappe.utils.print_format.download_pdf?doctype=Certification&name=PARTCRTF00034&format=Partner%20Certificate&no_letterhead=0&letterhead=Blank&settings=%7B%7D&_lang=en#toolbar=0"
                        target="_blank"
                      >
                        View Certificate
                      </a>
                    </div>
                  </li>
                </div>

                <div class="bg-[#FFFFFF] pr-[1.5rem] py-2 w-[350px]">
                  <li class="">
                    <span class="group relative inline-block">
                      <span class="flex"
                        ><a
                          href="#"
                          class="whitespace-pre block text-[#31393C] font-bold py-2 lg:px-5 px-5 text-sm md:text-base cursor-auto"
                          >Solutions</a
                        ></span
                      >
                    </span>

                    <div class="ml-8 md:ml-10 lg:ml-0">
                      <div class="ml-5">
                        <a href="/manufacturing">
                          <div class="p-2 flex gap-2 border rounded-xl">
                            <Image
                              loading="eager"
                              src={Manufacturing_navbar}
                              alt="right_arrow"
                            />
                            <p class="text-base font-normal">Manufacturing</p>
                          </div>
                        </a>
                        <a href="/real-estate-crm">
                          <div class="p-2 flex gap-2 border rounded-xl mt-2">
                            <Image
                              loading="eager"
                              src={Real_Estate}
                              alt="right_arrow"
                            />
                            <p class="text-base font-normal">Real Estate</p>
                          </div>
                        </a>
                        <a href="/textile">
                          <div class="p-2 flex gap-2 border rounded-xl mt-2">
                            <Image
                              loading="eager"
                              src={Textile}
                              alt="right_arrow"
                            />
                            <p class="text-base font-normal">Textile</p>
                          </div>
                        </a>

                        <a href="/retail">
                          <div class="p-2 flex gap-2 border rounded-xl mt-2">
                            <Image
                              loading="eager"
                              src={Retail}
                              alt="right_arrow"
                            />
                            <p class="text-base font-normal">Retail</p>
                          </div>
                        </a>

                        <a href="/hr-payroll">
                          <div class="p-2 flex gap-2 border rounded-xl mt-2">
                            <Image
                              loading="eager"
                              src={Human_Resources}
                              alt="right_arrow"
                            />
                            <p class="text-base font-normal">Human Resources</p>
                          </div>
                        </a>
                      </div>
                    </div>
                  </li>
                </div>
              </div>
            </ul>
          </span>
        </li>
        <!-- for xl & 2xl screen end-->
        <!-- <li class="block xl:inline-block xl:mt-0 mr-8 text-[#31393C]">
          <span class="group relative inline-block">
            <span class="flex gap-2"
              ><a href="#" class="text-sm md:text-base">Industries</a><Image
                loading="eager"
                src={down_arrow}
                alt="Down Arrow"
              /></span
            > -->
            <!-- <a href="#" class="text-sm md:text-base">Industries</a> -->
            <!-- <ul
              class="sub-menu lg:absolute z-10 hidden submenu-bg lg:top-[3.75rem] py-2 pr-[2.75rem] lg:-left-[1.5rem] left-[5rem] top-[0.75rem] group-hover:block overflow-x-hidden"
            >
              <li class="">
                <a
                  class="whitespace-pre block text-[#4D5F66] hover:text-[#3E96F4] py-2 lg:px-5 px-5 text-sm md:text-base"
                  href="/manufacturing">Manufacturing</a
                >
              </li>
              <li class="">
                <a
                  class="whitespace-pre block text-[#4D5F66] hover:text-[#3E96F4] py-2 lg:px-5 px-5 text-sm md:text-base"
                  href="/textile">Textile</a
                >
              </li> -->
              <!-- <li class="">
                <a
                  class="whitespace-pre block text-[#4D5F66] hover:text-[#3E96F4] py-2 lg:px-5 px-5 text-sm md:text-base"
                  href="#">Healthcare</a
                >
              </li> -->
              <!-- <li class="">
                <a
                  class="whitespace-pre block text-[#4D5F66] hover:text-[#3E96F4] py-2 lg:px-5 px-5 text-sm md:text-base"
                  href="/retail">Retail</a
                >
              </li> -->
              <!-- <li class="">
                <a
                  class="whitespace-pre block text-[#4D5F66] hover:text-[#3E96F4] py-2 lg:px-5 px-5 text-sm md:text-base"
                  href="#">Construction</a
                >
              </li> -->
              <!-- <li class="">
                <a
                  class="whitespace-pre block text-[#4D5F66] hover:text-[#3E96F4] py-2 lg:px-5 px-5 text-sm md:text-base"
                  href="#">Crowdfunding</a
                >
              </li> -->
              <!-- <li class="">
                <a
                  class="whitespace-pre block text-[#4D5F66] hover:text-[#3E96F4] py-2 lg:px-5 px-5 text-sm md:text-base"
                  href="/hr-payroll">Human Resources</a
                >
              </li> -->
              <!-- <li class="">
                <a
                  class="whitespace-pre block text-[#4D5F66] hover:text-[#3E96F4] py-2 lg:px-5 px-5 text-sm md:text-base"
                  href="#">Ayurveda</a
                >
              </li> -->
            <!-- </ul>
          </span>
        </li> -->

        <!-- products start -->
        <li class="block xl:hidden xl:mt-0 mr-8 text-[#31393C]">
          <span class="group relative inline-block">
            <span class="flex gap-2"
              ><a href="/products" class="text-sm md:text-base">Products</a
              ><Image loading="eager" src={down_arrow} alt="Down Arrow" /></span
            >
            <ul
              class="sub-menu lg:absolute z-10 hidden submenu-bg lg:top-[3.75rem] py-2 pr-[2.75rem] lg:-left-[1.5rem] left-[5rem] top-[0.75rem] group-hover:block overflow-x-hidden"
            >
              <li class="">
                <a
                  class="whitespace-pre block text-[#4D5F66] hover:text-[#3E96F4] py-2 lg:px-5 px-5 text-sm md:text-base"
                  href="/real-estate-crm">Real Estate CRM</a
                >
              </li>
              <li class="open-submenu">
                <span class="group relative inline-block">
                  <span class="flex"
                    ><a
                      href="#"
                      class="whitespace-pre block text-[#4D5F66] hover:text-[#3E96F4] py-2 lg:px-5 px-5 text-sm md:text-base"
                      >Integration</a
                    ><Image
                      loading="eager"
                      src={down_arrow}
                      alt="Down Arrow"
                      class="-ml-3"
                    /></span
                  >
                </span>

                <div class="hidden dropdown-content lg:ml-0">
                  <a
                    href="/erpnext_whatsapp_integration"
                    class="whitespace-pre block text-[#4D5F66] hover:text-[#3E96F4] py-2 lg:px-5 px-5 text-sm md:text-base"
                    >ERPNext Whatsapp Integration</a
                  >
                  <a
                    href="/erpnext_indiamart_integration_product"
                    class="whitespace-pre block text-[#4D5F66] hover:text-[#3E96F4] py-2 lg:px-5 px-5 text-sm md:text-base"
                    >ERPNext Indiamart Integration</a
                  >
                  <a
                    href="/erpnext_calling_integration"
                    class="whitespace-pre block text-[#4D5F66] hover:text-[#3E96F4] py-2 lg:px-5 px-5 text-sm md:text-base"
                    >ERPNext Tata Flow Integration</a
                  >
                  <a
                    href="/chatgpt-integration"
                    class="whitespace-pre block text-[#4D5F66] hover:text-[#3E96F4] py-2 lg:px-5 px-5 text-sm md:text-base"
                    >ChatGPT Integration</a
                  >
                </div>
              </li>
            </ul>
          </span>
        </li>

        <!-- for xl & 2xl screen start -->
        <li class="hidden xl:inline-block xl:mt-0 mr-8 text-[#31393C]">
          <span class="group relative inline-block">
            <span class="flex gap-2"
              ><a href="/products" class="text-sm md:text-base">Products</a
              ><Image loading="eager" src={down_arrow} alt="Down Arrow" /></span
            >
            <ul
              class="sub-menu lg:absolute z-10 hidden submenu-bg lg:top-[3.75rem] py-0 pr-[0rem] lg:-left-[1.5rem] left-[5rem] top-[0.75rem] group-hover:block overflow-x-hidden"
            >
              <div class="flex">
                <div class="bg-[#F7FBFE] py-4 w-[15rem]">
                  <li class="">
                    <a
                      class="whitespace-pre block text-[#31393C] font-bold py-2 lg:px-5 px-5 text-sm md:text-base cursor-auto"
                      href="/#">Product</a
                    >
                    <div class="px-5 mt-2">
                      <Image
                        loading="eager"
                        src={products_product}
                        alt="products_product"
                        class=""
                      />
                    </div>

                    <div class="px-5">
                      <p class="text-sm text-[#4D5F66] mt-4 mb-2">
                        Transform Your Real Estate <br /> Business with a Cutting-
                        <br /> edge CRM Solution.
                      </p>
                      <a href="/real-estate-crm"
                        ><span class="text-base text-[#3E96F4]"
                          >Explore our CRM</span
                        ></a
                      >
                      <hr class="w-[8rem] h-[2px] bg-[#3E96F4] -mt-[10px]" />
                    </div>
                  </li>
                </div>

                <div class="bg-[#FFFFFF] pr-[2.75rem] py-4">
                  <li class="">
                    <span class="group relative inline-block">
                      <span class="flex"
                        ><a
                          href="#"
                          class="whitespace-pre block text-[#31393C] font-bold py-2 lg:px-5 px-5 text-sm md:text-base cursor-auto"
                          >Integration</a
                        ></span
                      >
                    </span>

                    <div class="ml-8 md:ml-10 lg:ml-0">
                      <div class="flex gap-x-3">
                        <Image
                          loading="eager"
                          src={right_arrow}
                          alt="right_arrow"
                          class="ml-5"
                        />
                        <a
                          href="/erpnext_whatsapp_integration"
                          class="whitespace-pre block text-[#4D5F66] hover:text-[#3E96F4] py-2 lg:px-0 px-5 text-sm md:text-base"
                          >ERPNext Whatsapp Integration</a
                        >
                      </div>

                      <div class="flex gap-x-3">
                        <Image
                          loading="eager"
                          src={right_arrow}
                          alt="right_arrow"
                          class="ml-5"
                        />
                        <a
                          href="/erpnext_indiamart_integration_product"
                          class="whitespace-pre block text-[#4D5F66] hover:text-[#3E96F4] py-2 lg:px-0 px-5 text-sm md:text-base"
                          >ERPNext Indiamart Integration</a
                        >
                      </div>

                      <div class="flex gap-x-3">
                        <Image
                          loading="eager"
                          src={right_arrow}
                          alt="right_arrow"
                          class="ml-5"
                        />
                        <a
                          href="/erpnext_calling_integration"
                          class="whitespace-pre block text-[#4D5F66] hover:text-[#3E96F4] py-2 lg:px-0 px-5 text-sm md:text-base"
                          >ERPNext Tata Flow Integration</a
                        >
                      </div>

                      <div class="flex gap-x-3">
                        <Image
                          loading="eager"
                          src={right_arrow}
                          alt="right_arrow"
                          class="ml-5"
                        />
                        <a
                          href="/chatgpt-integration"
                          class="whitespace-pre block text-[#4D5F66] hover:text-[#3E96F4] py-2 lg:px-0 px-5 text-sm md:text-base"
                          >ChatGPT Integration</a
                        >
                      </div>
                    </div>
                  </li>
                </div>
              </div>
            </ul>
          </span>
        </li>
        <!-- for xl & 2xl screen end -->

        <!-- products end -->

        <!-- <li class="block xl:inline-block xl:mt-0 mr-8 text-[#31393C]">
          <a href="/construction-equipment-as-a-service" class="text-sm md:text-base">
            Case Study</a
          >
        </li> -->

        <li class="block xl:inline-block xl:mt-0 mr-8 text-[#31393C]">
          <span class="group relative inline-block">
            <span class="flex gap-2"
              ><a href="#" class="text-sm md:text-base">Case Study</a><Image
                loading="eager"
                src={down_arrow}
                alt="Down Arrow"
              /></span
            >

            <ul
              class="sub-menu lg:absolute z-10 hidden submenu-bg lg:top-[3.75rem] py-2 pr-[2.75rem] lg:-left-[1.5rem] left-[5rem] top-[0.75rem] group-hover:block overflow-x-hidden"
            >
              <li class="">
                <a
                  class="whitespace-pre block text-[#4D5F66] hover:text-[#3E96F4] py-2 lg:px-5 px-5 text-sm md:text-base"
                  href="/construction-equipment-as-a-service"
                  >Construction Equipment-as-a-Service</a
                >
              </li>
              <li class="">
                <a
                  class="whitespace-pre block text-[#4D5F66] hover:text-[#3E96F4] py-2 lg:px-5 px-5 text-sm md:text-base"
                  href="/textile-industry-erpnext-implementation"
                  >Textile Industry ERPNext Implementation</a
                >
              </li>
              <li class="">
                <a
                  class="whitespace-pre block text-[#4D5F66] hover:text-[#3E96F4] py-2 lg:px-5 px-5 text-sm md:text-base"
                  href="/sap-to-erpnext-migration">SAP To ERPNext Migration</a
                >
              </li>
              <li class="">
                <a
                  class="whitespace-pre block text-[#4D5F66] hover:text-[#3E96F4] py-2 lg:px-5 px-5 text-sm md:text-base"
                  href="/oracle-to-erpnext-migration"
                  >Oracle To ERPNext Migration</a
                >
              </li>
              <li class="">
                <a
                  class="whitespace-pre block text-[#4D5F66] hover:text-[#3E96F4] py-2 lg:px-5 px-5 text-sm md:text-base"
                  href="/gramdharaa_gaushala">Gramdharaa Gaushala</a
                >
              </li>
              <li class="">
                <a
                  class="whitespace-pre block text-[#4D5F66] hover:text-[#3E96F4] py-2 lg:px-5 px-5 text-sm md:text-base"
                  href="/quartz_manufacturers_and_exporters"
                  >Quartz Manufactures And Exporters</a
                >
              </li>
            </ul>
          </span>
        </li>

        <!-- Hire Team Start -->
        <li class="block xl:inline-block xl:mt-0 mr-8 text-[#31393C]">
          <span class="group relative inline-block">
            <span class="flex gap-2"
              ><a href="#" class="text-sm md:text-base">Hire Team</a><Image
                loading="eager"
                src={down_arrow}
                alt="Down Arrow"
              /></span
            >
            <!-- <a href="#" class="text-sm md:text-base">Company</a> -->
            <ul
              class="sub-menu lg:absolute z-10 hidden submenu-bg lg:top-[3.75rem] py-2 pr-[2.75rem] lg:-left-[1.5rem] left-[5rem] top-[0.75rem] group-hover:block overflow-x-hidden"
            >
              <li class="">
                <a
                  class="whitespace-pre block text-[#4D5F66] hover:text-[#3E96F4] py-2 lg:px-5 px-5 text-sm md:text-base"
                  href="/hire-erpnext-developer">Hire ERPNext Developer</a
                >
              </li>
            </ul>
          </span>
        </li>
        <!-- Hire Team End -->

        <!-- <li
                    class="block  lg:inline-block lg:mt-0 mr-8 text-[#31393C]"
                >
                    <a href="/about" class="text-sm md:text-base"> Company</a>
                </li> -->
        <li class="block xl:inline-block xl:mt-0 mr-8 text-[#31393C]">
          <span class="group relative inline-block">
            <span class="flex gap-2"
              ><a href="#" class="text-sm md:text-base">Company</a><Image
                loading="eager"
                src={down_arrow}
                alt="Down Arrow"
              /></span
            >
            <!-- <a href="#" class="text-sm md:text-base">Company</a> -->
            <ul
              class="sub-menu lg:absolute z-10 hidden submenu-bg lg:top-[3.75rem] py-2 pr-[2.75rem] lg:-left-[1.5rem] left-[5rem] top-[0.75rem] group-hover:block overflow-x-hidden"
            >
              <li class="">
                <a
                  class="whitespace-pre block text-[#4D5F66] hover:text-[#3E96F4] py-2 lg:px-5 px-5 text-sm md:text-base"
                  href="/about">About</a
                >
              </li>
              <li class="">
                <a
                  class="whitespace-pre block text-[#4D5F66] hover:text-[#3E96F4] py-2 lg:px-5 px-5 text-sm md:text-base"
                  href="/erpnext-implementation-partner">ERPNext Partner</a
                >
              </li>
              <li class="">
                <a
                  class="whitespace-pre block text-[#4D5F66] hover:text-[#3E96F4] py-2 lg:px-5 px-5 text-sm md:text-base"
                  href="/career">Career</a
                >
              </li>
            </ul>
          </span>
        </li>
        <!-- <li class="block xl:inline-block xl:mt-0 mr-8 text-[#31393C]">
          <a href="/contact-us" class="text-sm md:text-base"> Contact</a>
        </li> -->
        <li
          class="hidden bg-[#3E96F4] xl:inline-block px-4 xl:px-6 py-1 xl:py-2 !leading-8 rounded-md text-white font-semibold font-inter mt-2"
        >
          <a href="/contact-us" class="text-sm md:text-base">Inquire Now</a>
        </li>
      </ul>
    </div>
  </div>

  <style>
    nav {
      font-family: Open Sans;
    }

    .submenu-bg {
      border: 1px solid #e4e4e4;
      background: #f7fbfe;
      box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.15);
    }

    @media only screen and (max-width: 668px) {
      .submenu-bg {
        border: none;
        background: none;
        box-shadow: none;
      }
    }

    @media only screen and (max-width: 769px) {
      .submenu-bg {
        border: none;
        background: none;
        box-shadow: none;
      }
    }

    @media only screen and (max-width: 1023px) {
      .submenu-bg {
        border: none;
        background: none;
        box-shadow: none;
      }
    }

    @media (min-width: 1280px) and (max-width: 1550px) {
      #menu ul li {
        margin-right: 9px;
      }
      #menu li span span {
        gap: 0.3rem;
      }
    }

    .open-submenu:hover .dropdown-content {
      display: block;
    }
  </style>

  <script>
    var show = true;
    // Find all buttons with the `menu` class on the page.
    const buttons = document.querySelectorAll("button.menu");
    // Handle clicks on each button.
    buttons.forEach((button) => {
      button.addEventListener("click", () => {
        // alert('Button was clicked!');
        var menu = document.getElementById("menu");
        menu.classList.toggle("!block");

        var menu = document.getElementById("open-menu");
        menu.classList.toggle("!hidden");

        var menu = document.getElementById("close-menu");
        menu.classList.toggle("!block");
      });
    });

    //   const solutions = document.getElementById("solutions");
    //   // Handle clicks on each button.
    // //   solutions.forEach((button) => {
    //     solutions.addEventListener("click", () => {
    //       // alert('Button was clicked!');
    //       var submenu = document.getElementById("solution_submenu");
    //       submenu.classList.toggle("!block");
    //     });
    // //   });

    // const div = document.querySelectorAll('div.block');
    // div.forEach((div) => {
    //   div.
    // });

    document.addEventListener("DOMContentLoaded", function () {
      const mainMenuItems = document.querySelectorAll("#main-menu > li");

      mainMenuItems.forEach(function (menuItem) {
        const submenu = menuItem.querySelector(".sub-menu");
        let hideTimeout;

        if (submenu) {
          menuItem.addEventListener("mouseenter", function () {
            clearTimeout(hideTimeout);
            submenu.style.display = "block";
          });

          menuItem.addEventListener("mouseleave", function () {
            hideTimeout = setTimeout(function () {
              submenu.style.display = "none";
            }, 300);
          });
        }
      });
    });
  </script>
</nav>